section.slider__holder.mb-4
   .wrapper.slider__content
      include ../mixins/__slider-journal
      +slider( '66', '2', 'апрель 2025' )
      +slider( '65', '1', 'январь 2025' )
      +slider( '64', '4', 'октябрь 2024' )
      +slider( '63', '3', 'июль 2024' )
      +slider( '62', '2', 'апрель 2024' )
      +slider( '61', '1', 'январь 2024' )
      +slider( '60', '4', 'октябрь 2023' )
      +slider( '59', '3', 'июль 2023' )
      +slider( '58', '2', 'апрель 2023' )
      +slider( '57', '1', 'январь 2023' )
      +slider( '56', '4', 'октябрь 2022' )
      +slider( '55', '3', 'июль 2022' )
      +slider( '54', '2', 'апрель 2022' )
      +slider( '53', '1', 'январь 2022' )
      +slider( '52', '4', 'октябрь 2021' )
      +slider( '51', '3', 'июль 2021' )
      +slider( '50', '2', 'апрель 2021' )
      +slider( '49', '1', 'январь 2021' )
