section.slider__holder.mb-4
   .wrapper.slider__content
      include ../mixins/__slider-mg
      +slider( '54.png', '&#8470;2 [54]', 'апрель 2022' )
      +slider( 'riba.jpg', '&#8470;1 [53]', 'декабрь 2022' )
