section.slider__holder.mb-4
   .wrapper.slider__content
      include ../mixins/__slider-journal
      +slider( '55', '3', 'июль 2022' )
      +slider( '54', '2', 'апрель 2022' )
      +slider( '53', '1', 'январь 2022' )
      +slider( '52', '4', 'октябрь 2021' )
      +slider( '51', '3', 'июль 2021' )
      +slider( '50', '2', 'апрель 2021' )
      +slider( '49', '1', 'январь 2021' )
