section.slider__holder.mb-4
   .wrapper.slider__content
      include ../mixins/__slider-mg
      +slider( '55.png', '&#8470;3 [55]', 'июль 2022' )
      +slider( '54.png', '&#8470;2 [54]', 'апрель 2022' )
      +slider( '53.png ', '&#8470;1 [53]', 'декабрь 2022' )
      +slider( '52.png ', '&#8470;4 [52]', 'октябрь 2021' )
      +slider( '51.png ', '&#8470;3 [51]', 'июль 2021' )
      +slider( '50.png ', '&#8470;2 [50]', 'апрель 2021' )
      +slider( '49.png ', '&#8470;1 [49]', 'декабрь 2021' )
