section.requirements__holder
   .wrapper.requirements__content
      .requirements__list_holder.mb-5
         h3.h2.mb-25 Требования к&nbsp;оформлению статьи в&nbsp;журнале
         .requirements__list
            include ../../mixins/pages/authors/__requirements-question
            include ../../mixins/pages/authors/__requirements-answer-1
            include ../../mixins/pages/authors/__requirements-answer-2
            .requirements__section.question-holder
               +question( '1', 'Текст' )
               .requirements__answer.answer-text( id='question-1' )
                  +answer( 'Объём', '10&ndash;15 страниц' )
                  +answer( 'Аннотация', '5&ndash;10 строк&nbsp;&mdash; на&nbsp;русском и&nbsp;английском языках' )
                  +answer( 'Шрифт', 'Times New Roman' )
                  +answer( 'Кегль', '12&nbsp;пт' )
                  +answer( 'Интервал', 'одинарный' )
                  +answer( 'Нумерация', 'справа внизу' )
                  +answer( 'Поля', 'верхнее&nbsp;&mdash; 2&nbsp;см; нижнее&nbsp;&mdash; 2&nbsp;см; левое&nbsp;&mdash; 3&nbsp;см; правое&nbsp;&mdash; 2&nbsp;см' )
                  +answer( 'Редактор', 'Word for Windows 6.0, 7.0; с&nbsp;переносом; без&nbsp;подчеркиваний' )
            .requirements__section.question-holder
               +question( '2', 'Структура' )
               .requirements__answer.answer-text( id='question-2' )
                  +answer( 'Название', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer( 'ФИО авторов (полностью)', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer( 'Должность', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer( 'Название организации', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer-short( 'E-mail' )
                  +answer( 'Аннотация', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer( 'Ключевые слова', 'на&nbsp;русском и&nbsp;английском языках' )
                  +answer-short( 'Статья' )
                  +answer( 'Литература', 'по&nbsp;ГОСТ Р&nbsp;7.0.5&nbsp;&mdash; 2008' )
                  .requirements__item
                     b.mr-05 Внутри статьи заголовки должны быть оформлены по&nbsp;следующему образцу:
                     ol
                        li Заголовок
                           ol
                              li Заголовок
                                 ol
                                    li Заголовок и&nbsp;т.д.
                        li Заголовок
                           ol
                              li Заголовок
                                 ol
                                    li Заголовок
                        li Заголовок и&nbsp;т.д.
            .requirements__section.question-holder
               +question( '3', 'Рисунки' )
               .requirements__answer.answer-text( id='question-3' )
                  +answer-short( 'Все рисунки должны быть пронумерованы' )
                  +answer-short( 'В&nbsp;тексте обязательно должна быть ссылка на&nbsp;рисунок' )
                  +answer( 'Если в&nbsp;рисунке есть текст, то не&nbsp;должно быть сокращений типа', '«отдел науч.-обр. ресурсов». Все слова пишутся полностью' )
                  +answer-short( 'Рисунки должны быть оформлены в&nbsp;формате jpg, с&nbsp;разрешением не&nbsp;менее 300&nbsp;dpi, в&nbsp;черно-белом варианте, не&nbsp;шире 15&nbsp;см' )

            .requirements__section.question-holder
               +question( '4', 'Таблицы' )
               .requirements__answer.answer-text( id='question-4' )
                  +answer( 'В&nbsp;таблицах не&nbsp;должно быть сокращенных написаний слов типа', '«отдел науч.-обр. ресурсов»' )
                  +answer-short( 'Все таблицы должны быть пронумерованы' )
                  +answer-short( 'Таблица должна быть оформлена в&nbsp;книжной ориентаци' )
            .requirements__section.question-holder
               +question( '5', 'Формулы' )
               .requirements__answer.answer-text( id='question-5' )
                  +answer( 'Формулы должны быть выполнены с&nbsp;помощью средств WORD в&nbsp;редакторе формул Microsoft Equation', '(допускается и&nbsp;в&nbsp;MathType)' )
      .requirements__rules_holder
         h3.h2.mb-4 Правила направления, рецензирования и&nbsp;опубликования научных статей
         .requirements__rules.mb-5
            include ../../mixins/pages/authors/__requirements-rules
            .requirements__rule Статьи направляются в редакцию по электронной почте на адрес
               a( href='mailto:d.kurakin@ficto.ru?subject=По вопросам публикации' )
            +rule( 'К&nbsp;рукописи аспиранта (соискателя) должна быть приложена рецензия на&nbsp;статью его научного руководителя' )
            +rule( 'Все полученные материалы поступают к&nbsp;главному редактору журнала и&nbsp;заносятся им в&nbsp;специализированную базу данных' )
            +rule( 'После первичного ознакомления с&nbsp;текстом статьи осуществляется его классификация в&nbsp;соответствии с&nbsp;рубрикатором журнала. Файл (экземпляр) статьи направляется в&nbsp;экспертную группу для рецензирования' )
            +rule( 'Рецензент оценивает актуальность статьи, её методологическую обоснованность, научную достоверность, практическую значимость, готовит (при необходимости) замечания и&nbsp;предложения по&nbsp;улучшению качества статьи и&nbsp;делает свой экспертный вывод о&nbsp;возможности (невозможности) публикации статьи на&nbsp;страницах журнала' )
            +rule( 'Редакция знакомит автора с&nbsp;выявленными замечаниями и&nbsp;предложениями по&nbsp;статье с&nbsp;целью её доработки и&nbsp;вторичного представления' )
            +rule( 'Главный редактор журнала принимает окончательное решение о&nbsp;публикации статьи в&nbsp;очередном номере журнала' )
            +rule( 'В&nbsp;случае положительного решения главный редактор предлагает авторам заключить лицензионные договоры' )
            +rule( 'В&nbsp;случае принятия отрицательного решения о&nbsp;публикации редакция оставляет за&nbsp;собой право (после направления автору мотивированного отказа) далее не&nbsp;вступать в&nbsp;дискуссию с&nbsp;автором по&nbsp;поводу качества статьи' )






