mixin menu-page( section1, section2, section3, section4 )
   nav.menu__holder.pages__menu_holder
      a( href='./index.html#about' ).menu__item О&nbsp;журнале
      a( href='./authors.html' ).menu__item( class='#{section1}' ) Авторам
      a( href='./editors.html' ).menu__item( class='#{section2}' ) Редакция
      a( href='./archive.html' ).menu__item( class='#{section3}' ) Архив
      a( href='./contact.html' ).menu__item( class='#{section4}' ) Контакты
