mixin menu-page( section1, section2, section3, section4 )
   nav.menu__holder.pages__menu_holder
      a( href='./index.html#about' ).menu__item О&nbsp;журнале
      a( href='./authors.html', class='#{section1}' ).menu__item Авторам
      a( href='./editors.html', class='#{section2}' ).menu__item Редакция
      a( href='./archive.html', class='#{section3}' ).menu__item Архив
      a( href='./contact.html', class='#{section4}' ).menu__item Контакты
