nav.header__menu_holder.menu__holder
   a( href='#about' ).header__menu_item.menu__item О журнале
   a( href='' ).header__menu_item.menu__item Авторам
   a( href='' ).header__menu_item.menu__item Редакция
   a( href='' ).header__menu_item.menu__item Архив
   a( href='' ).header__menu_item.menu__item Контакты
