section.pointers__holder
   .wrapper.pointers__content
      .pointers__table
         include ../mixins/__pointers
         +pointer( '1', 'authors', 'Авторам', 'Информация о', 'правилах оформления и', 'публикации статей' )
         +pointer( '2', 'editors', 'Редакция', 'Состав редакционного совета', '' )
         +pointer( '3', 'archive', 'Архив', 'Выпуски журнала', '' )
