header.header__holder
   .wrapper.header__content
      include ../menu/__menu
      +menu( 'header' )
      h1.h1.mb-1 Информатизация образования
         br
         | и&nbsp;науки
      h2.h3 научно&ndash;методический
         br
         | журнал

      a( href='#about' ).nav__link.header__link
         .header__link-text.mr-1 О журнале
         .header__link-icon.mt-05

