.archive__journal#journal_61
   h3.journal__number
      span Выпуск &#8470;
      span 1 (61)
   .journal__date январь 2024
   .journal__remember( data-modal='remember_61' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '61-1-1', 'Системный подход к&nbsp;разработке концепции цифровых двойников для&nbsp;научно&ndash;исследовательских лабораторий', 'Краснов А.Е., Кузнецов А.С.' )
            +article( '61-1-2', 'Методология проектирования цифровой образовательной среды в&nbsp;условиях цифровой трансформации', 'Бечиев Ш.Ш., Наумов В.А.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '61-2-1', 'Информационно&ndash;технологическое обеспечение управления знаниями', 'Разумовский А.И.' )
            +article( '61-2-2', 'Автоматизированная система для&nbsp;инвариантного распознавания изображений', 'Головкин М.Е.' )
            +article( '61-2-3', 'Реализация гибридного подхода к&nbsp;построению виртуализированного лабораторного комплекса', 'Филимонов А.Ю., Аксёнов К.А., Кодолов С.Д., Губанов Д.Д.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '61-3-1', 'Механизмы функционирования сложных динамичных систем в&nbsp;виде контуров управления', 'Рыжов В.А.' )
            +article( '61-3-2', 'Возможности интеллектуального анализа данных в&nbsp;образовательном процессе', 'Петров И.П., Петров Ю.И., Петрова Н.В.' )
            +article( '61-3-3', 'Алгоритм построения теста как измерительного инструмента', 'Летова Л.В.' )
            +article( '61-3-4', 'Систематизация цифровых образовательных ресурсов образовательной организации на&nbsp;базе математической модели', 'Сердюков В.И., Сердюкова Н.А.' )
            +article( '61-3-5', 'Оценка соответствия рейтинговой шкалы и&nbsp;трудностей заданий в&nbsp;компьютерном тесте', 'Безруков А.И., Акимова С.А.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '61-4-1', 'Исследование &laquo;голоса клиента&raquo; в&nbsp;университете', 'Долженко Р.А., Долженко С.Б.' )
            +article( '61-4-2', 'Разработка мобильного приложения с&nbsp;применением технологии дополненной реальности', 'Смирнов А.А.' )

      section.journal__articles
         +article_text-2( '61-1-1', 'Цифровая трансформация', 'Научная',
            'Системный подход к&nbsp;разработке концепции цифровых двойников для&nbsp;научно&ndash;исследовательских лабораторий',
            "A systematic approach to the development of the concept of digital twins for research laboratories",
            'Краснов Андрей Евгеньевич ', 'доктор физико&ndash;математических наук, профессор Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Andrey E. Krasnov", "Doctor of Physical and Mathematical Sciences, Professor of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "krasnovmgutu@yandex.ru",
            'Кузнецов Андрей Сергеевич', 'кандидат технических наук, доцент Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Andrey S. Kuznetsov", "PhD in technique, Docent of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "askmegoogle@yandex.ru",
            'В статье описан системный подход к&nbsp;разработке концепции цифровых двойников для&nbsp;научно&ndash;исследовательских лабораторий, а&nbsp;также приведены элементы, которые входят в&nbsp;цифровой двойник химических лабораторий разработки и&nbsp;исследования процессов и&nbsp;продуктов. Приведен перечень основных компонентов, входящих в&nbsp;данную концепцию. Приведены структура и&nbsp;архитектура информационных систем, необходимых для&nbsp;описания и&nbsp;проектирования цифровых двойников  химических лабораторий.',
            "The article describes a systematic approach to developing the concept of digital twins for research laboratories, and also provides the elements that are included in the digital twin of chemical laboratories for the development and research of processes and products. A list of the main components included in this concept is given. The structure and architecture of information systems necessary for describing and designing digital twins of chemical laboratories are presented.",
            "информатизация, цифровой двойник, виртуальный тур, программные средства, научно&ndash;исследовательская лаборатория, химическая технология",
            "informatization, digital twin, virtual tours, software, research laboratories, chemical technology")
         +article_text-2( '61-1-2', 'Цифровая трансформация', 'Обзорная',
            'Методология проектирования цифровой образовательной среды в&nbsp;условиях цифровой трансформации',
            "Methodology for designing a digitaleducational environment in conditions of digital transformation",
            'Бечиев Шахруди Шагидович', 'к.э.н., начальник отдела организации научной деятельности, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва',
            "Shakhrudi Sh. Bechiev", "Candidate of Economics, Head of the Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "sh.bechiev@ficto.ru",
            'Наумов Василий Александрович', 'к.э.н, доцент кафедры коммерции и&nbsp;менеджмента, ФГБОУ ВО &laquo;Нижневартовский государственный университет&raquo;, г. Нижневартовск',
            "Vasily A. Naumov", "Candidate of Economics, Associate Professor of the Department of Commerce and Management, Nizhnevartovsk State University, Nizhnevartovsk",
            "&ndash;",
            'Статья посвящена исследованию методологических подходов к&nbsp;проектированию цифровой образовательной среды в&nbsp;условиях внедрения информационных технологий, цифровых сервисов и&nbsp;ресурсов в&nbsp;образовательный процесс. На&nbsp;основе изучения имеющейся научной литературы, результатов проведенных собственных научных исследований, представлен анализ задач и&nbsp;ожидаемых результатов федеральных проектов в&nbsp;области образования, дана характеристика понятия &laquo;цифровая образовательная среда&raquo;, обоснованы подходы к&nbsp;проектированию ЦОС в&nbsp;современных условиях, раскрыты конвергентный характер и&nbsp;роль информального образования в&nbsp;условиях цифровой трансформации.',
            "The article is devoted to the study of methodological approaches to the design of a digital educational environment in the modern conditions of introducing information technologies, educational services and resources into the educational process. Based on the analysis of the available scientific literature, the results of our own scientific research, the content of the concept of &laquo;digital educational environment&raquo; was analyzed, approaches to the design of DSPs in modern conditions were substantiated, the convergent nature and role of informal education in the conditions of digital transformation were revealed.",
            "цифровая образовательная среда, компоненты цифровой образовательной среды, конвергенция  в&nbsp;образовании, дидактические возможности цифровой образовательной среды, информальное образование, методологические подходы, системный подход, личностный подход",
            "digital educational environment, components of the digital educational environment, convergence in education, didactic capabilities of the digital educational environment, informal education, methodological approaches, systematic approach, personal approach")


         +article_text( '61-2-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Информационно&ndash;технологическое обеспечение управления знаниями',
            "Information&ndash;technology support for knowledge management",
            'Разумовский Алексей Игоревич', 'к.т.н., старший научный сотрудник, Институт проблем управления РАН',
            "Alexey I. Razumowsky", "PhD in Technical Sciences, Senior Researcher, Institute of Control Science of Russian Academy of Sciences",
            "razumowsky@yandex.ru",
            'В статье исследуются проблемы передачи&ndash;приобретения знаний, а&nbsp;также принципы и&nbsp;методологические основы повышения качества образовательного процесса. В&nbsp;роли системообразующего узла изображен творческий процесс мыслительной деятельности, а&nbsp;также на&nbsp;его основе&nbsp;&mdash; инициализация личного интереса получателя знаний. Главным результатом представленного подхода ожидается создание благоприятных условий для&nbsp;рождения идей решения поставленной перед учащимся задачи. Подчеркивается важность незамедлительной апробации приобретенных знаний в&nbsp;&laquo;полевых&raquo; условиях.',
            "The article investigates the problems of knowledge transfer&ndash;acquisition, as well as the principles and methodological foundations for improving the quality of the educational process. In the role of the system&ndash;forming node the creative process of thinking activity is depicted, as well as on its basis the initialization of personal interest of the recipient of knowledge. The main result of the presented approach is expected to be the creation of favorable conditions for the birth of ideas for solving the task set before the student. The importance of immediate testing of acquired knowledge in the &laquo;field&raquo; is emphasized.",
            "передача знаний, личный интерес, индивидуализация, творчески&ndash;интеллектуальное взаимодействие, владелец знаний, акцептор знаний, информационная доска, эвристика доступности",
            "knowledge transfer, personal interest, individualization, creative&ndash;intellectual interaction, knowledge holder, knowledge acceptor, information board, accessibility heuristic")
         +article_text( '61-2-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Автоматизированная система для&nbsp;инвариантного распознавания изображений',
            "Automated system for invariant image recognition",
            'Головкин Михаил Евгеньевич', 'старший преподаватель Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Mikhail E. Golovkin", "Senior Lecturer of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "mikhel85@mail.ru",
            'В статье рассматривается структура и&nbsp;архитектура автоматизированной системы для&nbsp;распознавания изображений инвариантно к&nbsp;их сдвигам и&nbsp;поворотам на&nbsp;плоскости. Рассмотрены компоненты, входящие в&nbsp;состав данной системы, а&nbsp;также их собственные модули. Описываются применяемый математический аппарат и&nbsp;алгоритмы работы системы.',
            "The article discusses the structure and architecture of an automated system for recognizing images invariant to their shifts and rotations on a plane. The components included in this system, as well as their own modules, are considered. The mathematical apparatus used and the algorithms for operating the system are described.",
            "структура, архитектура, автоматизация, изображение, инвариантное распознавание",
            "structure, architecture, automation, image, invariant recognition")
         +article_text-4( '61-2-3', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Реализация гибридного подхода к&nbsp;построению виртуализированного лабораторного комплекса',
            "Implementation of a hybrid approach to building a virtualized laboratory complex",
            'Филимонов Александр Юрьевич', 'старший преподаватель департамента информационных технологий и&nbsp;автоматики, Институт радиоэлектроники и&nbsp;информационных технологий, Уральский федеральный университет, г. Екатеринбург  ',
            "Alexander Yu. Filimonov", "Senior Lecturer of the Department of Information Technology and Automation, Institute of Radio Electronics and Information Technology, Ural Federal University, Yekaterinburg",
            "a.filimonov@urfu.ru",
            'Аксёнов Константин Александрович', 'канд. техн. наук, доцент, директор департамента информационных технологий и&nbsp;автоматики, Институт радиоэлектроники и&nbsp;информационных технологий, Уральский федеральный университет, г. Екатеринбург',
            "Konstantin A. Aksynov", "Candidate of Technical Sciences, Associate Professor, Director of the Department of Information Technology and Automation, Institute of Radio Electronics and Information Technology, Ural Federal University, Yekaterinburg",
            "k.a.aksenov@urfu.ru",
            'Кодолов Сергей Дмитриевич', 'ассистент департамента информационных технологий и&nbsp;автоматики, Институт радиоэлектроники и&nbsp;информационных технологий, Уральский федеральный университет, г. Екатеринбург',
            "Sergey D. Kodolov", "Assistant of the Department of Information Technology and Automation, Institute of Radio Electronics and Information Technology, Ural Federal University, Yekaterinburg",
            "sergey.kodolov@urfu.ru",
            'Губанов Данил Денисович', 'студент департамента информационных технологий и&nbsp;автоматики, Институт радиоэлектроники и&nbsp;информационных технологий, Уральский федеральный университет, г. Екатеринбург',
            "Danil D. Gubanov", "Student of the Department of Information Technology and Automation, Institute of Radio Electronics and Information Technology, Ural Federal University, Yekaterinburg",
            "gubanov.code@gmail.com",
            'Статья содержит анализ двух подходов, наиболее часто применяемых при построении виртуализированных лабораторных комплексов в&nbsp;современных вузах. На&nbsp;основании результатов этого анализа предложена концепция гибридного подхода, который сочетает в&nbsp;себе достоинства проанализированных подходов, но при этом свободен от их наиболее существенных недостатков. Результатами проведенного исследования являются предложения по созданию гибридного лабораторного комплекса и&nbsp;описание технических решений, которые необходимы для&nbsp;его внедрения. Представленные в&nbsp;статье предложения и&nbsp;технические решения были апробированы в&nbsp;ходе опытной эксплуатации прототипа гибридного лабораторного комплекса.  Результаты исследования могут представлять практический интерес для&nbsp;высших учебных заведений, которые планируют модернизацию своих лабораторных комплексов для&nbsp;организации индивидуальных и&nbsp;удаленных форм проведения практических занятий с&nbsp;использованием технологий комплексной виртуализации.',
            "The article contains an analysis of two approaches most often used in the construction of virtualized laboratory complexes in modern universities. Based on the results of this analysis, the concept of a hybrid approach is proposed, which combines the advantages of the analyzed approaches, but is free from their most significant disadvantages. The results of the study are proposals for the creation of a hybrid laboratory complex and a description of the technical solutions that are necessary for its implementation. The proposals and technical solutions presented in the article were tested during the trial operation of hybrid laboratory complex prototype. The results of the study may be of practical interest for higher educational institutions that are planning to modernize their laboratory complexes to organize individual and remote forms of practical classes using complex virtualization technologies.",
            "технологии виртуализации, виртуальные лабораторные комплексы, виртуальные коммуникационные инфраструктуры, системы управления обучением",
            "virtualization technologies, virtual laboratory complexes, virtual communication infrastructures, learning management systems")



         +article_text( '61-3-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Механизмы функционирования сложных динамичных систем в&nbsp;виде контуров управления',
            "Mechanisms of functioning of complex dynamic systems in the form of control circuits",
            'Рыжов Владимир Александрович', 'кандидат физико&ndash;математических наук, доцент, МГУ им. М.В. Ломоносова, социологический факультет, эксперт Экспертного совета высокого уровня БРИКС (ЭСВУ БРИКС), эксперт Сретенского клуба&ndash;на-Ильинке, Москва',
            "Vladimir A. Ryzhov", "Candidate of Physical and Mathematical Sciences, Associate Professor, Lomonosov Moscow State University, Faculty of Sociology, expert of the BRICS High-Level Expert Council (BRICS HEC), expert of the Sretensky Club-on-Ilyinka, Moscow",
            "vryshov@gmail.com",
            'В настоящее время социальные технологии стали элементом гибридной войны. Главная сила, способная противостоять такой агрессии,&nbsp;&mdash; это качество знаний, высокий уровень образования и&nbsp;воспитания молодого поколения. В&nbsp;статье рассмотрены теоретические основы механизмов функционирования сложных динамичных систем в&nbsp;виде контуров управления 1, 2 и&nbsp;3 рода. Предложена концепция виртуального актора, позволяющая описывать и&nbsp;моделировать сетецентричное управление и&nbsp;процессы самоорганизации в&nbsp;обществе.',
            "Currently, social technologies have become an element of hybrid warfare. The main force capable of resisting such aggression is the quality of knowledge, the high level of education and upbringing of the younger generation. The article discusses the theoretical foundations of the mechanisms of functioning of complex dynamic systems in the form of control circuits of the 1st, 2nd and 3rd kind. The concept of a virtual actor is proposed, which allows describing and modeling network&ndash;centric management and self&ndash;organization processes in society",
            "социальные технологии, гибридные войны, сетецентричное управление, сложные динамичные системы, теория сложности, процессы самоорганизации, виртуальный актор",
            "social technologies, hybrid wars, network&ndash;centric management, complex dynamic systems, complexity theory, processes of self&ndash;organization, virtual actor")
         +article_text-3( '61-3-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Возможности интеллектуального анализа данных в&nbsp;образовательном процессе',
            "Power of data mining in the educational process",
            'Петров Игорь Павлович', 'частный преподаватель, Москва',
            "Igor P. Petrov", "Private tutor, Moscow",
            "petrov_i.p@mail.ru",
            'Петров Юрий Игоревич', 'к.э.н., главный инженер по разработке, ПАО &laquo;Сбербанк&raquo;',
            "Yuri I. Petrov", "Ph.D, Senior Software Engineer, Sberbank",
            "mailtoyuripetrov@yandex.ru",
            'Петрова Наталья Владимировна', 'частный преподаватель, Москва',
            "Natalia V. Petrova", "Private tutor, Moscow",
            "petrova.nv@list.ru",
            'В статье рассматриваются вопросы применения технологии интеллектуального анализа данных (Data Mining) для&nbsp;дифференциации учебного процесса. В&nbsp;качестве основного источника данных используется электронный дневник школы. Информационно аналитическая платформа Deductor Academic выступает как инструментальное средство для&nbsp;выполнения анализа. Приводятся результаты исследования, включая иллюстрации и&nbsp;рекомендации по использованию средств и&nbsp;технологий Data Mining в&nbsp;образовательном процессе.',
            "An application of Data Mining technologies in matters of differentiation of the educational process is described in the article. As a primary data source electronic school register is used. Analytical platform Deductor is used as a research tool. The research results are provided, including illustrations and recommendations of application of Data Mining technologies and tools in educational process.",
            "интеллектуальный анализ данных, дифференциация обучения, кластерный анализ, электронный дневник школы",
            "Data Mining, education differentiation, cluster analysis, electronic school diary")
         +article_text( '61-3-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Алгоритм построения теста как измерительного инструмента',
            "The algorithm for constructing a test as a measuring tool",
            'Летова Линара Васильевна', 'начальник сектора информационно&ndash;методической поддержки, Омский государственный технический университет ',
            "Linara V. Letova", "Head of the information and methodological support, Omsk State Technical University",
            "LetovaLLV@mail.ru",
            'Для создания качественного измерителя латентного параметра необходимо подобрать методический инструмент, способный объективно его измерить и&nbsp;сконструировать систему тестовых заданий таким образом, чтобы распределение их трудностей не имело критических окон. В&nbsp;качестве методического инструмента автором выбрана модель Раша, признанная в&nbsp;мировом научном сообществе как инструмент для&nbsp;объективного измерения латентных переменных. Автор обращает внимание на&nbsp;то, что тест, как измерительный инструмент, обязательно нуждается в&nbsp;оценке качества и&nbsp;при необходимости должен быть оптимизирован, т.к. только качественные тесты имеют право на&nbsp;существование. В&nbsp;статье на&nbsp;основе модели Раша рассмотрен алгоритм построения качественного теста как измерительного инструмента.',
            "To create a high&ndash;quality latent parameter meter, it is necessary to choose a methodological tool that can objectively measure it and design a system of test tasks in such a way that the distribution of their difficulties does not have critical windows. As a methodological tool, the author has chosen the Rush model, recognized in the world scientific community as a tool for objective measurement of latent variables. The author draws attention to the fact that the test, as a measuring tool, necessarily needs a quality evaluation and, if necessary, should be optimized, because only qualitative tests have the right to exist. The article considers an algorithm for constructing a qualitative test as a measuring tool based on the Rush model.",
            "модель Раша, измерение латентных переменных, тест как измерительный инструмент, распределение тестовых заданий",
            "Rasch model, measurement of latent variables, test as the measuring tool, distribution of test items")
         +article_text-2( '61-3-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Систематизация цифровых образовательных ресурсов образовательной организации на&nbsp;базе математической модели',
            "Systematization of digital educational resources of an educational organization based on a mathematical model",
            'Сердюков Владимир Иванович', 'доктор технических наук, профессор, ведущий специалист отдела организации научной деятельности ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;; профессор кафедры прикладной математики Московского государственного технического университета имени Н.Э. Баумана',
            "Vladimir I. Serdyukov", "Doctor of Technical Sciences, Professor, Leading Specialist of the Department of Organization of Scientific Activities of the Federal State Institution &laquo;Federal Institute of Digital Transformation in Education&raquo;; Professor of the Department of Applied Mathematics, Moscow State Technical University named after N.E. Bauman",
            "wis24@yandex.ru",
            'Сердюкова Наталья Александровна', 'доктор экономических наук, профессор кафедры финансового менеджмента Российской таможенной академии ',
            "Natalia A. Serdyukova", "Doctor of Economics, Professor of the Department of Financial Management of the Russian Customs Academy",
            "nsns25@yandex.ru",
            'Одна из&nbsp;задач цифровой трансформации в&nbsp;сфере образования состоит в&nbsp;приведении цифровых образовательных ресурсов образовательной организации в&nbsp;строгое соответствие с&nbsp;содержательной частью ее образовательной программы. В&nbsp;статье представлена квазифрактальная математическая модель цифровых образовательных ресурсов образовательной организации. Основываясь на&nbsp;этой модели, можно провести систематизацию имеющихся в&nbsp;образовательной организации цифровых образовательных ресурсов на&nbsp;предмет их соответствия содержательной части образовательной программе. Представлены также модели внутрипредметных и&nbsp;межпредметных связей и&nbsp;аналогий. Разработанные модели открывают возможности для&nbsp;дальнейшей работы над построением цифрового близнеца содержательной части образовательной программы образовательной организации, а&nbsp;в&nbsp;перспективе&nbsp;&mdash; для&nbsp;автоматизации этого процесса.',
            "One of the tasks of digital transformation in the field of education is to bring the digital educational resources of an educational organization into strict compliance with the content of its educational program. The article presents a quasi&ndash;fractal mathematical model of digital educational resources of an educational organization. Based on this model, it is possible to systematize the digital educational resources available in an educational organization for their compliance with the content of the educational program. Models of intra- and inter&ndash;subject connections and analogies are also presented. The developed models open up opportunities for further work on the construction of a digital twin of the content of the educational program of an educational organization, and in the future&nbsp;&mdash; for automating this process.",
            "большие данные, граф знаний, искусственный интеллект, квазифрактальный граф, граф внутрипредметных связей, граф межпредметных связей, семантическая сеть знаний, цифровая модель, цифровая трансформация, цифровой близнец, цифровой двойник, цифровая тень",
            "big data, knowledge graph, artificial intelligence, quasi&ndash;fractal graph, intra&ndash;subject connections graph, inter&ndash;subject connections graph, semantic knowledge network, digital model, digital transformation, digital twin, digital double, digital shadow")
         +article_text-2( '61-3-5', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Оценка соответствия рейтинговой шкалы и&nbsp;трудностей заданий в&nbsp;компьютерном тесте',
            "Evaluation of the correspondence between the rating scale and the difficulty of the tasks in the computerized test",
            'Безруков Алексей Иосифович', 'доцент кафедры &laquo;Информационно&ndash;коммуникационные системы и&nbsp;программная инженерия&raquo;, Саратовский государственный технический университет им. Гагарина Ю.А. ',
            "Alexey I. Bezrukov", "Associate professor, Yuri Gagarin State Technical  University of Saratov",
            "bezr_alex@mail.ru",
            'Акимова Светлана Александровна', 'доцент кафедры &laquo;Информационно&ndash;коммуникационные системы и&nbsp;программная инженерия&raquo;, Саратовский государственный технический университет им. Гагарина Ю.А.',
            "Svetlana A. Akimova", "Associate professor, Yuri Gagarin State Technical  University of Saratov",
            "akimovasa@yandex.ru",
            'В статье рассматривается проблема назначения рейтинговой шкалы для&nbsp;компьютерного тестирования знаний и&nbsp;компетенций учащихся. Процесс тестирования рассматривается как случайный процесс, вероятность выполнения испытуемым задания оценивается по трехпараметрической модели Раша. Рассматривается проблема адекватности рейтинговой шкалы заданиям, включенным в&nbsp;тест. В&nbsp;качестве меры достоверности результатов тестирования используется матрица рассеяния, столбцы которой соответствуют фактическому уровню подготовленности испытуемых, а&nbsp;строки&nbsp;&mdash; оценкам, полученным ими по результатам тестирования. Предлагаются методики оценки коэффициентов матрицы рассеяния для&nbsp;классического и&nbsp;адаптивного тестирования.',
            "The article addresses the issue of assigning a rating scale for computer&ndash;based testing of student's knowledge and competencies. The testing process is considered as a random process, and the probability of test performance by the examinee is evaluated using the three&ndash;parameter logistic model by Rash. The adequacy of the rating scale for the tasks included in the test is examined. As a measure of the reliability of the testing results, a scatterplot matrix is used, where the columns correspond to the actual level of preparedness of the examinees, and the rows correspond to the grades obtained by them based on the test results. Methodologies for evaluating the coefficients of the scatterplot matrix for classical and adaptive testing are proposed.",
            "компьютерное тестирование знаний, теория педагогических измерений, классическое и&nbsp;адаптивное тестирование, достоверность результатов тестирования, алгоритм Байеса, имитационное моделирование тестирования",
            "computer knowledge testing, item response theory, classical and adaptive testing, reliability of test results, Bayesian algorithm, testing simulation")



         +article_text-2( '61-4-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная',
            'Исследование &laquo;голоса клиента&raquo; в&nbsp;университете',
            "Studying the &laquo;voice of the client&raquo; at the university",
            'Долженко Руслан Алексеевич', 'доктор экономических наук, доцент, профессор кафедры экономики труда и&nbsp;управления персоналом, Уральский государственный экономический университет; Российская академия народного хозяйства и&nbsp;государственной службы при Президенте Российской Федерации&nbsp;&mdash; Москва ',
            "Ruslan A. Dolzhenko", "Doctor of Economics, Associate Professor, Professor of the Department of Labor Economics and Personnel Management, Ural State University of Economics, Yekaterinburg; Russian Academy of National Economy and Public Administration under the President of the Russian Federation&nbsp;&mdash; Moscow",
            "dolzhenko-ra@ranepa.ru",
            'Долженко Светлана Борисовна', 'кандидат экономических наук, доцент, заведующий кафедрой экономики труда и&nbsp;управления персоналом, Уральский государственный экономический университет, Екатеринбург ',
            "Svetlana B. Dolzhenko", "Candidate of Economic Sciences, Associate Professor, Head of the Department of Labor Economics and Personnel Management, Ural State University of Economics, Yekaterinburg",
            "ginsb@usue.ru",
            'Деятельность любой организации направлена на&nbsp;удовлетворение потребностей клиентов&nbsp;&mdash; получателей необходимых результатов. Одним из&nbsp;инструментов оценки результативности этой деятельности является исследование &laquo;голоса клиента&raquo;. Целью статьи является анализ результатов исследования &laquo;голоса клиента&raquo; в&nbsp;университете, выявление его возможностей и&nbsp;ограничений, оценка возможности использования данной бизнес&ndash;технологии для&nbsp;развития деятельности образовательного учреждения. Основным методом исследования выступил социологический опрос различных субъектов&nbsp;&mdash; внутренних и&nbsp;внешних клиентов университета, реализованный в&nbsp;2020 году. Также использовались дескриптивные методы анализа результатов опроса.',
            "The activity of any organization is aimed at meeting the needs of customers who receive the necessary results. One of the tools for evaluating the effectiveness of this activity is the study of the &laquo;voice of the client&raquo;. The purpose of the article is to analyze the results of the study of the &laquo;voice of the client&raquo; at the university, to identify its capabilities and limitations, to estimate the possibility of using this business technology for the development of the activities of an educational institution. The main research method was a sociological survey of various subjects&nbsp;&mdash; internal and external clients of the university, implemented in 2020. Descriptive methods of analyzing the survey results were also used.",
            "высшее образование, университет, развитие вуза, исследование голоса клиента, клиентоориентированность",
            "higher education, university development, customer voice research, customer focus")
         +article_text( '61-4-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Разработка мобильного приложения с&nbsp;применением технологии дополненной реальности',
            "Development of a mobile application using augmented reality technology",
            'Смирнов Алексей Алексеевич', 'аспирант 3 курса Московского педагогического государственного университета, кафедра теории и&nbsp;методики обучения и&nbsp;воспитания ',
            "Aleksey A. Smirnov", "PhD student of the Moscow State Pedagogical University, Department of Theory and Methods of Teaching and Education",
            "alexsmirnov1997@mail.ru",
            'В&nbsp;статье рассматривается разработка мобильного приложения с&nbsp;применением технологии дополненной реальности (AR). В&nbsp;предыдущей статье мы рассматривали её свойства и&nbsp;особенности, а&nbsp;также возможность её интеграции в&nbsp;учебный процесс на&nbsp;уроках технологии в&nbsp;средней школе.',
            "The article discusses the development of a mobile application using augmented reality (AR) technology. In the previous article, we looked at its properties and features, as well as the possibility of its integration into the educational process in technology lessons in high school.",
            "дополненная реальность, наглядность, принцип наглядности, цифровизация",
            "augmented reality, visualization, visualization principle, digitalization")
