.archive__journal#journal_68
   h3.journal__number
      span Выпуск &#8470;
      span 4 (68)
   .journal__date октябрь 2025
   .journal__remember( data-modal='remember_68' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '68-1-1', 'Анализ вызовов и&nbsp;угроз для национальной системы образования в&nbsp;условиях глобальных трансформаций', 'Федорчук Ю.М.' )
            +article( '68-1-2', 'Цифровая зрелость высшего образования: сущность и&nbsp;подходы к&nbsp;оценке', 'Колесникова А.Ю., Едынак И.В.' )
            +article( '68-1-3', 'Влияние смартфона на&nbsp;академическую успеваемость обучающихся на&nbsp;уровне общего образования', 'Мухаметзянов И.Ш.' )
            +article( '68-1-4', 'Новая реальность образования: интерактивные подходы в&nbsp;цифровую эпоху', 'Кулешов П.П., Пивоварова С.В.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '68-2-1', 'Оптимизация практических заданий для получения навыков использования линейных алгоритмов с&nbsp;целью повышения заинтересованности обучающихся', 'Архангельская Е.В.' )
            +article( '68-2-2', 'Представление данных в&nbsp;задачах организации компьютерного тестирования', 'Безруков А.И., Вагарина Н.С., Сиренко В.С.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '68-3-1', 'Математическая модель функционирования глобальной автоматизированной системы обработки данных', 'Абросимов Л.И., Беликов Г.В.' )
            +article( '68-3-2', 'Моделирование адаптивной электромеханической системы автоматического управления с&nbsp;подстройкой запаздывания в&nbsp;модели', 'Туманов М.П.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '68-4-1', 'Метод градиентного спуска и&nbsp;его модификации в&nbsp;глубоком обучении искусственного интеллекта', 'Сермягин К.А., Ципоркова К.А.' )
            +article( '68-4-2', 'Описание состояний потока данных методом оператора его эволюции', 'Краснов А.Е.' )
            +article( '68-4-3', 'Параметры прогноза результатов доступности профессионального образования для достижения целей стратегических направлений развития образования', 'Гордашникова О.Ю.' )
            +article( '68-4-4', 'Модели оценки создания условий для достижения современного качественного общего образования', 'Горохова Р.И., Муранов А.А., Бахтина Е.Ю., Ездов А.А.' )

         .journal__section
            .journal__section_title Управление в&nbsp;организационных системах
            +article( '68-5-1', 'О&nbsp;проектировании образовательного процесса в&nbsp;колледже креативных индустрий', 'Табатадзе Л.М.' )
            +article( '68-5-2', 'Разработка игровых технологий дошкольного учреждения для стимулирования речевого развития детей', 'Бердникова А.А., Кривоногов С.В.' )
            +article( '68-5-3', 'Разработка модельных методик организации самостоятельной работы обучающихся на&nbsp;основе цифровых образовательных сервисов и&nbsp;платформ', 'Савченков А.В., Бечиев Ш.Ш., Наумов В.А., Солтымурадов Х.С.' )
            +article( '68-5-4', 'Разработка и&nbsp;продвижение медицинских приложений&ndash;тренажёров для лечения проблем бинокулярного зрения и&nbsp;амблиопии', 'Гурьянова Т.В., Гурьянов Д.В.' )
            +article( '68-5-5', 'Внедрение цифровых диалоговых систем управления уникальными высотными зданиями', 'Фомичев Д.М.' )


      section.journal__articles

         +article_text( '68-1-1', 'Цифровая трансформация', 'Научная',
            'Анализ вызовов и&nbsp;&thinsp;угроз для национальной системы образования в&nbsp;&thinsp;условиях глобальных трансформаций',
            "Analysis of&nbsp;&thinsp;challenges and threats to&nbsp;&thinsp;the&nbsp;&thinsp;national education system in&nbsp;&thinsp;the&nbsp;&thinsp;context of&nbsp;&thinsp;global transformations",
            'Федорчук Юлия Михайловна', 'д. экон. н., доцент, главный научный сотрудник, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва, Российская Федерация',
            "Julia M. Fedorchuk", 'Doctor of Economics, Associate Professor, Chief Researcher, Federal State Autonomous Institution "Federal Institute of Digital Transformation in Education", Moscow, Russian Federation',
            "yu.fedorchuk@ficto.ru",
            'Статья представляет собой комплексный анализ актуальных вызовов и&nbsp;угроз для национальной системы образования в&nbsp;контексте глобальных трансформаций. <br><br>Образование рассматривается как многомерный феномен: с&nbsp;одной стороны, как социокультурный институт, испытывающий воздействие в&nbsp;области содержания, педагогических технологий и&nbsp;дидактических подходов; с&nbsp;другой стороны, как система, функционирующая в&nbsp;конкретном социуме и&nbsp;подверженная влиянию внешних факторов, детерминирующих её форматы, масштабы и&nbsp;условия функционирования.<br><br>',
            'The article provides a comprehensive analysis of current challenges and threats to the national education system in the context of global transformations. <br><br>Education is viewed as a multidimensional phenomenon: on the one hand, as a socio-cultural institution that is influenced by content, pedagogical technologies, and didactic approaches; on the other hand, as a system that operates within a specific society and is influenced by external factors that determine its formats, scope, and conditions of operation.<br><br>',
            "национальная система образования, вызовы образования, угрозы образованию, глобализация образования, цифровизация образования, искусственный интеллект в&nbsp;образовании, образовательное неравенство, оценка качества образования",
            "national education system, education challenges, threats to education, globalization of education, digitalization of education, artificial intelligence in education, educational inequality, evaluation of education quality")

         +article_text-2( '68-1-2', 'Цифровая трансформация', 'Научная',
            'Цифровая зрелость высшего образования: сущность и&nbsp;&thinsp;подходы к&nbsp;&thinsp;оценке',
            "Digital maturity of&nbsp;&thinsp;higher education: the&nbsp;&thinsp;essence and approaches to&nbsp;&thinsp;evaluation",
            'Колесникова Арина Юрьевна', 'преподаватель кафедры информационного и&nbsp;технического обеспечения органов внутренних дел, Федеральное государственное казённое образовательное учреждение высшего образования &laquo;Дальневосточный юридический институт Министерства внутренних дел Российской Федерации имени И.Ф. Шилова&raquo;',
            "Arina Yu. Kolesnikova", "Lecturer of the Department of Information and Technical Support of Internal Affairs Bodies, Federal State-funded Educational Institution of Higher Education &laquo;Far Eastern Law Institute of the Ministry of Internal Affairs of Russia named after I.F. Shilov&raquo;",
            "arina_moisei@mail.ru",
            'Едынак Игорь Викторович', 'старший преподаватель кафедры информационного и&nbsp;технического обеспечения органов внутренних дел, Федеральное государственное казённое образовательное учреждение высшего образования &laquo;Дальневосточный юридический институт Министерства внутренних дел Российской Федерации имени И.Ф. Шилова&raquo;',
            "Igor V. Edynak", "Senior Lecturer of the Department of Information and Technical Support of Internal Affairs Bodies, Federal State-funded Educational Institution of Higher Education &laquo;Far Eastern Law Institute of the Ministry of Internal Affairs of Russia named after I.F. Shilov&raquo;",
            "edinak_iv@mail.ru",
            'В статье проведён анализ теоретических представлений о&nbsp;цифровой зрелости. Отмечено, что большинство исследований рассматривают вопросы цифровой зрелости для сферы экономики и&nbsp;государственного управления, оставляя без должного внимания социальную сферу, образование и&nbsp;науку. <br><br>Отдельно выделены работы, рассматривающие цифровую зрелость высшего образования. <br><br>Проведено сравнение существующих методик оценки цифровой зрелости организаций высшего образования.<br><br>',
            'The article analyzes the theoretical concepts of digital maturity. It is noted that most studies consider issues of digital maturity for the sphere of economics and public administration, ignoring the social sphere, education and science. <br><br>The works considering the digital maturity of higher education are highlighted separately. <br><br>A comparison of existing methods for evaluating the digital maturity of higher education institutions has been carried out.<br><br>',
            "цифровая трансформация, цифровизация, цифровая зрелость, высшее образование, методика оценки",
            "digital transformation, digitalization, digital maturity, higher education, evaluation methodology")

         +article_text( '68-1-3', 'Цифровая трансформация', 'Обзорная',
            'Влияние смартфона на&nbsp;&thinsp;академическую успеваемость обучающихся на&nbsp;&thinsp;уровне общего образования',
            "The&nbsp;&thinsp;impact of&nbsp;&thinsp;smartphones on&nbsp;&thinsp;the&nbsp;&thinsp;academic performance of&nbsp;&thinsp;students at&nbsp;&thinsp;the&nbsp;&thinsp;general education level",
            'Мухаметзянов Искандар  Шамилевич', 'доктор медицинских наук, профессор, ведущий научный сотрудник, Федеральное государственное бюджетное научное учреждение &laquo;Институт содержания и&nbsp;методов обучения&raquo;',
            "Iskandar Sh. Mukhametzyanov", "Doctor of Medicine, Professor, Leading scientific researcher, The Federal State Budget Scientific Institution &laquo;Institute of Content and Teaching Methods&raquo;",
            "mukhametzyanov@instrao.ru",
            'Цифровая трансформация образования предусматривает возможность доступа к&nbsp;образовательным ресурсам с&nbsp;применением устройств доступа к&nbsp;сети интернет. Самостоятельная работа обучающихся, особенно в&nbsp;рамках поисковой и&nbsp;проектной деятельности, также базируется на&nbsp;доступе к&nbsp;ресурсам интернета. <br><br>В статье рассматриваются особенности доступа к&nbsp;ним при использовании наиболее распространённых устройств доступа&nbsp;&mdash; смартфонов. <br><br>Представлены материалы по&nbsp;влиянию последних на&nbsp;академическую успеваемость и&nbsp;здоровье обучающихся, и&nbsp;делается вывод о&nbsp;невозможности полной отмены их использования в&nbsp;обучении по&nbsp;целому ряду организационных, правовых и&nbsp;финансовых причин.<br><br>',
            "The digital transformation of education provides for the possibility of accessing educational resources using Internet access devices. Students' independent work, especially in the framework of search and project activities, is also based on access to Internet resources. <br><br>The article examines the features of accessing them when using the most common access devices&nbsp;&mdash; smartphones. <br><br>Materials on the impact of the latter on the academic performance and health of students are presented, and it is concluded that it is impossible to completely eliminate their use in teaching for a number of organizational, legal and financial reasons.<br><br>",
            "информационное взаимодействие, цифровая образовательная среда, академическая успеваемость, смартфон, номофобия",
            "information interaction, digital educational environment, academic performance, smartphone, nomophobia")

         +article_text-2( '68-1-4', 'Цифровая трансформация', 'Научная',
            'Новая реальность образования: интерактивные подходы в&nbsp;&thinsp;цифровую эпоху',
            "The new reality of&nbsp;&thinsp;education: interactive approaches in&nbsp;&thinsp;the&nbsp;&thinsp;digital age",
            'Кулешов Павел Павлович', 'Эксперт, Центр цифровых HR-технологий, АО &laquo;Гринатом&raquo;. Магистрант, факультет информационных технологий, Частное образовательное учреждение высшего образования &laquo;Московский университет имени С.Ю. Витте&raquo;, г. Москва ',
            "Pavel P. Kuleshov", "Expert, Center for Digital HR Technologies, Greenatom JSC. Master's student, Faculty of Information Technology, Witte Moscow University, Moscow",
            "&mdash;",
            'Пивоварова Софья Владимировна', 'ведущий специалист по&nbsp;маркетингу, Акционерное общество &laquo;Гринатом&raquo;',
            "Sofya V. Pivovarova", "Leading Marketing Specialist, Joint Stock Company &laquo;Greenatom&raquo;",
            "svpivovarova@greenatom.ru",
            'В статье рассмотрены концептуальные основания интерактивного обучения, представлены актуальные зарубежные и&nbsp;отечественные практики, проанализированы барьеры внедрения и&nbsp;описаны возможные траектории их преодоления. <br><br>Особое внимание уделено результатам эмпирического исследования, охватившего более 400 участников образовательного процесса, и&nbsp;кейсу цифровой инициативы &laquo;Мой голос. Моё образование&raquo; как инструменту формирования вовлечённости учащихся и&nbsp;средству сбора обратной связи. На&nbsp;основе данных и&nbsp;кейса предложен стратегический сценарий интеграции интерактивных инструментов в&nbsp;систему СПО и&nbsp;ВО в&nbsp;рамках цифровой трансформации.<br><br>',
            'The article examines the conceptual foundations of interactive learning, presents current foreign and domestic practices, analyzes barriers to implementation and describes possible trajectories to overcome them. <br><br>Special attention is paid to the results of an empirical study involving more than 400 participants in the educational process and the case of the digital initiative "My Voice. My Education" as a tool for generating student engagement and a means of collecting feedback. Based on the data and the case, a strategic scenario for the integration of interactive tools into secondary vocational education and higher education system within the framework of digital transformation is proposed.<br><br>',
            "цифровизация образования, активное обучение, поколение Z, образовательные технологии, вовлеченность, цифровая трансформация",
            "education digitalization, active learning, Generation Z, educational technologies, engagement, digital transformation")












         +article_text( '68-2-1', 'Информационные технологии', 'Научная',
            'Оптимизация практических заданий для получения навыков использования линейных алгоритмов с&nbsp;&thinsp;целью повышения заинтересованности обучающихся',
            "Optimization of&nbsp;&thinsp;practical tasks for obtaining skills in&nbsp;&thinsp;using linear algorithms in&nbsp;&thinsp;order to&nbsp;&thinsp;increase the&nbsp;&thinsp;interest of&nbsp;&thinsp;students",
            'Архангельская Екатерина Владиславовна', 'кандидат физико-математических наук, доцент кафедры информационного права и&nbsp;цифровых технологий, Саратовская государственная юридическая академия',
            "Ekaterina V. Arkhangelskaya", "Candidate of physical-mathematical Sciences, Associate professor of the Department of information law and digital technologies, Saratov State law Academy",
            "katysar@rambler.ru",
            'В статье описано электронное пособие, предназначенное для получения навыков для решения задач, записанных в&nbsp;виде линейных алгоритмов. Электронные пособия, как и&nbsp;пособия в&nbsp;печатном бумажном виде, создаются с&nbsp;учётом специфики специальности, по&nbsp;которой ведётся обучение, и&nbsp;уровня подготовленности обучающихся. Пособие предусматривает формулировку задач как в&nbsp;описательном, так и&nbsp;в&nbsp;графическом виде, и&nbsp;автоматическую проверку правильности решения. <br><br>Для повышения заинтересованности обучающихся в&nbsp;задании используются анимационные эффекты, реализованные в&nbsp;среде программирования табличного процессора.<br><br>',
            "The article describes an electronic manual designed to acquire skills for solving problems written in the form of linear algorithms. Electronic manuals, as well as manuals in printed paper form, are created taking into account the specifics of the specialty in which the training is conducted and the level of preparedness of students. The manual provides for the formulation of tasks in both descriptive and graphical form, and automatic verification of the correctness of the solution. <br><br>Animation effects implemented in the tabular processor programming environment are used to increase students' interest in the task.<br><br>",
            "цифровые компетенции, теория алгоритмов, электронные пособия, линейные алгоритмы",
            "digital competencies, theory of algorithms, electronic manuals, linear algorithms")

         +article_text-3( '68-2-2', 'Информационные технологии', 'Научная',
            'Представление данных в&nbsp;&thinsp;задачах организации компьютерного тестирования',
            "Data representation in&nbsp;&thinsp;computer testing tasks",
            'Безруков Алексей Иосифович', 'кандидат экономических наук, доцент кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo; Саратовского государственного технического университета имени Гагарина Ю.А.',
            "Aleksey I. Bezrukov", "PhD (Economics), Associate Professor, Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "bezr_Alex@mail.ru",
            'Вагарина Наталия Сергеевна', 'кандидат физико-математических наук, доцент кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo; Саратовского государственного технического университета имени Гагарина Ю.А.',
            "Natalia S. Vagarina", "PhD (Physics and Mathematics), Associate Professor, Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "&mdash;",
            'Сиренко Вадим Сергеевич ', 'бакалавр кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo; Саратовского государственного технического университета имени Гагарина Ю.А.',
            "Vadim S.  Sirenko", "Undergraduate student, Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "sirenko_vadim@mail.ru",
            'Эффективность применения компьютерного тестирования существенным образом зависит от&nbsp;качества теста, его соответствия поставленной цели и&nbsp;условиям проведения тестирования. <br><br>При создании нового теста разработчик должен проанализировать большой массив информации, учесть множество связей между объектами, выбрать необходимые задания и&nbsp;оценить качество создаваемого теста до того, как он будет использован.  Для успешного выполнения перечисленных действий в&nbsp;статье предлагается использовать метод визуализации, объединяющий преимущества графовой, графической и&nbsp;табличной визуализации.<br><br>',
            'The effectiveness of computer testing is determined by the quality of the test, its compliance with the stated goal and the conditions of testing. <br><br>When creating a new test, the author has to analyze a large array of information, take into account many connections between objects, select the necessary tasks and evaluate the quality of the created test before it is used. To successfully complete the listed actions, the article proposes to use a visualization method that combines the advantages of graph, graphical and tabular visualization.<br><br>',
            "компьютерное тестирование, разработка качественных тестов, графическое и&nbsp;графовое представление информации, балансировка  заданий в&nbsp;тесте",
            "computer testing, development of high-quality tests, graphical and graph representation of information, balancing of tasks in the test")










         +article_text-2( '68-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Математическая модель функционирования глобальной автоматизированной системы обработки данных',
            "A&nbsp;&thinsp;mathematical model of&nbsp;&thinsp;the&nbsp;&thinsp;functioning of&nbsp;&thinsp;a&nbsp;&thinsp;global automated data processing system",
            'Абросимов Леонид Иванович', 'профессор кафедры вычислительных машин, систем и&nbsp;сетей, Национальный исследовательский университет &laquo;МЭИ&raquo;',
            "Leonid I. Abrosimov", 'Professor of the Department of Computers, Systems and Networks, National Research University "MPEI"',
            "AbrosimovLI@mpei.ru",
            'Беликов Георгий Викторович', 'аспирант, кафедры вычислительных машин, систем и&nbsp;сетей, Национальный исследовательский университет &laquo;МЭИ&raquo;',
            "Georgiy V. Belikov", 'Postgraduate of the Department of Computers, Systems and Networks, National Research University "MPEI"',
            "BelikovGV@mpei.ru",
            'В статье предложена математическая модель функционирования глобальной автоматизированной системы обработки данных для управления судами морского и&nbsp;речного флота. Приведено обоснование расчётных соотношений математической модели. Предложенные модели основываются на&nbsp;использовании формализма теории массового обслуживания и&nbsp;метода контуров. Представлены примеры, поясняющие методологию построения математической модели.',
            'The article proposes a mathematical model of the functioning of a global automated data processing system for controlling ships of the marine and river fleet. The justification of the calculated relations of the mathematical model is given. The proposed models are based on the use of the formalism of queuing theory and the contour method. Examples explaining the methodology of constructing a mathematical model are presented.',
            "математическая модель, глобальная автоматизированной системы обработки данных, управление судами морского и&nbsp;речного флота, вероятностно-временные характеристики, спутниковые каналы связи",
            "mathematical model, global automated data processing system, management of sea and river fleet vessels, probabilistic time characteristics, satellite communication channels")

         +article_text( '68-3-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Моделирование адаптивной электромеханической системы автоматического управления с&nbsp;&thinsp;подстройкой запаздывания в&nbsp;&thinsp;модели',
            "Simulation of&nbsp;&thinsp;an&nbsp;&thinsp;adaptive electromechanical automatic control system with delay adjustment in&nbsp;&thinsp;the&nbsp;&thinsp;model",
            'Туманов Михаил Петрович', 'МИЭМ НИУ ВШЭ им. Тихонова А. Н.',
            "Mikhail P. Tumanov", "MIEM NRU HSE",
            "miketum@mail.ru",
            'В статье исследованы различные варианты поведения адаптивной системы настройки запаздывания в&nbsp;модели САУ в&nbsp;реальном времени. Моделируется совместная работа с&nbsp;типовой электромеханической системой с&nbsp;запаздыванием. Рассмотрены условия сходимости алгоритма адаптации за разумное время при различной степени начальной неопределённости параметров модели. Вычисления ведутся в&nbsp;среде Matlab/Simulink.',
            'The article examines various behaviors of the adaptive delay adjustment system in the ACS model in real time. The joint work with a typical electromechanical system with a delay is simulated. The conditions of convergence of the adaptation algorithm in a reasonable time with varying degrees of initial uncertainty of the model parameters are considered. Calculations in the Matlab/Simulink environment are performed.',
            "автоматизация, система автоматического управления, запаздывание, устойчивость, качество переходного процесса",
            "automation, automatic control system, delay, stability, quality of the transition process")












         +article_text-2( '68-4-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Метод градиентного спуска и&nbsp;&thinsp;его модификации в&nbsp;&thinsp;глубоком обучении искусственного интеллекта',
            "Gradient descent method and it's modifications in&nbsp;&thinsp;deep learning of&nbsp;&thinsp;artificial intelligence",
            'Сермягин Кирилл Андреевич', 'cтудент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Kirill A. Sermyagin", "Student, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "sermyagin.abcen7@gmail.com",
            'Ципоркова Ксения Андреевна', 'к.ф.-м.н., доцент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Ksenia A. Tsiporkova", "PhD, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "ktsiporkova@list.ru",
            'Статья посвящена исследованию классического градиентного спуска и&nbsp;его модификации в&nbsp;контексте глубокого обучения нейронных сетей. <br><br>Приведён теоретический анализ условий сходимости и&nbsp;влияния параметров обучения, таких как скорость и&nbsp;шаг обучения. Показано, что стохастический градиентный спуск обеспечивает быструю начальную сходимость, тогда как адаптивные методы ускоряют обучение и&nbsp;повышают устойчивость к&nbsp;шуму. На&nbsp;основе результатов даны практические рекомендации по&nbsp;выбору оптимизатора и&nbsp;настройке гиперпараметров в&nbsp;зависимости от&nbsp;объёма данных.<br><br>',
            'The article is devoted to the study of classical gradient descent and its modification in the context of deep learning of neural networks. <br><br>A theoretical analysis of the learning conditions and the influence of learning parameters, such as speed and step of learning, are presented. It is shown that stochastic gradient descent provides fast initial convergence, while adaptive methods accelerate learning and increase noise tolerance. Based on the results, practical recommendations are given on choosing an optimizer and configuring hyperparameters depending on the amount of data.<br><br>',
            "метод градиентного спуска, стохастический градиентный спуск, модификации градиентного спуска, искусственный интеллект, сходимость, нейронные сети, оптимизации",
            "gradient descent method, stochastic gradient descent, gradient descent modifications, artificial intelligence, convergence, neural networks, optimization")

         +article_text( '68-4-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Описание состояний потока данных методом оператора его эволюции',
            "Description of&nbsp;&thinsp;data flow states by&nbsp;&thinsp;the&nbsp;&thinsp;method of&nbsp;&thinsp;it's evolution operator",
            'Краснов Андрей Евгеньевич', 'доктор физико-математических наук, профессор Российского Технологического университета (РТУ МИРЭА)',
            "Andrey E. Krasnov", "doctor of physical and mathematical sciences, professor of the Russian technological university (RTU MIREA)",
            "krasnovmgutu@yandex.ru",
            'Рассмотрена информационная технология описания состояний наблюдаемого потока данных с&nbsp;помощью оператора эволюции и&nbsp;оператора значимости его матричных элементов. Определяются спектр частот частичных парных корреляций временных срезов потока данных и&nbsp;спектр собственных значений оператора эволюции. Эти спектры являются интегральными описаниями (паттернами) поведенческого характера потока данных, на&nbsp;основе которых возможно проводить классификацию состояний систем, порождающих различные потоки данных.',
            'The information technology of describing the states of the observed data flow using the evolution operator and the significance operator of its matrix elements is considered. The spectrum of frequencies of partial pair correlations of time slices of the data flow and the spectrum of eigenvalues of the evolution operator are determined. These spectra are integral descriptions (patterns) of the behavioral nature of the data flow, based on which it is possible to classify the states of systems that generate different data flows.',
            "поток данных, оператор эволюции, оператор значимости, частичные парные корреляции, спектр собственных значений оператора эволюции, паттерны потока данных",
            "data flow, evolution operator, significance operator, partial pairwise correlations, eigenvalue spectrum of the evolution operator, data flow patterns")

         +article_text( '68-4-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Параметры прогноза результатов доступности профессионального образования для достижения целей стратегических направлений развития образования',
            "Parameters of&nbsp;&thinsp;forecasting the&nbsp;&thinsp;results of&nbsp;&thinsp;accessibility of&nbsp;&thinsp;professional education to&nbsp;&thinsp;achieve the&nbsp;&thinsp;goals of&nbsp;&thinsp;strategic directions of&nbsp;&thinsp;education development",
            'Гордашникова Ольга Юрьевна', 'д.э.н., главный научный сотрудник отдела организации научной деятельности, федеральное государственное автономное научное учреждение &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва',
            "Olga Yu. Gordashnikova", "Dr. Sc. (Economics), Chief Researcher, Department of Organization of Scientific Activities, Federal Institute of Digital Transformation in Education, Moscow",
            "gordaolga@yandex.ru",
            'Статья посвящена параметрам прогноза результатов доступности профессионального образования для достижения целей стратегических направлений развития образования. <br><i class="i">&bull;</i> Определены параметры оценки доступности профессионального образования для прогноза и&nbsp;отслеживания его результатов. <br><i class="i">&bull;</i> Проведён анализ и&nbsp;получены результаты доступности качественного, соответствующего потребностям времени, профессионального образования, выявлены проблемные ситуации. <br><i class="i">&bull;</i> Предложены модели прогнозирования параметров доступности профессионального образования.<br><br>',
            'This article examines the parameters for forecasting the accessibility of vocational education to achieve the goals of strategic education development directions. <br><i class="i">&bull;</i> Parameters for assessing the accessibility of vocational education are defined for forecasting and monitoring its results. <br><i class="i">&bull;</i> An analysis is conducted, and results are obtained for the accessibility of high-quality, relevant vocational education, identifying problematic situations. <br><i class="i">&bull;</i> Models for forecasting the parameters of accessibility of vocational education are proposed.<br><br>',
            "параметры оценки, модели прогнозирования, стратегические направления, профессиональное образование, доступность образования",
            "evaluation parameters, forecasting models, strategic directions, vocational education, accessibility of education")

         +article_text-4( '68-4-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Модели оценки создания условий для достижения современного качественного общего образования',
            "Assessment models for creating conditions for achieving modern, quality general education",
            'Горохова Римма Ивановна', 'к.п.н, доцент, доцент кафедры информационных технологий, Финансовый университет при правительстве Российской Федерации, г. Москва',
            "Rimma I. Gorokhova", "PhD (Pedagogy), Associate Professor, Financial University under the Government of the Russian Federation, Associate Professor of the Department of Information Technology, Moscow",
            "rigorokhova@fa.ru",
            'Муранов Алексей Анатольевич', 'к.п.н,, главный специалист по&nbsp;информационным технологиям в&nbsp;образовании, Институт системного программирования им. В.П. Иванникова Российской академии наук, г. Москва',
            "Aleksey A. Muranov", "PhD (Pedagogy), Chief Specialist, Information Technologies in Education, Ivannikov Institute for System Programming of the Russian Academy of Sciences, Moscow",
            "muranov2000@gmail.com",
            'Бахтина Елена Юрьевна', 'к.ф.-м.н, доцент, доцент кафедры прикладной математики, Московский автомобильно-дорожный государственный технический университет (МАДИ), г. Москва',
            "Elena Yu. Bakhtina", "PhD (Physics and mathematics), Associate Professor, Moscow Automobile and Road Construction State Technical University (MADI), Associate Professor of the Department of Applied Mathematics, Moscow",
            "elbakh@gmail.com",
            'Ездов Александр Анатольевич', 'к.п.н., директор школы 1788 Департамента образования и&nbsp;науки города Москвы, г. Москва',
            "Alexander A. Ezdov", "PhD (Pedagogy), Director of School No. 1788 Department of Education and Science of the City of Moscow, Moscow",
            "alexander.ezdov@gmail.com",
            'Статья посвящена отдельным вопросам построения моделей прогнозирования результатов достижения целей стратегических направлений развития образования. <br><br>В ходе исследования проведён анализ и&nbsp;получены результаты, относящиеся к&nbsp;определению параметров доступности качественного, соответствующего потребностям времени, общего образования, выявлены проблемные ситуации. Предложены модели прогнозирования ключевых параметров доступности общего образования.<br><br>',
            'This article examines specific issues in constructing models for predicting the achievement of strategic education development goals. <br><br>The study analyzes and obtains results related to determining the parameters of accessibility to high-quality, time-appropriate general education, and identifies problematic situations. Models for predicting key parameters of general education accessibility are proposed.<br><br>',
            "параметры оценки, модели прогнозирования, стратегические направления, общее образование, доступность образования, качество общего образования",
            "evaluation parameters, forecasting models, strategic directions, general education, accessibility of education, quality of general education")











         +article_text( '68-5-1', 'Управление в&nbsp;организационных системах', 'Научная',
            'О проектировании образовательного процесса в&nbsp;&thinsp;колледже креативных индустрий',
            "About designing the&nbsp;&thinsp;educational process at&nbsp;&thinsp;the&nbsp;&thinsp;college of&nbsp;&thinsp;creative industries",
            'Табатадзе Лиана Мурмановна', 'канд. пед. наук, директор ГБПОУ Московский техникум креативных индустрий им. Л.Б. Красина',
            "Liana M. Tabatadze", "Candidate of Pedagogical Sciences, Director of Moscow College of Creative Industries named after L.B. Krasin",
            "TabatadzeLM@edu.mos.ru",
            'В статье представлен оригинальный подход к&nbsp;проектированию образовательного процесса для колледжа креативных индустрий в&nbsp;рамках трансформационных процессов системы среднего профессионального образования. <br><br>Описаны аналитический и&nbsp;сравнительный методы, а&nbsp;также эмпирические наблюдения внедрения новаторских практик в&nbsp;образовательный процесс.<br><br>',
            'The article presents an original approach to the design of the educational process for the College of creative industries within the framework of the transformation processes of the secondary vocational education system. <br><br>Analytical and comparative methods are described, as well as empirical observations of the introduction of innovative practices into the educational process.<br><br>',
            "образовательный процесс, среднее профессиональное образование, креативные индустрии, генеративный искусственный интеллект, профессиональная устойчивость выпускника, цеховая школа, инструментализм",
            "educational process, secondary vocational education, creative industries, generative artificial intelligence, graduate professional resilience, guild school, instrumentalism")

         +article_text-2( '68-5-2', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'Разработка игровых технологий дошкольного учреждения для стимулирования речевого развития детей',
            "Development of&nbsp;&thinsp;game technologies for preschool institutions to&nbsp;&thinsp;stimulate the&nbsp;&thinsp;speech development of&nbsp;&thinsp;children",
            'Бердникова Анна Александровна', 'канд. тех. наук, доцент кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Anna A. Berdnikova", "Candidate of Sciences (Engineering), Associate Professor of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "anya-romanova-07@yandex.ru",
            'Кривоногов Сергей Вячеславович', 'старший преподаватель кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия ',
            "Sergey V. Krivonogov", "Senior Lecturer of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "ksvkn@mail.ru",
            'В статье представлена разработка игры для дошкольных учреждений, направленной на&nbsp;стимулирование речевого развития детей. Игра сочетает в&nbsp;себе элементы обучения и&nbsp;развлечения, что способствует не только улучшению речевых навыков, но и&nbsp;развитию креативности и&nbsp;социализации среди детей. <br><br>Описываются методические подходы, используемые в&nbsp;процессе создания игры, а&nbsp;также её практическое применение.  В&nbsp;статье представлены результаты исследования, направленного на&nbsp;выявление влияния игровых методов на&nbsp;речевую активность детей, а&nbsp;также предложены конкретные игровые технологии, которые могут быть интегрированы в&nbsp;образовательный процесс.<br><br>',
            "The article presents the development of a game for preschool institutions aimed at stimulating the speech development of children. The game combines elements of learning and entertainment, which contributes not only to the improvement of speech skills, but also to the development of creativity and socialization among children. <br><br>The methodological approaches used in the process of creating the game, as well as its practical application, are described. The article presents the results of a study aimed at identifying the impact of gaming methods on children's speech activity, as well as suggests specific gaming technologies that can be integrated into the educational process.<br><br>",
            "дошкольное учреждение, речевое развитие, игровая деятельность, методические подходы",
            "preschool institution, speech development, play activities, methodological approaches")

         +article_text-4( '68-5-3', 'Управление в&nbsp;организационных системах', 'Научная',
            'Разработка модельных методик организации самостоятельной работы обучающихся на&nbsp;&thinsp;основе цифровых образовательных сервисов и&nbsp;&thinsp;платформ',
            "Development of&nbsp;&thinsp;model methods for organizing independent work of&nbsp;&thinsp;students based on&nbsp;&thinsp;digital educational content of&nbsp;&thinsp;the&nbsp;&thinsp;specified services and&nbsp;&thinsp;platforms",
            'Савченков Алексей Викторович', 'д. пед. н., профессор. и. о. ректора государственного бюджетного учреждения дополнительного профессионального образования &laquo;Челябинский институт развития профессионального образования&raquo;, профессор кафедры лингвистики и&nbsp;межкультурной коммуникации, Автономная некоммерческая организация высшего образования &laquo;Московский международный университет&raquo; (Челябинск, Россия)',
            "Aleksey V. Savchenkov", 'Doctor of Pedagogical Sciences, Professor, Acting Rector of the State Budgetary Institution of Continuing Professional Education "Chelyabinsk Institute for the Development of Professional Education", Professor of the Department of Linguistics and Intercultural Communication, Autonomous Non-Commercial Organization of Higher Education "Moscow International University" (Chelyabinsk, Russia)',
            "alex2107@mail.ru",
            'Бечиев Шахруди Шагидович', 'к. экон. н., начальник отдела организации научной деятельности, Федеральное государственное автономное научное учреждение &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; (Москва, Россия)',
            "Shakhrudi Sh. Bechiev", 'Candidate of Economic Sciences, Head of the Research Department, Federal State Autonomous Scientific Institution "Federal Institute of Digital Transformation in Education" (Moscow, Russia)',
            "bechiev@mail.ru",
            'Наумов Василий Александрович', 'к.экон.н, доцент кафедры коммерции и&nbsp;менеджмента, ФГБОУ ВО &laquo;Нижневартовский государственный университет&raquo;, г. Нижневартовск ',
            "Vasily A. Naumov", 'Director of MGBOU Gymnasium No. 12, Grozny; Postgraduate Student, Federal State Autonomous Scientific Institution "Federal Institute of Digital Transformation in Education" (Moscow, Russia)',
            "&mdash;",
            'Солтымурадов Хаважи Султанович', 'директор МГБОУ Гимназия № 12, г. Грозный, аспирант Федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; (Москва, Россия)',
            "Khavazhi S. Soltymuradov", 'Director of MGBOU Gymnasium No. 12, Grozny; Postgraduate Student, Federal State Autonomous Scientific Institution "Federal Institute of Digital Transformation in Education" (Moscow, Russia)',
            "&mdash;",
            'Одним из важнейших направлений использования цифровой образовательной среды является организация самостоятельной работы обучающихся с&nbsp;опорой на&nbsp;образовательные, методические и&nbsp;развивающие возможности цифровых сервисов и&nbsp;платформ, мобильных приложений. <br><br>Разработанные модельные методики организации самостоятельной работы обучающихся с&nbsp;использованием дидактических возможностей цифровых образовательных технологий взаимодополняют друг друга и&nbsp;позволяют обучающимся закрыть выявленные образовательные дефициты. <br><br>По результатам экспериментальной работы из двух реализованных в&nbsp;ходе эксперимента методик большую результативность показала методика, опирающаяся на&nbsp;возможности федеральных цифровых сервисов и&nbsp;платформ, и&nbsp;организованная в&nbsp;эксперименте работа по&nbsp;ликвидации пробелов предыдущей предметной подготовки.<br><br>',
            'One of the most important areas of use of the digital educational environment is the organization of independent work of students based on the educational, methodological, developmental capabilities of digital services, platforms, and mobile applications. <br><br>The developed model methods of organizing independent work of students using the didactic capabilities of digital educational technologies complement each other and allow students to close the identified educational shortcomings. <br><br>According to the results of the experimental work, of the two methods implemented in the course of the experiment, the method based on the capabilities of federal digital services and platforms showed greater effectiveness, and the work organized in the experiment to eliminate gaps in previous subject training.<br><br>',
            "цифровая образовательная среда, самостоятельная работа, модельная методика, федеральные цифровые образовательные ресурсы, мобильные приложения",
            "digital educational environment, independent work, model methods, federal digital educational resources, mobile applications")

         +article_text-2( '68-5-4', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'Разработка и&nbsp;&thinsp;продвижение медицинских приложений–тренажёров для лечения проблем бинокулярного зрения и&nbsp;&thinsp;амблиопии',
            "Development and&nbsp;&thinsp;promotion of&nbsp;&thinsp;medical training applications for treating binocular vision problems and&nbsp;&thinsp;amblyopia",
            'Гурьянова Татьяна Владимировна', 'главный специалист по&nbsp;образовательному процессу (информационные технологии), ООО &laquo;СофтКлуб&nbsp;&mdash; центр разработки&raquo;, Республика Беларусь',
            "Tatiana V. Gourianova", "Chief Specialist in the educational process (Information Technology, SoftClub&nbsp;&mdash; Development Center LLC, Republic of Belarus",
            "tatiana.gourianova@softclub.by",
            'Гурьянов Даниил Владимирович', 'бакалавр Европейского гуманитарного университета',
            "Daniil V. Gourianov", "Bachelor's degree from the European Humanities University",
            "Gourianov.Daniil@student.ehu.lt",
            'Современное эффективное лечение расстройства бинокулярного зрения весьма дорого. Из-за этого многие дети лечатся, преимущественно отделяя гречку от&nbsp;риса. Приложение &laquo;Тетрис&raquo;, вошедшее в&nbsp;лечебно-игровой комплект &laquo;Аист-ПИК&raquo;, позволила перейти на&nbsp;новый уровень в&nbsp;решении этой проблемы. Авторы поставили перед собой задачу помочь сделать эффективное лечение доступным для большинства пользователей.',
            'Modern effective treatment of binocular vision disorders is very expensive. Because of this, many children are treated mainly by separating buckwheat from rice. The Tetris application, included in the Stork PEAK medical game kit, has allowed us to move to a new level in solving this problem. The authors set themselves the task of helping to make effective treatment accessible to the majority of users',
            "бинокулярное зрение, амблиопия, медицинские тренажеры проектное обучение, решения собственной разработки",
            "binocular vision, amblyopia, medical simulators, project-based training, self-developed solutions")

         +article_text( '68-5-5', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'Внедрение цифровых диалоговых систем управления уникальными высотными зданиями',
            "Implementation of&nbsp;&thinsp;digital dialogue control systems for unique skyscrapers",
            'Фомичев Дмитрий Михайлович', 'магистрант Факультета государственного и&nbsp;муниципального управления по&nbsp;направлению &laquo;Цифровое государство&raquo; ИГСУ РАНХиГС при Президенте РФ',
            "Dmitry M. Fomichev", "master's student of the Faculty of Public and Municipal Administration of the Digital State direction of the IPACS RANEPA",
            "Fomichevdm@gmail.com",
            'Современным трендом эксплуатации уникальных высотных зданий является широкое внедрение цифровых технологий автоматизированных систем управления зданием. Данная технология предоставляет возможность получать подробную и&nbsp;актуальную информацию о&nbsp;состоянии всех инженерных систем и&nbsp;конструктивных элементов здания в&nbsp;режиме реального времени. Она позволяет осуществлять мониторинг и&nbsp;контроль функционирования различных систем, таких как отопление, вентиляция, электроснабжение, а&nbsp;также систем безопасности, обеспечивая тем самым высокую степень оперативности в&nbsp;принятии решений, направленных на&nbsp;оптимизацию эксплуатации и&nbsp;повышение уровня безопасности.',
            'A modern trend in the operation of a unique high-rise building is the widespread introduction of Building Management System. This technology provides the opportunity to receive detailed and up-to-date information on the state of all engineering systems and structural elements of the building in real time. It allows monitoring and control of the functioning of various systems, such as heating, ventilation, power supply, as well as security systems, thereby ensuring a high degree of efficiency in decision-making aimed at optimizing operation and increasing the level of safety.',
            "технологии информационного моделирования, автоматизированные системы управления зданием, цифровое государственное управление, бизнес&nbsp;&mdash; интеллект, энергоэффективность",
            "building information modeling, building management system, digital public administration, business-intelligence, energy efficiency")
