.archive__journal#journal_59
   h3.journal__number
      span Выпуск &#8470;
      span 3 (59)
   .journal__date июль 2023
   .journal__remember( data-modal='remember_59' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '59-1-1', 'Обзор информационных образовательных платформ и&nbsp;систем, использующих идеи и&nbsp;методы искусственного интеллекта', 'Коляда М.Г., Бугаева Т.И.' )
            +article( '59-1-2', 'Цифровая образовательная среда как пространство развития профессиональных компетенций учителя средствами информального обучения', 'Бечиев Ш.Ш., Наумов В.А.' )
            +article( '59-1-3', 'Цифровая образовательная среда и&nbsp;социальные последствия пандемии для&nbsp;родителей учащихся', 'Мухаметзянов И.Ш.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '59-2-1', 'Педагогический потенциал VR&ndash;приложения для&nbsp;изучения иностранных языков &laquo;VARVARA&raquo;', 'Хукаленко Ю.С.' )
            +article( '59-2-2', 'Теория и&nbsp;практика обработки больших массивов данных об&nbsp;электронных образовательных ресурсах  в&nbsp;целях их коммерциализации', 'Галкина А.И., Гришан И.А.,  Резник Н.А., Бобкова Е.Ю., Павлов Н.А.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '59-3-1', 'Мобильное приложение инкапсуляции данных на&nbsp;основе модифицированного стеганографического алгоритма', 'Зайнуллин И.И., Тумбинская М.В.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '59-4-1', 'Технология интегрирования экспертных систем и&nbsp;нейронных сетей для&nbsp;автоматизации идентификации больших данных', 'Краснов А.Е., Красников С.А., Гусев К.В., Овчинников М.А.' )
            +article( '59-4-2', 'Исследование использования ChatGPT в&nbsp;IT&ndash;образовании', 'Минакова О.В.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '59-5-1', 'Системный анализ предметной идентификации цифровой экосистемы ', 'Меденников В.И.' )
            +article( '59-5-2', 'О рекуррентных вычислениях смыслов предикатных текстов', 'Одинцов Б.Е.' )
            +article( '59-5-3', 'Исследование групповых характеристик. Аттестация', 'Карнаухов В.М.' )
            +article( '59-5-4', 'Теоретико&ndash;игровая модель формирования научного коллектива', 'Гинцяк А.М.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '59-6-1', 'Методика оценивания индивидуальных достижений в&nbsp;командном цифровом проекте обучающихся', 'Тарануха С.Н., Фомина И.К., Коробова К.И., Чуйкова А.М.' )
            +article( '59-6-2', 'Принципы эффективного использования креативных технологий в&nbsp;воспитательной работе со школьниками', 'Софронова Н.В., Игнатьева Э.А.' )

      section.journal__articles

         +article_text-2( '59-1-1', 'Цифровая трансформация', 'Обзорная',
            'Обзор информационных образовательных платформ и&nbsp;систем, использующих идеи и&nbsp;методы искусственного интеллекта',
            "Overview of&nbsp;information educational platforms and&nbsp;systems using ideas and&nbsp;methods of&nbsp;artificial intelligence",
            'Коляда Михаил Георгиевич', 'доктор педагогических наук, профессор, заведующий кафедрой инженерной и&nbsp;компьютационной педагогики, действительный член Академии информатизации образования, ГОУ&nbsp;ВПО &laquo;Донецкий национальный университет&raquo;',
            "Mikhail G. Koliada", "Doctor of&nbsp;Pedagogical Sciences, Professor, Head of&nbsp;the&nbsp;Department of&nbsp;Engineering and&nbsp;Computational Pedagogy, Full member of&nbsp;the&nbsp;Academy of&nbsp;Informatization of&nbsp;Education, Donetsk National University",
            "kolyada_mihail@mail.ru",
            'Бугаева Татьяна Ивановна', 'кандидат педагогических наук, доцент, доцент кафедры инженерной и&nbsp;компьютационной педагогики, ГОУ&nbsp;ВПО &laquo;Донецкий национальный университет&raquo; ',
            "Tatyana I. Bugaeva", "Candidate of&nbsp;Pedagogical Sciences, Docent, Associate Professor of&nbsp;the&nbsp;Department of&nbsp;Engineering and&nbsp;Computational Pedagogy, Donetsk National University",
            "bugaeva_tatyana@mail.ru",
            'В представленном обзоре среди зарубежных интеллектуальных систем в&nbsp;образовании и&nbsp;педагогике выделены наиболее развитые информационные платформы, представляющие заметный интерес в&nbsp;планировании образовательных траекторий обучающихся, в&nbsp;адаптации их к&nbsp;процессу обучения по&nbsp;разным параметрам&nbsp;&mdash; в&nbsp;автоматизации оценивания результатов их деятельности, в&nbsp;составлении расписания занятий и&nbsp;в создании обучающих курсов.<br><br>Среди отечественных интеллектуальных систем выделены информационные платформы, выполняющие функции виртуального репетитора (по иностранным языкам), по&nbsp;математике (используются для&nbsp;анализа решенных упражнений и&nbsp;анализа качества составленных заданий), по&nbsp;информатике (обучают в&nbsp;написании программного кода для&nbsp;приложений).<br><br>',
            "In the&nbsp;presented review, among the&nbsp;foreign intellectual systems in&nbsp;education and&nbsp;pedagogy, the&nbsp;most developed information platforms are&nbsp;highlighted, which are&nbsp;of&nbsp;considerable interest in&nbsp;planning the&nbsp;educational trajectories of&nbsp;students, in&nbsp;adapting them to&nbsp;the&nbsp;learning process according to&nbsp;various parameters&nbsp;&mdash; in&nbsp;automating the&nbsp;evaluation of&nbsp;the&nbsp;results of&nbsp;their activities, in&nbsp;scheduling classes and&nbsp;in&nbsp;creating training courses. Among the&nbsp;domestic intelligent systems, information platforms that perform the&nbsp;functions of&nbsp;a&nbsp;virtual tutor (in foreign languages), in&nbsp;mathematics (used to&nbsp;analyze solved exercises and&nbsp;analyze the&nbsp;quality of&nbsp;compiled tasks), in&nbsp;computer science (taught in&nbsp;writing program code for&nbsp;applications) are&nbsp;highlighted.",
            "искусственный интеллект, интеллектуальные образовательные системы, адаптивное обучение, персонализированное обучение, оценивание работ обучающихся, интеллектуальные обучающие системы, образовательная аналитика",
            "artificial intelligence, intelligent educational systems, adaptive learning, personalized learning, evaluation of&nbsp;student's work, intelligent learning systems, educational analytics")

         +article_text-2( '59-1-2', 'Цифровая трансформация', 'Обзорная',
            'Цифровая образовательная среда как пространство развития профессиональных компетенций учителя средствами информального обучения',
            "Digital educational environment as&nbsp;a&nbsp;space for&nbsp;the&nbsp;development of&nbsp;professional competencies of&nbsp;teachers by&nbsp;means of&nbsp;informal learning",
            'Бечиев Шахруди Шагидович', 'кандидат экономических наук, начальник отдела организации научной деятельности, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г.&nbsp;Москва',
            "Shakhrudi Sh. Bechiev", "Candidate of&nbsp;Economics, Head of&nbsp;the&nbsp;Department of&nbsp;Organization of&nbsp;Scientific Activity, Federal State Institution of&nbsp;Digital Transformation in&nbsp;Education, Moscow",
            "sh.bechiev@ficto.ru",
            'Наумов Василий Александрович', 'кандидат экономических наук, доцент кафедры коммерции и&nbsp;менеджмента, ФГБОУ ВО &laquo;Нижневартовский государственный университет&raquo;, г.&nbsp;Нижневартовск ',
            "Vasily A. Naumov", "Candidate of&nbsp;Economics, Associate Professor of&nbsp;the&nbsp;Department of&nbsp;Commerce and&nbsp;Management, Nizhnevartovsk State University, Nizhnevartovsk",
            "&mdash;",
            'Статья посвящена изучению проблем развития базовых педагогических компетенций в&nbsp;структуре профессии &laquo;учитель&raquo;. На&nbsp;основе проведенных исследований и&nbsp;большого объема практических данных авторами обоснована, разработана и&nbsp;апробирована модель развития предметных и&nbsp;методических компетенций. Предложенная модель реализована в&nbsp;цифровой образовательной среде средствами информального обучения.',
            "The article is&nbsp;devoted to&nbsp;the&nbsp;study of&nbsp;the&nbsp;problems of&nbsp;the&nbsp;development of&nbsp;basic pedagogical competencies for&nbsp;the&nbsp;profession of&nbsp;&laquo;teacher&raquo;. On&nbsp;the&nbsp;basis of&nbsp;research and&nbsp;a&nbsp;large volume of&nbsp;practical data, the&nbsp;authors have substantiated, developed and&nbsp;tested a&nbsp;model for&nbsp;the&nbsp;development of&nbsp;subject and&nbsp;methodological competencies. The&nbsp;proposed model is&nbsp;implemented in&nbsp;the&nbsp;digital educational environment by&nbsp;means of&nbsp;informational learning.",
            "качество образования, диагностическое исследование, школьная неуспешность, информальное образование, предметная компетенция, методическая компетенция, цифровая образовательная среда",
            "quality of&nbsp;education, diagnostic research, school failure, informational education, subject competence, methodological competence, digital educational environment")

         +article_text( '59-1-3', 'Цифровая трансформация', 'Обзорная',
            'Цифровая образовательная среда и&nbsp;социальные последствия пандемии для&nbsp;родителей учащихся',
            "Digital educational environment and&nbsp;social consequences of&nbsp;the&nbsp;pandemic for&nbsp;parents of&nbsp;students",
            'Мухаметзянов Искандар Шамилевич', 'ведущий научный сотрудник лаборатории информатики и&nbsp;информатизации образования, Федеральное государственное бюджетное научное учреждение &laquo;Институт стратегии развития образования Российской академии образования&raquo;',
            "Iskandar Sh. Mukhametzyanov", "Leading researcher of&nbsp;the&nbsp;Laboratory of&nbsp;Informatics and&nbsp;Informatization of&nbsp;Education, Federal State Budgetary Scientific Institution &laquo;Institute for&nbsp;Strategy of&nbsp;Education Development&raquo;",
            "mukhametzyanov@instrao.ru",
            'В публикации рассмотрено влияние цифровой образовательной среды на&nbsp;характер взаимоотношений между участниками образовательных отношений. В&nbsp;современных условиях обучения значительно возросла роль родителей учащихся в&nbsp;организации и&nbsp;реализации дистанционного и&nbsp;смешанного обучения. Все это не&nbsp;только влияло на&nbsp;психологический климат в&nbsp;семьях и&nbsp;здоровье родителей, но и&nbsp;имело отсроченные последствия для&nbsp;общего физического и&nbsp;социального благополучия всех членов семьи учащегося.',
            "The publication examines the&nbsp;influence of&nbsp;the&nbsp;digital educational environment on&nbsp;the&nbsp;nature of&nbsp;the&nbsp;relationship between the&nbsp;participants of&nbsp;educational relations. In&nbsp;modern conditions of&nbsp;education, the&nbsp;role of&nbsp;parents of&nbsp;students in&nbsp;the&nbsp;organization and&nbsp;implementation of&nbsp;distance and&nbsp;blended learning has significantly increased. All this not only affected the&nbsp;psychological climate in&nbsp;the&nbsp;families and&nbsp;the&nbsp;health of&nbsp;parents, but also had delayed consequences for&nbsp;the&nbsp;overall physical and&nbsp;social well&ndash;being of&nbsp;all members of&nbsp;the&nbsp;families of&nbsp;students.",
            "участники образовательных отношений, физическое, психическое и&nbsp;социальное благополучие человека, информационные и&nbsp;коммуникационные технологии, цифровая образовательная среда, пандемия",
            "participants in&nbsp;educational relations, physical, mental and&nbsp;social well&ndash;being of&nbsp;a&nbsp;person, information and&nbsp;communication technologies, digital educational environment, pandemic")

         +article_text( '59-2-1', 'Информационные технологии', 'Обзорная',
            'Педагогический потенциал VR&ndash;приложения для&nbsp;изучения иностранных языков &laquo;VARVARA&raquo;',
            "Pedagogical potential of&nbsp;a&nbsp;VR&ndash;application for&nbsp;language learning &laquo;VARVARA&raquo;",
            'Хукаленко Юлия Сергеевна', 'кандидат филологических наук, научный сотрудник Департамента образования Сиднейского университета, Новый Южный Уэльс, Австралия ',
            "Iuliia S. Khukalenko", "Ph.D., research affiliate, Sydney School of&nbsp;Education and&nbsp;Social Work, the&nbsp;University of&nbsp;Sydney, Australia",
            "khukalenko@hotmail.com",
            'В статье фиксируются результаты разработки и&nbsp;пилотного внедрения образовательного программного обеспечения в&nbsp;виртуальной реальности для&nbsp;обучения английскому языку школьников, находящихся на&nbsp;начальных уровнях изучения языка.<br><br>Центральное место в&nbsp;статье занимает обоснование целесообразности использования технологии виртуальной реальности для&nbsp;изучения иностранных языков, а&nbsp;также особенности педагогического дизайна программного обеспечения VARVARA.<br><br>Описаны элементы методики преподавания, варианты проведения урока, а&nbsp;также результаты тестирования приложения конечными пользователями.<br><br>',
            "The article presents the&nbsp;results of&nbsp;the&nbsp;R&D project VARVARA, an&nbsp;educational software in&nbsp;virtual reality for&nbsp;teaching English to&nbsp;schoolchildren at&nbsp;the&nbsp;beginner level. The&nbsp;article justifies the&nbsp;feasibility of&nbsp;using virtual reality for&nbsp;foreign language acquisition. The&nbsp;article describes the&nbsp;instructional design of&nbsp;the&nbsp;software, its teaching methodology, some lesson plans, and&nbsp;the&nbsp;results of&nbsp;testing the&nbsp;application with end&ndash;users",
            "виртуальная реальность, контекстное обучение, ИКТ, методика преподавания",
            "virtual reality, contextualized learning, educational technologies, teaching methods")

         +article_text-5( '59-2-2', 'Информационные технологии', 'Обзорная',
            'Теория и&nbsp;практика обработки больших массивов данных об&nbsp;электронных образовательных ресурсах  в&nbsp;целях их коммерциализации',
            "Theory and&nbsp;practice of&nbsp;processing large amounts of&nbsp;data on&nbsp;electronic educational resources for&nbsp;commercialisation purposes",
            'Галкина Александра Ивановна', 'заведующая отделом, федеральное государственное бюджетное учреждение науки &laquo;Институт программных систем им.&nbsp;А.К.&nbsp;Айламазяна Российской академии наук&raquo;',
            "Alexandra I. Galkina", "Head of&nbsp;the&nbsp;Department, Federal State Budgetary Institution of&nbsp;Science &laquo;A.K. Aylamazyan Institute of&nbsp;Software Systems of&nbsp;the&nbsp;Russian Academy of&nbsp;Sciences&raquo;",
            "galkina3@yandex.ru",
            'Гришан Игорь Александрович ', 'ИТ&ndash;специалист,  федеральное государственное бюджетное учреждение науки &laquo;Институт программных систем им.&nbsp;А.К.&nbsp;Айламазяна Российской академии наук&raquo;',
            "Igor A. Grishan", "IT specialist, Federal State Budgetary Institution of&nbsp;Science &laquo;A.K. Aylamazyan Institute of&nbsp;Software Systems of&nbsp;the&nbsp;Russian Academy of&nbsp;Sciences&raquo;",
            "&mdash;",
            'Резник Наталья Александровна', 'доктор педагогических наук, ведущий научный сотрудник, эксперт, федеральное государственное бюджетное учреждение науки &laquo;Институт программных систем им.&nbsp;А.К.&nbsp;Айламазяна Российской академии наук&raquo;',
            "Natalia A. Reznik", "Doctor of&nbsp;Pedagogical Sciences, leading researcher, expert, Federal State Budgetary Institution of&nbsp;Science &laquo;A.K. Aylamazyan Institute of&nbsp;Software Systems of&nbsp;the&nbsp;Russian Academy of&nbsp;Sciences&raquo;",
            "&mdash;",
            'Бобкова Елена Юрьевна', 'кандидат педагогических наук, доцент, Поволжский казачий институт управления и&nbsp;пищевых технологий (филиал) федерального государственного бюджетного образовательного учреждения  &laquo;Московский государственный университет технологий и&nbsp;управления имени К.Г.&nbsp;Разумовского&raquo; ',
            "Elena Yu. Bobkova", "PhD, Associate Professor, Volga Cossack Institute of&nbsp;Management and&nbsp;Food Technologies (branch) of&nbsp;the&nbsp;Federal State Budgetary Educational Institution &laquo;Moscow State University of&nbsp;Technology and&nbsp;Management named after K.G. Razumovsky&raquo;",
            "&mdash;",
            'Павлов Николай Александрович', 'преподаватель (математика, информатика и&nbsp;ИКТ), филиал федерального государственного казённого общеобразовательного учреждения &laquo;Нахимовское военно&ndash;морское училище Министерства обороны Российской Федерации&raquo; в&nbsp;г.&nbsp;Мурманске ',
            "Nikolay A. Pavlov", "Teacher (Mathematics, computer science and&nbsp;ICT), Branch of&nbsp;the&nbsp;Federal State Educational Institution &laquo;Nakhimov Naval School of&nbsp;the&nbsp;Ministry of&nbsp;Defense of&nbsp;the&nbsp;Russian Federation&raquo; in&nbsp;Murmansk",
            "&mdash;",
            'В статье описывается теория и&nbsp;практика  интеллектуального анализа больших массивов данных о&nbsp;результатах интеллектуальной деятельности в&nbsp;целях их коммерциализации и&nbsp;капитализации.<br><br>В&nbsp;результате сбора, учета и&nbsp;регистрации результатов интеллектуальной деятельности в&nbsp;Объединенном фонде электронных ресурсов &laquo;Наука и&nbsp;образование&raquo; скопился большой объем данных об&nbsp;интеллектуальной собственности в&nbsp;форме электронных образовательных ресурсов (ЭОР). Данные подвергаются обработке в&nbsp;целях унификации, стандартизации, классификации и&nbsp;рубрикации информации о&nbsp;ЭОР, что позволяет информацию об&nbsp;ЭОР типизировать и&nbsp;семантически анализировать.<br><br>На основе обработанных данных об&nbsp;электронных образовательных ресурсах механизмами регистрации и&nbsp;интернет&ndash;опубликования итогов регистрации происходит продвижение ЭОР на&nbsp;рынок интеллектуальной собственности.<br><br>',
            "The article describes theory and&nbsp;practice of&nbsp;intellectual analysis of&nbsp;large data arrays on&nbsp;the&nbsp;results of&nbsp;intellectual activity for&nbsp;the&nbsp;purpose of&nbsp;their commercialization and&nbsp;capitalization. As&nbsp;a&nbsp;result of&nbsp;collecting, recording and&nbsp;registering the&nbsp;results of&nbsp;intellectual activity in&nbsp;the&nbsp;Joint Electronic Resources Fund &laquo;Science and&nbsp;Education&raquo; a&nbsp;large amount of&nbsp;data on&nbsp;intellectual property in&nbsp;the&nbsp;form of&nbsp;electronic educational resources (EERs) is&nbsp;accumulated. The&nbsp;data are&nbsp;processed to&nbsp;unify, standardize, classify and&nbsp;categorize information on&nbsp;EERs. This allows information on&nbsp;EERs to&nbsp;be typified and&nbsp;analyzed semantically. Based on&nbsp;the&nbsp;processed data on&nbsp;EERs, EERs are&nbsp;promoted on&nbsp;the&nbsp;intellectual property market through registration and&nbsp;web&ndash;publishing of&nbsp;the&nbsp;registration results.",
            "данные, капитализация, коммерциализация, массив, модель, обработка больших массивов данных, регистрация, результаты интеллектуальной деятельности, интеллектуальная собственность, рынок, электронные образовательные ресурсы",
            "data, capitalization, commercialization, array, model, big data processing, registration, results of&nbsp;intellectual activity, intellectual property, market, electronic educational resources")




         +article_text-2( '59-3-1', 'Системы защиты информации', 'Научная',
            'Мобильное приложение инкапсуляции данных на&nbsp;основе модифицированного стеганографического алгоритма',
            "Mobile application for&nbsp;data encapsulation based on&nbsp;a&nbsp;modified steganographic algorithm",
            'Зайнуллин Ильдар Ильнурович', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Казанский национальный исследовательский технический университет им.&nbsp;А.Н.&nbsp;Туполева&raquo; ',
            "Ildar I. Zainullin", "Student, Kazan National Research Technical University after by&nbsp;A.N.&nbsp;Tupolev",
            "zainyllin158@gmail.com",
            'Тумбинская Марина Владимировна', 'кандидат технических наук, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Казанский национальный исследовательский технический университет им.&nbsp;А.Н.&nbsp;Туполева&raquo;',
            "Marina V. Tumbinskaya", "Candidate of&nbsp;Sciences in&nbsp;Technology, Kazan National Research Technical University after by&nbsp;A.N.&nbsp;Tupolev",
            "tumbinskaya@inbox.ru",
            'В настоящее время мобильные устройства являются неотъемлемой частью нашей жизни. Смартфоны пользователей содержат большое количество информации, включая персональные данные, пароли, банковские данные и&nbsp;другую конфиденциальную информацию. Несанкционированный доступ к&nbsp;этим данным может привести к&nbsp;угрозе приватности пользователей, к&nbsp;финансовым и&nbsp;иным нежелательным последствиям.<br><br>В&nbsp;статье проведен анализ возможностей и&nbsp;методов несанкционированного доступа злоумышленников к&nbsp;данным на&nbsp;мобильных устройствах. Представлен сравнительный анализ существующих мобильных приложений для&nbsp;сокрытия данных пользователей. Описывается разработка мобильного приложения и&nbsp;экспериментальная часть.<br><br>',
            "Nowadays, mobile devices are&nbsp;an&nbsp;integral part of&nbsp;our lives. Smartphones of&nbsp;users contain a&nbsp;large amount of&nbsp;information, including personal data, passwords, banking data and&nbsp;other confidential information. Unauthorized access to&nbsp;this data may lead to&nbsp;a&nbsp;threat to&nbsp;the&nbsp;privacy of&nbsp;users, to&nbsp;financial and&nbsp;other undesirable consequences. The&nbsp;article analyzes the&nbsp;possibilities and&nbsp;methods of&nbsp;unauthorized access by&nbsp;intruders to&nbsp;data on&nbsp;mobile devices. A&nbsp;comparative analysis of&nbsp;existing mobile applications for&nbsp;hiding user data is&nbsp;presented. The&nbsp;development of&nbsp;a&nbsp;mobile application and&nbsp;the&nbsp;experimental part are&nbsp;described.",
            "python, kivy, ГОСТ Р 34.12-2015, шифрование, криптография, стеганография, алгоритм LSB, алгоритм на&nbsp;основе EOF",
            "python, kivy, GOST R 34.12-2015, encryption, cryptography, steganography, LSB algorithm, EOF&ndash;based algorithm")




         +article_text-4( '59-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Технология интегрирования экспертных систем и&nbsp;нейронных сетей для&nbsp;автоматизации идентификации больших данных',
            "Technology of&nbsp;integration of&nbsp;expert systems and&nbsp;neural networks for&nbsp;identification automation big data",
            'Краснов Андрей Евгеньевич', 'доктор физико&ndash;математических наук, профессор Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Andrey E. Krasnov", "Doctor of&nbsp;Physical and&nbsp;Mathematical Sciences, Professor of&nbsp;Federal State Budgetary Educational Institution of&nbsp;Higher Education Russian State Social University",
            "krasnovmgutu@yandex.net",
            'Красников Степан Альбертович', 'доктор технических наук, профессор Федерального государственного бюджетного образовательного учреждения высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;',
            "Stepan A. Krasnikov", "Doctor of&nbsp;Technical Sciences, Professor the&nbsp;Federal State Budgetary Educational Institution of&nbsp;Higher Education &laquo;MIREA&nbsp;&mdash; Russian Technological University&raquo;",
            "krasnikov_s@mirea.ru",
            'Гусев Кирилл Вячеславович', 'аспирант Федерального государственного бюджетного образовательного учреждения высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;',
            "Kirill V. Gusev", "Postgraduate student of&nbsp;the&nbsp;Federal State Budgetary Educational Institution of&nbsp;Higher Education &laquo;MIREA&nbsp;&mdash; Russian Technological University&raquo;",
            "k_gusev@mirea.ru",
            'Овчинников Михаил Андреевич', 'аспирант Федерального государственного бюджетного образовательного учреждения высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;',
            "Mikhail A. Ovchinnikov", "Postgraduate student of&nbsp;the&nbsp;Federal State Budgetary Educational Institution of&nbsp;Higher Education &laquo;MIREA&nbsp;&mdash; Russian Technological University&raquo;",
            "ovchinnikov_m@mirea.ru",
            'Проведено рассмотрение на&nbsp;реляционном уровне взаимодействия экспертной и&nbsp;нейросетевой систем при&nbsp;их интегрировании для&nbsp;автоматизации идентификации больших данных.<br><br>Основой исследования являются методы: системного анализа, экспертных систем с&nbsp;нечетким выводом, нейроcетевых технологий.<br><br>Результатом исследования является описание структуры интегрированной экспертно&ndash;нейронной системы на&nbsp;уровне ее основных программных компонентов и&nbsp;соответствующих им программных модулей.<br><i class="i">&bull;</i>Приведены базовые методы анализа данных, составляющих основу архитектуры интегрированной экспертно&ndash;нейронной системы.<br><i class="i">&bull;</i>Описана технология реализации интегрированной нейронной сети на&nbsp;примерах ее простейших однослойной и&nbsp;трехслойной топологий.<br><i class="i">&bull;</i>Показано, что интегрированная экспертная система позволяет значительно снижать размерность больших данных, а&nbsp;интегрированная нейронная сеть&nbsp;&mdash; повышает правдоподобие классификации.<br><br>',
            "Consideration at&nbsp;the&nbsp;relational level of&nbsp;the&nbsp;interaction of&nbsp;expert and&nbsp;neural network systems during their integration to&nbsp;automate the&nbsp;identification of&nbsp;big data is&nbsp;carried out. The&nbsp;basis of&nbsp;the&nbsp;research are&nbsp;methods: system analysis; expert systems with fuzzy inference; neural network technologies. The&nbsp;result of&nbsp;the&nbsp;study is&nbsp;a&nbsp;description of&nbsp;the&nbsp;structure of&nbsp;an&nbsp;integrated expert&ndash;neural system at&nbsp;the&nbsp;level of&nbsp;its main software components and&nbsp;their corresponding software modules. The&nbsp;basic methods of&nbsp;data analysis, which form the&nbsp;basis of&nbsp;the&nbsp;architecture of&nbsp;an&nbsp;integrated expert&ndash;neural system, are&nbsp;presented. The&nbsp;technology for&nbsp;implementing an&nbsp;integrated neural network is&nbsp;described using examples of&nbsp;its simplest single&ndash;layer and&nbsp;three&ndash;layer topologies. It is&nbsp;shown that an&nbsp;integrated expert system can significantly reduce the&nbsp;dimension of&nbsp;big data, and&nbsp;an&nbsp;integrated neural network increases the&nbsp;likelihood of&nbsp;classification.",
            "автоматизация, большие данные, экспертная система, нейросетевая система, интегрирование, идентификация, классификация, оценивание параметров",
            "automation, big data, expert system, neural network system, integration, identification, classification, parameter estimation")

         +article_text( '59-4-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Исследование использования ChatGPT в&nbsp;IT&ndash;образовании',
            "Exploring the&nbsp;use of&nbsp;ChatGPT in&nbsp;IT&ndash;education",
            'Минакова Ольга Владимировна', 'доцент кафедры систем управления и&nbsp;информационных технологий в&nbsp;строительстве, Воронежский государственный технический университет',
            "Olga V. Minakova", "Docent, Department Management Systems and&nbsp;Information Technology of&nbsp;Building Voronezh State Technical University, Voronezh",
            "ominakova@vgasu.vrn.ru",
            'Статья посвящена исследованию возможностей применения веб&ndash;сервиса ChatGPT. Выявлена полезность данного сервиса для&nbsp;поиска информации с&nbsp;предобработкой полученных результатов по&nbsp;заданным правилам. Отмечена необходимость валидации получаемых ответов.<br><br>Представленные субъективные оценки использования ChatGPT могут быть актуальны как для&nbsp;планирования образовательной деятельности, так и&nbsp;для инициализации создания личных ассистентов в&nbsp;различных сферах профессиональной деятельности.<br><br>',
            "The article is&nbsp;devoted to&nbsp;the&nbsp;study of&nbsp;the&nbsp;possibilities of&nbsp;using the&nbsp;ChatGPT web service. The&nbsp;usefulness of&nbsp;this service for&nbsp;searching for&nbsp;information with preprocessing of&nbsp;the&nbsp;results obtained according to&nbsp;the&nbsp;specified rules is&nbsp;revealed. The&nbsp;necessity of&nbsp;validation of&nbsp;the&nbsp;received answers is&nbsp;noted. The&nbsp;presented subjective evaluations of&nbsp;the&nbsp;use of&nbsp;ChatGPT may be relevant both for&nbsp;planning educational activities and&nbsp;for&nbsp;initializing the&nbsp;creation of&nbsp;personal assistants in&nbsp;various fields of&nbsp;professional activity.",
            "чат&ndash;бот, разговорные интерфейсы, образовательный ассистент, информационные запросы, генерация ответов, пользовательский опыт, удобство использования",
            "Chatbot, conversational interfaces, educational assistant, prompt, response generation, user experience, usability")





         +article_text( '59-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Системный анализ предметной идентификации цифровой экосистемы ',
            "System analysis of&nbsp;the&nbsp;subject identification of&nbsp;the&nbsp;digital ecosystem",
            'Меденников Виктор Иванович', 'доктор технических наук, ведущий научный сотрудник, Федеральный исследовательский центр &laquo;Информатика и&nbsp;управление&raquo; РАН',
            "Victor I. Medennikov", "D.Sc., leading researcher, Federal Research Center &laquo;Computer Science and&nbsp;Control&raquo; of&nbsp;RAS",
            "dommed@mail.ru",
            'Рассматривается классификация цифровых экосистем, актуальность которой определяется наметившейся опасной тенденцией детерминологизации основных понятий и&nbsp;терминов цифровой экономики, обусловленных привлекательностью их использования бизнес&ndash;сообществом в&nbsp;целях привлечения потенциальных пользователей к&nbsp;создаваемым продуктам. Такая детерминологизация понятий наносит большой вред системности и&nbsp;эффективности реализации цифровой трансформации страны, дезориентируя как исполнителей программы, так и&nbsp;часть ученых.<br><br>Результаты классификации продемонстрированы на&nbsp;примере наиболее недоопределенной в&nbsp;литературе образовательной экосистемы с&nbsp;использованием математического моделирования.<br><br>',
            "The classification of&nbsp;digital ecosystems is&nbsp;considered, the&nbsp;relevance of&nbsp;which is&nbsp;determined by&nbsp;the&nbsp;emerging dangerous trend of&nbsp;determining the&nbsp;basic concepts and&nbsp;terms of&nbsp;the&nbsp;digital economy, due to&nbsp;the&nbsp;attractiveness of&nbsp;their use by&nbsp;the&nbsp;business community in&nbsp;order to&nbsp;attract potential users to&nbsp;the&nbsp;created products. Such a&nbsp;determinologization of&nbsp;concepts causes great harm to&nbsp;the&nbsp;consistency and&nbsp;effectiveness of&nbsp;the&nbsp;implementation of&nbsp;the&nbsp;digital transformation of&nbsp;the&nbsp;country, disorienting both the&nbsp;executors of&nbsp;the&nbsp;program and&nbsp;some scientists. The&nbsp;results of&nbsp;the&nbsp;classification are&nbsp;demonstrated on&nbsp;the&nbsp;example of&nbsp;the&nbsp;most underdetermined educational ecosystem in&nbsp;the&nbsp;literature using mathematical modeling.",
            "цифровые экосистемы, детерминологизация понятий, математическая модель, сельское хозяйство, аграрные ВУЗы, цифровая платформа",
            "digital ecosystems, determinologization of&nbsp;concepts, mathematical model, agriculture, agricultural universities, digital platform")

         +article_text( '59-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'О рекуррентных вычислениях смыслов предикатных текстов',
            "On recurrent calculations of&nbsp;the&nbsp;meanings of&nbsp;predicate texts",
            'Одинцов Борис Ефимович', 'доктор экономических наук, профессор Департамента анализа данных и&nbsp;машинного обучения Финансового университета при&nbsp;Правительстве Российской Федерации',
            "Boris E. Odintsov", "Doctor of&nbsp;Economics Sciences,  Professor of&nbsp;the&nbsp;Department of&nbsp;Data Analysis and&nbsp;Machine Learning of&nbsp;the&nbsp;Financial University under the&nbsp;Government of&nbsp;the&nbsp;Russian Federation",
            "Odintsov45@list.ru",
            'В определении &laquo;сильного&raquo; искусственного интеллекта (ИИ) используется понятие &laquo;мысль&raquo;, пока не&nbsp;имеющего определения. Поэтому сегодня не&nbsp;представляется возможным его применение к&nbsp;неодушевленным предметам, которыми являются любые машины и,&nbsp;в&nbsp;том числе, компьютеры. В&nbsp;статье предлагается заменить его на&nbsp;машинную &laquo;мысль&raquo;, а&nbsp;понятие &laquo;смысл&raquo; на&nbsp;машинный &laquo;смысл&raquo;. Тогда аналогия с&nbsp;естественным интеллектом приобретает правдивое толкование такого рода суррогатов в&nbsp;продвижении к&nbsp;&laquo;сильному&raquo; ИИ.<br><br>В&nbsp;статье демонстрируется возможность создания парадигмы оперативного формирования новых семантических структур для&nbsp;распознавания &laquo;смысла&raquo; отдельного предложения вместо применяемых сегодня готовых семантических шаблонов.<br><br>',
            "In the&nbsp;definition of&nbsp;&laquo;strong&raquo; artificial intelligence (AI), the&nbsp;concept of&nbsp;&laquo;thought&raquo; is&nbsp;used, which does not yet have a&nbsp;definition. Therefore, today it is&nbsp;not possible to&nbsp;apply it to&nbsp;inanimate objects, which are&nbsp;any machines, including computers. The&nbsp;article proposes to&nbsp;replace it with a&nbsp;machine &laquo;thought&raquo;, and&nbsp;the&nbsp;concept of&nbsp;&laquo;meaning&raquo; with a&nbsp;machine &laquo;meaning&raquo;. Then the&nbsp;analogy with natural intelligence acquires a&nbsp;truthful interpretation of&nbsp;such surrogates in&nbsp;moving towards a&nbsp;&laquo;strong&raquo; AI. The&nbsp;article demonstrates the&nbsp;possibility of&nbsp;creating a&nbsp;paradigm for&nbsp;the&nbsp;operational formation of&nbsp;new semantic structures for&nbsp;recognizing the&nbsp;&laquo;meaning&raquo; of&nbsp;a&nbsp;single sentence instead of&nbsp;the&nbsp;ready&ndash;made semantic templates used today.",
            "искусственный интеллект, семантические структуры, машинный &laquo;смысл&raquo;, ассоциации, рекуррентные соотношения, предикаты, онтологическая сеть, ассоциативная сеть, самообучение",
            "artificial intelligence, semantic structures, machine &laquo;meaning&raquo;, associations, recurrence relations, predicates, ontological network, associative network, self&ndash;learning")

         +article_text( '59-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Исследование групповых характеристик. Аттестация',
            "Study of&nbsp;group characteristics. Attestation",
            'Карнаухов Вячеслав Михайлович', 'доцент, кандидат физико&ndash;математических наук, Российский государственный аграрный университет, кафедра высшей математики ',
            "Viacheslav M. Karnaukhov", "Assistant professor, Russian state agrarian University, chair of&nbsp;higher mathematics",
            "karnauhov.60@mail.ru",
            'В статье приводятся результаты исследования аттестации учебной группы в&nbsp;зависимости от&nbsp;таких параметров, как <br><i class="i">&bull;</i>числа учащихся <br><i class="i">&bull;</i>среднего уровня подготовленности <br><i class="i">&bull;</i>однородности группы <br><i class="i">&bull;</i>числа заданий в&nbsp;контрольной работе <br><i class="i">&bull;</i>критерия аттестации учащегося<br><i class="i">&bull;</i>критерия аттестации группы.<br><br>Групповая аттестация рассматривается по&nbsp;результатам одного тестирования.<br><br>Исследование проводится при&nbsp;помощи компьютерного моделирования тестирования, основанного на&nbsp;использовании модели Раша.<br><br>Программа написана на&nbsp;языке Turbo Pascal, базовом языке среды программирования Delphi.<br><br>',
            "The article presents the&nbsp;results of&nbsp;a&nbsp;study of&nbsp;the&nbsp;attestation of&nbsp;a&nbsp;student’s group depending on&nbsp;such parameters as&nbsp;the&nbsp;number of&nbsp;students, the&nbsp;average level of&nbsp;preparedness, uniformity of&nbsp;the&nbsp;group, the&nbsp;number of&nbsp;tasks in&nbsp;the&nbsp;control work, the&nbsp;criterion of&nbsp;student’s attestation, the&nbsp;criterion of&nbsp;group’s attestation. Group performance is&nbsp;considered based on&nbsp;the&nbsp;results of&nbsp;one testing. The&nbsp;research is&nbsp;using computer simulation of&nbsp;testing based on&nbsp;the&nbsp;use of&nbsp;the&nbsp;Rash’s model. The&nbsp;program is&nbsp;written in&nbsp;the&nbsp;language Turbo Pascal, basic language programming of&nbsp;environment Delphi.",
            "моделирование, учебный процесс, тестирование, задачи, решение задач, аттестация",
            "modeling, training process, testing, tasks, task’s solving, attestation")

         +article_text( '59-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Теоретико&ndash;игровая модель формирования научного коллектива',
            "Game theory model of&nbsp;research team formation",
            'Гинцяк Алексей Михайлович', 'заведующий лабораторией &laquo;Цифровое моделирование индустриальных систем&raquo; Центра НТИ, ФГАОУ&nbsp;ВО &laquo;Санкт&ndash;Петербургский политехнический университет Петра Великого&raquo;',
            "Aleksei M. Gintciak", "Head of&nbsp;Laboratory &laquo;Digital Modeling of&nbsp;Industrial Systems&raquo; NTI Center, Peter the&nbsp;Great St.&nbsp;Petersburg Polytechnic University",
            "gintsyak_am@spbstu.ru",
            'Статья посвящена актуальной научной и&nbsp;практической проблеме принятия обоснованных решений при&nbsp;управлении научно&ndash;исследовательскими проектами.<br><br>Рассмотрены разработка и&nbsp;исследование теоретико&ndash;игровой модели формирования научного коллектива. Разработанная модель предназначена для&nbsp;прогнозирования равновесной и&nbsp;оптимальной численности научных коллективов для&nbsp;научно&ndash;исследовательских проектов, а&nbsp;также оценки эффективности отдельных мер по&nbsp;повышению оптимальности формирования научных коллективов.<br><br>',
            "The article is&nbsp;devoted to&nbsp;the&nbsp;relevant scientific and&nbsp;practical problem of&nbsp;making informed decisions in&nbsp;the&nbsp;R&D projects management. The&nbsp;development and&nbsp;research of&nbsp;a&nbsp;game&ndash;theoretic model of&nbsp;the&nbsp;formation of&nbsp;a&nbsp;research team are&nbsp;considered. The&nbsp;developed model is&nbsp;designed to&nbsp;predict the&nbsp;equilibrium and&nbsp;optimal number of&nbsp;research teams for&nbsp;R&D projects, as&nbsp;well as&nbsp;to&nbsp;evaluate the&nbsp;effectiveness of&nbsp;particular steps to&nbsp;improve the&nbsp;optimality of&nbsp;research teams formation.",
            "модель, научно&ndash;исследовательский проект, научный коллектив, оптимизация, организационная система, принятие решений, прогнозирование, равновесие, теория игр, управление проектами",
            "model, research project, research team, optimization, organizational system, decision&ndash;making, forecasting, equilibrium, game theory, project management")




         +article_text-4( '59-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Методика оценивания индивидуальных достижений в&nbsp;командном цифровом проекте обучающихся',
            "Methodology for&nbsp;evaluating individual achievements in&nbsp;a&nbsp;team digital project of&nbsp;student",
            'Тарануха Светлана Николаевна', 'кандидат технических наук, профессор кафедры математического моделирования и&nbsp;прикладной информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О.&nbsp;Макарова&raquo;, Санкт&ndash;Петербург  ',
            "Svetlana N. Taranukha", "Candidate of&nbsp;Technical Sciences, Professor of&nbsp;the&nbsp;Department of&nbsp;Mathematical Modeling and&nbsp;Applied Informatics, Federal State&ndash;Financed Educational Institution of&nbsp;Higher Education &laquo;Admiral Makarov State University of&nbsp;Maritime and&nbsp;Inland Shipping&raquo;, St.&nbsp;Petersburg",
            "svtar64@mail.ru",
            'Фомина Инга Константиновна', 'кандидат технических наук, профессор кафедры математического моделирования и&nbsp;прикладной информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О.&nbsp;Макарова&raquo;, г.&nbsp;Санкт&ndash;Петербург  ',
            "Inga С. Fomina", "Candidate of&nbsp;Technical Sciences, Professor of&nbsp;the&nbsp;Department of&nbsp;Mathematical Modeling and&nbsp;Applied Informatics, Federal State&ndash;Financed Educational Institution of&nbsp;Higher Education &laquo;Admiral Makarov State University of&nbsp;Maritime and&nbsp;Inland Shipping&raquo;, St.&nbsp;Petersburg",
            "fominga@list.ru",
            'Коробова Кристина Игоревна', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О.&nbsp;Макарова&raquo;, г.&nbsp;Санкт&ndash;Петербург',
            "Kristina I. Korobova", "Student of&nbsp;Federal State&ndash;Financed Educational Institution of&nbsp;Higher Education &laquo;Admiral Makarov State University of&nbsp;Maritime and&nbsp;Inland Shipping&raquo;, St.&nbsp;Petersburg",
            "kristina07.12.2000@mail.ru",
            'Чуйкова Анна Михайловна', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О.&nbsp;Макарова&raquo;, г.&nbsp;Санкт&ndash;Петербург ',
            "Anna M. Chuikova", "Student of&nbsp;Federal State&ndash;Financed Educational Institution of&nbsp;Higher Education &laquo;Admiral Makarov State University of&nbsp;Maritime and&nbsp;Inland Shipping&raquo;, St.&nbsp;Petersburg",
            "chuykova.anna@mail.ru",
            'В данной статье рассматриваются вопросы, связанные с&nbsp;внедрением методики оценки индивидуальных результатов студентов, участвующих в&nbsp;групповом проекте. Сформулированы преимущества данного вида обучающей деятельности, повышения уровня компетентности при&nbsp;возможном уменьшении количества дисциплин и&nbsp;сроков обучения. Предложен пилотный проект, реализующий прозрачность метода.',
            "This article discusses issues related to&nbsp;the&nbsp;implementation of&nbsp;the&nbsp;methodology for&nbsp;evaluating the&nbsp;individual results of&nbsp;students participating in&nbsp;a&nbsp;group project. The&nbsp;advantages of&nbsp;this type of&nbsp;training activity, increasing the&nbsp;level of&nbsp;competence with a&nbsp;possible reduction in&nbsp;the&nbsp;number of&nbsp;disciplines and&nbsp;terms of&nbsp;training are&nbsp;formulated. A&nbsp;pilot project implementing the&nbsp;transparency of&nbsp;the&nbsp;method is&nbsp;proposed.",
            "командный проект, компетентность, оценка результатов обучения, трансформации компетенции, адаптация учебного материала, особые образовательные потребности",
            "team project, competence, evaluation of&nbsp;learning outcomes, transformation of&nbsp;competence, adaptation of&nbsp;educational material, special educational needs")

         +article_text-2( '59-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Принципы эффективного использования креативных технологий в&nbsp;воспитательной работе со школьниками',
            "Principles of&nbsp;effective use of&nbsp;creative technologies in&nbsp;educational work with schoolchildren",
            'Софронова Наталия Викторовна ', 'доктор педагогических наук, профессор, Общественная организация дополнительного профессионального образования &laquo;Чувашское региональное отделение Академии информатизации образования&raquo;',
            "Natalia V. Sofronova", "Doctor of&nbsp;Pedagogical Sciences, Professor, Public organization of&nbsp;additional professional education &laquo;Chuvash regional branch of&nbsp;the&nbsp;Academy of&nbsp;Informatization of&nbsp;Education&raquo;",
            "n_sofr@mail.ru",
            'Игнатьева Эмилия Анатольевна', 'кандидат психологических наук, доцент кафедры физико&ndash;математических дисциплин и&nbsp;информатики, ФГБОУ ВО &laquo;Чувашский государственный педагогический университет им.&nbsp;И.Я.&nbsp;Яковлева&raquo;',
            "Emilia A. Ignatieva", "Candidate of&nbsp;Psychological Sciences, Associate Professor of&nbsp;the&nbsp;Department of&nbsp;Physics and&nbsp;Mathematics and&nbsp;Computer Science, I. Ya. Yakovlev Chuvash State Pedagogical University",
            "iehmiliya@yandex.ru",
            'Статья посвящена исследованию хода исполнения региональных проектов &laquo;Формирование гражданственности у&nbsp;школьников Чувашии в&nbsp;условиях цифровой образовательной среды&raquo; и&nbsp;&laquo;VR&ndash;шоу &laquo;Дорога в&nbsp;космос. Памяти Андрияна Николаева&raquo;.<br><br>Показано, что для&nbsp;эффективного использования креативных технологий в&nbsp;воспитательной работе со школьниками необходимо выполнение следующих принципов:<br><i class="i">1)</i>В&nbsp;воспитательном мероприятии креативные технологии должны быть вторичны по&nbsp;отношению к&nbsp;основной воспитательной идее. <br><i class="i">2)</i>Креативные технологии необходимы для&nbsp;усиления эмоциональной составляющей воспитательного мероприятия. <br><i class="i">3)</i>Наибольший эффект от&nbsp;использования креативных технологий в&nbsp;воспитательном мероприятии достигается при&nbsp;активном вовлечении школьников в&nbsp;процесс мероприятия. <br><i class="i">4)</i>В&nbsp;одном воспитательном мероприятии допускается использование нескольких видов креативных технологий, но необходимо следить, чтобы они усиливали воспитательный эффект, а&nbsp;не&nbsp;снижали его. <br><i class="i">5)</i>Креативные технологии как любые творческие процессы ориентированы на&nbsp;зрителей. Наибольший воспитательный эффект от&nbsp;использования креативных технологий будет достигнут, если мероприятие и&nbsp;творческие работы школьников увидит большое количество людей.<br><br>',
            "The article is&nbsp;devoted to&nbsp;the&nbsp;study of&nbsp;the&nbsp;progress of&nbsp;the&nbsp;regional projects &laquo;Formation of&nbsp;citizenship among schoolchildren of&nbsp;Chuvashia in&nbsp;a&nbsp;digital educational environment&raquo; and&nbsp;&laquo;VR show &laquo;The Road to&nbsp;Space. In&nbsp;memory of&nbsp;Andriyan Nikolaev&raquo;. <br><br>It is&nbsp;shown that for&nbsp;the&nbsp;effective use of&nbsp;creative technologies in&nbsp;educational work with schoolchildren, it is&nbsp;necessary to&nbsp;fulfill the&nbsp;following principles: <br><i class='i'>1)</i>In an&nbsp;educational event, creative technologies should be secondary to&nbsp;the&nbsp;main educational idea. <br><i class='i'>2)</i>Creative technologies are&nbsp;necessary to&nbsp;strengthen the&nbsp;emotional component of&nbsp;the&nbsp;educational event. <br><i class='i'>3)</i>The&nbsp;greatest effect from the&nbsp;use of&nbsp;creative technologies in&nbsp;educational activities is&nbsp;achieved with the&nbsp;active involvement of&nbsp;schoolchildren in&nbsp;the&nbsp;process of&nbsp;the&nbsp;event. <br><i class='i'>4)</i>Several types of&nbsp;creative technologies are&nbsp;allowed to&nbsp;be used in&nbsp;one educational event, but it is&nbsp;necessary to&nbsp;ensure that they enhance the&nbsp;educational effect, and&nbsp;not reduce it. <br><i class='i'>5)</i>Creative technologies, like any creative processes, are&nbsp;audience&ndash;oriented. The&nbsp;greatest educational effect from the&nbsp;use of&nbsp;creative technologies will be achieved if a&nbsp;large number of&nbsp;people see the&nbsp;event and&nbsp;creative works of&nbsp;schoolchildren.<br><br>",
            "воспитательная работа со школьниками, креативные технологии, региональный проект",
            "educational work with schoolchildren, creative technologies, regional project")


