.archive__journal.active_journal#journal_70
   h3.journal__number
      span Выпуск &#8470;
      span 2 (70)
   .journal__date апрель 2026
   .journal__remember( data-modal='remember_70' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '70-1-1', 'Проблемы цифровизации в&nbsp;организации работы кафедры', 'Гельман В.Я., Курбанбаева Д.Ф., Сердюков Ю.П' )
            +article( '70-1-2', 'К вопросу использования искусственного интеллекта в&nbsp;химическом образовании', 'Горобинский Л.В., Горобинская Ю.А.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '70-2-1', 'Особенности применения искусственного интеллекта в&nbsp;адаптивных системах автоматизации с&nbsp;сетевым компонентом', 'Туманов М.П., Кушнеров З.В.' )
            +article( '70-2-2', 'Анализ ERP-систем для&nbsp;автоматизации предприятий и&nbsp;реализация переноса данных основных средств', 'Бердникова А.А., Зуева С.В., Краснова А.С., Исаев С.Д.' )
            +article( '70-2-3', 'Использование методов обработки естественного языка при&nbsp;составлении рабочих программ дисциплин университета', 'Логинова А.А., Тамбовцева В.В., Денисов А.Р.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '70-3-1', 'Архитектурный анализ современных менеджеров состояния', 'Орлов А.В.' )
            +article( '70-3-2', 'Анализ архитектурных принципов горизонтального масштабирования PostgreSQL с&nbsp;применением расширения Citus', 'Дубровский А.А.' )
            +article( '70-3-3', 'Типовые ошибки интерпретации результатов нагрузочного тестирования микросервисных систем', 'Винокурова О.А.' )

         .journal__section
            .journal__section_title Управление в&nbsp;организационных системах
            +article( '70-4-1', 'Анализ состояния обучения предмету &laquo;Информатика и&nbsp;КТ&raquo; на&nbsp;основании опроса выпускников школ&nbsp;&mdash; абитуриентов вузов', 'Козлов О.А., Барышева И.В., Малкина Е.В.' )
            +article( '70-4-2', 'Разработка системы распределения слушателей подготовительного отделения для&nbsp;иностранных учащихся в&nbsp;общежитиях', 'Лю Ю., Борисов В.И.' )
            +article( '70-4-3', 'Анализ государственных информационных ресурсов в&nbsp;рамках преподавания дисциплины &laquo;Информатика&raquo;', 'Морсакова Ю.В.' )
            +article( '70-4-4', 'Программный инструмент для&nbsp;подготовки и&nbsp;организации компьютерного тестирования', 'Безруков А.И., Вагарина Н.С., Сиренко В.С., Китаев А.Д.' )

      section.journal__articles

         +article_text-3( '70-1-1', 'Цифровая трансформация', 'Научная',
            'Проблемы цифровизации в&nbsp;&thinsp;организации работы кафедры',
            "Problems of&nbsp;&thinsp;digitalization in&nbsp;&thinsp;the&nbsp;&thinsp;organization of&nbsp;&thinsp;the&nbsp;&thinsp;department's work",
            'Гельман Виктор Яковлевич', 'доктор технических наук, профессор кафедры медицинской информатики и&nbsp;физики, Северо-Западный государственный медицинский университет имени И.И.&nbsp;Мечникова',
            "Viktor Ya. Gelman", "Doctor of Technical Sciences, Professor of the Department of Medical Informatics and Physics, North-Western State Medical University named after I.I. Mechnikov",
            "Viktor.Gelman@szgmu.ru",
            'Курбанбаева Динара Фархадовна', 'кандидат экономических наук, доцент кафедры медицинской информатики и&nbsp;физики, Северо-Западный государственный медицинский университет имени И.И.&nbsp;Мечникова',
            "Dinara F. Kurbanbaeva", "Candidate of Economic Sciences, Associate Professor of the Department of Medical Informatics and Physics, NorthWestern State Medical University named after I.I. Mechnikov",
            "dinara.kurbanbaeva@szgmu.ru",
            'Сердюков Юрий Павлович', 'доктор технических наук, профессор кафедры медицинской информатики и&nbsp;физики, Северо-Западный государственный медицинский университет имени И.И.&nbsp;Мечникова',
            "Yuri P. Serdyukov", "Doctor of Technical Sciences, Professor of the Department of Medical Informatics and Physics, North-Western State Medical University named after I.I. Mechnikov",
            "yurii.serdyukov@szgmu.ru",
            'Статья посвящена выявлению возможностей и&nbsp;анализу особенностей применения информационных технологий в&nbsp;организации работы кафедры при&nbsp;очном обучении. Рассмотрен комплексный подход к&nbsp;цифровизации организации учебнометодической работы через призму интеграции трёх ключевых технологических пластов: инструментов на&nbsp;основе искусственного интеллекта, коммуникационных платформ и&nbsp;специализированных отраслевых облачных сервисов.',
            "The article is devoted to identifying opportunities and analyzing the specifics of using information technologies in the organization of the department's work in full-time education. It considers a comprehensive approach to the digitalization of the organization of educational and methodological work through the integration of three key technological layers: artificial intelligence-based tools, communication platforms and specialized industry-specific cloud services.",
            "информационные технологии, цифровизация образования, организационная работа кафедры, очное обучение, учебный процесс",
            "information technology, digitalization of education, organizational work of the department, full-time education, educational process")

         +article_text-2( '70-1-2', 'Цифровая трансформация', 'Научная',
            'К вопросу использования искусственного интеллекта в&nbsp;&thinsp;химическом образовании',
            "On&nbsp;&thinsp;the&nbsp;&thinsp;use of&nbsp;&thinsp;artificial intelligence in&nbsp;&thinsp;chemistry education",
            'Горобинский Леонид Викторович', 'доцент, &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;',
            "Leonid V. Gorobinskiy", "Docent, MIREA&nbsp;&mdash; Russian technological university, Moscow",
            "gorobinskiy@mirea.ru",
            'Горобинская Юлия Александровна', 'учитель-дефектолог, ГБОУ города Москвы &laquo;Западный комплекс непрерывного образования&raquo;',
            "Iulia A. Gorobinskaya", 'teacher-defectologist, Moscow City State Educational Institution "Western Complex of Continuous Education"',
            "&mdash;",
            'Статья посвящена вопросам интеграции генеративного искусственного интеллекта в&nbsp;химическое образование. Показано, что для&nbsp;эффективной работы с&nbsp;искусственным интеллектом необходимы, но не&nbsp;достаточны, существующие компетенции педагогов: педагогические и&nbsp;предметные знания. Так&nbsp;женеобходимы технологические знания&nbsp;&mdash; в&nbsp;частности, умение составлять запросы искусственному интеллекту, критически анализировать ответы и&nbsp;умение вести диалог.<br><br>В&nbsp;статье освещены проблемы, возникающие при&nbsp;применении генеративного искусственного интеллекта, такие как предвзятость, дискриминация и&nbsp;галлюцинация.<br><br>',
            'The article is devoted to the issues of integrating generative artificial intelligence into chemistry education. It is shown that for effective work with artificial intelligence, existing competencies of educators&nbsp;&mdash; pedagogical and subject knowledge&nbsp;&mdash; are necessary but not sufficient. Technological knowledge is also required, in particular the ability to formulate prompts to artificial intelligence, critically analyze responses and conduct a dialogue.<br><br>The article highlights problems arising from the use of generative artificial intelligence, such as bias, discrimination and hallucination.<br><br>',
            "искусственный интеллект, запрос, генеративный искусственный интеллект",
            "artificial intelligence, prompt, Generative AI")






         +article_text-2( '70-2-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Особенности применения искусственного интеллекта в&nbsp;&thinsp;адаптивных системах автоматизации с&nbsp;&thinsp;сетевым компонентом',
            "Features of the application of artificial intelligence in adaptive automation systems with a network component",
            'Туманов Михаил Петрович', 'доцент, НИУ ВШЭ, МИЭМ',
            "Mikhail P. Tumanov", "associate professor, NRU HSE, MIEM",
            "miketum@mail.ru",
            'Кушнеров Захар Владимирович', 'студент, НИУ ВШЭ, МИЭМ',
            "Zakhar V. Kushnerov", "student, NRU HSE, MIEM",
            "zakhar.kushnerov@bk.ru",
            'В статье проанализированы различные аспекты использования ИИ в&nbsp;построении адаптивной системы автоматического управления с&nbsp;запаздыванием в&nbsp;сетевом компоненте. Предложено за&nbsp;основу алгоритмов взять человеческое восприятие картины внешнего мира, основанное на&nbsp;восприятии образов, а&nbsp;не&nbsp;вычислениях. Предложена основа методик обучения ИИ в&nbsp;случае характерного примера&nbsp;&mdash; типовой электромеханической системой с&nbsp;запаздыванием и&nbsp;типовым пропорционально-интегральнодифференциальным регулятором.',
            'The article analyzes various aspects of using AI in building an adaptive automatic control system with a delay in the network component. It is proposed that the algorithms be based on human perception of the picture of the outside world, based on the perception of images, rather than calculations. The basis of AI training methods is proposed in the case of a typical example – a typical electromechanical system with a delay and a typical proportional-integral-differential controller.',
            "ИИ, обучение ИИ, обучающая выборка, автоматизация, система автоматического управления, запаздывание, качество переходного процесса",
            "AI, AI training, training sampling, automation, automatic control system, delay, quality of the transition process")

         +article_text-4( '70-2-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Анализ ERP-систем для&nbsp;&thinsp;автоматизации предприятий и&nbsp;&thinsp;реализация переноса данных основных средств',
            "Analysis of&nbsp;&thinsp;erp systems for&nbsp;&thinsp;enterprise automation and&nbsp;&thinsp;implementation of&nbsp;&thinsp;data transfer of&nbsp;&thinsp;fixed assets",
            'Бердникова Анна Александровна', 'канд. тех. наук, доцент кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Anna A. Berdnikova", "Candidate of Sciences (Engineering), Associate Professor of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "anya-romanova-07@yandex.ru",
            'Зуева Светлана Владимировна', 'старший преподаватель кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Svetlana V. Zueva", "Senior Lecturer of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "limonovasvetlana@mail.ru",
            'Краснова Анна Сергеевна', 'старший преподаватель кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Anna S. Krasnova", "Senior Lecturer of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "shochina96@mail.ru",
            'Исаев Сергей Дмитриевич', 'ведущий инженер-программист, АО &laquo;Теплоэнерго&raquo;, г. Нижний Новгород, Россия',
            "Sergey D. Isaev", "Leading Software Engineer, Teploenergo JSC, Nizhny Novgorod, Russia",
            "bobberhead@mail.ru",
            'В данной статье представлен анализ ERP систем, предназначенных для&nbsp;автоматизации процессов управления на&nbsp;предприятиях, не&nbsp;также рассматривается реализация переноса данных основных средств. Исследование включает в&nbsp;себя сравнительный анализ различных ERP систем, их функциональных возможностей и&nbsp;специфики применения в&nbsp;зависимости от&nbsp;отраслевой принадлежности. Основное внимание уделяется процессу переноса данных основных средств, что является критически важным для&nbsp;обеспечения непрерывности и&nbsp;актуальности информации в&nbsp;ERP системе.',
            'This article provides an analysis of ERP systems designed to automate management processes in enterprises, as well as an overview of the implementation of data transfer for fixed assets. The study includes a comparative analysis of various ERP systems, their functionality, and the specific application depending on the industry. The focus is on the process of transferring fixed asset data, which is crucial for ensuring the continuity and relevance of information in the ERP system.',
            "ERP-системы, учёт основных средств, 1С:ERP, миграция данных, автоматизация, информационная безопасность",
            "ERP systems, fixed asset accounting, 1C:ERP, data migration, automation, information security")

         +article_text-3( '70-2-3', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Использование методов обработки естественного языка при&nbsp;&thinsp;составлении рабочих программ дисциплин университета',
            "Using natural language processing methods in&nbsp;&thinsp;preparing working programs for&nbsp;&thinsp;university disciplines",
            'Логинова Анна Александровна', 'старший преподаватель кафедры информационных систем и&nbsp;технологий, Костромской государственный университет',
            "Anna A. Loginova", "Senior Lecturer, Kostroma State University",
            "aloginova255@gmail.com",
            'Тамбовцева Вероника Витальевна', 'техник кафедры инноватики и&nbsp;технологического предпринимательства, Cанкт-Петербургский государственный электротехнический университет &laquo;ЛЭТИ&raquo; имени В.И.&nbsp;Ульянова',
            "Veronika V. Tambovtseva", "Technician at the Department of Innovation and Technological Entrepreneurship, St. Petersburg State Electrotechnical University",
            "machneva.v2002@gmail.com",
            'Денисов Артем Руфимович', 'доктор технических наук, профессор, Санкт-Петербургский государственный электротехнический университет &laquo;ЛЭТИ&raquo; имени В.И.&nbsp;Ульянова',
            "Artem R. Denisov", "Dr. Sci. (Eng), Professor, St. Petersburg State Electrotechnical University",
            "iptema@yandex.ru",
            'В статье представлен проект автоматизации проверки дисциплин вузов на&nbsp;соответствие компетентностной модели, описанной в&nbsp;образовательных программах.<br><i class="i">&bull;</i>Рассматриваются проблемы компетентностного подхода в&nbsp;рамках реализации ФГОС высшего образования.<br><i class="i">&bull;</i>Моделируется текущий процесс формирования компетенций и&nbsp;закрепления их в&nbsp;рабочих программах дисциплин (РПД) на&nbsp;примере СПбГЭТУ &laquo;ЛЭТИ&raquo;.<br><i class="i">&bull;</i>Реализован и&nbsp;описан алгоритм автоматизированной проверки соответствия заданий РПД заданным индикаторам компетенций, основанный на&nbsp;методах обработки естественного языка.<br><i class="i">&bull;</i>Приводится описание внедрения алгоритма классификации текстов заданий в&nbsp;процесс создания и&nbsp;утверждения РПД и&nbsp;возможное влияние предложенных инструментов на&nbsp;образовательный процесс.<br><br>',
            'This article presents a project to automate the verification of university courses for compliance with the competency-based model described in their educational programs.<br><i class="i">&bull;</i>It examines the challenges of a competency-based approach within the framework of implementing the Federal State Educational Standard for Higher Education.<br><i class="i">&bull;</i>The current process of developing competencies and embedding them in discipline work programs (DWPs) is modeled using the example of ETU "LETI."<br><i class="i">&bull;</i>An algorithm for automated verification of DWP assignment compliance with specified competency indicators, based on natural language processing methods, is implemented and described.<br><i class="i">&bull;</i>A description is provided of the implementation of an assignment text classification algorithm in the DWP creation and approval process and the potential impact of the proposed tools on the educational process.<br><br>',
            "обработка естественного языка, компетенция, высшее образование, автоматизация процессов",
            "natural language processing, competence, higher education, process automation")








         +article_text( '70-3-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Архитектурный анализ современных менеджеров состояния',
            "Architectural analysis of&nbsp;&thinsp;modern managers of&nbsp;&thinsp;the&nbsp;&thinsp;state",
            'Орлов Андрей Витальевич', 'студент первого курса магистратуры Федерального государственного автономного образовательного учреждения высшего образования &laquo;Российский университет транспорта (РУТ (МИИТ))&raquo;',
            "Andrey V. Orlov", "first-year graduate student of the Federal State Autonomous Educational Institution of Higher Education &laquo;Russian University of Transport (RUT (MIIT))&raquo;",
            "inishlornekora@yandex.ru",
            'Приводится сравнение на&nbsp;уровне архитектуры таких решений, как Redux, MobX, Recoil, Zustand, Jotai, не&nbsp;также встроенных механизмов типа Pinia, NgRx, Angular Signals, Svelte Stores. Особое внимание уделяется потокам данных, способам подписки, центральности хранилища, масштабируемости и&nbsp;тестируемости решений. В&nbsp;заключении даны выводы и&nbsp;рекомендации по&nbsp;выбору архитектуры state management в&nbsp;зависимости от&nbsp;требований проекта.',
            'Provides a comparison at the architecture level of such solutions as Redux, MobX, Recoil, Zustand, Jotai, as well as built-in mechanisms such as Pinia, NgRx, Angular Signals, Svelte Stores. Special attention is paid to data flows, subscription methods, the centrality of the store, scalability and testability of solutions. The article concludes with conclusions and recommendations for choosing a state management architecture based on the project requirements.',
            "реактивная архитектура, атомарное состояние, масштабируемость, Flux, Redux, MobX, NgRx, Pinia, Angular Signals, Svelte Stores",
            "reactive architecture, atomic state, scalability, Flux, Redux, MobX, NgRx, Pinia, Angular Signals, Svelte Stores")
         +article_text( '70-3-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Анализ архитектурных принципов горизонтального масштабирования PostgreSQL с&nbsp;&thinsp;применением расширения Citus',
            "Analysis of&nbsp;&thinsp;architectural principles for&nbsp;&thinsp;horizontally scaling postgresql with the&nbsp;&thinsp;citus extension",
            'Дубровский Арсений Александрович', 'студент первого курса магистратуры Российского университета транспорта (МИИТ) и&nbsp;инженер программного обеспечения в&nbsp;ПАО &laquo;Сбербанк России&raquo;',
            "Arseny A. Dubrovsky", "First-year master's student at the Russian University of Transport (MIIT) and software engineer at Sberbank of Russia",
            "sorivma03.06@gmail.com",
            'Рост объёмов данных и&nbsp;числа конкурентных запросов быстро упирается в&nbsp;физические пределы одного сервера. Для&nbsp;преодоления данного ограничения применяется горизонтальное масштабирование, представляющее собой перенос хранения и&nbsp;обработки данных на&nbsp;несколько вычислительных узлов.<br><br>В&nbsp;настоящей статье рассматриваются базовые принципы горизонтальной фрагментации, различия с&nbsp;внутрисерверным сегментированием таблиц, не&nbsp;также архитектура и&nbsp;эксплуатационные ограничения решения на&nbsp;базе расширения Citus для&nbsp;системы управления базами данных PostgreSQL.<br><br>Для&nbsp;обсуждения производительности приведены типовые подходы к&nbsp;постановке измерений и&nbsp;характерные наблюдения для&nbsp;нагрузок чтения и&nbsp;записи.<br><br>',
            'The growth of data volumes and the number of concurrent requests quickly reaches the physical limits of a single server. To overcome this limitation, horizontal scaling is used, which involves distributing data storage and processing across multiple computing nodes.<br><br>This article explores the basic principles of horizontal fragmentation, the differences from intra-server table segmentation, and the architecture and performance limitations of the Citus extension for the PostgreSQL database management system.<br><br>It also provides typical approaches for measuring performance and highlights key observations for read and write loads.<br><br>',
            "система управления базами данных, реляционная модель, горизонтальная фрагментация, распределённое выполнение запросов",
            "database management system, relational model, horizontal fragmentation, distributed query execution")
         +article_text( '70-3-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Типовые ошибки интерпретации результатов нагрузочного тестирования микросервисных систем',
            "Common pitfalls in&nbsp;&thinsp;interpreting load testing results of&nbsp;&thinsp;microservice systems",
            'Винокурова Ольга Алексеевна', 'магистрант 1 курса, Федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта (РУТ (МИИТ))&raquo;',
            "Olga A. Vinokurova", "1st-year master’s student, Federal State Autonomous Educational Institution of Higher Education &laquo;Russian University of Transport (RUT (MIIT))&raquo;",
            "vinio.com@yandex.ru",
            'Статья посвящена типовым ошибкам интерпретации результатов нагрузочного тестирования распределённых систем.<br><i class="i">&bull;</i>Рассмотрены особенности микросервисной архитектуры, влияющие на&nbsp;измерения производительности: цепочки межсервисных вызовов, сетевые задержки, динамическое масштабирование и&nbsp;зависимость от&nbsp;инфраструктуры.<br><i class="i">&bull;</i>Описаны ключевые метрики и&nbsp;показано, почему агрегированные значения (в&nbsp;частности средние) могут скрывать проблемы, выявляемые перцентилями.<br><i class="i">&bull;</i>Систематизированы основные группы ошибок анализа: архитектурные, метрические, ошибки модели нагрузки, несоответствие тестовой среды и&nbsp;временно-статистические ошибки.<br><i class="i">&bull;</i>Подчёркнуто, что корректная интерпретация результатов напрямую влияет на&nbsp;инженерные и&nbsp;проектные решения, не&nbsp;также предложены направления улучшения методики (трассировка, статистическая обработка, реалистичные сценарии).<br><br>',
            'The article is devoted to typical errors in interpreting the results of load testing of distributed systems.<br><i class="i">&bull;</i>It discusses the features of microservice architecture that affect performance measurements, such as chains of interservice calls, network delays, dynamic scaling, and infrastructure dependencies.<br><i class="i">&bull;</i>The article describes key metrics and explains why aggregated values (such as averages) can mask problems that can be identified using percentiles.<br><i class="i">&bull;</i>It also categorizes the main types of analysis errors, including architectural errors, metric errors, load model errors, test environment mismatches, and time-related statistical errors.<br><i class="i">&bull;</i>It is emphasized that the correct interpretation of the results directly affects engineering and design solutions, and directions for improving the methodology (tracing, statistical processing, and realistic scenarios) are proposed.<br><br>',
            "метрики, ошибки интерпретации, нагрузочное тестирование, микросервисы, производительность, latency, перцентили",
            "metrics, interpretation errors, load testing, microservices, performance, latency, percentiles")








         +article_text-3( '70-4-1', 'Управление в&nbsp;организационных системах', 'Научная',
            'Анализ состояния обучения предмету &laquo;Информатика и&nbsp;&thinsp;КТ&raquo; на&nbsp;&thinsp;основании опроса выпускников школ&nbsp;&mdash; абитуриентов вузов',
            "Analysis of&nbsp;&thinsp;the&nbsp;&thinsp;state of&nbsp;&thinsp;education in&nbsp;&thinsp;the&nbsp;&thinsp;subject &laquo;informatics and&nbsp;&thinsp;ct&raquo; based on&nbsp;&thinsp;a&nbsp;&thinsp;survey of&nbsp;&thinsp;school graduates&nbsp;&thinsp;&mdash; university applicants",
            'Козлов Олег Александрович', 'доктор педагогических наук, профессор, Институт содержания и&nbsp;методов обучения имени В.С. Леднева (ИСМО), г. Москва',
            "Oleg A. Kozlov", "Doctor of Pedagogical Sciences, Professor, Institute of Content and Teaching Methods named after V.S. Ledneva (ISMO), Moscow",
            "ole-kozlov@yandex.ru",
            'Барышева Ирина Викторовна', 'преподаватель, Институт информационных технологий, математики и&nbsp;механики ННГУ имени Н.И. Лобачевского, Нижний Новгород',
            "Irina V. Barysheva", "Lecturer, Institute of Information Technologies, Mathematics and Mechanics of Nizhny Novgorod State University named after N.I. Lobachevsky, Nizhny Novgorod",
            "Ibar1950@yandex.ru",
            'Малкина Елена Владиславовна', 'кандидат педагогических наук, доцент, Институт информационных технологий, математики и&nbsp;механики ННГУ имени Н.И. Лобачевского, Нижний Новгород',
            "Elena V. Malkina", "Candidate of Pedagogical Sciences, Associate Professor, Institute of Information Technologies, Mathematics and Mechanics of Nizhny Novgorod State University named after N.I. Lobachevsky, Nizhny Novgorod",
            "malkina@yandex.ru",
            'В статье рассматриваются результаты опросов первокурсников с&nbsp;целью понимания уровня знаний в&nbsp;области информатики и&nbsp;обеспечения преемственности дальнейшего обучения. Наряду с&nbsp;вопросами, характеризующими самих респондентов, неизбежно появлялись вопросы, относящиеся к&nbsp;качеству и&nbsp;методики обучения. Проводится сравнение ответов студентов профильных направлений и&nbsp;гуманитариев. Представлены возможные выходы и&nbsp;решения проблемы&nbsp;&mdash; &laquo;когда учить, чему учить, кому учить&raquo;.',
            'The article reviews the results of surveys of freshmen in order to understand the level of knowledge in the field of computer science and ensure the continuity of further education. Along with the questions characterizing the respondents themselves, questions related to the quality and methodology of training inevitably appeared. The answers of students of specialized areas and humanities are compared. Possible solutions and solutions to the problem are presented&nbsp;&mdash; &laquo;when to teach, what to teach, who to teach&raquo;.',
            "учитель информатики, школьные учебники, содержание школьной программы по&nbsp,информатике, кризис информатики в&nbsp,школе",
            "computer science teacher, school textbooks, content of the school curriculum in computer science, computer science crisis at school")

         +article_text-2( '70-4-2', 'Управление в&nbsp;организационных системах', 'Научная',
            'Разработка системы распределения слушателей подготовительного отделения для&nbsp;&thinsp;иностранных учащихся в&nbsp;&thinsp;общежитиях',
            "Development of&nbsp;&thinsp;a&nbsp;&thinsp;system for&nbsp;&thinsp;distributing students of&nbsp;&thinsp;the&nbsp;&thinsp;preparatory department for&nbsp;&thinsp;foreign students in&nbsp;&thinsp;dormitories",
            'Лю Юаньчжи', 'аспирант 2-ого курса учебно-научного центра &laquo;Искусственный интеллект&raquo;, Институт Радиоэлектроники и&nbsp;информационных технологий&nbsp;&mdash; РТФ, Уральский федеральный университет имени первого Президента России Б.Н. Ельцина, г. Екатеринбург, Россия',
            "Liu Yuanzhi", "postgraduate student 2nd year, Department of Artificial Intelligence, Institute of Radioelectronics and Information Technologies&nbsp;&mdash; RTF, Ural Federal University named after the First President of Russia B.N. Yeltsin, Yekaterinburg, Russia",
            "liuliu18845790183@163.com",
            'Борисов Василий Ильич', 'канд. тех. наук, доцент, доцент учебно-научного центра &laquo;Искусственный интеллект&raquo;, Институт Радиоэлектроники и&nbsp;информационных технологий&nbsp;&mdash; РТФ, Уральский федеральный университет имени первого Президента России Б.Н. Ельцина, г. Екатеринбург, Россия',
            "Vasilii I. Borisov", "Candidate of Sciences (Engineering), Associate Professor at the Department of Artificial Intelligence, Institute of Radioelectronics and Information Technologies&nbsp;&mdash; RTF, Ural Federal University named after the First President of Russia B.N. Yeltsin, Yekaterinburg, Russia",
            "v.i.borisov@urfu.ru",
            'Статья посвящена разработке и&nbsp;внедрению информационной системы распределения иностранных слушателей подготовительного отделения по&nbsp;местам проживания в&nbsp;общежитиях университета. Методы исследования включали анализ нормативных документов и&nbsp;практик работы с&nbsp;иностранными студентами, моделирование многокритериальной задачи распределения, интервьюирование сотрудников университета и&nbsp;анкетирование обучающихся. Предложенная система способствует формированию благоприятной адаптационной среды, поддерживает межкультурное взаимодействие и&nbsp;улучшает качество образовательного опыта иностранных студентов.',
            'The article is devoted to the development and implementation of an information system for allocating foreign students of the preparatory department to dormitories at the university. The research methods included an analysis of regulatory documents and practices for working with foreign students, modeling a multi-criteria allocation task, interviewing university staff, and conducting questionnaires with students. The proposed system contributes to the creation of a favorable adaptation environment, supports intercultural interaction, and improves the quality of educational experience for foreign students.',
            "автоматизация процесса заселения, иностранные студенты, интернационализация образования, общежития, цифровая трансформация студенческой среды, адаптация иностранных студентов, кампусная среда",
            "automation of the check-in process, international students, internationalization of education, dormitories, digital transformation of the student environment, adaptation of international students, campus environment")

         +article_text( '70-4-3', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'Анализ государственных информационных ресурсов в&nbsp;&thinsp;рамках преподавания дисциплины &laquo;Информатика&raquo;',
            "Analysis of&nbsp;&thinsp;state information resources as&nbsp;&thinsp;part of&nbsp;&thinsp;the&nbsp;&thinsp;informatics discipline",
            'Морсакова Юлия Владимировна', 'доцент кафедры экономической безопасности, кандидат физико-математических наук, доцент, Рязанский филиал Московского Ордена Почета университета МВД России имени В.Я. Кикотя, г. Рязань',
            "Yulia V. Morsakova", "associate Professor of the Department of economic security, candidate of physical and mathematical Sciences, associate Professor, Ryazan branch of the Moscow Order of Honor University of the Ministry of Internal Affairs of Russia named after V. Ya. Kikot, Ryazan",
            "jykos@mail.ru",
            'В статье рассматривается процесс анализа государственных информационных ресурсов с&nbsp;целью подтверждения важности развития компетенции поиска информации с&nbsp;использованием информационно-коммуникационных технологий.<br><br>Неотъемлемой частью информационно-технологической компетентности становится понимание основных принципов эксплуатации типовых информационных технологий, умение работать с&nbsp;большими массивами информации, владение началами анализа информации на&nbsp;персональном компьютере, навыки работы в&nbsp;информационных системах, способность создания субъективно-личностных направлений реализации полученных в&nbsp;процессе обучения знаний и&nbsp;умений.<br><br>',
            'The article examines the process of analyzing state information resources in order to confirm the importance of developing the competence of searching for information using information and communication technologies.<br><br>An integral part of information and technological competence is the understanding of the basic principles of using standard information technologies, the ability to work with large amounts of information, the ability to analyze information on a personal computer, the ability to work in information systems, and the ability to create subjective and personal directions for implementing the knowledge and skills acquired during the learning process.<br><br>',
            "информация, государственные информационные ресурсы, информационное общество, анализ информации, информационные системы",
            "information, public information resources, information society, information analysis, information systems")

         +article_text-4( '70-4-4', 'Управление в&nbsp;организационных системах', 'Научная',
            'Программный инструмент для&nbsp;&thinsp;подготовки и&nbsp;&thinsp;организации компьютерного тестирования',
            "A software tool for&nbsp;&thinsp;preparing and&nbsp;&thinsp;organizing computer-based testing",
            'Безруков Алексей Иосифович', 'кандидат экономических наук, доцент кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo; Саратовского государственного технического университета имени Гагарина Ю.А.',
            "Aleksey I. Bezrukov", "PhD (Economics), Associate Professor, Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "bezr_Alex@mail.ru",
            'Вагарина Наталия Сергеевна', 'кандидат физико-математических наук, доцент кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo; Саратовского государственного технического университета имени Гагарина Ю.А.',
            "Natalia S. Vagarina", "PhD (Physics and Mathematics), Associate Professor, Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "v-n-s@yandex.ru",
            'Сиренко Вадим Сергеевич', 'студент, Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Vadim S. Sirenko", "Student, Yuri Gagarin State Technical University of Saratov",
            "sirenko_vadim@mail.ru",
            'Китаев Андрей Дмитриевич', 'студент, Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Andrey D. Kitaev", "Student, Yuri Gagarin State Technical University of Saratov",
            "andrejkitaev923@gmail.com",
            'Банки тестовых заданий существующих систем компьютерного тестирования накопили большое количество хорошо продуманных и&nbsp;апробированных на&nbsp;практике заданий, позволяющих оценить уровень подготовленности испытуемых по&nbsp;разным дисциплинам и&nbsp;темам. В&nbsp;случае использования этих банков основная трудоемкость при&nbsp;подготовке тестов связана с&nbsp;подбором в&nbsp;тест требуемых заданий, балансировкой заданий по&nbsp;тематике и&nbsp;трудности, не&nbsp;также с&nbsp;выбором рейтинговой шкалы, по&nbsp;которой будут выставляться оценки испытуемым.<br><br>В&nbsp;статье предлагается методика и&nbsp;программный инструмент, позволяющий сократить трудоемкость перечисленных работ и&nbsp;подготовить тесты с&nbsp;учетом целей и&nbsp;обстоятельств тестирования, обеспечивающие высокую достоверность результатов тестирования.<br><br>',
            "The test banks of existing computer-based testing systems have accumulated a large number of well-designed and field-tested tasks, allowing for assessing test-takers' proficiency in various disciplines and topics. When using these banks, the main labor-intensive aspects of test preparation involve selecting the required tasks, balancing the topics and difficulty of the tasks, and selecting the rating scale for assessing test-takers.<br><br>This article proposes a methodology and software tool that can reduce the labor-intensive nature of these tasks and prepare tests tailored to the objectives and circumstances of testing, ensuring high reliability of test results.<br><br>",
            "компьютерное тестирование, формирование теста из существующих заданий, балансировка заданий по&nbsp;тематике и&nbsp;трудности, качество теста, имитация компьютерного тестирования",
            "computer testing, test creation from existing tasks, balancing tasks by topic and difficulty, test quality, simulation of computer testing")


