.archive__journal.active_journal#journal_65
   h3.journal__number
      span Выпуск &#8470;
      span 1 (65)
   .journal__date январь 2025
   .journal__remember( data-modal='remember_65' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Государственная политика в&nbsp;области информатизации в&nbsp;образовании и&nbsp;науке
            +article( '65-1-1', 'Особенности электронного документооборота в&nbsp;сфере государственного управления', 'Малахова Н.В.' )

         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '65-2-1', 'К&nbsp;вопросу об&nbsp;актуальности персонализации виртуальной реальности в&nbsp;образовании', 'Горобинский Л.В., Горобинская Ю.А.' )
            +article( '65-2-2', 'Создание цифровой среды образовательной организации на&nbsp;основе стандартов', 'Сутягин М.В., Сутягин А.М' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '65-3-1', 'Модель информационно-технологического обеспечения подготовки специалистов по&nbsp;землеустройству', 'Рудинский И.Д., Ли О.Ю.' )
            +article( '65-3-2', 'Устойчивость распределенных систем автоматического управления в&nbsp;контексте запаздывания сигналов в&nbsp;сетевой компоненте', 'Туманов М.П.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '64-4-1', 'Формирование навыков использования алгоритмов машинного обучения у&nbsp;специалистов по&nbsp;информационной безопасности', 'Сидоренко В.Г., Логинова Л.Н., Кулагин М.А., Нианг П.М.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '65-5-1', 'Прогнозирование образовательных результатов и&nbsp;перспективы использования инструментов искусственного интеллекта', 'Бечиев Ш. Ш., Федорчук Ю.М.')
            +article( '65-5-2', 'Использование систем генеративного искусственного интеллекта СhatGPT при&nbsp;написании научных статей', 'Гельман В.Я.')
            +article( '65-5-3', 'Инструменты конструирования тестов в&nbsp;современной системе компьютерного тестирования', 'Безруков А.И., Гусятников В.Н., Сиренко В.С.')
            +article( '65-5-4', 'Выбор порядка цифрового фильтра Гильберта для&nbsp;распознавания сигналов', 'Герасимова В.И., Краснов А.Е.')

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '65-6-1', 'Профессиональная устойчивость как&nbsp;ключевая характеристика выпускника среднего профессионального образования с&nbsp;учетом развития технологий генеративного искусственного интеллекта', 'Табатадзе Л.М.')
            +article( '65-6-2', 'Реализация принципа наглядности при&nbsp;обучении технологии учащихся средней школы в&nbsp;условиях цифровизации образования', 'Смирнов А.А.')
            +article( '65-6-3', 'О&nbsp;физическом модуле, использующем нейросеть для&nbsp;подбора рецептов', 'Гурьянова Т.В., Черноокий Д.И., Гурьянов Д.В., Михейков Е.Н.')


      section.journal__articles
         +article_text( '65-1-1', 'Государственная политика в&nbsp;области информатизации в&nbsp;образовании и&nbsp;науке', 'Обзорная',
            'Особенности электронного документооборота в&nbsp;&thinsp;сфере государственного управления',
            "Features of&nbsp;&thinsp;electronic document management in&nbsp;&thinsp;the&nbsp;&thinsp;field of&nbsp;&thinsp;public administration",
            'Малахова Наталья Владимировна', 'кандидат юридических наук, доцент Московского университета МВД России имени В.Я. Кикотя',
            "Nataliya V. Malakhova", "Candidate of juridical sciences, assistant professor of Moscow University of Ministry of Internal Affairs of Russia",
            "nv_malakhova@mail.ru",
            'В&nbsp;статье рассматриваются вопросы организации электронного документооборота в&nbsp;органах государственного управления. Обозначается наличие проблемы правового регулирования использования информационных технологий субъектами государственной власти, отмечается необходимость формирования адекватной правовой основы для сферы юридически значимого электронного документооборота и&nbsp;обеспечения его безопасности.',
            'The article discusses the&nbsp;issues of the&nbsp;organization of electronic document management in public administration bodies. The&nbsp;existence of the&nbsp;problem of legal regulation of the&nbsp;use of information technologies by subjects of state power is indicated, the&nbsp;need for the&nbsp;formation of an adequate legal framework for the&nbsp;sphere of legally significant electronic document management and ensuring its security is noted.',
            "электронный документооборот, документационное обеспечение управления, информационно-коммуникационные технологии, законодательное обеспечение, нормативный правовой акт, информационная безопасность",
            "electronic document flow, management documentation support, information and communication technologies, legislative support, regulatory legal act, information security")




         +article_text-2( '65-2-1', 'Цифровая трансформация', 'Обзорная',
            'К&nbsp;&thinsp;вопросу об&nbsp;&thinsp;актуальности персонализации виртуальной реальности в&nbsp;&thinsp;образовании',
            "On&nbsp;&thinsp;the&nbsp;&thinsp;issue of&nbsp;&thinsp;the&nbsp;&thinsp;relevance of&nbsp;&thinsp;virtual personalization realities in&nbsp;&thinsp;education",
            'Горобинский Леонид Викторович', 'доцент, &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;, Москва',
            "Leonid V. Gorobinskiy", "Docent, MIREA&nbsp;&mdash; Russian technological university, Moscow",
            "gorobinskiy@mirea.ru",
            'Горобинская Юлия Александровна', 'учитель-дефектолог, ГБОУ города Москвы &laquo;Западный комплекс непрерывного образования&raquo;',
            "Iulia A. Gorobinskaia", "Teacher-defectologist, SBGEI of the&nbsp;City of Moscow &laquo;Western Complex of Continuing Education&raquo;",
            "&mdash;",
            'Виртуальная реальность предоставляет учащимся полезный и&nbsp;увлекательный опыт. Она открывает новые возможности, так как преодолела технические барьеры, которые ранее мешали ей получить широкое признание среди исследователей и&nbsp;потребителей.<br><br>Иммерсивная виртуальная реальность благодаря своим техническим возможностям мотивирует преподавателей переходитьот&nbsp;компьютеров к шлемам виртуальной реальности. Одним из&nbsp;ограничивающих успешность обучения факторов является недостаточная настраиваемость персонализации обучения.<br><br> В&nbsp;статье приведены способы обучения под обучаемого, повышая тем самым его мотивацию и&nbsp;результативность.<br><br>',
            'Virtual reality provides students with a&nbsp;useful and exciting experience. It opens up new opportunities, as it has overcome technical barriers that previously prevented it from gaining widespread recognition among researchers and consumers.<br><br>Immersive virtual reality, thanksto&nbsp;its technical capabilities, motivates teachersto&nbsp;move from computersto&nbsp;virtual reality helmets. One of the&nbsp;factors limiting the&nbsp;success of learning is the&nbsp;lack of customization of learning personalization.<br><br>The article presents ways of learning for the&nbsp;learner, thereby increasing his motivation and effectiveness.',
            "иммерсивные технологии в&nbsp;образовании, виртуальная учебная среда, виртуальная реальность учебной среды",
            "immersive technologies in education, virtual learning environment, virtual reality learning environment")

         +article_text-2( '65-2-2', 'Цифровая трансформация', 'Обзорная',
            'Создание цифровой среды образовательной организации на&nbsp;&thinsp;основе стандартов',
            "Creation of&nbsp;&thinsp;a&nbsp;&thinsp;digital environment of&nbsp;&thinsp;an&nbsp;&thinsp;educational organization based on&nbsp;&thinsp;standards",
            'Сутягин Максим Валерьевич', 'к.т.н. заместитель директора &ndash; начальник отдела управления информационно-образовательной средой, Филиал &laquo;Газпром корпоративный институт&raquo; в&nbsp;Москве',
            "Maxim V. Sutyagin", "Deputy Director &ndash; head of information and educational environment management Department, Gazprom Corporate Institute Moscow Brunch",
            "M.Sutiagin@institute.gazprom.ru",
            'Сутягин Алексей Максимович', 'магистр МГТУ им. Н.Э. Баумана',
            "Alexey M. Sutyagin", "Master of Bauman Moscow State Technical University",
            "&mdash;",
            'Статья посвящена вопросам создания современной цифровой среды образовательной организации и&nbsp;подготовки кадров для цифровой экономики.<br><br>Анализируются стандарты, которые могут быть включены в&nbsp;профиль требований цифровой информационной среды образовательной организации.<br><br>',
            'The article is devotedto&nbsp;the issues of creating a&nbsp;modern digital environment for an educational organization and training personnel for the&nbsp;digital economy.<br><br>Standards that can be included in the&nbsp;profile of requirements for the&nbsp;digital information environment of an educational organization are analyzed.',
            "цифровая информационно-образовательная среда, профиль требований, управление, информационный обмен",
            "digital information and educational environment, requirements profile, management, information exchange")




         +article_text-2( '65-3-1', 'Информационные технологии', 'Научная',
            'Модель информационно-технологического обеспечения подготовки специалистов по&nbsp;&thinsp;землеустройству',
            "Information support model for&nbsp;&thinsp;specialists in&nbsp;&thinsp;land management",
            'Рудинский Игорь Давидович', 'профессор, доктор педагогических наук, кандидат технических наук, Калининградский государственный технический университет ',
            "Igor D. Rudinsky", "Professor, Doctor of Pedagogical Sciences, Candidate of Technical Sciences, Kaliningrad State Technical University",
            "idru@yandex.ru",
            'Ли Оксана Юрьевна', 'старший преподаватель Образовательно-научного кластера &laquo;Институт высоких технологий&raquo;, Балтийский федеральный университет имени Иммануила Канта',
            "Oksana Yu. Li", "Senior lecturer of the&nbsp;Educational and Scientific cluster &laquo;Institute of High Technologies&raquo;, Immanuel Kant Baltic Federal University",
            "okaplife.39@gmail.com",
            'В&nbsp;статье рассматривается проблематика разработки модели информационно-технологического обеспечения подготовки специалистов по&nbsp;землеустройству, направленной на формирование и&nbsp;развитие профессиональных компетенций, включая ПК-5 &laquo;Способен проводить исследования, делать анализ, предложения по&nbsp;совершенствованию землеустроительных и&nbsp;кадастровых работ&raquo;.<br><br>Обсуждаются информационные системы, методы и&nbsp;технологии для анализа, управления и&nbsp;обработки данных о&nbsp;земельных ресурсах. Анализируется эффективность этих инструментов и&nbsp;их соответствие образовательным стандартам Российской Федерации.<br><br>',
            'The article addresses the&nbsp;issues relatedto&nbsp;developing a&nbsp;model of information and technology support for training land management specialists, aimed at fostering and enhancing professional competencies, including PC-5: &laquo;The abilityto&nbsp;conduct research, perform analysis, and make recommendations for improving land management and cadastral operations&raquo;.<br><br>Information systems, methods, and technologies for analyzing, managing, and processing land resource data are discussed.<br><br>The effectiveness of these tools and their alignment with the&nbsp;educational standards of the&nbsp;Russian Federation are analyzed.<br><br>',
            "геоинформационные системы, землеустройство, кадастр, анализ данных, автоматизированное проектирование, обработка данных, пространственные данные",
            "geographic information systems, land management, cadastre, data analysis, automated design, data processing, spatial data")

         +article_text( '65-3-2', 'Информационные технологии', 'Научная',
            'Устойчивость распределенных систем автоматического управления в&nbsp;&thinsp;контексте запаздывания сигналов в&nbsp;&thinsp;сетевой компоненте',
            "Stability of&nbsp;&thinsp;distributed automatic control systems in&nbsp;&thinsp;the&nbsp;&thinsp;context of&nbsp;&thinsp;signal lag in&nbsp;&thinsp;the&nbsp;&thinsp;network component",
            'Туманов Михаил Петрович', 'профессор, НИУ ВШЭ, МИЭМ',
            "Mikhail P. Tumanov", "Professor, NRU HSE, MIEM",
            "miketum@mail.ru",
            'В&nbsp;статье рассмотрены вопросы устойчивости распределенных систем автоматического управления и&nbsp;запаздывания сигналов в&nbsp;виртуальном сетевом пространстве.<br><br>Рассмотрены типовые характеристические уравнения и&nbsp;вычислены их корни в&nbsp;зависимостиот&nbsp;запаздывания. Результаты вычислений подтверждены моделированием в&nbsp;среде Matlab.<br><br>',
            'The article discusses the&nbsp;issues of stability of distributed automatic control systems and signal lag in the&nbsp;virtual network space. Typical characteristic equations are considered and their roots are calculated depending on the&nbsp;delay<br><br>The results of the&nbsp;calculations are confirmed by modeling in the&nbsp;Matlab environment.<br><br>',
            "распределённая система управления; запаздывание, компенсация",
            "distributed control system; delay compensation")




         +article_text-4( '65-4-1', 'Государственная политика в&nbsp;области информатизации в&nbsp;образовании и&nbsp;науке', 'Научная',
            'Формирование навыков использования алгоритмов машинного обучения у&nbsp;&thinsp;специалистов по&nbsp;информационной безопасности',
            "Formation of&nbsp;&thinsp;skills in&nbsp;&thinsp;using machine learning algorithms for&nbsp;&thinsp;information security specialists",
            'Сидоренко Валентина Геннадьевна', 'доктор технических наук, профессор, профессор кафедры &laquo;Управление и&nbsp;защита информации&raquo;; федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Valentina G. Sidorenko", "Professor of Department &laquo;Control and Information Security&raquo;, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "valenfalk@mail.ru",
            'Логинова Людмила Николаевна', 'кандидат технических наук, доцент, доцент кафедры &laquo;Управление и&nbsp;защита информации&raquo;; федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Loginova N. Ludmila", "Associate Professor of Department &laquo;Control and Information Security&raquo;, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "ludmilanv@mail.ru",
            'Кулагин Максим Алексеевич', 'кандидат технических наук, начальник центра искусственного интеллекта, АО &laquo;ВНИИЖТ&raquo;, доцент кафедры &laquo;Управление и&nbsp;защита информации&raquo;; федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Maksim A. Kulagin", "Head of the&nbsp;Artificial Intelligence Center, JSC &laquo;VNIIZHT&raquo;, Associate Professor of Department &laquo;Control and Information Security&raquo;, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "maksimkulagin06@yandex.ru",
            'Нианг Папа Малик', 'аспирант, федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Papa M. Niang", "Post Graduated Student, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "malickdiarra30@gmail.com",
            'В&nbsp;статье рассказывается об&nbsp;использовании среды Jupyter Lab для развития навыков реализации методов машинного обучения у специалистов по&nbsp;информационной безопасности.<br><br>Результаты дают представление о&nbsp;том, как среда Jupyter Lab может стать эффективным инструментом развития навыков специалистов по&nbsp;информационной безопасности, позволяя им выполнять анализ данных, разрабатывать и&nbsp;тестировать алгоритмы и&nbsp;модели, а&nbsp;также автоматизировать рутинные задачи по&nbsp;обеспечению безопасности.<br><br>В&nbsp;качестве примера приведен анализ результатов решения задач бинарной и&nbsp;многоклассовой классификации вторжений в&nbsp;сетевой трафик с&nbsp;использованием набора данных UNSW-NB15.<br><br>',
            'The article discusses the&nbsp;use of the&nbsp;Jupyter Lab environmentto&nbsp;develop skills in using machine learning algorithms among information security specialists.<br><br>The results provide insights into how the&nbsp;Jupyter Lab environment can be an effective tool for developing the&nbsp;skills of information security professionals, enabling themto&nbsp;perform data analysis, develop and test algorithms and models, and automate routine security tasks.<br><br>As an example, an analysis of the&nbsp;results of solving problems of binary and multi-class classification of intrusions into network traffic using the&nbsp;UNSW-NB15 dataset is given.<br><br>',
            "информационная безопасность, искусственный интеллект, Jupyter Lab, машинное обучение, специалисты по&nbsp;информационной безопасности, классификация, атаки",
            "information security, artificial intelligence, Jupyter Lab, machine learning, information security specialists, classification, attacks")






         +article_text-2( '65-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Обзорная',
            'Прогнозирование образовательных результатов и&nbsp;&thinsp;перспективы использования инструментов искусственного интеллекта ',
            "Forecasting educational outcomes and&nbsp;&thinsp;prospects for&nbsp;&thinsp;using artificial intelligence tools",
            'Бечиев Шахруди Шагидович', 'к.э.н., начальник отдела организации научной деятельности, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва',
            "Shakhrudi Sh. Bechiev", "Candidate of Economics, Head of the&nbsp;Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "sh.bechiev@ficto.ru",
            'Федорчук Юлия Михайловна', 'д.э.н., главный научный сотрудник отдела организации научной деятельности, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва',
            "Yulia M. Fedorchuk", "Doctor of Economics, chief researcher Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "yu.fedorchuk@ficto.ru",
            'Статья посвящена анализу нового направления доказательного образования&nbsp;&mdash; прогнозированию образовательных результатов, которая стала возможной с&nbsp;развитием инструментов искусственного интеллекта.<br><i class="i">&bull;</i>Рассмотрена проблематика прогнозирования образовательных результатов в&nbsp;ретроспективе, современное состояние, аналитика отечественных и&nbsp;международных исследований, потенциал данного направления и&nbsp;практическое применение.<br><i class="i">&bull;</i>Проанализировано проблемное поле прогнозирования образовательных результатов с&nbsp;помощью инструментов искусственного интеллекта и&nbsp;предложены способы интеграции подобных решений в&nbsp;систему общего образования.<br><br>',
            'The article is devotedto&nbsp;the analysis of a&nbsp;new direction of evidence-based education&nbsp;&mdash; forecasting educational results, which became possible with the&nbsp;development of artificial intelligence tools.<br><i class="i">&bull;</i>The problems of forecasting educational results in retrospect, the&nbsp;current state, analytics of domestic and international studies, the&nbsp;potential of this direction and practical application are considered.<br><i class="i">&bull;</i>The problematic field of forecasting educational results using artificial intelligence tools is analyzed and ways of integrating such solutions into the&nbsp;general education system are proposed.<br><br>',
            "прогнозирование, искусственный интеллект, образовательные результаты, методология, доказательное образование",
            "forecasting, artificial intelligence, educational outcomes, methodology, evidence-based education")

         +article_text( '65-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Обзорная',
            'Использование систем генеративного искусственного интеллекта СhatGPT при&nbsp;&thinsp;написании научных статей',
            "Using chatgpt generative artificial intelligence systems in&nbsp;&thinsp;writing scientific papers",
            'Гельман Виктор Яковлевич', 'профессор кафедры медицинской информатики и&nbsp;физики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Северо-Западный государственный медицинский университет им. И.И. Мечникова&raquo; Министерства здравоохранения Российской Федерации, Санкт-Петербург ',
            "Viktor Ya. Gelman", "Professor of the&nbsp;Department of Medical Informatics and Physics, North-Western State Medical University named after I.I. Mechnikov Ministry of Health of the&nbsp;Russian Federation, St. Petersburg",
            "Viktor.Gelman@szgmu.ru",
            'В&nbsp;статье анализируются преимущества и&nbsp;проблемы, возникающие из-за использования генеративного искусственного интеллекта, в&nbsp;частности ChatGPT, при написании научных текстов. Методической основой исследования являлся анализ научных публикаций и&nbsp;обобщенный практический опыт применения систем генеративного искусственного интеллекта ChatGPT при написании научных статей.<br><i class="i">&bull;</i>Проанализированы способы написания научных статей с&nbsp;использованием ChatGPT и&nbsp;возникающие при этом особенности работы с&nbsp;системами генеративного искусственного интеллекта.<br><i class="i">&bull;</i>Показано, что ChatGPT&nbsp;&mdash; эффективный справочный и&nbsp;вспомогательный инструмент для написания научных статей, который имеет свои особенности практического применения и&nbsp;определенные риски использования таких систем.<br><br>',
            'The article analyzes the&nbsp;advantages and problems arising from the&nbsp;use of generative artificial intelligence, ChatGPT in particular, in writing scientific texts. The&nbsp;methodological basis of the&nbsp;study was the&nbsp;analysis of scientific publications and generalized practical experience in using ChatGPT generative artificial intelligence systems in writing papers.<br><i class="i">&bull;</i>The methods of writing scientific papers using ChatGPT and the&nbsp;emerging features of working with generative artificial intelligence systems are analyzed.<br><i class="i">&bull;</i>It is shown that ChatGPT is an effective reference and auxiliary tool for writing scientific papers, which has its own features of practical application and certain risks of using such systems.<br><br>',
            "генеративный искусственный интеллект, ChatGPT, проблемы применения, научные статьи",
            "generative artificial intelligence, ChatGPT, application problems, scientific papers")

         +article_text-3( '65-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Инструменты конструирования тестов в&nbsp;&thinsp;современной системе компьютерного тестирования',
            "Test design tools in&nbsp;&thinsp;modern computer testing system",
            'Безруков Алексей Иосифович', 'доцент, Саратовский государственный технический университет им. Гагарина Ю.А.',
            "Alexey I. Bezrukov", "Associate professor, Yuri Gagarin State Technical  University of Saratov",
            "bezr_Alex@mail.ru",
            'Гусятников Виктор Николаевич', 'профессор, Саратовский государственный технический университет им. Гагарина Ю.А.',
            "Victor N. Gusyatnikov", "Professor, Yuri Gagarin State Technical  University of Saratov",
            "victorgsar@rambler.ru",
            'Сиренко Вадим Сергеевич', 'студент, Саратовский государственный технический университет им. Гагарина Ю.А.',
            "Vadim S. Sirenko", "Student, Yuri Gagarin State Technical  University of Saratov",
            "sirenko_vadim@mail.ru",
            'Достоверность и&nbsp;обоснованность решений об&nbsp;уровне подготовленности испытуемых, принимаемых по&nbsp;результатам компьютерного тестирования, существенно зависитот&nbsp;качества тестов.<br><br>Чтобы обеспечить требуемое качество компьютерного теста, методы, обеспечивающие адекватность тестирования и&nbsp;достоверность его результатов, должны быть включены в&nbsp;процесс создания теста.<br><br>В&nbsp;статье рассмотрены инструменты конструирования компьютерных тестов, обеспечивающие требуемое качество процесса тестирования.<br><br>',
            'The reliability and validity of decisions about the&nbsp;level of preparedness of subjects, made based on the&nbsp;results of computer testing, significantly depend on the&nbsp;quality of the&nbsp;tests.<br><br>In orderto&nbsp;ensure the&nbsp;required quality of a&nbsp;computer test, methods that ensure the&nbsp;adequacy of testing and the&nbsp;reliability of its results should be included in the&nbsp;test creation process.<br><br>The article discusses tools for constructing computer tests that ensure the&nbsp;required quality of the&nbsp;testing process.<br><br>',
            "качество компьютерных тестов, IRT, рейтинговая шкала, инструменты создания теста, оценка достоверности результатов тестирования",
            "quality of computer tests, IRT, rating scale, test creation tools, estimation of reliability of test results")

         +article_text-2( '65-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Выбор порядка цифрового фильтра Гильберта для&nbsp;&thinsp;распознавания сигналов',
            "Choosing the&nbsp;order of&nbsp;&thinsp;the&nbsp;&thinsp;digital hilbert filter for&nbsp;&thinsp;signal recognition",
            'Герасимова Виктория Игоревна', 'старший преподаватель кафедры физики и&nbsp;математики Калужского государственного университета им. К.Э.&nbsp;Циолковского',
            "Victoria I. Gerasimowa", "Senior Lecturer at the&nbsp;Department of Physics and Mathematics of Kaluga State University named after K.E. Tsiolkovsky",
            "gerasimowa.victoria@yandex.ru",
            'Краснов Андрей Евгеньевич', 'доктор физико-математических наук, профессор Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Andrey E. Krasnov", "Doctor of Physical and Mathematical Sciences, Professor of the&nbsp;Federal State Budgetary Educational Institution of Higher Education, Russian State Social University",
            "krasnovmgutu@yandex.ru",
            'В&nbsp;статье рассмотрен цифровой фильтр Гильберта, который является важным инструментом в&nbsp;обработке сигналов и&nbsp;находит широкое применение в&nbsp;различных областях науки и&nbsp;техники, включая радиолокацию, телекоммуникации, медицинскую диагностику.<br><br>Вопрос о&nbsp;выборе порядка цифрового фильтра Гильберта остается открытым, и&nbsp;на данный момент нет универсального критерия для определения оптимального порядка фильтра.<br><br>Предложено осуществлять выбор порядка фильтра, основываясь на сравнении гистограмм, которые традиционно используют для описания статистической структуры сигналов.<br><br>',
            'The article discusses the&nbsp;digital Hilbert filter, which is an important tool in signal processing and is widely used in various fields of science and technology, including radar, telecommunications, medical diagnostics.<br><br>The question of choosing the&nbsp;order of the&nbsp;digital Hilbert filter remains open, and at the&nbsp;moment there is no universal criterion for determining the&nbsp;optimal filter order.<br><br>It is proposedto&nbsp;select the&nbsp;filter order based on a&nbsp;comparison of histograms, which are traditionally usedto&nbsp;describe the&nbsp;statistical structure of signals.<br><br>',
            "сигнал, преобразование Гильберта, цифровой фильтр Гильберта, распознавание сигналов, критерий типа Колмогорова-Смирнова",
            "signal, Hilbert transform, Hilbert digital filter, signal recognition, type Kolmogorov-Smirnov criterion")





         +article_text( '65-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Профессиональная устойчивость как&nbsp;&thinsp;ключевая характеристика выпускника среднего профессионального образования с&nbsp;&thinsp;учетом развития технологий генеративного искусственного интеллекта',
            "Professional stability as&nbsp;&thinsp;a&nbsp;&thinsp;key characteristic of&nbsp;&thinsp;a&nbsp;&thinsp;graduate of&nbsp;&thinsp;secondary vocational education, taking into account the&nbsp;&thinsp;development of&nbsp;&thinsp;generative artificial intelligence technologies",
            'Табатадзе Лиана Мурмановна', 'канд. пед. наук, директор ГБПОУ Московский техникум креативных индустрий им. Л.Б.&nbsp;Красина, г. Москва',
            "Liana M. Tabatadze", "Candidate of Pedagogical Sciences, Director of Moscow College of Creative Industries named after L.B. Krasin, Moscow",
            "TabatadzeLM@edu.mos.ru",
            'В&nbsp;статье рассматривается понятие профессиональной устойчивости как ключевой характеристики выпускника среднего профессионального образования (СПО) в&nbsp;условиях быстро меняющегося рынка труда и&nbsp;технологий.<br><br>Автором выделены три основных фактора, воздействующие на подготовку кадров в&nbsp;долгосрочном контексте:<br><br><i class="i">&bull;</i>скорость развития технологий,<br><i class="i">&bull;</i>влияние генеративного искусственного интеллекта<br><i class="i">&bull;</i>необходимость воспитания личности будущего профессионала<br><br>В&nbsp;качестве решения предлагается смещение фокуса профессионального образования с&nbsp;формирования компетенций на развитие профессиональной устойчивости, что позволит выпускникам  более эффективно адаптироваться к изменениям в&nbsp;профессиональной среде.<br><br>',
            'The article examines the&nbsp;concept of professional stability as a&nbsp;key characteristic of a&nbsp;graduate of secondary vocational education (SPE) in a&nbsp;rapidly changing labor market and technology.<br><br>The author identifies three main factors affecting personnel training in a&nbsp;long-term context:<br><br><i class="i">&bull;</i>the speed of technology development<br><i class="i">&bull;</i>the influence of generative artificial intelligence<br><i class="i">&bull;</i>the needto&nbsp;educate the&nbsp;personality of a&nbsp;future professional<br><br>As a&nbsp;solution, it is proposedto&nbsp;shift the&nbsp;focus of vocational education from the&nbsp;formation of competenciesto&nbsp;the development of professional stability, which will allow graduatesto&nbsp;adapt more effectivelyto&nbsp;changes in the&nbsp;professional environment.<br><br>',
            "профессиональная устойчивость, среднее профессиональное образование, адаптация, компетенции, генеративный искусственный интеллект, рынок труда, трудоустройство",
            "professional stability, secondary vocational education, adaptation, competencies, generative artificial intelligence, labor market, employment")

         +article_text( '65-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Реализация принципа наглядности при&nbsp;&thinsp;обучении технологии учащихся средней школы в&nbsp;&thinsp;условиях цифровизации образования',
            "Implementation of&nbsp;&thinsp;the&nbsp;&thinsp;principle of&nbsp;&thinsp;visualization in&nbsp;&thinsp;teaching technology to&nbsp;&thinsp;secondary school students in&nbsp;&thinsp;the&nbsp;&thinsp;context of&nbsp;&thinsp;digitalization of&nbsp;&thinsp;education",
            'Смирнов Алексей Алексеевич', 'аспирант 3 курса Московского педагогического государственного университета, кафедра теории и&nbsp;методики обучения и&nbsp;воспитания',
            "Aleksey A. Smirnov", "PhD student of the&nbsp;Moscow State Pedagogical University, Department of Theory and Methods of Teaching and Education",
            "alexsmirnov1997@mail.ru",
            'В&nbsp;статье рассматривается исследование, в&nbsp;ходе которого была разработана методика преподавания черчения с&nbsp;применением технологии дополненной реальности.<br><br>В&nbsp;результате применения данной технологии в&nbsp;методике выявлено повышение уровня наглядности и&nbsp;вовлечённости учащихся в&nbsp;процесс обучения.<br><br>',
            'The article discusses a&nbsp;study in which a&nbsp;methodology for teaching drawing was developed using augmented reality technology.<br><br>As a&nbsp;result of using this technology in the&nbsp;methodology, an increase in the&nbsp;level of clarity and involvement of students in the&nbsp;learning process was revealed.<br><br>',
            "дополненная реальность, наглядность, принцип наглядности, цифровизация",
            "augmented reality, visualization, visualization principle, digitalization")

         +article_text-4( '65-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'О&nbsp;&thinsp;физическом модуле, использующем нейросеть для&nbsp;&thinsp;подбора рецептов',
            "About a&nbsp;physical module that uses a&nbsp;neural networkto&nbsp;select recipes",
            'Гурьянова Татьяна Владимировна', 'главный специалист по&nbsp;образовательному процессу (информационные технологии, ООО&nbsp;&laquo;СофтКлуб&nbsp;&mdash; центр разработки&raquo; ',
            "Tatiana V. Gourianova", "Chief Specialist in the&nbsp;educational process (information technology, SoftClub Development Center LLC",
            "tatiana.gourianova@softclub.by",
            'Черноокий Дмитрий Игоревич', 'третий курс бакалавриата, Белорусский Государственный Университет',
            "Dmitry I. Chernookiy", "Third year of Bachelor's degree, Belarusian State University",
            "cernookijdima7@gmail.com",
            'Гурьянов Даниил Владимирович', 'четвертый курс бакалавриата Европейского гуманитарного университета',
            "Daniil V. Gourianov", "Fourth year of the&nbsp;Bachelor's degree at the&nbsp;European University of the&nbsp;Humanities",
            "Gourianov.Daniil@student.ehu.lt",
            'Михейков Егор Николаевич', 'третий курс бакалавриата, Белорусский Государственный Университет ',
            "Egor N. Mikheikov", "third year of Bachelor's degree, Belarusian State University",
            "mikheikovegor@gmail.com",
            'В&nbsp;публикации описывается проект &laquo;Умная Кухня&raquo;, представляющий собой физический модуль, который взаимодействует с&nbsp;имеющейся в&nbsp;наличии линейкой умного дома, помогает подбирать рецепты и&nbsp;проверяет возможность приготовления того или иного блюда, проверяя наличие продуктов и&nbsp;кухонного оборудования каждого отдельного пользователя.<br><br>Проект из&nbsp;учебногосо&nbsp;временем перерос в&nbsp;коммерческий, поэтому представляет практический интерес для системы высшего образования и&nbsp;решает вопросы профессиональной адаптации:от&nbsp;студентов до сотрудников IT-компаний.<br><br>',
            'The publication describes the&nbsp;Smart Kitchen project, which is a&nbsp;physical module that interacts with the&nbsp;available smart home line, helps select recipes and checks the&nbsp;possibility of cooking a&nbsp;particular dish, checking the&nbsp;availability of products and kitchen equipment for each individual user.<br><br>The project has grown from an educational oneto&nbsp;a commercial one over time, therefore it is of practical interestto&nbsp;the higher education system and solves issues of professional adaptation: from studentsto&nbsp;employees of IT companies.<br><br>',
            "умный дом, проектное обучение, решения собственной разработки",
            "smart home, project training, self-developed solutions")


