.archive__journal#journal_67
   h3.journal__number
      span Выпуск &#8470;
      span 3 (67)
   .journal__date июль 2025
   .journal__remember( data-modal='remember_67' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '67-1-1', 'Цифровизация и&nbsp;цифровая трансформация высшего образования: этапы и&nbsp;технологические особенности', 'Колесникова А.Ю., Едынак И.В.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '67-2-1', 'Преподавание информационных систем: обеспечение самостоятельности при&nbsp;удалённом обучении электронным таблицам', 'Сибаров К.Д., Яковлева Н.А., Коробов Н.В.' )
            +article( '67-2-2', 'Формирование компетенции работы с&nbsp;открытым исходным кодом у&nbsp;будущих инженеров', 'Минакова О.В., Курипта О.В.' )
            +article( '67-2-3', 'Реализация классических методов обнаружения выбросов в&nbsp;данных на&nbsp;Python', 'Соколова Ю.С.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '67-3-1', 'Использование средств разработки для&nbsp;микроконтроллеров STM32 при подготовке специалистов в&nbsp;области управления в&nbsp;технических системах', 'Сидоренко В.Г., Новиков В.Г.' )
            +article( '67-3-2', 'Моделирование влияния запаздывания на&nbsp;замкнутые автоматические системы и&nbsp;динамику трёхмерной задачи 3-х тел', 'Туманов М.П., Монахова С.Д.' )
            +article( '67-3-3', 'Автоматизация инвариантного распознавания изображений на&nbsp;основе волновой свёрточной сети', 'Головкин М.Е.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '67-4-1', 'Оценивание состояний систем с&nbsp;помощью нейросетевого агрегирования их показателей', 'Краснов А.Е., Феоктистова Н.А., Сагинов Ю.Л.' )
            +article( '67-4-2', 'Сферический маятник. Малые колебания приведенной системы. Численно-аналитическое исследование', 'Сутягин А.М.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '67-5-1', 'Современное образование и&nbsp;искусственный интеллект', 'Сердюков В.И., Сердюкова Н.А., Сафонова С.В., Шишкина С.И.' )
            +article( '67-5-2', 'Реализации проектов научных центров мирового уровня с&nbsp;использованием и&nbsp;развитием технологий искусственного интеллекта', 'Белов Ф.Д., Зволинская О.В., Гутковская Е.А., Клубникина М.Э.' )

         .journal__section
            .journal__section_title Дайджест
            +article( '67-6-1', 'Публикаций научно-методического журнала &laquo;Информатизация образования и&nbsp;науки&raquo; за&nbsp;январь 2024 год&nbsp;&ndash; апрель 2025', 'Миронов В.В., Куракин Д.В.' )


      section.journal__articles

         +article_text-2( '67-1-1', 'Цифровая трансформация', 'Научная',
            'Цифровизация и&nbsp;&thinsp;цифровая трансформация высшего образования: этапы и&nbsp;&thinsp;технологические особенности',
            "Digitalization and digital transformation of&nbsp;&thinsp;higher education: stages and&nbsp;&thinsp;technological features",
            'Колесникова Арина Юрьевна', 'преподаватель кафедры информационного и&nbsp;технического обеспечения органов внутренних дел, Федеральное государственное казенное образовательное учреждение высшего образования &laquo;Дальневосточный юридический институт Министерства внутренних дел Российской Федерации имени И.Ф. Шилова',
            "Arina Yu. Kolesnikova", "Lecturer of the Department of Information and Technical Support of Internal Affairs Bodies, Federal State-funded Educational Institution of Higher Education “Far Eastern Law Institute of the Ministry of Internal Affairs of Russia named after I.F. Shilov”",
            "arina_moisei@mail.ru",
            'Едынак Игорь Викторович', 'старший преподаватель кафедры информационного и&nbsp;технического обеспечения органов внутренних дел, Федеральное государственное казенное образовательное учреждение высшего образования &laquo;Дальневосточный юридический институт Министерства внутренних дел Российской Федерации имени И.Ф. Шилова',
            "Igor V. Edynak", "Senior Lecturer of the Department of Information and Technical Support of Internal Affairs Bodies, Federal State-funded Educational Institution of Higher Education “Far Eastern Law Institute of the Ministry of Internal Affairs of Russia named after I.F. Shilov”",
            "edinak_iv@mail.ru",
            'В статье рассматриваются теоретические подходы к&nbsp;разграничению понятий цифровизации и&nbsp;цифровой трансформации, выделяются этапы на пути к&nbsp;цифровой трансформации, начиная с&nbsp;первоначальной оцифровки данных. Кроме того, представлена характеристика особенностей каждого из этих этапов, а&nbsp;также описаны технологические основы трансформационных процессов в&nbsp;сфере высшего образования.',
            'The article discusses theoretical approaches to distinguishing between the concepts of digitalization and digital transformation, highlights the stages on the path to digital transformation, starting with the initial digitization of data. The second task was to characterize the features of each of these stages, as well as to describe the technological foundations of transformational processes in the field of higher education.',
            "цифровая трансформация, цифровизация, оцифровка, автоматизация, цифровые платформы, высшее образование",
            "digital transformation, higher education, digitalization, digitization, automation, digital platforms")




         +article_text-3( '67-2-1', 'Информационные технологии', 'Научная',
            'Преподавание информационных систем: обеспечение самостоятельности при&nbsp;&thinsp;удалённом обучении электронным таблицам',
            "Teaching of&nbsp;&thinsp;the&nbsp;&thinsp;information systems: ensuring independence in&nbsp;&thinsp;remote learning of&nbsp;&thinsp;spreadsheets",
            'Сибаров Константин Дмитриевич', 'к.т.н., доцент кафедры математики и&nbsp;информатики, Санкт-Петербургский университет МВД России, доцент',
            "Konstantin D. Sibarov", "Candidate of Sciences (Engineering), Associate Professor of the Department of Mathematics and Informatics, St.-Petersburg University of the Russian Interior Ministry, Docent",
            "konstantin_siba@mail.ru",
            'Яковлева Наталья Александровна', 'к.псих.н., начальник кафедры математики и&nbsp;информатики, Санкт-Петербургский университет МВД России, доцент ',
            "Natalia A. Yakovleva", "Candidate of Sciences (Psychology), Head of the Department of Mathematics and Informatics, St.-Petersburg University of the Russian Interior Ministry, Docent",
            "kumirova@mail.ru",
            'Коробов Николай Васильевич', 'к.т.н., доцент кафедры математики и&nbsp;информатики, Санкт-Петербургский университет МВД России, доцент',
            "Nikolaj V. Korobov", "Candidate of Sciences (Engineering), Associate Professor of the Department of Mathematics and Informatics, St.-Petersburg University of the Russian Interior Ministry, Docent",
            "nv-korobov@yandex.ru",
            'Цель разработки и&nbsp;применения специальных предупредительных мер – обеспечение самостоятельности выполнения заданий обучающимися при углублённом освоении электронных таблиц ради сохранения качества образования в&nbsp;условиях удалённого обучения.<br><br>Для выполнения заданий обучающимся выдаются особым образом подготовленные личные рабочие книги, предельно затрудняющие простой перенос формул электронных таблиц из чужих работ, со скрытыми пометками, позволяющими устанавливать места, заимствованные из рабочих книг других обучающихся. Создание личных рабочих книг, а&nbsp;также проверка на наличие заимствований выполняется автоматически.<br><br>Созданные рабочие книги также могут использоваться в&nbsp;удалённом преподавании с&nbsp;использованием электронных таблиц отдельных вопросов построения информационных систем.<br><br>',
            "The purpose of the development and application of special preventive measures is to ensure the independence of students in completing tasks with in–depth study of spreadsheets in order to preserve the quality of education in remote learning.<br><br>To complete the tasks, students are given specially prepared personal workbooks that make it extremely difficult to easily transfer spreadsheet formulas from other people's work, with hidden notes that allow them to insert places borrowed from other students' workbooks. The creation of personal workbooks, as well as checking for borrowings, is performed automatically.<br><br>The created workbooks can also be used in remote teaching using spreadsheets of individual information system construction issues.<br><br>",
            "информационные технологии, защита информации, удалённое обучение, дистанционное образование, электронные таблицы, электронная подпись, стеганография, автоматизация делопроизводства, воспитательная работа",
            "information technology, information security, remote learning, distance education, spreadsheets, electronic signature, steganography, office automation, educational work")

         +article_text-2( '67-2-2', 'Информационные технологии', 'Научная',
            'Формирование компетенции работы с&nbsp;&thinsp;открытым исходным кодом у&nbsp;&thinsp;будущих инженеров',
            "Cultivating open-source skills in&nbsp;&thinsp;future engineers",
            'Минакова Ольга Владимировна', 'кандидат технических наук, доцент Воронежского государственного технического университета',
            "Olga V. Minakova", "Cand. Sc. (Technical), Associate Professor, Voronezh State Technical University",
            "olgmina@gmail.com",
            'Курипта Оксана Валериевна', 'кандидат технических наук, доцент Воронежского государственного технического университета',
            "Oksana V. Kuripta", "Cand. Sc. (Technical), Associate Professor, Voronezh State Technical University",
            "kuripta-okcana@mail.ru",
            'Статья представляет анализ истории и&nbsp;современного состояния открытых программных проектов с&nbsp;точки зрения использования, изменения и&nbsp;создания в&nbsp;образовательной деятельности.<br><i class="i">&bull;</i>Проведено сравнение распространенных в&nbsp;деятельности высших учебных заведений программ с&nbsp;открытым исходным кодом по&nbsp;критериям поддержки и&nbsp;прозрачности процесса разработки.<br><i class="i">&bull;</i>Представлен практический опыт формирования навыков работы со свободным программным обеспечением в&nbsp;рамках преподаваемых дисциплин и&nbsp;деятельности кафедры.<br><i class="i">&bull;</i>Показана необходимость использовать свободное программное обеспечение в&nbsp;образовательном процессе по&nbsp;различным инженерным специальностям – для&nbsp;развития навыков проектирования, управления проектами и&nbsp;конфигурирования программных средств, а&nbsp;также для&nbsp;создания учебных материалов и&nbsp;участия в&nbsp;разработке существующих программных продуктов.<br><i class="i">&bull;</i>Предложена дорожная карта общепрофессиональной компетенции по&nbsp;работе с&nbsp;открытым исходным кодом для&nbsp;будущих инженеров.<br><br>',
            'The article presents an analysis of the history and current state of open source software projects from the point of view of use, modification and creation in educational activities.<br><i class="i">&bull;</i>A comparison of open source programs common in the activities of higher education institutions is carried out according to the criteria of support and transparency of the development process.<br><i class="i">&bull;</i>Practical experience of developing skills in working with free software within the framework of taught disciplines and department activities is presented.<br><i class="i">&bull;</i>The need to use free software in the educational process in various engineering specialties is shown – for developing design skills, project management and software configuration, as well as for creating training materials and participating in the development of existing software products.<br><i class="i">&bull;</i>A roadmap of general professional competence in working with open source code for future engineers is proposed.<br><br>',
            "открытый исходный код, свободное программное обеспечение, документирование программ, управление проектами, инженерное образование",
            "open source code, source, free software, program documentation, project management, engineering education")

         +article_text( '67-2-3', 'Информационные технологии', 'Научная',
            'Реализация классических методов обнаружения выбросов в&nbsp;&thinsp;данных на&nbsp;&thinsp;Python',
            "Implementation of&nbsp;&thinsp;classical methods of&nbsp;&thinsp;outlier detection in&nbsp;&thinsp;data in&nbsp;&thinsp;python",
            'Соколова Юлия Сергеевна', 'кандидат технических наук, доцент, доцент кафедры &laquo;Вычислительная и&nbsp;прикладная математика&raquo;; Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Yulia S. Sokolova", "Candidate of Technical Sciences, Associate Professor, Associate Professor of the Department of Computational and Applied Mathematics; Ryazan State Radio Engineering University named after V.F. Utkin, Ryazan-city",
            "juliasokolova62@yandex.ru",
            'Представлены различные методы обнаружения и&nbsp;устранения выбросов в&nbsp;наборах данных и&nbsp;их реализация на языке Python.<br><br>Методики применимы как для&nbsp;научных исследований, так и&nbsp;для практики обучения студентов по&nbsp;компьютерным специальностям.<br><br>Предлагаются пути совершенствования методик.<br><br>',
            'Various methods for detecting and eliminating outliers in data sets and their implementation in Python are presented.<br><br>The methods are applicable both to scientific research and to the practice of teaching students in computer specialties.<br><br>Ways to improve the methods are also suggested.<br><br>',
            "выбросы данных, методы обнаружения, очистка данных, Python",
            "data outliers, detection methods, data cleaning, Python")



         +article_text-2( '67-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Использование средств разработки для&nbsp;&thinsp;микроконтроллеров STM32 при&nbsp;&thinsp;подготовке специалистов в&nbsp;&thinsp;области управления в&nbsp;&thinsp;технических системах',
            "Use of&nbsp;&thinsp;development tools for stm32 microcontrollers in&nbsp;&thinsp;the&nbsp;&thinsp;training of&nbsp;&thinsp;specialists in&nbsp;&thinsp;the&nbsp;&thinsp;field of&nbsp;&thinsp;control in&nbsp;&thinsp;technical systems",
            'Сидоренко Валентина Геннадьевна', 'доктор технических наук, профессор, профессор кафедры &laquo;Управление и&nbsp;защита информации&raquo;; Федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Valentina G. Sidorenko", "Professor of Department &laquo;Control and Information Security&raquo;, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "valenfalk@mail.ru",
            'Новиков Вячеслав Геннадьевич', 'кандидат технических наук, доцент кафедры &laquo;Управление и&nbsp;защита информации&raquo;; Федеральное государственное автономное образовательное учреждение высшего образования "Российский университет транспорта"',
            "Vyacheslav G. Novikov", "Аssociate Рrofessor of Department &laquo;Control and Information Security&raquo;, Federal State Institution of Higher Education &laquo;Russian University of Transport&raquo;",
            "9268888805@mail.ru",
            'В статье показана необходимость модернизации содержания учебных курсов по&nbsp;изучению микропроцессорных устройств систем управления для&nbsp;отражения современных востребованных на рынке технологий.<br><br>Применение среды разработки STM32Cube и&nbsp;отладочного комплекта STM32F4DISCOVERY дадут учащимися &laquo;быстрый старт&raquo; в&nbsp;освоении таких технологий.<br><br>Рассмотрены примеры, иллюстрирующие преимущества этих средств по&nbsp;сравнению с&nbsp;предыдущими поколениями, их более широкие функциональные возможности и&nbsp;удобство программирования.<br><br>',
            'The article shows the need to modernise the content of training courses on microprocessor-based control system devices to reflect modern technologies in demand in the market.<br><br>Application of STM32Cube development environment and STM32F4DISCOVERY debugging kit will give students a &laquo;quick start&raquo; in mastering such technologies.<br><br>Examples illustrating advantages of these tools in comparison with previous generations, their wider functionality and programming convenience are considered.<br><br>',
            "микроконтроллеры, STM32, ARM, Cortex®-M4 системы управления, программирование, специалисты транспортной отрасли, энергоэффективность, интерфейс",
            "microcontrollers, STM32, ARM, Cortex®-M4 control systems, programming, transport specialists, energy efficiency, interface")

         +article_text-2( '67-3-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Моделирование влияния запаздывания на&nbsp;&thinsp;замкнутые автоматические системы и&nbsp;&thinsp;динамику трёхмерной задачи 3-х тел',
            "Modeling the&nbsp;&thinsp;effect of&nbsp;&thinsp;delay on&nbsp;&thinsp;closed automatic systems and&nbsp;&thinsp;the&nbsp;&thinsp;dynamics of&nbsp;&thinsp;a&nbsp;&thinsp;three-dimensional 3-body problem",
            'Туманов Михаил Петрович', 'доцент МИЭМ НИУ ВШЭ им. Тихонова А.Н.',
            "Mikhail P. Tumanov", "MIEM NRU HSE",
            "miketum@mail.ru",
            'Монахова Софья Дмитриевна', 'студент МИЭМ НИУ ВШЭ им. Тихонова А.Н.',
            "Sofia D. Monakhova", "MIEM NRU HSE",
            "&mdash;",
            'В статье исследованы случаи необычного влияние временного запаздывания на типовые системы автоматизации (системы автоматического управления).<br><br>В статье также проведено сравнение таких систем с&nbsp;консервативными механическими системами. Показано, что в&nbsp;трёхмерной задаче 3-х тел учёт запаздывания при распространении гравитации может привести к&nbsp;неустойчивости системы, потере консервативности, и&nbsp;доказана теорема, что это наверняка происходит при достаточно малых запаздываниях. Результаты вычислений подтверждены моделированием в&nbsp;среде Matlab.<br><br>',
            'The article examines cases of unusual effects of time delay on typical automation systems (automatic control systems).<br><br>The article also compares such systems with conservative mechanical systems. It is shown that in the three-dimensional 3-body problem, taking into account the delay in the propagation of gravity, can lead to instability of the system, loss of conservativeness, and the theorem is proved that this is certain to occur with sufficiently small delays. The calculation results are confirmed by modeling in the Matlab environment.<br><br>',
            "автоматизация, задача трёх тел, запаздывание, консервативная система",
            "automation, three-body problem; time delay, conservative system")

         +article_text( '67-3-3', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Автоматизация инвариантного распознавания изображений на&nbsp;&thinsp;основе волновой свёрточной сети',
            "Automation of&nbsp;&thinsp;invariant image recognition based on&nbsp;&thinsp;a&nbsp;&thinsp;wave convolutional network",
            'Головкин Михаил Евгеньевич', 'старший преподаватель Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
            "Mikhail E. Golovkin", "Senior Lecturer of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "mikhel85@mail.ru",
            'В статье рассмотрены принципы работы волновых свёрточных сетей, а&nbsp;также их сравнение с&nbsp;классическими свёрточными нейронными сетями.<br><br>Данные сети являются наиболее простыми в&nbsp;реализации и&nbsp;эффективными для&nbsp;распознавания изображений, инвариантного к&nbsp;группе аффинных преобразований.<br><i class="i">&bull;</i>Приведено описание топологий сетей, особенностей их функционирования и&nbsp;применения.<br><i class="i">&bull;</i>Показано преимущество волновых свёрточных сетей.<br><br>',
            'The principles of operation of wave convolutional networks, as well as their comparison with classical convolutional neural networks are considered in the article.<br><br>These networks are the simplest to implement and effective for image recognition, invariant to the group of affine transformations.<br><i class="i">&bull;</i>A description of network topologies, features of their functioning and application is given.<br><i class="i">&bull;</i>The advantage of wave convolutional networks is shown.<br><br>',
            "нейросеть, волновая свёрточная сеть, классическая сверточная сеть, изображение, инвариантное распознавание",
            "neural network, wave convolutional network, classical convolutional network, image, invariant recognition")





         +article_text-3( '67-4-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Оценивание состояний систем с&nbsp;&thinsp;помощью нейросетевого агрегирования их показателей',
            "Estimation of&nbsp;&thinsp;system states using neural network aggregation of&nbsp;&thinsp;their indicators",
            'Краснов Андрей Евгеньевич', 'доктор физико-математических наук, профессор Российского Технологического университета (РТУ МИРЭА)',
            "Andrey E. Krasnov", "Doctor of physical and mathematical sciences, professor of the Russian technological university (RTU MIREA)",
            "krasnovmgutu@yandex.ru",
            'Феоктистова Наталия Андреевна', 'кандидат технических наук, ведущий аналитик Российской академии образования',
            "Nataliya A. Feoktistova", "Candidate of Technical Sciences, leading analyst of the Russian Academy of Education",
            "feofamilynat@yandex.ru",
            'Сагинов Юрий Леонидович', 'доктор экономических наук, доцент Российского Экономического университета им. Г.В. Плеханова',
            "Yuriy L. Saginov", "Doctor of Economic Sciences, Associate Professor of the Plekhanov Russian University of Economics",
            "ysaginov@gmail.com",
            '^ Дан критический анализ метода линейного оценивания индексов, интегрально описывающих состояние систем по&nbsp;их показателям – индикаторам.<br><i class="i">&bull;</i>Описан альтернативный метод нелинейного оценивания индексов на основе нейросетевого агрегирования как самих индикаторов, так и&nbsp;их композиций с&nbsp;учетом взаимовлияния последних.<br><i class="i">&bull;</i>Рассмотрена алгебра агрегирования и&nbsp;приведены литературные источники, в&nbsp;которых представлены примеры практического применения метода нелинейного оценивания в&nbsp;промышленности, науке, образовании, в&nbsp;безопасности и&nbsp;сервисе информационных систем.<br><br>',
            '^ A critical analysis of the method of linear estimation of indices that integrally describe the state of systems according to their indicators is given.<br><i class="i">&bull;</i>An alternative method of nonlinear index estimation based on neural network aggregation of both the indicators themselves and their compositions is described, taking into account the mutual influence of the latter.<br><i class="i">&bull;</i>The algebra of aggregation is considered and literary sources are provided, which present examples of practical application of the nonlinear estimation method in industry, science, education, security and information systems service.<br><br>',
            "состояние системы, линейное и&nbsp;нелинейное оценивание, индикаторы, композиции индикаторов, индексы, нейросетевое агрегирование, алгебра агрегирования",
            "system state, linear and nonlinear estimation, indicators, compositions of indicators, indices, neural network aggregation, aggregation algebra")

         +article_text( '67-4-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Сферический маятник. Малые колебания приведенной системы. Численно&ndash;аналитическое исследование',
            "Spherical pendulum. Small-amplitude oscillations of&nbsp;&thinsp;the&nbsp;&thinsp;reduced system. Numerical and&nbsp;&thinsp;analytical research",
            'Сутягин Алексей Максимович', 'магистрант МГТУ им. Н.Э. Баумана',
            "Alexey M. Sutyagin", "Master's student of Bauman Moscow State Technical University",
            "m.sutiagin@institute.gazprom.ru; M.Sutiagin@gaztraining.ru",
            'В статье проведено численно-аналитическое исследование малых колебаний приведенной системы сферического маятника. Выделено независимое уравнение динамики, описывающее гармонические колебания. Линеаризация уравнения в&nbsp;окрестности стационарного движения позволила определить частоту и&nbsp;период малых колебаний.<br><br>Численное моделирование в&nbsp;программном комплексе &laquo;Универсальный Механизм&raquo; подтвердило теоретические выводы с&nbsp;погрешностью менее 10<sub>-4</sub>. Проверено сохранение проекции кинетического момента на ось вращения. Результаты демонстрируют эффективность отечественного ПО для&nbsp;анализа нелинейных динамических систем.<br><br>',
            'The article presents a numerical and analytical study of small oscillations of the reduced spherical pendulum system. An independent dynamic equation describing harmonic oscillations is identified. Linearization of the equation in the vicinity of stationary motion made it possible to determine the frequency and period of small oscillations.<br><br>Numerical simulation in the Universal Mechanism software package confirmed the theoretical conclusions with an error of less than 10<sub>-4</sub>. The conservation of the kinetic moment projection on the axis of rotation has been verified. The results demonstrate the effectiveness of domestic software for analyzing nonlinear dynamic systems.<br><br>',
            "сферический маятник, приведенная система, малые колебания, стационарное движение, уравнения динамики, численное моделирование",
            "spherical pendulum, reduced system, small-amplitude oscillations, stationary motion, equations of dynamics, numerical modeling")






         +article_text-4( '67-5-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная',
            'Современное образование и&nbsp;&thinsp;искусственный интеллект',
            "Modern education and&nbsp;&thinsp;artificial intelligence",
            'Сердюков Владимир Иванович', 'доктор технических наук, профессор, профессор кафедры прикладной математики Московского государственного технического университета имени Н.Э. Баумана, старший научный сотрудник НИИ проблем непрерывного образования',
            "Vladimir I. Serdyukov", "Doctor of Technical Sciences, Professor, Professor of the Department of Applied Mathematics of the Bauman Moscow State Technical University, Senior Researcher at the Research Institute of Continuing Education",
            "wis24@yandex.ru",
            'Сердюкова Наталья Александровна', 'доктор экономических наук, профессор кафедры финансового менеджмента Российский государственный университет нефти и&nbsp;газа имени И.М. Губкина ',
            "Natalia A. Serdyukova", "Doctor of Economics, Professor of the Department of Financial Management, Gubkin Russian State University of Oil and Gas",
            "nsns25@yandex.ru",
            'Сафонова Светлана Владимировна', 'кандидат педагогических наук, заведующая отделом мониторинга электронного обучения Ассоциации образовательных организаций электронного обучения и&nbsp;организаций, содействующих электронному обучению ',
            "Svetlana V. Safonova", "Candidate of Pedagogical Sciences, Head of the e-learning Monitoring Department of the Association of e-Learning Educational Organizations and Organizations Promoting e-learning",
            "safonova-sv@yandex.ru",
            'Шишкина Светлана Ивановна', 'кандидат технических наук, заместитель заведующего кафедры прикладной математики Московского государственного технического университета имени Н.Э. Баумана ',
            "Svetlana I. Shishkina", "Candidate of Technical Sciences, Deputy Head of the Department of Applied Mathematics of the Bauman Moscow State Technical University",
            "shish-bmstu@mail.ru",
            'В статье рассмотрены вопросы использования искусственного интеллекта на ближайшую перспективу. Обосновывается, что интеллектуальные системы – это наше будущее, открывающее широкие возможности в&nbsp;трансформации образования, разработке инновационных методов обучения, обеспечивающих персонализацию образования, повышение его доступности и&nbsp;качества, а&nbsp;также в&nbsp;мониторинге знаний.',
            'The article discusses the issues of using artificial intelligence in the near future. It is proved that intelligent systems are our future, which opens up wide opportunities in the transformation of education, the development of innovative teaching methods that ensure the personalization of education, increase its accessibility and quality, as well as in monitoring knowledge.',
            "искусственный интеллект, возможные подходы к&nbsp;развитию искусственного интеллекта, трансформация образования, персонализация обучения, доступность обучения, качество обучения",
            "artificial intelligence, possible approaches to the development of artificial intelligence, transformation of education, personalization of learning, accessibility of learning, quality of learning")

         +article_text-4( '67-5-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Реализации проектов научных центров мирового уровня с&nbsp;&thinsp;использованием и&nbsp;&thinsp;развитием технологий искусственного интеллекта',
            "Implementation of&nbsp;&thinsp;world-class scientific centers projects using and&nbsp;&thinsp;developing artificial intelligence technologies",
            'Белов Филипп Дмитриевич', 'канд. экон. наук, заведующий центром исследования организационных процессов в&nbsp;сфере науки и&nbsp;инноваций, Российский научно-исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно-технической сфере ',
            "Filipp D. Belov", "Ph.D., Head of the Center for research of organizational processes in science and innovation, Russian Research Institute of Economics, Politics and Law in Science and Technology",
            "fdbelov@yandex.ru",
            'Зволинская Оксана Вячеславовна', 'канд. экон. наук, заведующий сектором анализа и&nbsp;развития подходов к&nbsp;организации научной и&nbsp;инновационной деятельности, Российский научно-исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно-технической сфере',
            "Oksana V. Zvolinskaia", "Ph.D., Head of the Sector, Russian Research Institute of Economics, Politics and Law in Science and Technology",
            "&mdash;",
            'Гутковская Елена Анатольевна', 'канд. экон. наук, заведующий сектором мониторинга востребованности инструментов поддержки научной, научно-технической и&nbsp;инновационной деятельности, Российский научно-исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно-технической сфере ',
            "Elena A. Gutkovskaya", "Ph.D., Head of the Sector, Russian Research Institute of Economics, Politics and Law in Science and Technology",
            "&mdash;",
            'Клубникина Марианна Эдуардовна', 'инженер-исследователь, Российский научно-исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно-технической сфере ',
            "Marianna E. Klubnikina", "Research Engineer, Russian Research Institute of Economics, Politics and Law in Science and Technology",
            "&mdash;",

            'В 2020 году в&nbsp;рамках национального проекта &laquo;Наука и&nbsp;университеты&raquo; созданы научные центры мирового уровня, выполняющие исследования и&nbsp;разработки по&nbsp;приоритетам Стратегии научно-технологического развития Российской Федерации.<br><br>В статье представлены ключевые проекты научных центров мирового уровня с&nbsp;использованием и&nbsp;развитием ИИ-технологий. Уделено внимание практическому применению ИИ-технологий в&nbsp;различных отраслях, таких как здравоохранение, сельское хозяйство, нефтяная промышленность и&nbsp;др.<br><br>',
            'In 2020, within the framework of the national project "Science and Universities", world-class scientific centers were created, carrying out research and development according to the priorities of the Strategy for Scientific and Technological Development of the Russian Federation.<br><br>The article presents key projects of world-class scientific centers that utilize and develop AI technologies. Attention is given to the practical application of AI technologies in various sectors, such as healthcare, agriculture, the oil industry and others.<br><br>',
            "научные центры мирового уровня, ИИ-технологии, программное обеспечение, бенчмарк, научные консорциумы",
            "world-class research centers, AI technologies, software, benchmark, research consortiums")





         .article__read( id='article_67-6-1' )
            .article__subject Дайджест
            .article__theme Публикаций научно&ndash;методического журнала &laquo;Информатизация образования и&nbsp;&thinsp;науки&raquo; за&nbsp;&thinsp;январь 2024 год&nbsp;&thinsp;&ndash; апрель 2025
            .article__ru
               .article__meta
                  .mb-05 Подготовили члены редколлегии журнала:
                  b.mr-05 Миронов Валентин Васильевич
                  br
                  span д.ф.-м.н, профессор, профессор, Рязанский государственный радиотехнический университет имени В. Ф. Уткина
                  br

                  b.mr-05.mt-05 Куракин Дмитрий Владимирович
                  br
                  span д.т.н., профессор, главный редактор научно-методического журнала &laquo;Информатизация образования и&nbsp;науки&raquo;

            .article__ru.mb-1.mt-25
               b.article__text
                  p.mb-05 Актуальность издания журнала &laquo;Информатизация образования и&nbsp;науки&raquo; обусловлена необходимостью консолидации ученых, педагогов и&nbsp;специалистов России в&nbsp;связи с&nbsp;интенсивным ростом масштабов работ в&nbsp;стране по&nbsp;внедрению информационных технологий и&nbsp;методик в&nbsp;сфере образования, науки и&nbsp;просвещения.
                  p.mb-05 В настоящее время журнал позиционирует себя как площадка для&nbsp;обмена опытом в&nbsp;такой сложной тематике, как &laquo;цифровая трансформация&raquo; – процессе модернизации образования, позволяющем в&nbsp;полной мере использовать потенциал цифровых технологий. Редакция журнала сохраняет баланс между академическим, фундаментальным изложением материала и&nbsp;практическим просветительским освещением закрепленных за журналом тем.
                  p Приводится краткое содержание опубликованных в&nbsp;2024 г. статей в&nbsp;соответствии с&nbsp;рубриками журнала. Дайджест статей построен в&nbsp;следующем порядке: рубрика журнала, номер журнала, фамилии авторов, название статьи, число библиографических ссылок (в том числе на английском языке), краткое содержание статьи.



