.archive__journal.active_journal#journal_66
   h3.journal__number
      span Выпуск &#8470;
      span 2 (66)
   .journal__date апрель 2025
   .journal__remember( data-modal='remember_66' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '66-1-1', 'Анализ деятельности социально-ориентированных некоммерческих организаций в&nbsp;условиях цифровой трансформации образования', 'Софронова Н.В.' )
            +article( '66-1-2', 'Геймификация как инструмент формирования финансового мышления обучающихся в&nbsp;условиях цифровой трансформации общества', 'Тарануха С.Н., Фомина И.К., Мельников А.Р.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '66-2-1', 'Технология использования системы компьютерной верстки TEX при&nbsp;работе в&nbsp;электронной информационно-образовательной среде MOODLE', 'Морсакова Ю.В.' )
            +article( '66-2-2', 'Разработка симуляции по&nbsp;химии на&nbsp;занятиях факультатива', 'Пустовит С.О., Ларионова В.М.' )
            +article( '66-2-3', 'Разработка компьютерной игры для&nbsp;развития логического мышления у детей 5–6 классов', 'Астахова Т.Н., Бердникова А.А., Кривоногов С.В., Лямин А.С.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '66-3-1', 'Исследование потенциала BERT-трансформера для&nbsp;тематической классификации новостных и&nbsp;научных статей', 'Фомин В.В., Фомина И.К., Шабунин А.П.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '66-4-1', 'Анализ подходов к&nbsp;использованию визуальных языковых моделей в&nbsp;задачах оптического распознавания символов', 'Захаров Р.К., Кулагин В.П.' )
            +article( '66-4-2', 'Индекс качества математических знаний студентов по&nbsp;данным входного контроля и&nbsp;его нечеткое ранжирование', 'Бухенский К.В., Львова Т.Л., Миронов В.В.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '66-5-1', 'Латентность в&nbsp;управлении социальными процессами', 'Одинцов Б.Е.' )
            +article( '66-5-2', 'Применение волновой свёрточной сети', 'Головкин М.Е.' )
            +article( '66-5-3', 'Комплексное совершенствование научно-исследовательской работы студентов магистерских программ в&nbsp;области инноватики и&nbsp;управления качеством', 'Редько С.Г., Гинцяк А.М., Селедцова И.А., Бурлуцкая Ж.В.' )
            +article( '66-5-4', 'Личный кабинет спортсмена системы построения и&nbsp;анализа тренировок &laquo;ЭвоСпорт&raquo;', 'Репин А.Л., Красавина М.С., Чувиляева А.С.' )


      section.journal__articles

         +article_text( '66-1-1', 'Цифровая трансформация', 'Обзорная',
            'Анализ деятельности социально-ориентированных некоммерческих организаций в&nbsp;&thinsp;условиях цифровой трансформации образования',
            "Analysis of&nbsp;&thinsp;the&nbsp;&thinsp;activities of&nbsp;&thinsp;socially oriented non-profit organizations in&nbsp;&thinsp;the&nbsp;&thinsp;context of&nbsp;&thinsp;digital transformation of&nbsp;&thinsp;education ",
            'Софронова Наталия Викторовна', 'доктор педагогических наук, профессор, Общественная организация дополнительного профессионального образования &laquo;Чувашское региональное отделение Академии информатизации образования&raquo;, председатель научного совета ',
            "Natalia V. Sofronova", "Doctor of Pedagogical Sciences, Professor, Public organization of additional professional education &laquo;Chuvash regional branch of the Academy of Informatization of Education&raquo;, Chairman of the Scientific Council",
            "n_sofr@mail.ru",
            'Выполненный анализ деятельности социально-ориентированных некоммерческих организаций в&nbsp;условиях цифровой трансформации образования позволяет утверждать, что общественные организации в&nbsp;современных условиях сохранили свое предназначение связующего звена между гражданами и&nbsp;государством, хотя их деятельность во&nbsp;многом изменилась.<br><br>В направлениях цифровой трансформации образования общественные организации пока не проявляют себя активно. Однако СО НКО, деятельность которых находится в&nbsp;рамках цифровой трансформации общего образования, показывают хорошие результаты, заявляя о&nbsp;себе как о&nbsp;серьезном подспорье государства в&nbsp;достижении целей, определенных ФГОС общего образования.<br><br>',
            'The analysis of the activities of socially oriented non-profit organizations in the context of digital transformation of education suggests that public organizations in modern conditions have retained their purpose as a link between citizens and the state, although their activities have changed in many ways.<br><br>Public organizations are not yet active in the areas of digital transformation of education. However, SO NPO, whose activities are within the framework of the digital transformation of general education, show good results, declaring themselves to be a serious help to the state in achieving the goals defined by the Federal State Educational Standard for General Education.<br><br>',
            "социально-ориентированная некоммерческая организация, цифровая трансформация образования, фонд президентских грантов",
            "socially oriented non-profit organization, digital transformation of education, presidential grants fund")
         +article_text-3( '66-1-2', 'Цифровая трансформация', 'Научная',
            'Геймификация как&nbsp;&thinsp;инструмент формирования финансового мышления обучающихся в&nbsp;&thinsp;условиях цифровой трансформации общества',
            "Gamification as&nbsp;&thinsp;a&nbsp;&thinsp;tool for&nbsp;&thinsp;the&nbsp;&thinsp;formation of&nbsp;&thinsp;financial thinking of&nbsp;&thinsp;students in&nbsp;&thinsp;the&nbsp;&thinsp;context of&nbsp;&thinsp;digital transformation of&nbsp;&thinsp;society",
            'Тарануха Светлана Николаевна', 'кандидат технических наук, профессор кафедры математического моделирования и&nbsp;прикладной информатики, ГУМРФ имени адмирала С.О.Макарова, г. Санкт-Петербург',
            "Svetlana N. Taranukha", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, Admiral S.O.Makarov GUMRF, St. Petersburg",
            "svtar64@mail.ru ",
            'Фомина Инга Константиновна', 'кандидат технических наук, доцент кафедры бизнес-информатики и&nbsp;менеджмента, Санкт-Петербургский государственный университет аэрокосмического приборостроения, г. Санкт-Петербург ',
            "Inga K. Fomina", "Candidate of Technical Sciences, Associate Professor of the Department of Business Informatics and Management, St. Petersburg State University of Aerospace Instrumentation, St. Petersburg",
            "fominga@list.ru",
            'Мельников Андрей Романович', 'студент, кафедра математического моделирования и&nbsp;прикладной информатики, ГУМРФ имени адмирала С.О.Макарова, г. Санкт-Петербург',
            "Andrey R. Melnikov", "Student, Department of Mathematical Modeling and Applied Informatics, Admiral S.O.Makarov GUMRF, St. Petersburg",
            "am06092003@mail.ru",
            'Внедрение в&nbsp;образовательный процесс элементов компьютерных игр в&nbsp;негейминговых контекстах делает учебный процесс более увлекательным и&nbsp;эффективным, создаёт погружающий опыт обучения. Особое внимание уделяется адаптивному обучению, когда игровые элементы настраиваются под&nbsp;индивидуальные потребности обучающегося.<br><br>Разработка мобильного обучающего приложения для&nbsp;детей поможет им научиться управлять своими денежными средствами и&nbsp;принимать правильные финансовые решения.<br><br>Целью приложения является обучение, тренинг решения ежедневных финансовых задач, контроля, анализа доходов и&nbsp;расходов, перенаправления средств, формирование практических навыков распределения финансов на&nbsp;уровне бюджета семьи или&nbsp;личного бюджета.<br><br>',
            'The introduction of computer game elements into the educational process in non-gaming contexts makes the learning process more exciting and effective, and creates a rewarding learning experience. Special attention is paid to adaptive learning, when game elements are adjusted to the individual needs of the student.<br><br>The development of a mobile educational application for children will help them learn how to manage their money and make the right financial decisions.<br><br>The purpose of the application is education, training in solving daily financial problems, control, analysis of income and expenses, redirection of funds, formation of practical skills in allocating finances at the level of the family budget or personal budget.<br><br>',
            "начальное образование, мобильное обучающее приложение, геймификация образования, финансовая грамотность, адаптивное обучение, неигровой контекст",
            "primary education, mobile learning application, education gamification, financial literacy, adaptive learning, non-gaming context")




         +article_text( '66-2-1', 'Информационные технологии', 'Научная',
            'Технология использования системы компьютерной верстки tex при&nbsp;работе в&nbsp;электронной информационно-образовательной среде moodle',
            "The&nbsp;&thinsp;technology of&nbsp;&thinsp;using the&nbsp;&thinsp;tex computer layout system when working in&nbsp;&thinsp;the&nbsp;&thinsp;moodle electronic information and educational environment",
            'Морсакова Юлия Владимировна', 'доцент кафедры экономической безопасности, кандидат физико-математических наук, доцент, Рязанский филиал Московского университета МВД России им. В.Я. Кикотя, г. Рязань ',
            "Yulia V. Morsakova", "Associate Professor of the Department of economic security, candidate of physical and mathematical Sciences, associate Professor, Ryazan branch of the Moscow University of the Ministry of internal Affairs of Russia named after V. Ya. Kikot, Ryazan",
            "jykos@mail.ru",
            'В статье рассматривается технология использования системы компьютерной верстки TEX при&nbsp;создании курсов в&nbsp;информационно-образовательной среде Moodle с&nbsp;целью улучшения качества элементов, содержащих математический текст. В&nbsp;связи с&nbsp;активным переходом на&nbsp;электронное образование перед профессорско-преподавательским составом стоит задача создания электронных курсов, удовлетворяющих эргономическим, педагогическим, содержательно-методическим и&nbsp;технико-технологическим требованиям.<br><br>Решить проблему качества электронных курсов, содержащих элементы с&nbsp;математическими формулами, схемами и&nbsp;таблицами, позволяет система компьютерной верстки TEX, являющаяся международным языком для&nbsp;обмена математическим текстом.<br><br>',
            'The article discusses the technology of using the TEX computer layout system when creating courses in the Moodle information and educational environment in order to improve the quality of elements containing mathematical text. Due to the active transition to e-education, the teaching staff is faced with the task of creating e-courses that meet ergonomic, pedagogical, substantive, methodological, technical and technological requirements.<br><br>The TEX computer layout system, which is an international language for exchanging mathematical text, allows solving the quality problem of electronic courses containing elements with mathematical formulas, diagrams and tables.<br><br>',
            "система компьютерной верстки TEX, электронный курс, информационно-образовательная среда Moodle, математический текст",
            "TEX computer layout system, electronic course, Moodle information and educational environment, mathematical text")
         +article_text-2( '66-2-2', 'Информационные технологии', 'Обзорная',
            'Разработка симуляции по&nbsp;&thinsp;химии на&nbsp;&thinsp;занятиях факультатива',
            "Development of&nbsp;&thinsp;chemistry simulation in&nbsp;&thinsp;elective classes",
            'Пустовит Светлана Олеговна', 'доцент кафедры химии Института естествознания Калужского государственного университета им. К.Э. Циолковского',
            "Svetlana O. Pustovit", "Head of the Chemistry Department of the Institute of Natural Sciences of Kaluga State University named after K.E. Tsiolkovsky",
            "sveta_pus@mail.ru",
            'Ларионова Валентина Михайловна', 'заведующий кафедрой химии Института естествознания Калужского государственного университета им. К.Э. Циолковского',
            "Valentina M. Larionova", "Head of the Chemistry Department of the Institute of Natural Sciences of Kaluga State University named after K.E. Tsiolkovsky",
            "lealvmlee@mail.ru",
            'В статье представлены содержание и&nbsp;результаты поискового этапа педагогического эксперимента, связанного с&nbsp;выявлением возможностей компьютерного представления процессов, изучаемых школьниками при&nbsp;освоении теоретических основ и&nbsp;прикладных направлений химической науки.<br><br>На примере освоения учащимися процесса выпаривания раствора вещества в&nbsp;статье рассматриваются основные этапы создания простой симуляции, имитирующей проведение химического эксперимента.<br><br>На данном этапе исследования определены особенности 3D-моделирования процессов с&nbsp;участием объектов химии на&nbsp;основе компьютерной программы &laquo;Blender&raquo;.<br><br>',
            'The article presents the content and results of the search stage of the pedagogical experiment related to the identification of the possibilities of computer representation of the processes studied by schoolchildren while mastering the theoretical foundations and applied areas of chemical science.<br><br>Using the example of school students mastering the process of evaporation of a solution of a substance, the article discusses the main stages of creating a simple simulation simulating a chemical experiment.<br><br>At this stage of the study, the features of 3D modeling of processes involving chemical objects based on the computer program &laquo;Blender&raquo; are determined.<br><br>',
            "3D-моделирование, симуляция, компьютерное моделирование, химическая посуда и&nbsp;оборудование, химический эксперимент, цифровые образовательные ресурсы",
            "3D modeling, simulation, computer modeling, chemical tableware and equipment, chemical experiment, digital educational resources")
         +article_text-4( '66-2-3', 'Информационные технологии', 'Научная',
            'Разработка компьютерной игры для&nbsp;&thinsp;развития логического мышления у&nbsp;&thinsp;детей 5–6&nbsp;&thinsp;классов',
            "Development of&nbsp;&thinsp;a&nbsp;&thinsp;computer game for&nbsp;&thinsp;the&nbsp;&thinsp;development of&nbsp;&thinsp;logical thinking in&nbsp;&thinsp;children of&nbsp;&thinsp;grades 5–6",
            'Астахова Татьяна Николаевна', 'канд. физ.-мат. наук, доцент, доцент кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия ',
            "Tatyana N. Astakhova", "Candidate of Sciences (Physics and Mathematics), Associate Professor of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "ctn_af@mail.ru",
            'Бердникова Анна Александровна', 'канд. тех. наук, доцент кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Anna A. Berdnikova", "Candidate of Sciences (Engineering), Associate Professor of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "anya-romanova-07@yandex.ru",
            'Кривоногов Сергей Вячеславович', 'старший преподаватель кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия ',
            "Sergey V. Krivonogov", "Senior Lecturer of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "ksvkn@mail.ru",
            'Лямин Александр Сергеевич', 'канд. экон. наук, доцент кафедры информационных систем и&nbsp;технологий, Институт &laquo;Информационные технологии и&nbsp;системы связи&raquo;, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Alexander S. Lyamin", "Candidate of Sciences (Economics), Associate Professor of the Department of Information Systems and Technologies, Institute of Information Technologies and Communication Systems, State Budgetary Educational Institution of Higher Education Nizhny Novgorod State University of Engineering and Economics, Knyaginino, Russia",
            "&mdash;",
            'Статья посвящена разработке компьютерной игры, целью которой является развитие логического мышления у детей старшего дошкольного и&nbsp;младшего школьного возраста (5–6 классы).<br><br>Рассматриваются методы игрового обучения, эффективность использования игр в&nbsp;образовательном процессе, а&nbsp;также результаты экспериментов с&nbsp;участием детей, которые демонстрируют положительное влияние игр на&nbsp;развитие логического мышления.<br><br>Представлены результаты исследования, направленного на&nbsp;выявление влияния игровых методов на&nbsp;речевую активность детей, а&nbsp;также предложены конкретные игровые технологии, которые могут быть интегрированы в&nbsp;образовательный процесс.<br><br>',
            "The article is devoted to the development of a computer game, the purpose of which is to develop logical thinking in children of senior preschool and primary school age (grades 5–6).<br><br>The methods of game learning, the effectiveness of using games in the educational process, as well as the results of experiments with children's learning, which demonstrate the positive impact of games on the development of logical thinking, are considered.<br><br>The results of a study aimed at identifying the impact of gaming methods on children's speech activity are presented, and specific gaming technologies that can be integrated into the educational process are proposed.<br><br>",
            "геймификация, игра, информационные технологии, логическое мышление",
            "gamification, game, information technology, logical thinking")



         +article_text-3( '66-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Исследование потенциала BERT-трансформера для&nbsp;&thinsp;тематической классификации новостных и&nbsp;&thinsp;научных статей',
            "Exploring the&nbsp;&thinsp;potential of&nbsp;&thinsp;the&nbsp;&thinsp;bert-transformer for&nbsp;&thinsp;thematic classification of&nbsp;&thinsp;news and&nbsp;&thinsp;scientific articles",
            'Фомин Владимир Владимирович', 'доктор технических наук, профессор кафедры информационных систем и&nbsp;технологий, Санкт-Петербургский государственный университет аэрокосмического приборостроения, г. Санкт-Петербург',
            "Vladimir V. Fomin", "Professor of the Department of Information Systems and Technologies, St. Petersburg State University of Aerospace Instrumentation, St. Petersburg",
            "v_v_fomin@mail.ru",
            'Фомина Инга Константиновна', 'кандидат технических наук, доцент кафедры бизнес-информатики и&nbsp;менеджмента, Санкт-Петербургский государственный университет аэрокосмического приборостроения, г. Санкт-Петербург ',
            "Inga K. Fomina", "Candidate of Technical Sciences, Associate Professor of the Department of Business Informatics and Management, St. Petersburg State University of Aerospace Instrumentation",
            "St. Petersburg, fominga@list.ru",
            'Шабунин Андрей Павлович', 'аспирант кафедры информационных систем и&nbsp;технологий, Санкт-Петербургский государственный университет аэрокосмического приборостроения, г. Санкт-Петербург',
            "Andrey P. Shabunin", "Postgraduate student of the Department of Information Systems and Technologies, St. Petersburg State University of Aerospace Instrumentation, St. Petersburg",
            "andrushka456@mail.ru",
            'В статье рассмотрены вопросы развития методов автоматического анализа текстов с&nbsp;использованием трансформеров (больших нейросетевых языковых моделей) и&nbsp;оптимизации их применения в&nbsp;различных областях.<br><i class="i">&bull;</i>Проведено сравнение эффективности BERT-трансформера с&nbsp;другими моделями и&nbsp;методами тематической классификации.<br><i class="i">&bull;</i>Представлены результаты экспериментов по&nbsp;исследованию возможностей BERT-трансформера для&nbsp;автоматической классификации текстов по&nbsp;различным тематикам, включая новостные и&nbsp;научные статьи.<br><i class="i">&bull;</i>Описаны проблематика семантической запутанности научных тематических категорий и&nbsp;влияние человеческого фактора на&nbsp;процесс классификации текстов.<br><i class="i">&bull;</i>Предложены рекомендации по&nbsp;улучшению процесса тематической классификации с&nbsp;использованием трансформеров.<br><br>',
            'The article discusses the development of automatic text analysis methods using transformers (large neural network language models) and optimization of their application in various fields.<br><i class="i">&bull;</i>The effectiveness of the BERT-transformer is compared with other models and methods of thematic classification.<br><i class="i">&bull;</i>The results of experiments to study the capabilities of the BERT-transformer for automatic classification of texts on various topics, including news and scientific articles, are presented.<br><i class="i">&bull;</i>The problems of semantic entanglement of scientific thematic categories and the influence of the human factor on the text classification process are described.<br><i class="i">&bull;</i>Recommendations for improving the process of thematic classification using transformers are proposed.<br><br>',
            "Интеллектуальный анализ текста, большие нейросетевые языковые модели, BERT-модель, тематическая классификация публикаций",
            "Intelligent text analysis, large neural network language models, BERT-model, thematic classification of publications")






         +article_text-2( '66-4-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Анализ подходов к&nbsp;&thinsp;использованию визуальных языковых моделей в&nbsp;&thinsp;задачах оптического распознавания символов',
            "Analysis of&nbsp;&thinsp;approaches to&nbsp;&thinsp;the&nbsp;&thinsp;use of&nbsp;&thinsp;visual language models in&nbsp;&thinsp;optical character recognition tasks",
            'Захаров Роман Константинович', 'аспирант Московского технического университета связи и&nbsp;информатики',
            "Roman K. Zakharov", "PhD student, Moscow Technical University of Communications and Informatics",
            "roman.zakharovp@yandex.ru",
            'Кулагин Владимир Петрович', 'д.т.н. профессор, Московский технический университет связи и&nbsp;информатики',
            "Vladimir P. Kulagin", "Doctor of Technical Sciences, Professor, Moscow Technical University of Communications and Informatics",
            "vpkulagin@mail.ru",
            'В статье рассматриваются современные подходы к&nbsp;оптическому распознаванию символов (OCR) с&nbsp;акцентом на&nbsp;использование визуальных языковых моделей (VLM) и&nbsp;трансформеров.<br><br>Обсуждаются преимущества и&nbsp;недостатки этих технологий, а&nbsp;также их влияние на&nbsp;точность и&nbsp;эффективность распознавания текста.<br><br>Анализируется эволюция OCR от&nbsp;традиционных методов к&nbsp;современным решениям, основанным на&nbsp;глубоких нейронных сетях. В&nbsp;статье также представлена сравнительная таблица, подчеркивающая ключевые различия между VLM и&nbsp;визуальными трансформерами, а&nbsp;также рекомендации по&nbsp;их применению в&nbsp;зависимости от&nbsp;контекста текстов.<br><br>',
            'The article examines modern approaches to optical character recognition (OCR) with a focus on the use of visual language models (VLM) and transformers.<br><br>It discusses the advantages and disadvantages of these technologies, as well as their impact on the accuracy and efficiency of text recognition.<br><br>The evolution of OCR from traditional methods to contemporary solutions based on deep neural networks is analyzed. The article also presents a comparative table highlighting the key differences between VLM and visual transformers, along with recommendations for their application depending on the context of the texts.<br><br>',
            "оптическое распознавание символов, визуальные языковые модели, трансформеры, глубокое обучение, нейронные сети, распознавание текста, мультимодальные данные",
            "optical Character Recognition (OCR), Visual Language Models (VLM), transformers, deep learning, neural networks, text recognition, multimodal data")

         +article_text-3( '66-4-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Индекс качества математических знаний студентов по&nbsp;&thinsp;данным входного контроля и&nbsp;&thinsp;его нечеткое ранжирование',
            "The quality index of&nbsp;&thinsp;students' mathematical knowledge according to&nbsp;&thinsp;the&nbsp;&thinsp;input control data and&nbsp;&thinsp;it's fuzzy ranking",
            'Бухенский Кирилл Валентинович', 'к.ф.-м.н., доцент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Kirill V. Bukhenskiy", "PhD, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "bukhensky.k.v@rsreu.ru",
            'Львова Татьяна Львовна', 'старший преподаватель, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Tatiana L. Lvova", "Senior Lecturer, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "lvovatl@yandex.ru",
            'Миронов Валентин Васильевич', 'д.ф.-м.н, профессор, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Valentin V. Mironov", "Doctor of mathematical and physical sciences, professor, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "mironov1vv@mail.ru",
            'В статье вводится новый наукометрический индекс качества математических знаний студентов на&nbsp;основе данных входного контроля. В&nbsp;рамках теории нечётких множеств решена задача нечёткой кластеризации индексов знаний в&nbsp;4-х категориях &laquo;высокий уровень&raquo;, &laquo;хороший уровень&raquo;, &laquo;удовлетворительный уровень&raquo;, &laquo;проблемный уровень&raquo;.<br><br>Создан алгоритм и&nbsp;на его основе программный комплекс ЗНАНИЕ&nbsp;&mdash; СИЛА, который в&nbsp;реальном времени получает и&nbsp;обрабатывает данные о&nbsp;входном контроле от&nbsp;студентов и&nbsp;выдает числовые значения индексов знаний как для&nbsp;отдельных групп участников, так и&nbsp;для ВУЗа в&nbsp;целом.<br><br>',
            "The article introduces a new scientometric index of the quality of students' mathematical knowledge based on the input control data. Within the framework of fuzzy set theory, the problem of fuzzy clustering of knowledge indices in 4 categories &laquo;high level&raquo;, &laquo;good level&raquo;, &laquo;satisfactory level&raquo;, &laquo;problematic level&raquo; is solved.<br><br>An algorithm has been created and based on it&nbsp;&mdash; the ZNANIE&nbsp;&mdash; SILA software package, which receives and processes input control data from students in real time and outputs numerical values of knowledge indices for individual groups of participants and for the university as a whole.<br><br>",
            "теги_через_запятую_без_точки",
            "теги_АНГЛ")






         +article_text( '66-5-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная',
            'Латентность в&nbsp;&thinsp;управлении социальными процессами',
            "Latency in&nbsp;&thinsp;the&nbsp;&thinsp;management of&nbsp;&thinsp;social proceses",
            'Одинцов Борис Ефимович', 'д.э.н., профессор Департамента анализа данных и&nbsp;машинного обучения Финансового университета при&nbsp;Правительстве Российской Федерации',
            "Boris E. Odintsov", "Doctor of Economics Sciences, Professor of the Department of data Analysis and machine learning Financial University under the Government of the Russian Federation",
            "Odintsov45@list.ru",
            'В статье предлагается метод расчета уровня социальной гармонии в&nbsp;обществе, получаемой за&nbsp;счет активизации ассоциаций, объединенных с&nbsp;интуиционистскими процессами. Распознавание того, что скрыто, всегда интересовало человека. Но&nbsp;если для&nbsp;распознавания будущего ученые приложили немало усилий, то&nbsp;для&nbsp;выявления социальных процессов, скрываемых по&nbsp;тем или&nbsp;иным причинам, внимания уделено на&nbsp;много меньше. Всякий осознанный или&nbsp;неосознанный познавательный процесс&nbsp;&mdash; это мыслительное действие, непременно сопровождаемое ассоциациями, интуицией и&nbsp;часто инсайтом&nbsp;&mdash; кульминацией интуиционистского процесса.<br><br>Как оказалось, эти атрибуты мышления, являясь продуктом предсознательных мыслительных усилий, могут быть использованы для&nbsp;обнаружения латентных (скрытых) социальных факторов, существенно влияющих на&nbsp;состояние общества.<br><br>',
            'The article proposes a method for calculating the level of social harmony in society, obtained through the activation of associations combined with intuitionistic processes. Recognizing what is hidden has always been of interest to humans. But while scientists have put a lot of effort into recognizing the future, much less attention has been paid to identifying social processes that are hidden for one reason or another. Any conscious or unconscious cognitive process is a mental action, necessarily accompanied by associations, intuition and often insight&nbsp;&mdash; the culmination of the intuitionistic process.<br><br>As it turned out, these attributes of thinking, being the product of preconscious mental efforts, can be used to detect latent (hidden) social factors that significantly affect the state of society.<br><br>',
            "социальная гармония, классификация, латентные процессы, ассоциации, интуиция, семантические отношения, социальные факторы, инсайт, сетевая когнитивная модель",
            "social harmony, classification. latent processes, associations, intuitionistic logic, semantic relations, social factors, insight, network cognitive model")
         +article_text( '66-5-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная ',
            'Применение волновой свёрточной сети',
            "Application of&nbsp;&thinsp;the&nbsp;&thinsp;wave convolutional network",
            'Головкин Михаил Евгеньевич', 'старший преподаватель Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет',
            "Mikhail E. Golovkin", "Senior Lecturer of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "mikhel85@mail.ru",
            'В статье описываются принципы использования на&nbsp;практике волновых свёрточных сетей в&nbsp;целях распознавания изображений инвариантно к&nbsp;их преобразованиям.<br><br>Для ввода изображений объектов в&nbsp;память ЭВМ и&nbsp;их последующей обработки волновой свёрточной сетью необходимо получить эти исходные изображения при&nbsp;помощи цифровой камеры, соединённой с&nbsp;прочими компонентами системы посредством специального интерфейса.<br><br>В статье приводится обзор используемых камерами машинного зрения интерфейсов передачи данных, как проводных, так и&nbsp;беспроводных.<br><br>',
            'The article describes the principles of using wave convolutional networks in practice in order to recognize images invariantly to their transformations.<br><br>To enter images of objects into computer memory and their subsequent processing by a wave convolutional network, it is necessary to obtain these initial images using a digital camera connected to other components of the system through a special interface.<br><br>The article provides an overview of the data transmission interfaces used by machine vision cameras, both wired and wireless.<br><br>',
            "изображение, цифровая камера, интерфейс, инвариантность, сдвиг, поворот",
            "image, digital camera, interface, invariance, shift, rotation")
         +article_text-4( '66-5-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная',
            'Комплексное совершенствование научно-исследовательской работы студентов магистерских программ в&nbsp;&thinsp;области инноватики и&nbsp;&thinsp;управления качеством',
            "Complex improvement of&nbsp;&thinsp;research work of&nbsp;&thinsp;master's students in&nbsp;&thinsp;the&nbsp;&thinsp;field of&nbsp;&thinsp;innovation and&nbsp;&thinsp;quality management",
            'Редько Сергей Георгиевич', 'директор Высшей школы проектной деятельности и&nbsp;инноваций в&nbsp;промышленности Института машиностроения, материалов и&nbsp;транспорта, ФГАОУ&nbsp;ВО&laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo;',
            "Sergey G. Redko", "Director of Higher School of Project Management and Innovation in Industry in the Institute of Mechanical Engineering, Materials and Transport, Peter the Great St. Petersburg Polytechnic University",
            "redko_sg@spbstu.ru",
            'Гинцяк Алексей Михайлович', 'заведующий лабораторией &laquo;Цифровое моделирование индустриальных систем&raquo; Передовой инженерной школы &laquo;Цифровой инжиниринг&raquo;, ФГАОУ&nbsp;ВО&laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo;',
            "Aleksei M. Gintciak", "Head of the Laboratory &laquo;Digital Modeling of Industrial Systems&raquo; Advanced Engineering School &laquo;Digital Engineering&raquo;, Peter the Great St. Petersburg Polytechnic University",
            "gintsyak_am@spbstu.ru",
            'Селедцова Инна Алексеевна', 'старший преподаватель Высшей школы проектной деятельности и&nbsp;инноваций в&nbsp;промышленности Института машиностроения, материалов и&nbsp;транспорта, ФГАОУ&nbsp;ВО&laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo;',
            "Inna A. Seledtsova", "Senior Lecturer of Higher School of Project Management and Innovation in Industry in the Institute of Mechanical Engineering, Materials and Transport, Peter the Great St. Petersburg Polytechnic University",
            "seledtsova_ia@spbstu.ru",
            'Бурлуцкая Жанна Владиславовна', 'специалист лаборатории &laquo;Цифровое моделирование индустриальных систем&raquo; Передовой инженерной школы &laquo;Цифровой инжиниринг&raquo;, ФГАОУ&nbsp;ВО&laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo;',
            "Zhanna V. Burlutskaya", "Specialist of the Laboratory &laquo;Digital Modeling of Industrial Systems&raquo; Advanced Engineering School &laquo;Digital Engineering&raquo;, Peter the Great St. Petersburg Polytechnic University",
            "burlutskaya_zhv@spbstu.ru",
            'Статья посвящена пилотному проекту по&nbsp;комплексному совершенствованию научно-исследовательской работы студентов.<br><br>Предлагаемое решение включает в&nbsp;себя комплекс организационных и&nbsp;методических мер, направленных на&nbsp;повышение вовлечённости студентов, а&nbsp;также разработку и&nbsp;внедрение цифровой платформы для&nbsp;поддержки научно-исследовательской работы студентов.<br><br>В результате реализации проекта предполагается улучшение качества выпускных квалификационных работ, повышение публикационной активности студентов и&nbsp;рост мотивации к&nbsp;продолжению научной деятельности в&nbsp;аспирантуре.<br><br>',
            "The article is devoted to a pilot project for the comprehensive improvement of students' research work.<br><br>The proposed solution includes a set of organizational and methodological measures aimed at increasing student engagement, as well as the development and implementation of a digital platform to support student research work.<br><br>As a result of the project, it is expected to improve the quality of qualifying works, increase the publication activity of students and increase motivation to continue scientific work in graduate school.<br><br>",
            "вовлечение студентов, научно-исследовательская работа, организационное изменение, публикационная активность, цифровая платформа",
            "digital platform, organizational change, publication activity, scientific work, students involvement")
         +article_text-3( '66-5-4', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научная',
            'Личный кабинет спортсмена системы построения и&nbsp;&thinsp;анализа тренировок &laquo;ЭвоСпорт&raquo;',
            "The athlete's personal account of&nbsp;&thinsp;the&nbsp;&thinsp;&laquo;evosport&raquo; training system",
            'Репин Александр Леонидович', 'Студент направления 09.04.02 &laquo;Информационные системы и&nbsp;технологии&raquo;, Костромской государственный университет ',
            "Alexandr L. Repin", "Student of the direction 09.04.02 &laquo;Information systems and technologies&raquo; Kostroma State University",
            "sasharepin2016@gmail.com",
            'Красавина Мария Сергеевна', 'Кандидат технических наук, Костромской государственный университет',
            "Maria S. Krasavina", "Candidate of Technical Sciences Kostroma State University",
            "m_krasavina@kosgos.ru",
            'Чувиляева Александра Сергеевна', 'кандидат технических наук, Костромской государственный университет',
            "Alexandra S. Chuviliaeva", "Candidate of Technical Sciences Kostroma State University",
            "a_chuvilyaeva@kosgos.ru",
            'В статье приведено описание этапов разработки модулей Web-системы &laquo;ЭвоСпорт&raquo;, предназначенной для&nbsp;роли Спортсмен.<br><br>Сформулированы функциональные возможности этой роли web-системы с&nbsp;учетом спортивной деятельности в&nbsp;массовом спорте.<br><br>В статье представлены этапы разработки, включающей в&nbsp;себя аутентификацию пользователей, маршрутизацию, оптимизацию, приведены разработанные пользовательские интерфейсы, позволяющие продемонстрировать её возможности.<br><br>',
            'The article describes the stages of development of modules of the EvoSport web system designed for the role of an Athlete.<br><br>The functional capabilities of this role of the Web system are formulated taking into account sports activities in mass sports.<br><br>The article presents the stages of development, which includes user authentication, routing, optimization, and developed user interfaces to demonstrate its capabilities.<br><br>',
            "цифровизация спорта, Web-приложение, процесс построения тренировок, модули, функциональные требования, front-end разработка, оптимизация, аутентификация",
            "digitalization of sports, Web application, training building process, modules, functional requirements, front-end development, optimization, authentication")

