.archive__journal#journal_69
   h3.journal__number
      span Выпуск &#8470;
      span 1 (69)
   .journal__date январь 2026
   .journal__remember( data-modal='remember_69' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '69-1-1', 'Системная идентификация понятий цифровой экономики, цифровой трансформации и&nbsp;цифровой зрелости с&nbsp;точки зрения стратегического управления', 'Меденников В.И.' )
            +article( '69-1-2', 'Сквозные технологии цифровой трансформации в&nbsp;образовании', 'Шамин А.А.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '69-2-1', 'Программная реализация цифрового двойника студента', 'Лобова А.С., Носков М.Д.' )
            +article( '69-2-2', 'Анализ качества и&nbsp;информационной безопасности сгенерированного программного кода', 'Тумбинская М.В., Хакимов Р.Р.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '69-3-1', 'Дидактика и&nbsp;искусственный интеллект в&nbsp;подготовке и&nbsp;применении компьютерных тестов', 'Соловов А.В., Меньшикова А.А.' )
            +article( '69-3-2', 'Квантово-подобная имитация естественной интуиции', 'Одинцов Б.Е.' )
            +article( '69-3-3', 'Применение аппарата нечетких множеств для оценки образовательных достижений студента', 'Стативко Р.У., Окунева Г.Л.' )

         .journal__section
            .journal__section_title Управление в&nbsp;организационных системах
            +article( '69-4-1', 'Возможности больших языковых моделей в&nbsp;образовательной практике', 'Петров Ю.И., Петров И.П.' )
            +article( '69-4-2', 'Отечественная программная платформа моделирования и&nbsp;эмуляции компьютерных сетей для образовательных и&nbsp;исследовательских задач', 'Потехина Е.В., Волгин В.А.' )
            +article( '69-4-3', 'О некоторых методах повышения результативности профессиональной служебной деятельности в&nbsp;сфере государственного управления', 'Малахова Н.В.' )
            +article( '69-4-4', 'Проектная деятельность во&nbsp;время производственной практики у студентов учреждений высшего образования на&nbsp;примере создания программного комплекса kitchen helper', 'Гурьянова Т.В., Панкратьев Е.С., Корти Е.И., Гурьянов Д.В.' )


      section.journal__articles

         +article_text( '69-1-1', 'Цифровая трансформация', 'Научная',
            'Системная идентификация понятий цифровой экономики, цифровой трансформации и&nbsp;&thinsp;цифровой зрелости с&nbsp;&thinsp;точки зрения стратегического управления',
            "Systemic identification of&nbsp;&thinsp;the&nbsp;&thinsp;concepts of&nbsp;&thinsp;digital economy, digital transformation and&nbsp;&thinsp;digital maturity from the&nbsp;&thinsp;point of&nbsp;&thinsp;view of&nbsp;&thinsp;strategic management",
            'Меденников Виктор Иванович', 'доктор технических наук, ведущий научный сотрудник, Федеральный исследовательский центр &laquo;Информатика и&nbsp;управление&raquo; РАН',
            "Victor I. Medennikov", 'D.Sc., leading researcher, Federal Research Center "Computer Science and Control" of RAS"',
            "dommed@mail.ru",
            'Рассматриваются с&nbsp;позиций стратегического управления роль и&nbsp;место основных понятий цифровой экономики, цифровой трансформации и&nbsp;цифровой зрелости, поскольку отсутствие понимания стратегического характера, роли единства трактовки их является большим препятствием для эффективного внедрения цифровых активов, превращающихся в&nbsp;наиболее затратный ресурс в&nbsp;экономике.<br><br>В этих условиях теория стратегического управления требует поиска условий комплексного, системного сочетания цифровых активов с&nbsp;традиционными ресурсами: материальными, финансовыми, кадровыми, а&nbsp;также становления указанных понятий на&nbsp;научную основу.<br><br>Помимо экономики стратегический подход скажется в&nbsp;комплементарных изменениях и&nbsp;в&nbsp;государственном управлении, науке, образовании социальной сфере.<br><br>',
            'The role and place of the&nbsp;basic concepts of the&nbsp;digital economy, digital transformation and digital maturity are considered from the&nbsp;standpoint of strategic management, since the&nbsp;lack of understanding of the&nbsp;strategic nature, the&nbsp;role of unity of interpretation of them is a&nbsp;major obstacle to the&nbsp;effective implementation of digital assets, which are turning into the&nbsp;most expensive resource in the&nbsp;economy.<br><br>In these conditions, the&nbsp;theory of strategic management requires a&nbsp;search for conditions for a&nbsp;comprehensive, systemic combination of digital assets with traditional resources: material, financial, personnel, as well as the&nbsp;establishment of these concepts on a&nbsp;scientific basis.<br><br>In addition to the&nbsp;economy, the&nbsp;strategic approach will affect complementary changes in public administration, science, education and the&nbsp;social sphere.<br><br>',
            "цифровая экономика, цифровая трансформация, стратегическое управление, математическая модель, цифровая платформа управления",
            "digital economy, digital transformation, strategic management, mathematical model, digital management platform")

         +article_text( '69-1-2', 'Цифровая трансформация', 'Научная',
            'Сквозные технологии цифровой трансформации в&nbsp;&thinsp;образовании',
            "End-to-end technologies for&nbsp;&thinsp;digital transformation in&nbsp;&thinsp;education",
            'Шамин Алексей Анатольевич', 'канд. экон. наук, доцент, проректор по&nbsp;информатизации и&nbsp;цифровому развитию, Государственное бюджетное образовательное учреждение высшего образования &laquo;Нижегородский государственный инженерно-экономический университет&raquo;, г. Княгинино, Россия',
            "Alexey A. Shamin", 'PhD in Economics, Associate Professor, Vice-Rector for Informatization and Digital Development, State Budgetary Educational Institution of Higher Education "Nizhny Novgorod State University of Engineering and Economics", Knyaginino, Russia',
            "al.shamin@mail.ru",
            'В статье исследуются сквозные технологии как ключевой драйвер цифровой трансформации в&nbsp;разных сферах, с&nbsp;особым акцентом на&nbsp;образование.<br><br>Рассмотрены архитектурные и&nbsp;функциональные особенности современных цифровых технологий, включая искусственный интеллект, большие данные, облачные вычисления, интернет вещей, блокчейн и&nbsp;технологии виртуальной и&nbsp;дополненной реальности.<br><br>Приведены данные о росте мирового рынка информационных технологий и&nbsp;прогнозы масштабов развития ИИ, облачных сервисов и&nbsp;цифровых двойников.<br><br>Особое внимание уделено экономическому измерению цифровизации: инвестиционные тренды и&nbsp;потенциал создания новых рынков.<br><br>',
            'The article explores end-to-end technologies as a&nbsp;key driver of digital transformation in various fields, with a&nbsp;special focus on education.<br><br>It examines the&nbsp;architectural and functional features of modern digital technologies, including artificial intelligence, big data, cloud computing, the&nbsp;Internet of Things, blockchain, and virtual and augmented reality technologies.<br><br>The article provides data on the&nbsp;growth of the&nbsp;global information technology market and forecasts for the&nbsp;development of AI, cloud services, and digital twins.<br><br>Special attention is given to the&nbsp;economic dimension of digitalization, including investment trends and the&nbsp;potential for creating new markets.<br><br>',
            "большие данные, искусственный интеллект, образование, сквозные технологии, цифровая трансформация",
            "big data, artificial intelligence, education, cross-cutting technologies, digital transformation")





         +article_text-2( '69-2-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Программная реализация цифрового двойника студента',
            "Software implementation of&nbsp;&thinsp;a&nbsp;&thinsp;student's digital twin",
            'Лобова Анастасия Сергеевна', 'преподаватель &laquo;Северский промышленный колледж&raquo;, аспирант научной специальности 2.3.3&nbsp;&mdash; Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами',
            "Anastasia S. Lobova", "teacher at Seversky Industrial College, postgraduate student in scientific specialty 2.3.3&nbsp;&mdash; Automation and control of technological processes and production",
            "lobova.web@gmail.com",
            'Носков Михаил Дмитриевич', 'доктор физико-математических наук, профессор Северского технологического института НИЯУ &laquo;МИФИ&raquo; ',
            "Mikhail D. Noskov", 'Doctor of Physico-Mathematical Sciences, Professor of Seversky Technological Institute of the&nbsp;National Research Nuclear University "MEPhI"',
            "md_noskov@mail.ru",
            'В статье выполнена оценка качества автоматизированных информационных систем управления учебным процессом и&nbsp;выбран подход к&nbsp;проектированию веб- и&nbsp;мобильных приложений.<br><br>Представлена архитектура программного комплекса: <br>1. Информационная система &laquo;1С: Колледж ПРОФ&raquo;, реализующая модули исходных данных, расчета компетенций и&nbsp;отчетности. <br>2. Веб сайт личного кабинета студента&nbsp;&mdash; модуль представления результатов студента. <br>3. Мобильное приложение менеджера по&nbsp;трудоустройству выпускников&nbsp;&mdash; модуль взаимодействия с&nbsp;работодателями. <br>4. Клиент-серверная архитектура программного комплекса, имеющая трехуровневую архитектуру и&nbsp;реализующая модуль интеграции.<br><br>',
            "The article assesses the&nbsp;quality of automated information systems for managing the&nbsp;educational process and selects an approach for designing web- and mobile applications.<br><br>The architecture of the&nbsp;software complex is presented: <br>1. The&nbsp;&laquo;1C: College PROF&raquo; information system, which implements modules for initial data, competency calculation, and reporting. <br>2. The&nbsp;student's personal account website, which serves as a&nbsp;module for presenting student results. <br>3. The&nbsp;mobile application for the&nbsp;employment manager, which facilitates interaction with employers. <br>4. The&nbsp;client-server architecture of the&nbsp;software complex, which has a&nbsp;three-tier architecture and implements an integration module.<br><br>",
            "цифровой двойник, управление учебным процессом, архитектура клиент-сервер, интеграция, веб-приложение, мобильное приложение",
            "digital twin, learning process management, client-server architecture, integration, web application, mobile application")

         +article_text-2( '69-2-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Анализ качества и&nbsp;&thinsp;информационной безопасности сгенерированного программного кода',
            "Analysis of&nbsp;&thinsp;the&nbsp;&thinsp;quality and&nbsp;&thinsp;information security of&nbsp;&thinsp;the generated program code",
            'Тумбинская Марина Владимировна', 'кандидат технических наук, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Казанский национальный исследовательский технический университет им. А.Н. Туполева&raquo;',
            "Marina V. Tumbinskaya", "Candidate of Sciences in Technology, Kazan National Research Technical University after by A.N. Tupolev",
            "tumbinskaya@inbox.ru",
            'Хакимов Рияз Ринатович', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Казанский национальный исследовательский технический университет им. А.Н. Туполева&raquo;',
            "Riyaz R. Khakimov", "student, Kazan National Research Technical University after by A.N. Tupolev",
            "riashakimovgq@gmail.com",
            'Рассматриваются вопросы качества и&nbsp;безопасности сгенерированного программного кода нейросетевыми моделями.<br><br>Предложено программное обеспечение для автоматизации процесса анализа и&nbsp;коррекции кода.<br><br>Проведено экспериментальное исследование по&nbsp;эффективности предложенного инструментария для оценки качества и&nbsp;безопасности сгенерированного программного кода.<br><br>Предложенное программное обеспечение по&nbsp;сравнению с&nbsp;ручным анализом в&nbsp;среднем в&nbsp;9 раз эффективнее выявляет уязвимости в&nbsp;генеративном программном коде.<br><br>',
            'The paper discusses the&nbsp;quality and security of neural network-generated software code.<br><br>It proposes software for automating the&nbsp;process of code analysis and correction.<br><br>An experimental study is conducted to evaluate the&nbsp;effectiveness of the&nbsp;proposed toolkit for estimating the&nbsp;quality and security of neural network-generated software code.<br><br>The proposed software is found to be 9 times more effective in identifying vulnerabilities in neural network-generated software code compared to manual analysis.<br><br>',
            "генеративный программный код, нейросетевая модель, уязвимости, качество кода, статический анализ кода, машинное обучение",
            "generative program code, neural network model, vulnerabilities, code quality, static code analysis, machine learning")




         +article_text-2( '69-3-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Дидактика и&nbsp;&thinsp;искусственный интеллект в&nbsp;&thinsp;подготовке и&nbsp;&thinsp;применении компьютерных тестов',
            "Didactics and&nbsp;&thinsp;artificial intelligence in&nbsp;&thinsp;the&nbsp;&thinsp;preparation and&nbsp;&thinsp;use&nbsp;&thinsp;of&nbsp;&thinsp;computer tests",
            'Соловов Александр Васильевич', 'к.т.н., профессор по&nbsp;кафедре технической кибернетики Самарского национального исследовательского университета имени академика С.П. Королева',
            "Alexander V. Solovov", "PhD, Professor at the&nbsp;Department of Technical Cybernetics of Samara National Research University",
            "a_solovov@mail.ru",
            'Меньшикова Анастасия Александровна', 'к.т.н., доцент кафедры суперкомпьютеров и&nbsp;общей информатики Самарского национального исследовательского университета имени академика С.П. Королева',
            "Anastasia A. Menshikova", "PhD, Associate Professor of the&nbsp;Department of Supercomputers and General Informatics of Samara National Research University",
            "nastya.menshikova@gmail.com ",
            'Рассматриваются научно-методические основы компьютерного тестирования.<br><i class="i">&bull;</i>Определена структура тестов для тренажа и&nbsp;контроля по&nbsp;учебному материалу, сформулированы дидактические требования к&nbsp;ним, описаны типовые сценарии и&nbsp;экранные формы.<br><i class="i">&bull;</i>Показано, что тесты целесообразно структурировать и&nbsp;компоновать в&nbsp;батареи тестов по&nbsp;уровням усвоения учебного материала (знакомство, воспроизведение, применение).<br><i class="i">&bull;</i>Даны рекомендации по&nbsp;подготовке тестов, предложены алгоритмы компьютерного тестирования с&nbsp;фиксированным и&nbsp;переменным (адаптивным) числом тестов в&nbsp;наборе, предъявляемом учащемуся.<br><i class="i">&bull;</i>Проведена оценка позитивного потенциала нейросетей в&nbsp;подготовке тестов и&nbsp;негативных рисков их применения в&nbsp;качестве цифровых шпаргалок.<br><br>',
            'The article considers scientific and methodological principles of computer testing.<br><i class="i">&bull;</i>The structure of tests for training and control of educational material is defined, didactic requirements for them are formulated, typical scenarios and screen forms are described.<br><i class="i">&bull;</i>It is shown that it is advisable to structure tests and arrange them into test batteries according to the&nbsp;levels of assimilation of educational material (familiarization, reproduction, application).<br><i class="i">&bull;</i>Recommendations are given for test preparation, algorithms for computer testing with a&nbsp;fixed and variable (adaptive) number of tests in a&nbsp;set presented to a&nbsp;student are proposed.<br><i class="i">&bull;</i>The positive potential of neural networks in test preparation and the&nbsp;negative risks of their use as digital cheat sheets are assessed.<br><br>',
            "цифровые образовательные ресурсы, компьютерное тестирование, контроль качества обучения, электронное обучение, искусственный интеллект",
            "digital educational resources, computer-based testing, quality control of education, e-learning, and artificial intelligence")

         +article_text( '69-3-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Квантово-подобная имитация естественной интуиции ',
            "Quantum-like simulation of&nbsp;&thinsp;natural intuition",
            'Одинцов Борис Ефимович', 'д.э.н., профессор кафедры Информационных технологий Финансового университета при Правительстве Российской Федерации ',
            "Boris E. Odintsov", "Doctor of Economics, Professor at the&nbsp;Department of Information Technologies at the&nbsp;Financial University under the&nbsp;Government of the&nbsp;Russian Federation",
            "Odintsov45@list.ru",
            'В настоящей статье демонстрируется попытка проникнуть в&nbsp;тайну естественной интуиции, рассматриваемой сквозь призму одного из самых загадочных квантовых явлений микромира&nbsp;&mdash; нелокальности/запутанности. Именно этот эффект предлагается использовать в&nbsp;качестве связующего звена&nbsp;&mdash; &laquo;челнока&raquo;, между сознательной и&nbsp;бессознательной сферами человеческой ментальности, что, в&nbsp;свою очередь, позволит имитировать искусственную интуицию на&nbsp;классическом компьютере. Квантовый взгляд на&nbsp;природу вещей представляется краеугольным камнем также и&nbsp;в&nbsp;создании полноценного искусственного интеллекта, так как без постижения квантовой природы мысли, сознания и&nbsp;интуиции его разработка останется лишь несбыточной мечтой.',
            'This article attempts to unravel the&nbsp;mystery of natural intuition by examining it through the&nbsp;lens of one of the&nbsp;most enigmatic quantum phenomena&nbsp;&mdash; non-locality/entanglement. This effect is proposed as a&nbsp;link, a&nbsp;"shuttle," between the&nbsp;conscious and unconscious realms of human mentality, thereby enabling the&nbsp;simulation of artificial intuition on classical computers. A&nbsp;quantum view of nature is also a&nbsp;cornerstone for creating true artificial intelligence, as without understanding the&nbsp;quantum nature of thought, consciousness, and intuition, its development remains an unfulfilled dream. ',
            "интуиция, сознательное, бессознательное, искусственный интеллект, квантовый эффект, нелокальность/запутанность",
            "intuition, consciousness, unconsciousness, artificial intelligence, quantum effect, locality/entanglement")

         +article_text-2( '69-3-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Применение аппарата нечетких множеств для оценки образовательных достижений студента',
            "Application of&nbsp;&thinsp;fuzzy sets to&nbsp;&thinsp;evaluation student's educational achievements",
            'Стативко Роза Усмановна', 'канд. техн. наук, доц. Белгородский государственный технологический университет им. В. Г. Шухова',
            "Roza U. Stativko", "Ph.D. tech. sciences, Associate Professor, Belgorod State Technological University named after V. G. Shukhov",
            "stativko1@mail.ru",
            'Окунева Галина Леонидовна', 'канд. техн. наук, доц., Белгородский государственный технологический университет им. В. Г. Шухова',
            "Galina L. Okuneva", "Ph.D. tech. sciences, Associate Professor, Belgorod State Technological University named after V. G. Shukhov",
            "okynevagl@yandex.ru",
            'Статья посвящена разработке и&nbsp;построению иерархической модели, позволяющей получить количественную оценку образовательных достижений студента. Для разработки модели использован аппарат нечетких множеств, так как теория нечетких множеств позволяет выполнить оценку параметров различной природы, а&nbsp;также количественных и&nbsp;качественных параметров в&nbsp;одном числовом интервале. ',
            "The article is devoted to the&nbsp;development and construction of a&nbsp;hierarchical model that allows for a&nbsp;quantitative evaluation of a&nbsp;student's educational achievements. The&nbsp;model is based on the&nbsp;use of fuzzy sets, as the&nbsp;theory of fuzzy sets enables the&nbsp;evaluation of parameters of various nature, as well as quantitative and qualitative parameters, within a&nbsp;single numerical interval.",
            "показатель образовательных достижений, иерархическая система, нечеткие правила",
            "the indicator of educational achievements, hierarchical system, fuzzy rules")




         +article_text-2( '69-4-1', 'Управление в&nbsp;организационных системах', 'Научная',
            'Возможности больших языковых моделей в&nbsp;&thinsp;образовательной практике',
            "Capabilities of&nbsp;&thinsp;large language models in&nbsp;&thinsp;educational practice",
            'Петров Юрий Игоревич', 'к.э.н., руководитель направления, ПАО &laquo;Сбербанк&raquo;',
            "Yuri I. Petrov", "Ph.D, Functional Manager, Sberbank",
            "mailtoyuripetrov@yandex.ru",
            'Петров Игорь Павлович', 'частный преподаватель, Москва',
            "Igor P. Petrov", "private tutor, Moscow",
            "petrov_i.p@mail.ru",
            'В статье рассматриваются возможности применения больших языковых моделей (LLM) в&nbsp;образовании. Приводятся преимущества LLM, включая персонализацию обучения, автоматизацию рутинных задач, а&nbsp;также ограничения, такие как риск &laquo;галлюцинаций&raquo; и&nbsp;этические вопросы. Особое внимание уделяется российскому контексту развития LLM и&nbsp;их применению в&nbsp;образовательной сфере. Приводятся практические примеры использования языковых моделей в&nbsp;различных предметных областях с&nbsp;конкретными кейсами из педагогической практики.',
            'The article examines the&nbsp;capabilities of large language models (LLMs) in education. The&nbsp;study investigates the&nbsp;advantages of LLMs, including personalized learning approaches and automation of routine pedagogical tasks, as well as their limitations, such as the&nbsp;risk of factual “hallucinations” and ethical considerations. Particular emphasis is placed on the&nbsp;Russian context of LLM development and their application within the&nbsp;educational sector. The&nbsp;article presents practical examples of language model implementation across various subject domains, supported by specific case studies from teaching practice.',
            "большие языковые модели, искусственный интеллект, нейронные языковые модели, образовательная практика, персонализация обучения, GigaChat, промт-инжиниринг",
            "Large Language Models, Artificial Intelligence, Natural Language Modeling, educational practice, personalized learning, GigaChat, prompt engineering")

         +article_text-2( '69-4-2', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'Отечественная программная платформа моделирования и&nbsp;&thinsp;эмуляции компьютерных сетей для образовательных и&nbsp;&thinsp;исследовательских задач',
            "Domestic software platform for&nbsp;&thinsp;modeling and&nbsp;&thinsp;emulation of&nbsp;&thinsp;computer networks for&nbsp;&thinsp;educational and&nbsp;&thinsp;research purposes",
            'Потехина Елена Витальевна', 'доктор экономических наук, профессор кафедры информационных технологий, искусственного интеллекта и&nbsp;общественно-социальных технологий цифрового общества, доцент, ФГБОУ ВО &laquo;РГСУ&raquo;&nbsp;&mdash; Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Российский государственный социальный университет&raquo;',
            "Elena V. Potekhina", "Doctor of Economics, Professor of the&nbsp;Department of Information Technologies, Artificial Intelligence, and Socio-Social Technologies of the&nbsp;Digital Society, Associate Professor, Russian State Social University (RSSU)&nbsp;&mdash; Federal State Budgetary Educational Institution of Higher Education &laquo;Russian State Social University&raquo;",
            "elengapotechina@mail.ru",
            'Волгин Вячеслав Алексеевич', 'аспирант по&nbsp;специальности 2.3.5&nbsp;&mdash; &laquo;Математическое и&nbsp;программное обеспечение вычислительных систем, комплексов и&nbsp;компьютерных сетей&raquo;, ФГБОУ ВО &laquo;РГСУ&raquo;&nbsp;&mdash; Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Российский государственный социальный университет&raquo;',
            "Vyacheslav A. Volgin", "Postgraduate Student in the&nbsp;field of study 2.3.5&nbsp;&mdash; &laquo;Mathematical and Software Support of Computing Systems, Complexes, and Computer Networks&raquo;, Russian State Social University (RSSU)&nbsp;&mdash; Federal State Budgetary Educational Institution of Higher Education &laquo;Russian State Social University&raquo;",
            "v.volgin@ck41.ru",
            'В статье рассматриваются современные программные решения в&nbsp;области моделирования и&nbsp;эмуляции компьютерных сетей и&nbsp;различного сетевого оборудования через призму образовательной и&nbsp;исследовательской практики.<br><i class="i">&bull;</i>Проведен обзор зарубежных программных решений, описаны их преимущества и&nbsp;недостатки в&nbsp;формате технического анализа и&nbsp;прикладного использования.<br><i class="i">&bull;</i>Отмечена проблема отсутствия отечественных аналогов, обеспечивающих полную автономность и&nbsp;независимость от&nbsp;зарубежных платформ.<br><i class="i">&bull;</i>Представлено описание разработанной отечественной программной платформы моделирования и&nbsp;эмуляции сетей, используемой для решения учебных и&nbsp;исследовательских задач.<br><i class="i">&bull;</i>Приведены примеры её применения в&nbsp;учебных курсах и&nbsp;лабораторных работах.<br><br>',
            'The article examines modern software solutions for modeling and emulation of computer networks and various network devices in the&nbsp;context of educational and research practice.<br><i class="i">&bull;</i>An overview of foreign software tools is provided, describing their advantages and disadvantages from the&nbsp;perspective of technical analysis and practical application.<br><i class="i">&bull;</i>The problem of the&nbsp;absence of domestic analogues that ensure full autonomy and independence from foreign platforms is highlighted.<br><i class="i">&bull;</i>A description of the&nbsp;developed domestic software platform for modeling and emulating networks, designed to solve educational and research tasks, is presented.<br><i class="i">&bull;</i>Examples of its use in academic courses and laboratory work are given.<br><br>',
            "моделирование компьютерных сетей, эмуляция сетевого оборудования, программная платформа, сетевые технологии, образовательная среда, импортозамещение, цифровая трансформация образования, сетевое обучение, виртуальные лаборатории",
            "computer network modeling, network equipment emulation, software platform, network technologies, educational environment, import independence, digital transformation of education, network-based learning, virtual laboratories")

         +article_text( '69-4-3', 'Управление в&nbsp;организационных системах', 'Обзорная',
            'О некоторых методах повышения результативности профессиональной служебной деятельности в&nbsp;&thinsp;сфере государственного управления',
            "On some methods of&nbsp;&thinsp;improving the&nbsp;&thinsp;effectiveness of&nbsp;&thinsp;professional service activities in&nbsp;&thinsp;the&nbsp;&thinsp;field of&nbsp;&thinsp;public administration",
            'Малахова Наталья Владимировна', 'кандидат юридических наук, доцент Московского университета МВД России имени В.Я. Кикотя',
            "Nataliya V. Malakhova", "candidate of juridical sciences, assistant professor of Moscow University of Ministry of Internal Affairs of Russia",
            "nv_malakhova@mail.ru",
            'В статье рассматриваются вопросы повышения эффективности государственного управления, которое связывается с&nbsp;использованием методов, оказывающих стимулирующее воздействие на&nbsp;государственных служащих.<br><br>Особое внимание уделяется применению методов экономического характера по&nbsp;отношению к&nbsp;сотрудникам правоохранительных органов в&nbsp;целях увеличения результативности их служебной деятельности.<br><br>',
            'The article discusses the&nbsp;issues of improving the&nbsp;effectiveness of public administration, which is associated with the&nbsp;use of methods that have a&nbsp;stimulating effect on civil servants.<br><br>Special attention is paid to the&nbsp;use of economic methods in relation to law enforcement officers in order to increase the&nbsp;effectiveness of their official activities.<br><br>',
            "государственное управление, государственная служба, органы внутренних дел, сотрудники органов внутренних дел, экономические методы управления, материальное стимулирование, денежное вознаграждение, дополнительные выплаты",
            "public administration, civil service, internal affairs bodies, employees of internal affairs bodies, economic management methods, financial incentives, monetary remuneration, additional payments")

         +article_text-4( '69-4-4', 'Управление в&nbsp;организационных системах', 'Научная',
            'Проектная деятельность во&nbsp;&thinsp;время производственной практики у&nbsp;&thinsp;студентов учреждений высшего образования на&nbsp;&thinsp;примере создания программного комплекса kitchen helper',
            "Project activities during practice at&nbsp;&thinsp;higher educational institutions: the&nbsp;&thinsp;creation of&nbsp;&thinsp;the&nbsp;&thinsp;kitchenhelper program complex",
            'Гурьянова Татьяна Владимировна', 'главный специалист по&nbsp;образовательному процессу (информационные технологии), ООО &laquo;СофтКлуб&nbsp;&mdash; центр разработки&raquo;',
            "Tatiana V. Gourianova", "Chief Specialist in the&nbsp;Educational Process (Information Technologies), SoftClub&nbsp;&mdash; Development Center LLC",
            "tatiana.gourianova@softclub.by",
            'Панкратьев Егор Сергеевич', 'бакалавриат, Факультет компьютерных систем и&nbsp;сетей, Белорусский Государственный Университет Информатики и&nbsp;Радиоэлектроники',
            "Egor S. Pankratiev", "Faculty of Computer Systems and Networks, Belarusian State University of Informatics and Radioelectronics",
            "egor.pankratiew@gmail.com",
            'Корти Егор Ильясович', 'бакалавриат, Факультет компьютерных систем и&nbsp;сетей, Белорусский Государственный Университет ',
            "Egor I. Korti", "Faculty of Computer Systems and Networks, Belarusian State University",
            "egor0korti@gmail.com",
            'Гурьянов Даниил Владимирович', 'бакалавр Европейского гуманитарного университета',
            "Daniil V. Gourianov", "Bachelor's degree from the&nbsp;European Humanities University",
            "Gourianov.Daniil@gmail.com",
            'В публикации рассказывается об&nbsp;успешном опыте организации студенческой проектной деятельности на&nbsp;базе IT-компании ООО &laquo;СофтКлуб&raquo;. Публикация носит исследовательский и&nbsp;научно-методический характер, описывает авторскую разработку методов и&nbsp;средств эффективного преподавания во&nbsp;время производственных практик и&nbsp;стажировок у студентов учреждений высшего образования, а&nbsp;также написания студентами курсовых проектов.',
            "The publication describes the&nbsp;successful experience of organizing student project activities on the&nbsp;basis of IT-company SoftClub LLC. The&nbsp;publication is of research and scientific-methodological nature, describes the&nbsp;author's development of methods and means of effective teaching during practical training and internships for students of higher education institutions, as well as students' writing of course projects.",
            "умный дом, проектное обучение, решения собственной разработки",
            "smart home, project training, self-developed solutions")

