.archive__journal#journal_60
   h3.journal__number
      span Выпуск &#8470;
      span 4 (60)
   .journal__date октябрь 2023
   .journal__remember( data-modal='remember_60' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '60-1-1', 'Разработка концептуальной модели доступности общего образования в&nbsp;условиях цифровой трансформации образования', 'Гордашникова О.Ю.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '60-2-1', 'Современные тенденции в&nbsp;преподавании курсов &laquo;Компьютерное моделирование прикладных задач&raquo; и&nbsp;&laquo;Прикладные системы обработки данных&raquo;', 'Гурьянова Т.В.' )
            +article( '60-2-2', 'Анализ передовых международных практик внедрения систем управления обучением', 'Меренкова П.А., Крикунов А.С.' )
            +article( '60-2-3', 'Образовательные онлайн&ndash;тренажёры с&nbsp;элементами геймификации', 'Степанов М.А., Гергет О.М.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '60-3-1', 'Применение систем видеонаблюдения в&nbsp;образовательных организациях для&nbsp;отслеживания девиантного поведения учащихся', 'Боков Д.Ю., Любин И.П., Галяев В.С.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '60-4-1', 'Направления развития подготовки бакалавров и&nbsp;магистров в&nbsp;области автоматизации, цифровизации и&nbsp;управления', 'Логинова Л.Н., Новиков В.Г., Сафронов А.И.' )
            +article( '60-4-2', 'Применение электронных задачников при изучении языков программирования С&nbsp;и&nbsp;C++', 'Абрамян М.Э.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '60-5-1', 'Модели оценки уровней обученности учащихся и&nbsp;профессионального мастерства учителей', 'Сердюков В.И., Сердюкова Н.А.' )
            +article( '60-5-2', 'Интеграция субъективной виртуальности и&nbsp;компьютерных симуляционных технологий', 'Одинцов Б.Е.' )
            +article( '60-5-3', 'Оценка уровня математических знаний первокурсников на&nbsp;основе данных входного контроля с&nbsp;целью оптимизации учебного процесса', 'Бухенский К.В., Львова Т.Л.' )
            +article( '60-5-4', 'Моделирование участия научного коллектива в&nbsp;конкурсе на&nbsp;реализацию научно&ndash;исследовательского проекта', 'Гинцяк А.М., Редько С.Г.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '60-6-1', 'Мониторинги в&nbsp;сфере общего образования: функции и&nbsp;особенности проведения', 'Боос Н.В., Федорчук Ю.М.' )
            +article( '60-6-2', 'Освоение Арктики: социальные аспекты ', 'Белов Ф.Д., Зволинская О.В., Гутковская Е.А., Савельева А.Д.' )
            +article( '60-6-3', 'Роль педагога и&nbsp;наставника в&nbsp;формировании профессиональных компетенций у&nbsp;студентов', 'Пирязева Т.В.,  Соколов И.В., Герасименко И.И.' )

      section.journal__articles

         +article_text( '60-1-1', 'Цифровая трансформация', 'Научная',
            'Разработка концептуальной модели доступности общего образования в&nbsp;условиях цифровой трансформации образования ',
            "Development of&nbsp;a&nbsp;conceptual model of&nbsp;accessibility of&nbsp;general education in&nbsp;conditions of&nbsp;digital transformation of&nbsp;education",
            'Гордашникова Ольга Юрьевна', 'д.э.н., ведущий специалист отдела обеспечения Управления реализации ведомственных проектов, ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, г. Москва',
            "Olga Yu. Gordashnikova", "Doctor of&nbsp;Economy, Leading Specialist of&nbsp;the&nbsp;Division for&nbsp;Management of&nbsp;the&nbsp;Implementation of&nbsp;Departmental Projects, Federal State Institution of&nbsp;Digital Transformation in&nbsp;Education, Moscow",
            "gordaolga@yandex.ru",
            'В статье изложен материал по&nbsp;разработке концептуальной модели доступности общего образования. Представлены результаты социологического исследования мнения родителей (законных представителей) по&nbsp;обеспечению правовой, социальной, географической, административной и&nbsp;содержательной доступности общего образования. Предложена система показателей обеспечения доступности дошкольного, начального общего, основного общего и&nbsp;среднего общего образования. В&nbsp;условиях цифровой трансформации образования разработана концептуальная модель доступности общего образования с&nbsp;целью создания единого подхода при формировании и&nbsp;ведении региональных информационных систем.',
            "The article presents material on&nbsp;the&nbsp;development of&nbsp;a&nbsp;conceptual model of&nbsp;the&nbsp;accessibility of&nbsp;general education. The&nbsp;results of&nbsp;a&nbsp;sociological study of&nbsp;the&nbsp;opinion of&nbsp;parents (legal representatives) on&nbsp;ensuring the&nbsp;legal, social, geographical, administrative and&nbsp;content accessibility of&nbsp;general education are presented. A&nbsp;system of&nbsp;indicators is&nbsp;proposed to&nbsp;ensure the&nbsp;availability of&nbsp;preschool, primary general, basic general and&nbsp;secondary general education. In&nbsp;the&nbsp;context of&nbsp;the&nbsp;digital transformation of&nbsp;education, a&nbsp;conceptual model of&nbsp;the&nbsp;accessibility of&nbsp;general education has been developed in&nbsp;order to&nbsp;create a&nbsp;unified approach to&nbsp;the&nbsp;formation and&nbsp;maintenance of&nbsp;regional information systems.",
            "общее образование, доступность общего образования,  концептуальная модель, цифровая трансформация образования",
            "general education, accessibility of&nbsp;general education, conceptual model, digital transformation of&nbsp;education")






         +article_text( '60-2-1', 'Информационные технологии', 'Обзорная',
            'Современные тенденции в&nbsp;преподавании курсов &laquo;Компьютерное моделирование прикладных задач&raquo; и&nbsp;&laquo;Прикладные системы обработки данных&raquo; ',
            "Modern trends in&nbsp;course teaching &laquo;Computer modeling of&nbsp;applied problems&raquo; and&nbsp;&laquo;Applied data processing systems&raquo;",
            'Гурьянова Татьяна Владимировна', 'старший преподаватель факультета информационных технологий и&nbsp;робототехники Белорусского национального технического университета ',
            "Tatiana V. Gourianova", "Senior Lecturer of&nbsp;the&nbsp;Faculty of&nbsp;Information Technology and&nbsp;Robotics, Belarusian National Technical University",
            "tgourianova@bntu.by",
            'Наполнение ни&nbsp;одной из&nbsp;современных дисциплин не&nbsp;меняется так быстро, как информатика. С&nbsp;каждым годом на&nbsp;рынке появляются новые технологии и&nbsp;программные продукты. В&nbsp;статье приводится современное наполнение двух курсов, изучающих информационные технологии: &laquo;Компьютерное моделирование прикладных задач&raquo; и&nbsp;&laquo;Прикладные системы обработки данных&raquo;. Курсы могут изучаться как студентами, так и&nbsp;школьниками старших классов. Часы, последовательность изложения и&nbsp;само наполнение тем могут варьироваться в&nbsp;зависимости от&nbsp;учебного заведения, склонностей и&nbsp;наклонностей учащихся.',
            "The content of&nbsp;any of&nbsp;the&nbsp;modern disciplines does not change as quickly as computer science. Every year new technologies and&nbsp;software products appear on&nbsp;the&nbsp;market. This article presents the&nbsp;current content of&nbsp;two courses that study information technology: &laquo;Computer modeling of&nbsp;applied problems&raquo; and&nbsp;&laquo;Applied data processing systems&raquo;. Courses can be studied by both students and&nbsp;high school students. Hours, the&nbsp;sequence of&nbsp;presentation and&nbsp;the very content of&nbsp;the&nbsp;topics may vary depending on&nbsp;the&nbsp;educational institution and&nbsp;the inclinations of&nbsp;the&nbsp;students.",
            "информатика, компьютерное моделирование прикладных задач, прикладные системы обработки данных",
            "computer science, сomputer modeling of&nbsp;applied problems, applied data processing systems")


         +article_text-2( '60-2-2', 'Информационные технологии', 'Научная',
            'Анализ передовых международных практик внедрения систем управления обучением',
            "Analysis of&nbsp;the&nbsp;best international practices of&nbsp;learning management systems implementation",
            'Меренкова Полина Алексеевна', 'старший преподаватель департамента информатики, управления и&nbsp;технологий института цифрового образования, Государственное автономное образовательное учреждение высшего образования города Москвы Московский городской педагогический университет  ',
            "Polina A. Merenkova", "Senior Lecturer of&nbsp;the&nbsp;Department of&nbsp;Informatics, Management and&nbsp;Technology of&nbsp;the&nbsp;Institute of&nbsp;Digital Education, State Autonomous Educational Institution of&nbsp;Higher Education of&nbsp;the&nbsp;City of&nbsp;Moscow Moscow City University",
            "KukhtinaPA@mgpu.ru",
            'Крикунов Арсений Сергеевич', 'ассистент департамента информатики, управления и&nbsp;технологий института цифрового образования, Государственное автономное образовательное учреждение высшего образования города Москвы Московский городской педагогический университет ',
            "Arseniy S. Krikunov", "Assistant of&nbsp;the&nbsp;Department of&nbsp;Informatics, Management and&nbsp;Technology of&nbsp;the&nbsp;Institute of&nbsp;Digital Education, State Autonomous Educational Institution of&nbsp;Higher Education of&nbsp;the&nbsp;City of&nbsp;Moscow Moscow City University",
            "s.krikunof@yandex.ru",
            'Статья посвящена специфике интеграции цифровых решений в&nbsp;мировые образовательные практики. Основным объектом внимания авторов становятся EdTech&ndash;стартапы в&nbsp;области корпоративного обучения, позволяющие повысить вовлеченность участников образовательного процесса, а&nbsp;также реализовать индивидуальный подход и&nbsp;оперативное оценивание достигнутых результатов. Проведенный анализ рынка EdTech позволил выявить основополагающие тренды, определить основные пути обеспечения эффективности обучения, а&nbsp;также предложить экспресс чек-лист проверки разработанности систем управления обучением перед их внедрением в&nbsp;практику.',
            "The paper is&nbsp;devoted to&nbsp;the&nbsp;specifics of&nbsp;integrating digital solutions into global educational practices. The&nbsp;main object of&nbsp;the&nbsp;authors' attention is&nbsp;EdTech&ndash;startups in&nbsp;the&nbsp;field of&nbsp;corporate training, which allow to&nbsp;increase the&nbsp;involvement of&nbsp;participants in&nbsp;the&nbsp;educational process, as&nbsp;well as&nbsp;to&nbsp;implement an individual approach and&nbsp;operational evaluation of&nbsp;the&nbsp;results achieved. The&nbsp;analysis of&nbsp;the&nbsp;EdTech market made it possible to&nbsp;identify the&nbsp;fundamental trends, identify the&nbsp;main ways to&nbsp;ensure the&nbsp;effectiveness of&nbsp;training, and&nbsp;also offer an express checklist to&nbsp;check the&nbsp;development of&nbsp;learning management systems before their implementation into practice.",
            "цифровые платформы, системы управления обучением, образовательные технологии, корпоративное обучение, индивидуальный подход",
            "digital platforms, learning management systems, educational technologies, corporate training, individual approach")

         +article_text-2( '60-2-3', 'Информационные технологии', 'Научная',
            'Образовательные онлайн&ndash;тренажёры с&nbsp;элементами геймификации',
            "Educational online simulators with elements of&nbsp;gamification",
            'Степанов Михаил Александрович', 'аспирант, Томский политехнический университет',
            "Mikhail A. Stepanov", "Postgraduate student, Tomsk Polytechnic University",
            "mas65@tpu.ru",
            'Гергет Ольга Михайловна', 'ведущий научный сотрудник, Институт проблем управления им. В.А. Трапезникова РАН',
            "Olga M. Gerget", "Leading Researcher, Institute of&nbsp;Management Problems named after V.A. Trapeznikov RAS",
            "gerget@ipu.ru",
            'В статье рассмотрены особенности игровых методов в&nbsp;образовании и&nbsp;преимущества геймификации при обучении навыкам набора текста на&nbsp;компьютерной клавиатуре. Представлена структура, описание основных этапов, методика расчета баллов разработанного образовательного онлайн тренажера, позволяющего в&nbsp;игровой форме овладеть навыками быстрой печати. В&nbsp;тренажере предусмотрено пять локаций (исторических эпох), которые позволяют переместиться от&nbsp;самого простого до&nbsp;самого сложного уровня. В&nbsp;соответствии с&nbsp;набранными игровыми баллами преподаватель может оценить уровень подготовки обучающегося.',
            "The article discusses the&nbsp;features of&nbsp;gaming methods in&nbsp;education and&nbsp;the advantages of&nbsp;gamification in&nbsp;teaching typing skills on&nbsp;a&nbsp;computer keyboard. The&nbsp;structure, description of&nbsp;the&nbsp;main stages, the&nbsp;method of&nbsp;calculating the&nbsp;scores of&nbsp;the&nbsp;developed educational online simulator, which allows in&nbsp;a&nbsp;playful way to&nbsp;master the&nbsp;skills of&nbsp;fast printing, are presented. The&nbsp;simulator has five locations (historical eras) that allow you to&nbsp;move from the&nbsp;easiest to&nbsp;the&nbsp;most difficult level. In&nbsp;accordance with the&nbsp;scored game points, the&nbsp;teacher can estimate the&nbsp;level of&nbsp;training of&nbsp;the&nbsp;student.",
            "образовательные тренажеры, симуляция, набор текста, игровые методы обучения, геймификация",
            "educational simulators, simulation, typing, game learning methods, gamification")




         +article_text-3( '60-3-1', 'Системы защиты информации', 'Научная',
            'Применение систем видеонаблюдения в&nbsp;образовательных организациях для&nbsp;отслеживания девиантного поведения учащихся ',
            "Using the&nbsp;video surveillance systems in&nbsp;schools track the&nbsp;deviant behavior of&nbsp;school students",
            'Боков Денис Юрьевич', 'советник федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; ',
            "Denis Yu. Bokov", "Advisor Federal State Autonomous Scientific Institution &laquo;Federal Institute of&nbsp;the&nbsp;digital transformation in&nbsp;education&raquo;",
            "d.bokov@ficto.ru",
            'Любин Илья Петрович', 'заместитель директора федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; ',
            "Ilya P. Lyubin", "Deputy Director Federal State Autonomous Scientific Institution &laquo;Federal Institute of&nbsp;the&nbsp;digital transformation in&nbsp;education&raquo;",
            "i.liubin@ficto.ru",
            'Галяев Владимир Сергеевич', 'начальник отдела организации технической защиты конфиденциальной информации федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;',
            "Vladimir S. Galyaev", "Head of&nbsp;the&nbsp;department of&nbsp;the&nbsp;organization of&nbsp;technical security of&nbsp;confidential information Federal State Autonomous Scientific Institution &laquo;Federal Institute of&nbsp;the&nbsp;digital transformation in&nbsp;education&raquo;",
            "v.galyaev@ficto.ru",
            'В статье представлено теоретическое обоснование применения систем видеонаблюдения для&nbsp;выявления девиантного поведения в&nbsp;общеобразовательных организациях. Приведено правовое обоснование возможности идентификации обучающихся по&nbsp;полученным видео последовательностям. Проведен анализ технологий и&nbsp;алгоритмов, которые могут быть применены для&nbsp;решения поставленной задачи. В&nbsp;качестве математического аппарата выбраны нейронные сверточные сети и&nbsp;алгоритмы выделения аномалий в&nbsp;динамических системах. ',
            "The article presents a&nbsp;theoretical justification for&nbsp;the&nbsp;use of&nbsp;a&nbsp;video surveillance systems to&nbsp;detect deviant behavior in&nbsp;schools. A&nbsp;legal justification for&nbsp;the&nbsp;possibility of&nbsp;identifying students from received video sequences is&nbsp;provided. The&nbsp;analysis of&nbsp;technologies and&nbsp;algorithms that can be applied to&nbsp;solve the&nbsp;problem is&nbsp;carried out. Neural convolutional networks and&nbsp;anomaly detection algorithms in&nbsp;dynamic systems are chosen as the&nbsp;mathematical apparatus.",
            "системы видеонаблюдения, интеллектуальные системы обработки видео последовательностей, нейронные сети, антитеррористическая безопасность, защита обучающихся",
            "video surveillance system, intelligent systems for&nbsp;processing video sequences, neural networks, anti&ndash;terrorist security, protection of&nbsp;students")




         +article_text-3( '60-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Обзорная',
            'Направления развития подготовки бакалавров и&nbsp;магистров в&nbsp;области автоматизации, цифровизации и&nbsp;управления',
            "Directions of&nbsp;bachelor's and&nbsp;master's degree development in&nbsp;the&nbsp;field of&nbsp;automation, digitalization and&nbsp;management",
            'Логинова Людмила Николаевна', 'кандидат технических наук, доцент, доцент кафедры &laquo;Управление и&nbsp;защита информации&raquo;; Федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Ludmila N. Loginova", "PhD, Associate Professor of&nbsp;Department &laquo;Control and&nbsp;Information Security&raquo;, Federal State Institution of&nbsp;Higher Education &laquo;Russian University of&nbsp;Transport&raquo;",
            "ludmilanv@mail.ru",
            'Новиков Вячеслав Геннадьевич', 'кандидат технических наук, доцент кафедры &laquo;Автоматика, телемеханика и&nbsp;связь на&nbsp;железнодорожном транспорте&raquo;; Федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo; ',
            "Vyacheslav G. Novikov", "PhD, Associate Professor of&nbsp;Department &laquo;Automation, telemechanics and&nbsp;communication in&nbsp;railway transport&raquo;, Federal State Institution of&nbsp;Higher Education &laquo;Russian University of&nbsp;Transport&raquo;",
            "9268888805@mail.ru",
            'Сафронов Антон Игоревич', 'кандидат технических наук, доцент, доцент кафедры &laquo;Управление и&nbsp;защита информации&raquo;; Федеральное государственное автономное образовательное учреждение высшего образования &laquo;Российский университет транспорта&raquo;',
            "Anton I. Safronov", "PhD, Associate Professor of&nbsp;Department &laquo;Control and&nbsp;Information Security&raquo;, Federal State Institution of&nbsp;Higher Education &laquo;Russian University of&nbsp;Transport&raquo;",
            "safronov-ai@mail.ru",
            'В статье авторы подводят частный итог исследований процессов цифровизации в&nbsp;транспортной отрасли, выполненных совместно с&nbsp;обучающимися. Рассмотрены результаты, а&nbsp;также процесс подготовки бакалавров и&nbsp;магистров по&nbsp;направлению &laquo;Управление в&nbsp;технических системах&raquo; на&nbsp;кафедре &laquo;Управление и&nbsp;защита информации&raquo; РУТ (МИИТ).',
            "In the&nbsp;article, the&nbsp;authors summarize a&nbsp;particular result of&nbsp;the&nbsp;research of&nbsp;digitalization processes in&nbsp;the&nbsp;transport industry, carried out&nbsp;jointly with students. The&nbsp;results and&nbsp;both the&nbsp;bachelors and&nbsp;masters training process in&nbsp;the&nbsp;&laquo;Control in&nbsp;technical systems&raquo; direction at the&nbsp;RUT (MIIT) &laquo;Control and&nbsp;Information Security&raquo; Department are considered.",
            "автоматические управление, управление в&nbsp;технических системах, подготовка кадров, интеллектуальные системы, АРМ Графиста, цифровизация, транспортные системы",
            "automatic control, control in&nbsp;technical systems, personnel training, intelligent systems, Graphist's workstation, digitalization, transport systems")


         +article_text( '60-4-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Обзорная',
            'Применение электронных задачников при изучении языков программирования С и&nbsp;C++',
            "The use of&nbsp;electronic problem books in&nbsp;the&nbsp;study of&nbsp;programming languages C and&nbsp;C++",
            'Абрамян Михаил Эдуардович', 'доцент факультета вычислительной математики и&nbsp;кибернетики, Университет МГУ-ППИ в&nbsp;Шэньчжэне, доцент кафедры алгебры и&nbsp;дискретной математики Института математики, механики и&nbsp;компьютерных наук им. И. И. Воровича, Южный федеральный университет ',
            "Mikhail E. Abramyan", "Associate Professor of&nbsp;the&nbsp;Faculty of&nbsp;Computational Mathematics and&nbsp;Cybernetics, Shenzhen MSU-BIT University, Associate Professor of&nbsp;the&nbsp;Algebra and&nbsp;Discrete Mathematics Department of&nbsp;the&nbsp;Vorovich Institute of&nbsp;Mathematics, Mechanics, and&nbsp;Computer Science, Southern Federal University",
            "mabr@sfedu.ru",
            'В статье обсуждаются вопросы разработки электронных обучающих ресурсов, предназначенных для&nbsp;поддержки проведения практикумов по&nbsp;программированию на&nbsp;языках C и&nbsp;C++. Рассматриваются особенности разработки учебных заданий по&nbsp;различным темам базового и&nbsp;продвинутого курса, в&nbsp;том числе связанных с&nbsp;обработкой файлов и&nbsp;динамических структур, использованию библиотеки STL, изучению объектно&ndash;ориентированных средств C++ и&nbsp;технологий параллельного программирования. Также описываются подходы к&nbsp;реализации специализированных средств ввода&ndash;вывода и&nbsp;отладки, упрощающих разработку учебных программ, обсуждаются возможности интеграции электронных обучающих ресурсов с&nbsp;современными средами программирования на&nbsp;языках C&nbsp;и&nbsp;C++. В&nbsp;качестве примеров реализации описанных подходов к&nbsp;созданию ЭОР приводится электронный задачник Programming Taskbook и&nbsp;его специализированные расширения.',
            "We discuss the&nbsp;development of&nbsp;educational software to&nbsp;support C and&nbsp;C++ programming workshops. Specific features of&nbsp;developing learning activities on&nbsp;different topics of&nbsp;the&nbsp;basic and&nbsp;advanced course are discussed, including those related to&nbsp;files and&nbsp;dynamic structures processing, using STL library, studying object&ndash;oriented tools of&nbsp;C++ and&nbsp;parallel programming technologies. We also describe approaches to&nbsp;implementing specialized input&ndash;output and&nbsp;debugging tools and&nbsp;discuss possibilities of&nbsp;integrating educational software with modern C and&nbsp;C++ IDEs. The&nbsp;electronic Programming Taskbook and&nbsp;its specialized extensions are given as examples of&nbsp;implementation of&nbsp;the&nbsp;described approaches to&nbsp;creating educational software.",
            "электронный задачник, электронные обучающие ресурсы, программные средства для&nbsp;преподавателя IT-дисциплин, язык С, язык С++",
            "educational software, courseware, software for&nbsp;computer science teacher, C language, C++ language")



         +article_text-2( '60-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Модели оценки уровней обученности учащихся и&nbsp;профессионального мастерства учителей',
            "Models for&nbsp;evaluating the&nbsp;levels of&nbsp;student learning and&nbsp;professional skills of&nbsp;teachers",
            'Сердюков Владимир Иванович', 'доктор технических наук, профессор, ведущий специалист отдела организации научной деятельности ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;; профессор кафедры прикладной математики Московского государственного технического университета имени Н.Э. Баумана ',
            "Vladimir I. Serdyukov", "Doctor of&nbsp;Technical Sciences, Professor, Leading Specialist of&nbsp;the&nbsp;Department of&nbsp;Organization of&nbsp;Scientific Research of&nbsp;the&nbsp;Federal State Institution &laquo;Federal Institute of&nbsp;Digital Transformation in&nbsp;Education&raquo;; Professor of&nbsp;the&nbsp;Department of&nbsp;Applied Mathematics, Moscow State Technical University named after N.E. Bauman",
            "wis24@yandex.ru",
            'Сердюкова Наталья Александровна', 'доктор экономических наук, профессор кафедры финансового менеджмента Российской таможенной академии ',
            "Natalia A. Serdyukova", "Doctor of&nbsp;Economics, Professor of&nbsp;Department of&nbsp;Financial Management of&nbsp;Russian Customs Academy",
            "nsns25@yandex.ru",
            'В статье изложен единый подход к&nbsp;оценке уровней обученности учебному предмету отдельных учащихся, класса в&nbsp;целом, а&nbsp;также результатов профессиональной деятельности обучавших их учителей в&nbsp;шкале отношений. Такие измерения обладают существенными преимуществами по&nbsp;сравнению с&nbsp;другими шкалами, ибо позволяют не&nbsp;только определить, у&nbsp;кого из&nbsp;учащихся уровень обученности выше, но&nbsp;и&nbsp;выявить, во&nbsp;сколько раз (или на&nbsp;сколько) выше, и&nbsp;уловить суть этих различий. Приведенные модели позволяют провести оценку профессиональной деятельности учителя по&nbsp;практическим достижениям его учеников, выявить, основываясь на&nbsp;этом, особенности его профессиональной деятельности, осуществить сравнительную оценку профессионального мастерства учителей.',
            "The article presents a&nbsp;unified approach to&nbsp;evaluating the&nbsp;levels of&nbsp;knowledge of&nbsp;the&nbsp;subject of&nbsp;individual students, the&nbsp;class as a&nbsp;whole, as&nbsp;well as&nbsp;the&nbsp;results of&nbsp;the&nbsp;professional activities of&nbsp;the&nbsp;teachers who taught them on&nbsp;a&nbsp;scale of&nbsp;ratios. Such measurements have significant advantages over other scales, because they allow not only to&nbsp;determine which of&nbsp;the&nbsp;students has a&nbsp;higher level of&nbsp;learning, but also to&nbsp;identify how many times (or by how much) it is&nbsp;higher, and&nbsp;to capture the&nbsp;essence of&nbsp;these differences. The&nbsp;above models make it possible to&nbsp;evaluate the&nbsp;professional activity of&nbsp;a&nbsp;teacher according to&nbsp;the&nbsp;practical achievements of&nbsp;his students, to&nbsp;identify, based on&nbsp;this, the&nbsp;features of&nbsp;his professional activity, and&nbsp;to carry out&nbsp;a&nbsp;comparative evaluation of&nbsp;the&nbsp;professional skills of&nbsp;teachers. ",
            "цифровая трансформация образования, семантическая сеть знаний, ориентированный граф, модель оценки, уровень обученности учащегося, уровень профессионального мастерства учителя, рейтинг, шкала отношений",
            "digital transformation of&nbsp;education, semantic knowledge network, directed graph, evaluation model, student's level of&nbsp;education, level of&nbsp;teacher's professional skills, rating, relationship scale")


         +article_text( '60-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Интеграция субъективной виртуальности и&nbsp;компьютерных симуляционных технологий',
            "Integration of&nbsp;subjective virtuality and&nbsp;computer simulation technologies",
            'Одинцов Борис Ефимович', 'доктор экономических наук, профессор Департамента анализа данных и&nbsp;машинного обучения Финансового университета при Правительстве Российской Федерации',
            "Boris E. Odintsov", "Doctor of&nbsp;Economics Sciences,  Professor of&nbsp;the&nbsp;Department of&nbsp;Data Analysis and&nbsp;Machine Learning of&nbsp;the&nbsp;Financial University under the&nbsp;Government of&nbsp;the&nbsp;Russian Federation",
            "Odintsov45@list.ru",
            'Цель настоящей статьи состоит в&nbsp;доказательстве того, что виртуальный мир существует лишь в&nbsp;сознании человека, а&nbsp;так как компьютер таковым не&nbsp;наделен, поэтому он не&nbsp;может обладать ментальным, а&nbsp;значит и&nbsp;виртуальным пространством.  Отсюда создаваемые сегодня компьютерные симуляции могут служить лишь базой для&nbsp;активизации субъективных ментальных симуляций человека&ndash;пользователя. Компьютер лишь инициирует их и&nbsp;дополняет некоторыми деталями. Для&nbsp;доказательства сформулирована гипотеза о&nbsp;квантово&ndash;виртуальной природе взаимодействия мысле&ndash;образов, приведены схемы манипулирования когнитивными объектами, описаны известные виртуальные пространства, а&nbsp;также введен ряд используемых для&nbsp;этого понятий.',
            "The purpose of&nbsp;this article is&nbsp;to&nbsp;prove that the&nbsp;virtual world exists only in&nbsp;the&nbsp;human mind, and&nbsp;since the&nbsp;computer is&nbsp;not endowed with such, therefore it cannot possess mental, and&nbsp;therefore virtual space. Hence, computer simulations created today can only serve as a&nbsp;basis for&nbsp;activating subjective mental simulations of&nbsp;a&nbsp;human user. The&nbsp;computer only initiates them and&nbsp;supplements them with some details. To&nbsp;prove it, a&nbsp;hypothesis about the&nbsp;quantum&nbsp;virtual nature of&nbsp;the&nbsp;interaction of&nbsp;thought&ndash;images is&nbsp;formulated, schemes for&nbsp;manipulating cognitive objects are given, well&ndash;known virtual spaces are described, and&nbsp;a&nbsp;number of&nbsp;concepts used for&nbsp;this are introduced.",
            "субъективное ментально&ndash;виртуальное пространство, когнитивные модели, объективная виртуальность, симуляторы, естественная симуляция, искусственная компьютерная симуляция, мысль, квантовая природа взаимодействия",
            "subjective mental&ndash;virtual space, cognitive models, objective virtuality, simulators, natural simulation, artificial computer simulation, thought, quantum nature of&nbsp;interaction")

         +article_text-2( '60-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Оценка уровня математических знаний первокурсников на&nbsp;основе данных входного контроля с&nbsp;целью оптимизации учебного процесса',
            "Estimation of&nbsp;the&nbsp;level of&nbsp;mathematical knowledge of&nbsp;first-year students on&nbsp;the&nbsp;basis of&nbsp;entrance control data to&nbsp;optimize the&nbsp;learning process ",
            'Бухенский Кирилл Валентинович', 'к.ф.-м.н., доцент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г.&nbsp;Рязань ',
            "Kirill V. Bukhensky", "PhD, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "bukhensky.k.v@rsreu.ru",
            'Львова Татьяна Львовна', 'старший преподаватель, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г.&nbsp;Рязань ',
            "Tatiana L. Lvova", "Senior Lecturer, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "lvovatl@yandex.ru",
            'В статье рассматриваются результаты входного контроля по&nbsp;математике, проводимого в&nbsp;Рязанском государственном радиотехническом университете имени В.Ф. Уткина последние несколько лет, анализируется корреляция результатов ЕГЭ и&nbsp;входного контроля. Оценивается уровень остаточных знаний первокурсников, выявляются проблемные места в&nbsp;математической подготовке недавних абитуриентов, делаются выводы о&nbsp;корректировке конкретного наполнения учебных программ РГРТУ с&nbsp;целью подготовки студентов к&nbsp;успешной сдаче первой сессии. Данные анализируются как &laquo;горизонтально&raquo;, по&nbsp;годам, так и&nbsp;&laquo;вертикально&raquo;, по&nbsp;конкретным учебным разделам.',
            "The article discusses the&nbsp;results of&nbsp;the&nbsp;entrance control in&nbsp;mathematics conducted at&nbsp;the&nbsp;Ryazan State Radiotechnical University named after V.F. Utkin over the&nbsp;past few years, the&nbsp;correlation of&nbsp;the&nbsp;results of&nbsp;the&nbsp;Unified State Exam and&nbsp;entrance control is&nbsp;analyzed. The&nbsp;level of&nbsp;residual knowledge of&nbsp;first-year students is&nbsp;estimated, problem areas in&nbsp;the&nbsp;mathematical preparation of&nbsp;recent applicants are identified, conclusions are drawn about adjusting the&nbsp;specific content of&nbsp;the&nbsp;curriculum in&nbsp;order to&nbsp;prepare students for&nbsp;the&nbsp;successful passing of&nbsp;the&nbsp;first session. The&nbsp;data is&nbsp;analyzed both horizontally, by years, and&nbsp;vertically, by specific scientific sections.",
            "входной контроль, оценка уровня знаний, математика, Единый Государственный экзамен, первокурсники, проблемные вопросы, коррекция содержания планов и&nbsp;методики преподавания",
            "entrance control, estimation of&nbsp;the&nbsp;level of&nbsp;knowledge, mathematics, Unified State Exam, first-year students, problematic issues, correction of&nbsp;the&nbsp;content of&nbsp;plans and&nbsp;teaching methods")

         +article_text-2( '60-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Моделирование участия научного коллектива в&nbsp;конкурсе на&nbsp;реализацию научно&ndash;исследовательского проекта',
            "Modeling the&nbsp;participation of&nbsp;the&nbsp;research team in&nbsp;the&nbsp;competition for&nbsp;the&nbsp;implementation of&nbsp;a&nbsp;research project",
            'Гинцяк Алексей Михайлович', 'заведующий лабораторией &laquo;Цифровое моделирование индустриальных систем&raquo; Передовой инженерной школы &laquo;Цифровой инжиниринг&raquo; ФГАОУ&nbsp;ВО &laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo; ',
            "Aleksei M. Gintciak", "Head of&nbsp;the&nbsp;Laboratory &laquo;Digital Modeling of&nbsp;Industrial Systems&raquo; Advanced Engineering School &laquo;Digital Engineering&raquo; of&nbsp;Peter the&nbsp;Great St. Petersburg Polytechnic University",
            "gintsyak_am@spbstu.ru",
            'Редько Сергей Георгиевич', 'директор Высшей школы проектной деятельности и&nbsp;инноваций в&nbsp;промышленности Института машиностроения, материалов и&nbsp;транспорта ФГАОУ&nbsp;ВО &laquo;Санкт-Петербургский политехнический университет Петра Великого&raquo;',
            "Sergey G. Redko", "Director of&nbsp;Higher School of&nbsp;Project Management and&nbsp;Innovation in&nbsp;Industry in&nbsp;the&nbsp;Institute of&nbsp;Mechanical Engineering, Materials and&nbsp;Transport of&nbsp;Peter the&nbsp;Great St. Petersburg Polytechnic University",
            "redko_sg@spbstu.ru",
            'Статья посвящена развитию инструментальных средств принятия решений при управлении научно&ndash;исследовательскими проектами с&nbsp;применением методов теории игр. В&nbsp;рамках статьи предлагается теоретико&ndash;игровая модель конкурса на&nbsp;реализацию научно&ndash;исследовательского проекта, включающая финансирующую организацию и&nbsp;научные коллективы в&nbsp;роли стратегических агентов. Теоретико&ndash;игровая модель решена аналитически и&nbsp;с использованием соответствующей имитационной модели. По&nbsp;результатам исследования формируются рекомендации по&nbsp;повышению значений целевых функций стратегических агентов в&nbsp;положении равновесия.',
            "The article is&nbsp;devoted to&nbsp;the&nbsp;development of&nbsp;decision&ndash;making tools in&nbsp;the&nbsp;management of&nbsp;research projects using game theory methods. Within the&nbsp;framework of&nbsp;the&nbsp;article, a&nbsp;game&ndash;theoretic model of&nbsp;a&nbsp;competition for&nbsp;the&nbsp;implementation of&nbsp;a&nbsp;research project is&nbsp;proposed, which includes a&nbsp;funding organization and&nbsp;research teams as strategic agents. The&nbsp;game&ndash;theoretic model is&nbsp;solved analytically and&nbsp;using an appropriate simulation model. Based on&nbsp;the&nbsp;results of&nbsp;the&nbsp;study, recommendations are formed to&nbsp;increase the&nbsp;values of&nbsp;the&nbsp;target functions of&nbsp;strategic agents in&nbsp;the&nbsp;equilibrium position.",
            "гибридное моделирование, научно&ndash;исследовательский проект, научный коллектив, организационная система, принятие решений, равновесие игрового взаимодействия, теория игр, управление проектами",
            "hybrid modeling, research project, research team, organizational system, decision&ndash;making, equilibrium of&nbsp;game interaction, game theory, project management")






         +article_text-2( '60-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Мониторинги в&nbsp;сфере общего образования: функции и&nbsp;особенности проведения',
            "Monitoring in&nbsp;the&nbsp;field of&nbsp;general education: functions and&nbsp;features of&nbsp;the&nbsp;event",
            'Боос Надежда Валентиновна', 'начальник отдела мониторингов ФГАНУ &laquo;Федеральный институт цифровой трансформации&raquo;',
            "Nadezhda V. Boos", "Head of&nbsp;monitoring department FSASI &laquo;Federal Institute for&nbsp;Digital Transformation&raquo;",
            "boosnv@ficto.ru",
            'Федорчук Юлия Михайловна', 'д.э.н., доцент, ведущий специалист ФГАНУ &laquo;Федеральный институт цифровой трансформации ',
            "Yulia M. Fedorchuk", "Dr.S, docent, Leading Specialist FSASI &laquo;Federal Institute for&nbsp;Digital Transformation&raquo;",
            "lj741@yandex.ru",
            'Статья посвящена такому социальному феномену, как мониторинг. Мониторинг позволяет проанализировать все характеристики и&nbsp;основные бизнес&ndash;процессы социально&ndash;экономической системы. Система общего образования в&nbsp;той или иной степени охватывает всех граждан страны и&nbsp;является крупнейшей социально&ndash;экономической системой. Мониторинги предоставляют управленческому звену на&nbsp;всех уровнях большой свод данных о&nbsp;функционировании системы. На&nbsp;базе этих данных вырабатываются и&nbsp;корректируются управленческие решения, анализируются процессы исполнения государственной политики, строятся прогнозы, планируются реформы. В&nbsp;статье проанализирована историческая ретроспектива мониторингов в&nbsp;образовании, приведены виды основных мониторингов, проводимых на&nbsp;федеральном и&nbsp;региональном уровнях, оценена их роль в&nbsp;системе образования, приведены перспективные мониторинги, проводимые Минпросвещением России.',
            "The article is&nbsp;devoted to&nbsp;such a&nbsp;social phenomenon as monitoring. Monitoring allows to&nbsp;analyze all the&nbsp;characteristics and&nbsp;main business processes of&nbsp;the&nbsp;socio&ndash;economic system. The&nbsp;general education system, to&nbsp;one degree or another, covers all citizens of&nbsp;the&nbsp;country and&nbsp;is the&nbsp;largest socio&ndash;economic system. Monitoring provides management at all levels with a&nbsp;large set of&nbsp;data on&nbsp;the&nbsp;functioning of&nbsp;the&nbsp;system. On&nbsp;the&nbsp;basis of&nbsp;these data, managerial decisions are developed and&nbsp;adjusted, the&nbsp;processes of&nbsp;implementing state policy are analyzed, forecasts are made, and&nbsp;reforms are planned. The&nbsp;article analyzes the&nbsp;historical retrospective of&nbsp;monitoring in&nbsp;education, lists the&nbsp;types of&nbsp;main monitoring conducted at the&nbsp;federal and&nbsp;regional levels, estimates their role in&nbsp;the&nbsp;education system, and&nbsp;shows promising monitoring conducted by the&nbsp;Ministry of&nbsp;Education of&nbsp;Russia.",
            "мониторинги, мотивирующий мониторинг, мониторинг управленческих механизмов, мониторинг качества образования, статистическая отчетность, общее образование",
            "monitoring, motivating monitoring, monitoring of&nbsp;management mechanisms, monitoring of&nbsp;the&nbsp;quality of&nbsp;education, statistical reporting, general education")

         +article_text-4( '60-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Освоение Арктики: социальные аспекты',
            "Arctic exploration: social aspects",
            'Белов Филипп Дмитриевич', 'канд. экон. наук, заведующий Центром исследования организационных процессов в&nbsp;сфере науки и&nbsp;инноваций, Российский научно&ndash;исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно&ndash;технической сфере ',
            "Filipp D. Belov", "Ph.D., Head of&nbsp;the&nbsp;Center for&nbsp;research of&nbsp;organizational processes in&nbsp;science and&nbsp;innovation, Russian Research Institute of&nbsp;Economics, Politics and&nbsp;Law in&nbsp;Science and&nbsp;Technology",
            "fdbelov@yandex.ru",
            'Зволинская Оксана Вячеславовна', 'канд. экон. наук, заведующий сектором, Российский научно&ndash;исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно&ndash;технической сфере ',
            "Oksana V. Zvolinskaya", "Ph.D., Head of&nbsp;the&nbsp;Sector, Russian Research Institute of&nbsp;Economics, Politics and&nbsp;Law in&nbsp;Science and&nbsp;Technology",
            "&mdash;",
            'Гутковская Елена Анатольевна', 'канд. экон. наук, заведующий сектором, Российский научно&ndash;исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно&ndash;технической сфере ',
            "Elena A. Gutkovskaya", "Ph.D., Head of&nbsp;the&nbsp;Sector, Russian Research Institute of&nbsp;Economics, Politics and&nbsp;Law in&nbsp;Science and&nbsp;Technology",
            "e.gutkovskaya@riep.ru",
            'Савельева Анастасия Дмитриевна', 'аналитик, Российский научно&ndash;исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно&ndash;технической сфере ',
            "Anastasia D. Saveleva", "Analyst, Russian Research Institute of&nbsp;Economics, Politics and&nbsp;Law in&nbsp;Science and&nbsp;Technology",
            "a.savelieva@riep.ru",
            'В рамках национального проекта &laquo;Науки и&nbsp;университеты&raquo; на&nbsp;базе ведущих научных и&nbsp;образовательных организаций России созданы научные консорциумы, которые выполняют исследования и&nbsp;разработки по&nbsp;приоритетным направлениям Стратегии научно&ndash;технологического развития Российской Федерации. В&nbsp;статье проведен анализ деятельности данных научных консорциумов, направленной на&nbsp;освоение Арктической зоны Российской Федерации. Проанализированы данные из&nbsp;Программ создания и&nbsp;развития научных консорциумов, а&nbsp;также отчетность центров за&nbsp;2022&nbsp;г. Шесть из&nbsp;десяти созданных научных консорциумов получили ряд значимых научных результатов в&nbsp;этой области. Данные результаты представлены в&nbsp;исследовании, показана их важность для&nbsp;Российской Федерации.',
            "Within the&nbsp;framework of&nbsp;the&nbsp;national project &laquo;Sciences and&nbsp;Universities&raquo;, on&nbsp;the&nbsp;basis of&nbsp;leading scientific and&nbsp;educational organizations of&nbsp;Russia, scientific consortiums have been created that carry out&nbsp;research and&nbsp;development in&nbsp;priority areas of&nbsp;the&nbsp;Strategy for&nbsp;Scientific and&nbsp;Technological Development of&nbsp;the&nbsp;Russian Federation. The&nbsp;article analyzes the&nbsp;activities of&nbsp;these scientific consortiums aimed at the&nbsp;development of&nbsp;the&nbsp;Arctic zone of&nbsp;the&nbsp;Russian Federation. Data from the&nbsp;Programs for&nbsp;the&nbsp;Creation and&nbsp;Development of&nbsp;Scientific Consortiums were analyzed, as&nbsp;well as&nbsp;the&nbsp;reports of&nbsp;the&nbsp;centers for&nbsp;2022. Six out&nbsp;of&nbsp;ten created scientific consortiums received a&nbsp;number of&nbsp;significant scientific results in&nbsp;this area. These results are presented in&nbsp;the&nbsp;study, their importance for&nbsp;the&nbsp;Russian Federation is&nbsp;shown.",
            "научные консорциумы, научные центры мирового уровня, Арктическая зона Российской Федерации, научные исследования",
            "scientific consortia, world&ndash;class scientific centers, the&nbsp;Arctic zone of&nbsp;the&nbsp;Russian Federation, scientific research")

         +article_text-3( '60-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Роль педагога и&nbsp;наставника в&nbsp;формировании профессиональных компетенций у&nbsp;студентов',
            "The role of&nbsp;the&nbsp;teacher and&nbsp;mentor in&nbsp;the&nbsp;formation of&nbsp;professional competences in&nbsp;students",
            'Пирязева Татьяна Васильевна', 'кандидат технических наук, доцент, член международной ассоциации &laquo;Союз дизайнеров&raquo;, действительный член Международной академии информатизации, магистр педагогики в&nbsp;области &laquo;Изобразительное искусство&raquo;, ФГБОУ&nbsp;ВО Государственный университет просвещения ',
            "Tatyana V. Piryazeva", "Candidate of&nbsp;technical sciences, associate professor, member of&nbsp;the&nbsp;international association &laquo;Union of&nbsp;designers&raquo;, full member of&nbsp;the&nbsp;International informatization academy, master of&nbsp;pedagogy in&nbsp;the&nbsp;field of&nbsp;fine arts, State University of&nbsp;Education",
            "tvp.blago@gmail.com",
            'Соколов Игорь Владимирович', 'кандидат технических наук, доцент, кафедра систем автоматизированного управления, ФГБОУ&nbsp;ВО &laquo;МГУТУ им. К.Г.&nbsp;Разумовского (Первый казачий университет)&raquo; ',
            "Igor V.  Sokolov", "Candidate of&nbsp;technical sciences, associate professor, department of&nbsp;automated control systems, FSBEI HE &laquo;MSUTM named of&nbsp;K.G. Razumovsky (First Cossack University)&raquo;",
            "i.volokos@mail.ru",
            'Герасименко Ирина Ивановна', 'доцент, член международной ассоциации &laquo;Союз дизайнеров&raquo;, кафедра &laquo;Дизайн и&nbsp;прикладное искусство&raquo;, ФГБОУ&nbsp;ВО &laquo;МГУТУ им. К.Г.&nbsp;Разумовского (Первый казачий университет)&raquo; ',
            "Irina I. Gerasimenko", "Associate professor, member of&nbsp;the&nbsp;international association &laquo;Union of&nbsp;designers&raquo;, department of&nbsp;&laquo;Design and&nbsp;applied arts&raquo;, FSBEI HE &laquo;MSUTM named of&nbsp;K.G. Razumovsky (First Cossack University)&raquo;",
            "Gerasimenko_ii22@mail.ru",
            'В статье рассматривается педагогический эксперимент по&nbsp;формированию профессиональных компетенций у&nbsp;студентов факультета изобразительного искусства и&nbsp;народных ремесел Государственного университета просвещения. В&nbsp;результате эксперимента, проведенного в&nbsp;2020-2023 годы, под руководством педагога и&nbsp;наставника значительно повысилась проектная, конкурсная, научная и&nbsp;публикационная активность студентов. Данные педагогического эксперимента потребуются в&nbsp;разработке компетентностной модели выпускника, которая является одной из&nbsp;главных задач новой национальной системы высшего образования в&nbsp;России.',
            "The article deals with a&nbsp;pedagogical experiment on&nbsp;the&nbsp;formation of&nbsp;professional competencies among students of&nbsp;the&nbsp;Faculty of&nbsp;Fine Arts and&nbsp;Folk Crafts of&nbsp;the&nbsp;State University of&nbsp;Education. As&nbsp;a&nbsp;result of&nbsp;the&nbsp;experiment conducted in&nbsp;2020-2023, under the&nbsp;guidance of&nbsp;a&nbsp;teacher and&nbsp;mentor, the&nbsp;project, competitive, scientific and&nbsp;publication activity of&nbsp;students has significantly increased. The&nbsp;data of&nbsp;the&nbsp;pedagogical experiment will be required in&nbsp;the&nbsp;development of&nbsp;the&nbsp;competence model of&nbsp;the&nbsp;graduate, which is&nbsp;one of&nbsp;the&nbsp;main tasks of&nbsp;the&nbsp;new national system of&nbsp;higher education in&nbsp;Russia.",
            "педагогический эксперимент, проектная работа, профессиональные компетенции, компетентностная модель выпускника, педагог, наставник, конкурс, публикационная деятельность",
            "pedagogical experiment, project work, professional competencies, competence model of&nbsp;a&nbsp;graduate, teacher, mentor, competition, publication activity")




            //'<br><i class="i">&bull;</i>'
