.archive__journal.active_journal#journal_64
   h3.journal__number
      span Выпуск &#8470;
      span 4 (64)
   .journal__date октябрь 2024
   .journal__remember( data-modal='remember_64' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '64-1-1', 'Анализ развития киберпространства', 'Цветков В.Я., Курдюков Н.С.' )
            +article( '64-1-2', 'Поддержка  гомеостаза  цифрового  общества', 'Одинцов Б.Е.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '64-2-1', 'Учебный проект, использующий нейросеть', 'Гурьянова Т.В., Жарский Е.А., Пыжик А.П., Бороховский Г.В.' )
            +article( '64-2-2', 'Инструментально-методическое обеспечение систем интеллектуального тестирования', 'Безруков А.И., Хворостухина Е.В.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '64-3-1', 'Разработка и апробация курса в области информационной безопасности и сетевых технологий для старшеклассников и студентов техникумов с применением дистанционных образовательных технологий', 'Галяев В.С., Гасанова З.А., Шарифова Ц.Г.' )
            +article( '64-3-2', 'Обнаружение внутреннего нарушителя путём выявления стрессового состояния пользователя с использованием динамики нажатия клавиш', 'Султанов А.Э.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '64-4-1', 'Отслеживание  объектов  на видеозаписи  с  помощью методов машинного  обучения  для контроля  тренировок спортсменов', 'Красавина М.С., Исаева М.В., Хлынин Е.Д.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '64-5-1', 'Когнитивное моделирование процессов электронного обучения', 'Соловов А.В., Меньшикова А.А.' )
            +article( '64-5-2', 'Разработка лабораторных работ для студентов, обучающихся по специальности «Управление в технических системах», проводимых в электронной информационно - образовательной среде «NOMOTEX»', 'Димитриенко Ю.И., Зубарев К.М., Скуднева О.В.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '64-6-1', 'Информационно-технологическое обеспечение методических приемов по передаче знаний', 'Разумовский А.И.' )
            +article( '64-6-2', 'Оценка влияния человеческого капитала, формируемого наукой и образованием, на социально-экономическое развитие регионов', 'Меденников В.И.' )
            +article( '64-6-3', 'Цифровая компетентность педагога в контексте его профессиональной готовности к геймификации образования', 'Бечиев Ш.Ш., Федорчук Ю.М., Гордашникова О.Ю., Наумов В.А.' )
            +article( '64-6-4', 'Анализ проблем старших дошкольников и младших школьников', 'Ижванова Е.М.' )
            +article( '64-6-5', 'Современные тренды системы электронной поддержки многоуровневого непрерывного образования: отражение в отечественных наукоемких агрегаторах ', 'Галкина А.И., Гришан И.А., Бобкова Е.Ю.' )


      section.journal__articles
         +article_text-2( '64-1-1', 'Цифровая трансформация', 'тип',
            'Анализ развития киберпространства',
            "Analysis of the development of cyberspace",
            'Цветков Виктор Яковлевич', 'профессор, доктор технических наук, начальник научного отдела. АО «НИИАС» – ведущий отраслевой научно-технологический институт холдинга «РЖД» в области автоматизации и управления сложными технологическими процессами на железнодорожном транспорте, Москва ',
            "Viktor Ya. Tsvetkov", "professor, doctor of technical sciences, Head of the scientific department. JSC NIIAS is a leading industry scientific and technological institute of the Russian Railways holding in the field of automation and management of complex technological processes in railway transport, Moscow",
            "cvj7@mail.ru",
            'Курдюков Никита Сергеевич', 'аспирант, кафедра инструментального и прикладного программного обеспечения, Институт информационных технологий, Российский технологический университет (РТУ МИРЭА), Москва',
            "Nikita S. Kurdyukov", "graduate student, Department of Instrumental and Application Software, Institute of Information Technologies. Russian Technological University (RTU MIREA). Moscow",
            "nskurdyukov@gmail.com",
            'Статья исследует феномен киберпространств в разных областях применения. Киберпространство имеет многоаспектную природу формирования и применения. Исследование киберпространства выполнено с разных аспектов. Показано, что с  системных позиций киберпространство представляет собой систему систем и позволяет применять методы системного анализа для своего исследования и формирования. Как глобальная сетевая система киберпространство трактуется в виде глобального домена.',
            "The article examines the phenomenon of cyberspaces in different areas of application. Cyberspace has a multi-aspect nature of formation and application. The study of cyberspace is carried out from different aspects. It is shown that from a systemic standpoint, cyberspace is a system of systems and allows applying methods of system analysis for its study and formation. As a global network system, cyberspace is interpreted as a global domain.",
            "киберпространство, система систем, цифровая экосистема, геоинформационное пространство, кибер безопасность, цифровое право, сетевая система",
            "cyberspace, system of systems, digital ecosystem, geoinformation space, cyber security, digital law, network system")

         +article_text( '64-1-2', 'Цифровая трансформация', 'тип',
            'Поддержка  гомеостаза  цифрового  общества',
            "Support for the homeostasis of the digital community",
            'Одинцов Борис Ефимович', 'доктор экономических наук, профессор департамента анализа данных  и машинного обучения Финансового университета при Правительстве Российской Федерации ',
            "Boris E. Odintsov", "Doctor of Economics Sciences,  Professor of the Department of data analysis and machine learning Financial University under the Government of the Russian Federation",
            "Odintsov45@list.ru",
            'Целью статьи является попытка создания теоретических основ и специальных инструментов, позволяющих корректировать неразумные действия человека. Энтропия обладает огромным потенциалом в деле естественного и искусственного развития общества. С ее помощью определяются необходимые порядок и хаос, противоположности, без которых развитие невозможно. Для его корректировки вводится базовое понятие «энтропийный фактор», обеспечивающий поддержку в обществе такого уровня энтропии, при котором достигается гомеостатический баланс. ',
            'The purpose of the article is an attempt to create theoretical foundations and special tools to correct unreasonable human actions. Entropy has great potential in the natural and artificial development of society. With its help, the necessary order and chaos are determined, opposites, without which development is impossible. To correct it, the basic concept of "entropy factor" is introduced, which provides support in society for a level of entropy at which homeostatic balance is achieved.',
            "гомеостаз, цифровое общество, энтропия, развитие, саморазвитие",
            "homeostasis, digital society, entropy, development, self-developmen.")





         +article_text-4( '64-2-1', 'Информационные технологии', 'тип',
            'Учебный проект, использующий нейросеть',
            "Educational project using neural network",
            'Гурьянова Татьяна Владимировна', 'главный специалист по образовательному процессу (информационные технологии, ООО «СофтКлуб – центр разработки»',
            "Tatiana V. Gourianova", "Chief Specialist in the educational process (information technology, SoftClub Development Center LLC",
            "tatiana.gourianova@softclub.by",
            'Жарский Егор Александрович', 'третий курс бакалавриата, факультет компьютерного проектирования специальность: Информационные системы и технологии (в обеспечении промышленной безопасности), Белорусский государственный университет информатики и радиоэлектроники ',
            "Egor A. Zharski", "третий курс бакалавриата, факультет компьютерного проектирования специальность: Информационные системы и технологии (в обеспечении промышленной безопасности), Белорусский государственный университет информатики и радиоэлектроники ",
            "egor.zharskiy@mail.ru",
            'Пыжик Анастасия Павловна', 'второй курс бакалавриата, ФПМИ, Информатика, Белорусский государственный университет',
            "Anastasiya P. Pyzhyk", "second year of Bachelor's degree, FPMI, Computer Science, Belarusian State University",
            "nasti1995rad@gmail.com",
            'Бороховский Георгий Владимирович', 'третий курс бакалавриата, Физический факультет, Компьютерная физика, компьютерное моделирование физических процессов, Белорусский государственный университет ',
            "Heorhi V. Barakhouski", "third year of Bachelor's degree, Faculty of Physics, Computer Physics, Computer modeling of physical processes, Belarusian State University",
            "fiz.borohovs@bsu.by",
            'В статье описываются этапы создания учебного проекта «Умная Кухня», в которой программа помогает в подборе рецептов, ингредиентов, составлении меню и приготовлении пищи. Планируя деятельность, мы попытались создать не только полноценное веб-приложение, использующее нейросеть, но и сделали попытку создать роботизированную руку, участвующую в приготовлении пищи.',
            'The article describes the stages of creating an educational project "Smart Kitchen", in which the program helps in the selection of recipes, ingredients, menu preparation and cooking. While planning the activity, we tried to create not only a full-fledged web application using a neural network, but also made an attempt to create a robotic arm involved in cooking.',
            "умный дом, проектное обучение, решения собственной разработки",
            "smart home, project training, self-developed solutions")

         +article_text-2( '64-2-2', 'Информационные технологии', 'тип',
            'Инструментально-методическое обеспечение систем интеллектуального тестирования',
            "Instrumental and methodological support of intelligent testing systems",
            'Безруков Алексей Иосифович', 'доцент кафедры «Информационно-коммуникационные системы и программная инженерия», Саратовский государственный технический университет им. Гагарина Ю.А.',
            "Alexey I. Bezrukov", "associate professor, Yuri Gagarin State Technical University of Saratov",
            "bezr_alex@mail.ru",
            'Хворостухина Екатерина Владимировна', 'доцент кафедры «Информационно-коммуникационные системы и программная инженерия», Саратовский государственный технический университет им. Гагарина Ю.А. ',
            "Ekaterina V. Hvorostukhina", "associate professor, Yuri Gagarin State Technical  University of Saratov",
            "khvorostukhina85@gmail.com",
            'Объективный контроль процесса обучения и уровня усвоения знаний учащимися является необходимым условием качественного образования. В статье рассматриваются различные виды тестирования, формулируются критерии качества, соответствующие каждому из них. Описываются требования к функциональным характеристикам рабочего места преподавателя, создающего тесты, организующего и проводящего тестирование. Предлагаются методы, позволяющие повысить качество тестов и достоверность результатов тестирования. ',
            "Objective control of the learning process and the level of student's competency is a necessary condition for quality education. The article discusses various types of testing and formulates quality criteria corresponding to each of them. The requirements for the functional characteristics of the workplace of a teacher who creates tests, organizes and conducts testing are described. Methods are proposed to improve the quality of computer tests and the reliability of test results.",
            "компьютерное тестирование знаний; теория педагогических измерений; классическое и адаптивное тестирование; достоверность результатов тестирования; алгоритм Байеса; имитационное моделирование тестирования",
            "computer testing of knowledge; theory of pedagogical measurements; classical and adaptive testing; reliability of test results; Bayes algorithm; simulation testing")




         +article_text-3( '64-3-1', 'Системы защиты информации', 'тип',
            'Разработка и апробация курса в области информационной безопасности и сетевых технологий для старшеклассников и студентов техникумов с применением дистанционных образовательных технологий',
            "Development and testing of a course in the field of information security and network technologies for high school and college students using distance learning technologies",
            'Галяев Владимир Сергеевич', 'ведущий научный сотрудник отдела организации научной деятельности Федерального государственного автономного научного учреждения «Федеральный институт цифровой трансформации в сфере образования» ',
            "Vladimir S. Galyaev", "Leading researcher of the Department of organization of scientific activities, Federal State Autonomous Scientific Institution «Federal Institute of the Digital Transformation in Education»",
            "v.galyaev@ficto.ru",
            'Гасанова Зарема Ахмедовна', 'ведущий научный сотрудник отдела организации научной деятельности Федерального государственного автономного научного учреждения «Федеральный институт цифровой трансформации в сфере образования», проректор по цифровизации ГАОУ ВО «Дагестанский государственный университет народного хозяйства»',
            "Zarema A. Gasanova", "Leading researcher of the Department of organization of scientific activities, Federal State Autonomous Scientific Institution «Federal Institute of the Digital Transformation in Education», pro-rector for digitalization DSUNE",
            "cudakharka@yandex.ru",
            'Шарифова Цюкер Габибовна', 'научный сотрудник отдела организации научной деятельности Федерального государственного автономного научного учреждения «Федеральный институт цифровой трансформации в сфере образования»',
            "Tsyuker G. Sharifova", "Researcher of the Department of organization of scientific activities, Federal State Autonomous Scientific Institution «Federal Institute of the Digital Transformation in Education»",
            "sharifova5@mail.ru",
            'Статья посвящена разработке методики проведения занятий по направлению «Информационная безопасность» для обучающихся по программам дополнительного образования с применением дистанционных образовательных технологий. Проведен анализ содержания курсов, затрагивающих вопросы информационной безопасности. Сформированы дидактические единицы, которые должны давать обучающимся представление о современных методах и средствах защиты информации, подходах к обеспечению безопасности информационных систем и вычислительных сетей, нормативно-правовых актах информационной безопасности, а также формировать необходимые практические навыки.',
            'The article is devoted to the development of a methodology for conducting classes in the field of "Information security" for students in additional education programs using distance learning technologies. The analysis of the content of courses dealing with information security issues has been carried out. Didactic units have been formed that should give students an idea of modern methods and means of information protection, approaches to ensuring the security of information systems and computer networks, regulatory legal acts of information security, as well as form the necessary practical skills.',
            "дополнительное образование, старшеклассники и студенты колледжей, информационная безопасность, дистанционные образовательные технологии, практико-ориентированное обучение",
            "additional education, high school and college students, information security, distance educational technologies, practice-oriented learning")

         +article_text( '64-3-2', 'Системы защиты информации', 'тип',
            'Обнаружение внутреннего нарушителя путём выявления стрессового состояния пользователя с использованием динамики нажатия клавиш',
            "Insider threat detection based on stress recognition using keystroke dynamics",
            'Султанов Азамат Эркинджонович', 'Инженер по искусственному интеллекту, The Ping, Душанбе, Таджикистан',
            "Azamat E. Sultanov", "Artificial Intelligence Engineer, The Ping, Dushanbe, Tajikistan",
            "sae010@campus.mephi.ru, azamat.sultonov.98@gmail.com, azamat.sultanov@theping.co",
            'Угроза внутреннего нарушителя – одна из актуальных угроз в области информационной безопасности, поскольку она может привести к большим финансовым потерям организаций. Большинство предложенных методов обнаружения этой угрозы требуют дорогостоящего и инвазивного оборудования, что затрудняет их применение на практике. В данной статье представлен неинвазивный метод обнаружения инсайдерской угрозы, основанный на распознавании стресса по динамике нажатия клавиш пользователем, предполагая, что злоумышленник испытывает стресс при совершении противоправных действий, что влияет на поведенческие характеристики. Предлагаемый метод использует как контролируемые, так и неконтролируемые алгоритмы машинного обучения. Как показывают результаты, стресс может предоставить очень ценную информацию для обнаружения внутренних угроз.',
            "The threat of an internal insider is one of the most urgent threats in the field of information security, since it can lead to large financial losses for organizations. Most of the proposed methods for detecting this threat require expensive and invasive equipment, which makes it difficult to apply them in practice. This article presents a non-invasive method for detecting an insider threat based on stress recognition based on the dynamics of user keystrokes, assuming that the attacker is stressed when committing illegal actions, which affects behavioral characteristics. The proposed method uses both supervised and unsupervised machine learning algorithms. As the results show, stress can provide very valuable information for detecting internal threats.",
            "внутренний нарушитель, выявление стресса, динамика нажатия клавиш, машинное обучение, аномалии",
            "insider, stress detection, keystroke dynamics, machine learning, anomalies")





         +article_text-3( '64-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'тип',
            'Отслеживание  объектов  на видеозаписи  с  помощью методов машинного  обучения  для контроля  тренировок спортсменов',
            "Tracking objects in video recordings using machine learning methods for monitoring athletes' trainings",
            'Красавина Мария Сергеевна', 'кандидат технических наук, Костромской государственный университе',
            "Maria S. Krasavina", "Candidate of Technical Sciences, Kostroma State University",
            "m_krasavina@ksu.edu.ru",
            'Исаева Мария Владимировна', 'кандидат технических наук, Костромской государственный университет',
            "Maria V. Isaeva", "Candidate of Technical Sciences, Kostroma State University",
            "m_isaeva@ksu.edu.ru",
            'Хлынин Егор Дмитриевич', 'инженер-программист, ООО «Компания "Тензор», Кострома',
            "Egor D. Khlynin", "Software Engineer, Tensor Company LLC, Kostroma",
            "egor44rus@gmail.com",
            'В статье рассматриваются алгоритмы машинного обучения для решения задачи отслеживания спортсменов (пловцов) во время тренировки. Для решения поставленной задачи проводится сравнение алгоритмов и обосновывается выбор алгоритма YOLO v8.',
            "The article discusses machine learning algorithms for solving the problem of tracking athletes (swimmers) during training. To solve this problem, a comparison of algorithms is carried out and the choice of the YOLO v8 algorithm is justified.",
            "Машинное обучение, трекинг, компьютерное зрение, тренировки спортсменов",
            "Machine learning, tracking, computer vision, athlete training")





         +article_text-2( '64-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'тип',
            'Когнитивное моделирование процессов электронного обучения ',
            "Cognitive modeling of e-learning processes",
            'Соловов Александр Васильевич', 'к.т.н., профессор по кафедре технической кибернетики Самарского национального исследовательского университета имени академика С.П. Королева ',
            "Alexander V. Solovov", "PhD, Professor at the Department of Technical Cybernetics of Samara National Research University",
            "a_solovov@mail.ru",
            'Меньшикова Анастасия Александровна', 'к.т.н., доцент кафедры суперкомпьютеров и общей информатики Самарского национального исследовательского университета имени академика С.П. Королева',
            "Anastasia A. Menshikova", "PhD, Associate Professor of the Department of Supercomputers and General Informatics of Samara National Research University",
            "nastya.menshikova@gmail.com",
            'В статье рассматриваются методика и алгоритмы когнитивного моделирования процессов электронного обучения с использованием знаковых и взвешенных ориентированных графов (орграфов). Вершины орграфов отображают основные характеристики учебной деятельности. Ориентация, знаки и веса дуг орграфов определяют взаимовлияние этих характеристик. Динамика процессов электронного обучения моделируется в орграфах с помощью специального алгоритма импульсного процесса. Формулируется и решается задача оптимизации весов дуг орграфа с целью достижения устойчивости импульсного процесса. Обсуждаются результаты вычислительных экспериментов на примерах моделей компьютерного тренинга. Когнитивные модели данного типа могут использоваться как средства интеллектуального управления в системах электронного обучения.',
            "The article discusses the methodology and algorithms of cognitive modeling of e-learning processes using sign and weighted oriented graphs (orgraphs). The vertices of the orgraphs represent the main characteristics of the learning activity. The orientation, signs and weights of the orgraph arcs determine the mutual influence of these characteristics. The dynamics of e-learning processes are modeled in orgraphs using a special pulse process algorithm. The problem of optimizing the weights of orgraph arcs in order to achieve the stability of the impulse process is formulated and solved. The results of computational experiments are discussed using examples of computer training models. Cognitive models of this type can be used as a means of intelligent control in e-learning systems.",
            "когнитивное моделирование, электронное обучение, ориентированные графы, орграфы, модели компьютерного тренинга, устойчивость импульсных процессов",
            "cognitive modeling, e-learning, oriented graphs, orgraphs, computer training models, stability of impulse processes")

         +article_text-3( '64-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'тип',
            'Разработка лабораторных работ для студентов, обучающихся по специальности «Управление в технических системах», проводимых в электронной информационно - образовательной среде «NOMOTEX»',
            "Development of laboratory work for students studying in the specialty «management in technical systems» conducted in the electronic information and educational environment «nomotex»",
            'Димитриенко Юрий Иванович', 'доктор физико-математических наук, профессор, заведующий кафедрой Вычислительной математики и математической физики, Московский государственный технический университет им. Н. Э. Баумана',
            "Yuriy I. Dimitrienko", "Doctor of Physical and Mathematical Sciences, Professor, Head of the Department of Computational Mathematics and Mathematical Physics, Bauman Moscow State Technical University",
            "dimit.bmstu@gmail.com",
            'Зубарев Кирилл Михайлович', 'ст. преподаватель, Московский государственный технический университет им. Н. Э. Баумана',
            "Kirill M. Zubarev", "Senior Lecturer, Bauman Moscow State Technical University",
            "skudneva_oksana@bmstu.ru",
            'Скуднева Оксана Валентиновна', 'ст. преподаватель, Московский государственный технический университет им. Н. Э. Баумана',
            "Oksana V. Skudneva", "Senior Lecturer, Bauman Moscow State Technical University",
            "skudneva_oksana@bmstu.ru",
            'В статье предложены несколько вариантов лабораторных работ для студентов второго курса по предмету «Основы теории систем», являющимся вводным курсом в теорию управления. Работы проводятся в электронной образовательной среде Nomotex, выполняющей и проверку результата, и часть необходимых вычислений, а также позволяет визуализировать некоторые ключевые понятия. Тематика лабораторных работ допускает их применение для студентов других инженерных специальностей, таких как Приборы ориентации и навигации, а также для студентов факультета Фундаментальных Наук. Разные виды работ объединены одной целью – обучить студента применению математических знаний, полученных на первом и втором курсе, к решению прикладных инженерных задач. В заключении сформулированы тематика и задачи будущих лабораторных работ, которые авторы планируют подготовить в ближайшее время.',
            "The article offers several options for laboratory work for second-year students on the subject «Fundamentals of systems theory», which is an introductory course in control theory. The work is carried out in the Nomotex electronic educational environment, which performs both result verification and part of the necessary calculations, and also allows you to visualize some key concepts. The subject of the laboratory work allows their use for students of other engineering specialties, such as Orientation and Navigation Devices, as well as for students of the Faculty of Fundamental Sciences. Different types of work are united by one goal – to teach the student to apply the mathematical knowledge obtained in the first and second years to solving applied engineering problems. In conclusion, the topics and tasks of future laboratory work are formulated, which the authors plan to prepare in the near future.",
            "таблица направляющих косинусов, ортогональная матрица, электронная образовательная среда, интеграл Дюамеля, передаточная функция, амплитудно-фазовая характеристика, годограф Михайлова",
            "table of guiding cosines, orthogonal matrix, electronic educational environment, Duhamel integral, transfer function, amplitude-phase characteristic, Mikhailov hodograph")







         +article_text( '64-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'тип',
            'Информационно-технологическое обеспечение методических приемов по передаче знаний',
            "Information technology support of methodological techniques for knowledge transfer",
            'Разумовский Алексей Игоревич', 'к.т.н., cтарший научный сотрудник, Институт проблем управления РАН',
            "Alexey I. Razumowsky", "PhD in Technical Sciences, Senior Researcher, Institute of Control Science RAS",
            "razumowsky@yandex.ru",
            'В статье рассматриваются вопросы информационно-технологической поддержки управления знаниями в образовательном процессе. Предложено информационно-технологическое обеспечение методических приемов по инициализации личного интереса получателя знаний и по формированию адаптирующего к реальности индивидуального опыта решения поставленных задач. ',
            "The article discusses the issues of information technology support for knowledge management in the educational process. The information technology support of methodological techniques for initializing the personal interest of the recipient of knowledge and for the formation of an individual experience adapting to reality in solving tasks is proposed.",
            "передача знаний, личный интерес, индивидуализация, творчески-интеллектуальное взаимодействие, владелец знаний, акцептор знаний, информационная доска, эвристика доступности",
            "knowledge transfer, personal interest, individualization, creative-intellectual interaction, knowledge holder, knowledge acceptor, information board, accessibility heuristic")

         +article_text( '64-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'тип',
            'Оценка влияния человеческого капитала, формируемого наукой и образованием, на социально-экономическое развитие регионов',
            "Estimation of the influence of human capital formed by science and education on the socio-economic development of the regions",
            'Меденников Виктор Иванович', 'доктор технических наук, ведущий научный сотрудник, Федеральный исследовательский центр «Информатика и управление» РАН',
            "Victor I. Medennikov", "D.Sc., leading researcher, Federal Research Center «Computer Science and Control» of RAS",
            "dommed@mail.ru",
            'Рассматриваются математические модели оценки человеческого капитала, а также его влияния на социально-экономическое благополучие регионов страны, формируемого наукой и высшим образованием на примере сельского хозяйства, имеющего наибольшее территориальное организационное представительство в них среди других отраслей, и играющего ключевую роль в повышении эффективности интеллектуального уровня общества. Для единообразного описания данного капитала в этих сферах применена онтологическая стандартизация представления научно-образовательных ресурсов, представленных в интернет-пространстве. Дается сравнительный анализ влияния составных частей сформированного капитала на региональное развитие с учетом проведенной реформы науки.',
            "Mathematical models for estimating human capital, as well as its impact on the socio-economic well-being of the country's regions, formed by science and higher education, are considered on the example of agriculture, which has the largest territorial organizational representation in them among other industries, and plays a key role in improving the efficiency of the intellectual level of society. For a uniform description of this capital in these areas, the ontological standardization of the presentation of scientific and educational resources presented in the Internet space has been applied. A comparative analysis of the impact of the components of the formed capital on regional development is given, taking into account the reform of science.",
            "человеческий капитал, математическая модель, сельское хозяйство, научно-образовательные ресурсы, наука, образование, региональное развитие",
            "human capital, mathematical model, agriculture, scientific and educational resources, science, education, regional development")

         +article_text-4( '64-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'тип',
            'Цифровая компетентность педагога в контексте его профессиональной готовности к геймификации образования',
            "Digital competence of a teacher in the context of his professional readiness for gamification of education",
            'Бечиев Шахруди Шагидович', 'к.э.н., начальник отдела организации научной деятельности, ФГАНУ «Федеральный институт цифровой трансформации в сфере образования», г. Москва ',
            "Shakhrudi Sh. Bechiev", "Candidate of Economics, Head of the Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "sh.bechiev@ficto.ru",
            'Федорчук Юлия Михайловна', 'д.э.н., главный научный сотрудник отдела организации научной деятельности, ФГАНУ «Федеральный институт цифровой трансформации в сфере образования», г. Москва',
            "Yulia M. Fedorchuk", "Doctor of Economics, chief researcher Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "yu.fedorchuk@ficto.ru",
            'Гордашникова Ольга Юрьевна', 'д.э.н., главный научный сотрудник отдела организации научной деятельности, ФГАНУ «Федеральный институт цифровой трансформации в сфере образования», г. Москва',
            "Olga Yu. Gordashikova", "Doctor of Economics, chief researcher Department of Organization of Scientific Activity, Federal State Institution of Digital Transformation in Education, Moscow",
            "gordaolga@yandex.ru",
            'Наумов Василий Александрович', 'к.э.н, доцент кафедры коммерции и менеджмента, ФГБОУ ВО «Нижневартовский государственный университет», г. Нижневартовск ',
            "Vasily A. Naumov", "Candidate of Economics, Associate Professor of the Department of Commerce and Management, Nizhnevartovsk State University Nizhnevartovsk",
            "&mdash;",
            'Статья посвящена проблеме внедрения игровых практик в образовательную деятельность. Проведен обзор российских исследований в области оценки цифровых компетенций педагогических работников в контексте их готовности к геймификации образования. Представлена авторская модель ликвидации выявленных в ходе диагностик дефицитов профессиональной подготовки учителей общеобразовательных организаций.',
            "The article is devoted to the problem of introducing gaming practices into educational activities. A review of Russian research in the field of estimating the digital competencies of teaching staff in the context of their readiness for the gamification of education is conducted. The author's model for the elimination of deficiencies in the professional training of teachers of general education organizations identified during diagnostics is presented.",
            "геймификация, цифровая компетентность, дидактические возможности",
            "gamification, digital competence, didactic opportunities")

         +article_text( '64-6-4', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'тип',
            'Анализ проблем старших дошкольников и младших школьников',
            "Analysis of the problems of older preschoolers and younger schoolchildren",
            'Ижванова Елена Михайловна', 'кандидат психологических наук, эксперт',
            "Helena M. Izhvanova", "Ph.D., the expert",
            "izhvanova@bk.ru",
            'Статья посвящена анализу существующих проблем старших дошкольников и младших школьников, которые могут стать причиной неуспешности обучения в школе. Акцентируется внимание на проблемы здоровья детей, наличие неблагоприятной эмоциональной ситуации в семье и различных психологических факторов.',
            "The article is devoted to the analysis of the existing problems of older preschoolers and younger schoolchildren, which can cause the failure of schooling. Attention is focused on the problems of children's health, the presence of an unfavorable emotional situation in the family and various psychological factors.",
            "здоровье, психологические проблемы, проблемы отношения к ребенку",
            "health, psychological problems, child attitude problems")

         +article_text-3( '64-6-5', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'тип',
            'Современные тренды системы электронной поддержки многоуровневого непрерывного образования: отражение в отечественных наукоемких агрегаторах ',
            "Modern trends in the system of electronic support for multilevel continuing education: reflection in domestic high-tech aggregators",
            'Галкина Александра Ивановна', 'заведующая отделом, федеральное государственное бюджетное учреждение науки «Институт программных систем им. А.К. Айламазяна Российской академии наук» ',
            "Alexandra I. Galkina", "Head of the Department, Federal State Budgetary Institution of Science «A.K. Aylamazyan Institute of Software Systems of the Russian Academy of Sciences»",
            "galkina3@yandex.ru",
            'Гришан Игорь Александрович', 'ИТ-специалист, федеральное государственное бюджетное учреждение науки «Институт программных систем им. А.К. Айламазяна Российской академии наук»',
            "Igor A. Grishan", "IT specialist, Federal State Budgetary Institution of Science «A.K. Aylamazyan Institute of Software Systems of the Russian Academy of Sciences»",
            "&mdash;",
            'Бобкова Елена Юрьевна', 'к.п.н., доцент, Поволжский казачий институт управления и пищевых технологий (филиал) федерального государственного бюджетного образовательного учреждения «Московский государственный университет технологий и управления имени К.Г. Разумовского»',
            "Elena Yu. Bobkova", "PhD, Associate Professor, Volga Cossack Institute of Management and Food Technologies (branch) of the Federal State Budgetary Educational Institution «Moscow State University of Technology and Management named after K.G. Razumovsky»",
            "&mdash;",
            'Многоуровневое непрерывное образование, столь востребованное сегодня, – креативное образование, целью которого является формирование в учебном процессе основных черт творческой личности учащегося и студента: духовность, интеллект, профессионализм; укрепление  нравственного и физического здоровья; обеспечение саморазвития, самодисциплины, самореализации. Так как современное образование опирается и поддерживается  электронными ресурсами, исследуется многоуровневое непрерывное образование сквозь призму электронных ресурсов, зарегистрированных в Объединенном фонде электронных ресурсов «Наука и образование» (ОФЭРНиО) во II квартале этого года. В статье приведены результаты исследования в форме системы электронной поддержки многоуровнего непрерывного образования в рамках подготовки ИТ-специалиста, востребованного экономикой страны в условиях дефицита в стране в 600 тыс. данных специалистов.',
            "Multilevel continuing education, which is so in demand today, is creative education, the purpose of which is to form in the educational process the main features of the creative personality of the student and student: spirituality, intelligence, professionalism; promotion of moral and physical health; ensuring self-development, self-discipline, self-realization. Since modern education is supported and supported by electronic resources, multilevel continuing education is being investigated through the prism of electronic resources registered with the Joint Fund for Electronic Resources «Science and Education» in the second quarter of this year. The article presents the results of a study in the form of an electronic support system for multi-level continuing education as part of the training of an IT specialist demanded by the country's economy in the face of a shortage of 600 thousand data specialists.",
            "многоуровневое непрерывное образование, регистрация, электронные ресурсы",
            "multilevel continuing education, registration, e-resources")









