.archive__journal.active_journal#journal_62
   h3.journal__number
      span Выпуск &#8470;
      span 2 (62)
   .journal__date апрель 2024
   .journal__remember( data-modal='remember_62' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Государственная политика в&nbsp;области информатизации в&nbsp;образовании и&nbsp;науке
            +article( '62-1-1', 'Патриотическое воспитание обучающихся, формирование информационных и&nbsp;творческих компетенций посредством участия в&nbsp;конкурсе', 'Пирязева Т.В., Соколов И.В., Герасименко И.И.' )

         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '62-2-1', 'Web-представительство научно&ndash;исследовательских организаций как зеркало результатов реформы науки', 'Меденников В.И.' )
            +article( '62-2-2', 'Цифровая трансформация образования, цифровая деменция и&nbsp;доказательная педагогика', 'Мухаметзянов И.Ш.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '62-3-1', 'Структура информационной системы мастер-класса «Применение систем искусственного интеллекта для&nbsp;поддержки курса «Русский как&nbsp;иностранный»', 'Хаерова Э.И., Тумбинская М.В., Гарифуллин Р.Ф.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '62-4-1', 'VR-тренажер по&nbsp;обработке конфиденциальных данных на&nbsp;физическом носителе', 'Хаерова Э.И., Тумбинская М.В., Гарифуллин Р.Ф.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '62-5-1', 'Применение интеллектуального анализа для&nbsp;возрастной градации естественно&ndash;языковых текстов', 'Фомин В.В., Фомина И.К.' )
            +article( '62-5-2', 'Технология автоматизации создания однотипных документов', 'Морсакова Ю.В.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '62-6-1', 'Влияние на&nbsp;социальные процессы с&nbsp;помощью когнитивной технологии', 'Одинцов Б.Е.' )
            +article( '62-6-2', 'Подходы к формированию образовательных программ в области интеллектуальных систем', 'Сидоренко В.Г., Кулагин М.А., Ермакова А.Е., Савицкий Д.Д., Часников А.А.' )
            +article( '62-6-3', 'Критерии классификации современных ERP-систем', 'Пустовой А.С., Потехина Е.В.' )
            +article( '62-6-4', 'Выбор метода проведения компьютерного тестирования с учетом целей и обстоятельств проведения тестирования', 'Безруков А.И., Вагарина Н.С., Гусятников В.Н., Сытник А.А.' )

         .journal__section
            .journal__section_title Управление в социальных и экономических системах
            +article( '62-7-1', 'Информатизация процесса дополнительного образования в физико-математической школе', 'Корячко А.В., Богатова С.В.' )
            +article( '62-7-2', 'Проблема прогнозирования результатов ЕГЭ по отметкам, полученным старшеклассниками при проведении промежуточных аттестаций', 'Сердюков В.И., Сердюкова Н.А.' )

         .journal__section
            .journal__section_title Дайджест
            +article( '62-8-1', 'Краткий обзор публикаций научно-методического журнала «Информатизация образования и науки» за 2023 год', 'Миронов В.В.' )

      section.journal__articles
         +article_text-3( '62-1-1', 'Государственная политика в&nbsp;области информатизации в&nbsp;образовании и&nbsp;науке', 'тип',
            'Патриотическое воспитание обучающихся, формирование информационных и&nbsp;творческих компетенций посредством участия в&nbsp;конкурсе',
            "Patriotic education of students, formation of informational and creative competencies through participation in the competition",
            'Пирязева Татьяна Васильевна ', 'кандидат технических наук, доцент, член Международной ассоциации «Союз дизайнеров», действительный член Международной академии информатизации, магистр педагогики в области «Изобразительное искусство», ФГАОУ ВО Государственный университет просвещения ',
            "Tatyana V. Piryazeva", "International association «Union of designers», full member of the International informatization academy, master of pedagogy in the field of fine arts, State university of education",
            "tvp.blago@gmail.com",
            'Соколов Игорь Владимирович', 'кандидат технических наук, доцент, кафедра систем автоматизированного управления, ФГБОУ ВО «МГУТУ им. К. Г. Разумовского (Первый казачий университет)» ',
            "Igor V. Sokolov", "Candidate of technical sciences, associate professor, department of automated control systems, FSBEI HE «MSUTM named of K.G. Razumovsky (First cossack university)»",
            "i.volokos@mail.ru",
            'Герасименко Ирина Ивановна ', 'член международной ассоциации «Союз дизайнеров», член Союза дизайнеров России, доцент кафедры «Конструирование и дизайн одежды» факультета дизайна, ФГБОУ ВО «МГУТУ им. К.Г. Разумовского (Первый казачий университет)»',
            "Irina I. Gerasimenko", "Member of the International association 'Union of designers', Member of the Union of designers of Russia, associate professor of the department of 'Construction and fashion design' of the faculty of design, FSBEI HE «MSUTM named of K.G. Razumovsky (First cossack university)»",
            "Gerasimenko_ii22@mail.ru",
            'В статье рассматривается практический опыт организации первого Всероссийского конкурса проектов «Бессмертный полк героев Отечества», проведенного 8-9 февраля 2024 года в рамках XXVII Международной конференции «Современный информационные технологии в образовании, науке и промышленности». Участие в конкурсе способствует формированию информационных и творческих компетенций, патриотическому воспитанию обучающихся и развитию у них семейных ценностей посредством изучения биографии своих родственников, участников Великой Отечественной Войны и их документов на Интернет-портале «Память народа». В статье приведен аналитический обзор ведущих музеев московского региона, посвященных Великой Отечественной Войне, проанализированы функциональные возможности Интернет-портала «Память народа».',
            "The article discusses the practical experience of organizing the first All-Russian project competition «Immortal regiment of heroes of the Fatherland» held on February 8-9, 2024 within the framework of the XXVII International conference «Modern information technologies in education, science and industry». Participation in the competition contributes to the formation of information and creative competencies, patriotic education of students and the development of family values by studying the biography of their relatives, participants in the Great Patriotic War, and their documents on the Internet portal «Memory of the people». The article provides an analytical review of the leading museums in the Moscow region dedicated to the Great Patriotic War, and analyzes the functionality of the Internet portal «Memory of the people».",
            "Всероссийский конкурс, Бессмертный полк, герои Отечества, патриотическое воспитание, семейные ценности, документы периода Великой Отечественной Войны, Интернет-портал «Память народа», информационные компетенции",
            "all-Russian competition, Immortal Regiment, heroes of the Fatherland, patriotic education, family values, documents from the period of the Great Patriotic War, Internet portal «Memory of the people», information competencies")





         +article_text( '62-2-1', 'Цифровая трансформация', 'Научная',
            'Web-представительство научно&ndash;исследовательских организаций как зеркало результатов реформы науки',
            "Web representation of research organizations as a mirror of the results of science reform",
            'Меденников Виктор Иванович ', 'доктор технических наук, ведущий научный сотрудник, Федеральный исследовательский центр «Информатика и управление» РАН',
            "Victor I. Medennikov", "D.Sc., leading researcher, Federal Research Center «Computer Science and Control» of RAS",
            "dommed@mail.ru",
            'В статье на основе качественных и количественных показателей информационных ресурсов на сайтах научно-исследовательских учреждений рассматривается способность их (как реформированных, так и сохранивших свой статус после начатой в 2013 г. реформы российской науки) своевременно и адекватно реагировать на участившиеся в мировом общественном развитии в последнее время существенные социально-экономические вызовы с учетом приоритетов исполнения наукой основных функций при вступлении человечества в эру всеобщей цифровизации – цифровизации непосредственно науки, повышения образовательного уровня всех слоев населения, ускоренного и эффективного трансфера научных знаний в экономику. Рассматривается сравнение реакций различных групп научно-исследовательских учреждений на возникающие новые запросы всех слоев общества, связанные с социально-экономическими вызовами.',
            "Based on qualitative and quantitative indicators of information resources on the websites of research institutions, the article examines their ability (both reformed and retained their status after the reform of Russian science initiated in 2013) to respond in a timely and adequate manner to significant socio-economic developments in the global social development in recent years challenges, taking into account the priorities of performing the main functions of science when humanity enters the era of universal digitalization – digitalization of science directly, improving the educational level of all segments of the population, accelerated and effective transfer of scientific knowledge to the economy. A comparison of the reactions of various groups of research institutions to emerging new demands from all sectors of society related to socio-economic challenges is considered.",
            "реформа науки, модель управления, методология оценки, эффективность, информационные научно-образовательные ресурсы, научно-исследовательские учреждения, сайты",
            "science reform, management model, evaluation methodology, efficiency, information scientific and educational resources, research institutions, websites")

         +article_text( '62-2-2', 'Цифровая трансформация', 'Обзорная',
            'Цифровая трансформация образования, цифровая деменция и&nbsp;доказательная педагогика',
            "Digital transformation of education, digital dementia and evidence-based pedagogy",
            'Мухаметзянов Искандар Шамилевич', 'доктор медицинских наук, профессор, ФГБНУ «Институт стратегии развития образования Российской академии образования», г. Москва',
            "Iskandar Sh. Mukhametzyanov", "Doctor of Medical Sciences, Professor, Institute of Educational Development Strategy of the Russian Academy of Education, Moscow",
            "mukhametzyanov@instrao.ru",
            'В статье рассмотрены общие для всех стран тренды в цифровой трансформации образования и представлен существующий опыт оценки негативного влияния цифровых технологий на интеллектуальные способности обучаемых.',
            "The article examines the trends common to all countries in the digital transformation of education and presents the existing experience of evaluating the negative impact of digital technologies on the intellectual abilities of students.",
            "цифровая трансформация образования, современные тренды в образовании, цифровые технологии, цифровая деменция, доказательная педагогика",
            "digital transformation of education, modern trends in education, digital technologies, digital dementia, evidence-based pedagogy")



         +article_text-4( '62-3-1', 'Информационные технологии', 'Обзорная',
            'Структура информационной системы мастер-класса «Применение систем искусственного интеллекта для&nbsp;поддержки курса «Русский как&nbsp;иностранный»',
            "The structure of the information system of the «Application of artificial intelligence systems to support the rfl teaching» master class",
            'Матухин Павел Гранитович', 'ст. преподаватель кафедры компьютерных технологий Филологического ф-та Российского университета Дружбы народов им. Патриса Лумумбы ',
            "Pavel G. Matukhin", "Senior lecturer of the Faculty of Computer Technologies. Philological Faculty of the Patrice Lumumba Peoples’ Friendship University of Russia",
            "m-pg@mail.ru",
            'Петрова Марина Георгиевна', 'кандидат филологических наук, доцент Института иностранных языков Российского университета Дружбы народов им. Патриса Лумумбы',
            "Marina G. Petrova", "Candidate of Philological Sciences, Associate Professor of the Institute of Foreign Languages, Patrice Lumumba Peoples' Friendship University of Russia",
            "petrova-mg@rudn.ru",
            'Копылова Полина Александровна', 'ст. педагог-преподаватель Института русского языка Российского университета Дружбы народов им. Патриса Лумумбы',
            "Polina A. Kopylova", "Senior teacher-lecturer at the Institute of the Russian Language, Patrice Lumumba Peoples' Friendship University of Russia",
            "kpafiles@gmail.com",
            'Петров Григорий Павлович', 'аспирант Института иностранных языков Российского университета Дружбы народов им. Патриса Лумумбы ',
            "Grigorij P. Petrov", "PhD Student of the Institute of Foreign Languages, Patrice Lumumba Peoples' Friendship University of Russia",
            "petrov-gp@rudn.ru",
            'Представлено описание информационной структуры мастер-класса для первоначального ознакомления преподавателей русского языка как иностранного с основными возможностями и инструментами нейросетевых систем. Базовым элементом системы выбран сетевой гугл-диск, на котором размещены прецедентные, рабочие и результирующие информационные продукты. Занятие проводится в асинхронном асинтопическом режиме методом инверсного фронтального опроса неличностных участников класса ChatGPT-4, Midjourney и их производных с подключением их к общему чату мессенджера Telegram.',
            "Presented is the description of the information structure of the master class for the initial acquaintance of teachers of the Russian as a foreign language with the basic capabilities and tools of neural network systems. The basic element of the system is a network Google drive, which contains precedent, working and resulting information products. The lesson is conducted in asynchronous asyntopic mode by the method of the inverse frontal polling of non-personal participants of the ChatGPT-4, Midjourney class and their derivatives with their connection to the general chat of the Telegram messenger.",
            "русский язык как иностранный; преподавание; нейросети, ChatGPT-4, Midjourney",
            "Russian as a foreign language; teaching; neural networks, ChatGPT-4, Midjourney")


         +article_text-3( '62-4-1', 'Системы защиты информации', 'Обзорная',
            'VR-тренажер по&nbsp;обработке конфиденциальных данных на&nbsp;физическом носителе',
            "VR-simulator for processing confidential data on a physical medium",
            'Хаерова Эндже Ильдаровна', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования «Казанский национальный исследовательский технический университет им. А.Н. Туполева»',
            "Endzhe I. Haerova", "Student, Kazan National Research Technical University after by A.N. Tupolev",
            "engikhaer@gmail.com",
            'Тумбинская Марина Владимировна', 'кандидат технических наук, Федеральное государственное бюджетное образовательное учреждение высшего образования «Казанский национальный исследовательский технический университет им. А.Н. Туполева»',
            "Marina V. Tumbinskaya", "Candidate of Sciences in Technology, Kazan National Research Technical University after by A.N. Tup",
            "tumbinskaya@inbox.ru",
            'Гарифуллин Руслан Фанилевич', 'старший преподаватель, Федеральное государственное бюджетное образовательное учреждение высшего образования «Казанский национальный исследовательский технический университет им. А.Н. Туполева» ',
            "Ruslan F. Garifullin", "Senior Lecturer, Kazan National Research Technical University after by A.N. Tupolev",
            "RFGarifullin@kai.ru",
            'Предложен виртуальный тренажер, который представляет собой набор интерактивных моделей в трехмерном виртуальном пространстве, позволяющий реализовать сценарии взаимодействия пользователей и специального программного обеспечения, по практическому применению безопасного восстановления, гарантированного удаления и шифрования данных в процессе их обучения. В статье приведен анализ программных продуктов для обработки конфиденциальных данных на физических носителях, которые заложены в основу виртуального тренажера, дано описание разработки виртуального тренажера на основе игрового движка Unity, проведено экспериментальное исследование. Результаты исследования позволяют сдать вывод о том, что виртуальный тренажёр позволил повысить уровень и качество знаний, компетенций пользователей по информационной безопасности, что подтверждается положительной динамикой результатов эксперимента.',
            "A virtual simulator is proposed, which is a set of interactive models in a three-dimensional virtual space that allows you to implement scenarios for user interaction and special software for the practical application of secure recovery, guaranteed deletion and encryption of data in the process of their training. The article provides an analysis of software products for processing confidential data on physical media, which are the basis of a virtual simulator, describes the development of a virtual simulator based on the Unity game engine, and conducted an experimental study. The results of the study allow us to conclude that the virtual simulator has made it possible to increase the level and quality of users' knowledge and competencies in information security, which is confirmed by the positive dynamics of the experiment results.",
            "VR-тренажёр, гарантированное удаление данных, шифрование, восстановление данных, виртуальная реальность, обучение",
            "VR simulator, guaranteed data deletion, encryption, data recovery, virtual reality, training")


         +article_text-2( '62-5-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Применение интеллектуального анализа для&nbsp;возрастной градации естественно&ndash;языковых текстов',
            "Application of predictive analysis for age gradation of natural language texts",
            'Фомин Владимир Владимирович', 'доктор технических наук, профессор кафедры информационных систем и технологий, Санкт-Петербургский государственный университет аэрокосмического приборостроения, г. Санкт-Петербург',
            "Vladimir V. Fomin", "Doctor of Technical Sciences, Professor of the Department of Information Systems and Technologies, St. Petersburg State University of Aerospace Instrumentation, St. Petersburg",
            "v_v_fomin@mail.ru",
            'Фомина Инга Константиновна', 'кандидат технических наук, профессор кафедры математического моделирования и прикладной информатики, ГУМРФ имени адмирала С.О. Макарова, г. Санкт-Петербург ',
            "Inga K. Fomina", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, State University of Medical Sciences named after Admiral S.O. Makarov, St. Petersburg",
            "fominga@list.ru",
            'Статья исследует способы автоматизированной оценки сложности естественно-языкового текста в зависимости от возрастной градации. Авторы представляют различные методы и алгоритмы, позволяющие определить уровень понимания текста читателем на основе его возраста. В статье рассмотрены такие подходы, как подход к градации сложности понимания текста на основе оценки компетенции владения языком при проведении экзамена по наборам текстового материала экспертной уровневой категоризации, подходы, основанные на методах цифровой обработки естественных языков и моделях искусственных нейронных сетей. Представлена технология градации сложности текста с использованием прикладных программных решений и библиотек морфологического анализа, методов параметризации, индексации текстов, алгоритмов регрессионных деревьев решений для извлечения знаний. Приведены результаты серии экспериментов в рамках решения задач автоматической возрастной градации для тестирования уровня знаний языка, а также в художественных произведениях, рекомендуемых, маркируемых для чтения на школьном уровне.',
            "The article explores methods for automated evaluation of the complexity of natural language text depending on age gradation. The authors present various methods and algorithms that allow us to determine the level of understanding of a text by a reader based on his age. The article discusses such approaches as the approach to grading the complexity of understanding text based on assessing language competence during an exam on sets of text material of expert level categorization, approaches based on digital natural language processing (NLP) methods and artificial neural network models. A technology for grading text complexity using applied software solutions and libraries of morphological analysis, parameterization methods, text indexing, and regression decision tree algorithms for knowledge extraction is presented. The results of a series of experiments are presented in the framework of solving problems of automatic age gradation for testing the level of language knowledge, as well as in works of fiction recommended and marked for reading at the school level.",
            "автоматическая обработка текста, обработка естественных языков, интеллектуальный анализ текстов, возрастная градация текста",
            "automatic text processing, NLP, text-mining, age gradation of text")

         +article_text( '62-5-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Технология автоматизации создания однотипных документов',
            "Technology for automating the creation of similar documents",
            'Морсакова Юлия Владимировна', 'кандидат физико-математических наук, доцент кафедры экономической безопасности, Рязанский филиал Московского университета МВД России им. В.Я. Кикотя, г. Рязань',
            "Yulia V. Morsakova", "candidate of physical and mathematical Sciences, Associate Professor of the Department of economic security, Ryazan branch of the Moscow University of the Ministry of internal Affairs of Russia named after V. Ya. Kikot, Ryazan",
            "jykos@mail.ru",
            'В статье рассматривается технология создания набора однотипных документов в текстовом процессоре с целью автоматизации документооборота и сокращения объема документации. В связи с появлением компьютерной техники и активным развитием информационно-коммуникационных технологий объем обрабатываемых электронных документов стремительно растет. Решить проблему стремительного роста количества обрабатываемых текстовых электронных документов может помочь использование так называемых документов слияния, представляющих собой два связанных файла, один из которых является шаблоном (либо формой) документа, поля которого заполняются из второго документа, являющегося источником данных (базой данных). С использованием документов слияния можно создавать как простейшие однотипные письма для дальнейшей рассылки по электронной почте, так и заполнять сложные кадровые документы.',
            "The article discusses the technology of creating a set of similar documents in a word processor, in order to automate document flow and reduce the volume of documentation. Due to the advent of computer technology and the active development of information and communication technologies, the volume of processed electronic documents is growing rapidly. The use of so-called merge documents, which are two linked files, one of which is a template (or form) of a document, the fields of which are filled in from the second document, which is a data source (database), can help solve the problem of the rapid growth in the number of processed text electronic documents. With the use of merge documents, you can create both the simplest letters of the same type for further e-mail distribution, and fill out complex personnel documents.",
            "профильно-ориентированное обучение, информационные технологии, автоматизация, текстовый документ, шаблоны, формы, слияние документов, интеграция данных",
            "profile-oriented training, information technology, automation, text document, templates, forms, document merging, data integration")


         +article_text( '62-6-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Влияние на&nbsp;социальные процессы с&nbsp;помощью когнитивной технологии',
            "Influence on social processes using cognitive technology",
            'Одинцов Борис Ефимович ', 'д.э.н., профессор Департамента анализа данных и машинного обучения Финансового университета при Правительстве Российской Федерации',
            "Boris E. Odintsov", "Doctor of Economics Sciences, Professor of the Department of data Analysis and machine learning Financial University under the Government of the Russian Federation",
            "Odintsov45@list.ru",
            'Всеобщая озабоченность, вызванная отставанием норм нравственности от уровня быстро развивающегося научно-технического прогресса, уже больше столетия требует серьезного внимания ученых. Невозможно регулировать отношения между людьми и их сообществами моральными нормами прошедших эпох без прихода к неизбежному дисбалансу между уровнем цифровизации общества и содержанием его культурных и нравственных принципов. Уже полстолетия известен закон «техно-гуманитарного баланса», однако только сегодня, с развитием интеллектуальных технологий, появляется возможность гармонизировать общество за счет его приведения в гуманизированное  равновесное состояние. В статье рассматриваются семантика когнитивной модели и основы создания когнитивной технологии, предназначенной для постепенного изменения глубинных основ человеческого сознания.',
            "The universal concern caused by the lagging standards of morality from the level of rapidly developing scientific and technological progress has been demanding serious attention from scientists for more than a century. It is impossible to regulate relations between people and their communities by the moral norms of past eras without coming to an inevitable imbalance between the level of digitalization of society and the content of its cultural and moral principles. The law of «techno-humanitarian balance» has been known for half a century, but only today, with the development of intelligent technologies, it becomes possible to harmonize society by bringing it into a humanized equilibrium state. The article discusses the semantic and cognitive model and the basics of creating a cognitive technology designed to gradually change the deep foundations of human consciousness.",
            "когнитивная модель, когнитивная система, дисбаланс, воздействие, упадок общества, равновесное состояние, гармонизация общества",
            "cognitive model, cognitive system, imbalance, impact, society, decline, equilibrium, harmonization of society")

         +article_text-5( '62-6-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Подходы к формированию образовательных программ в области интеллектуальных систем',
            "Aproaches to the formation of educational programs in the field of intelligent systems",
            'Сидоренко Валентина Геннадьевна', 'доктор технических наук, профессор, профессор кафедры «Управление и защита информации»; Федеральное государственное автономное образовательное учреждение высшего образования «Российский университет транспорта»',
            "Valentina G. Sidorenko", "Professor of Department «Control and Information Security», Federal State Institution of Higher Education «Russian University of Transport»",
            "valenfalk@mail.ru",
            'Кулагин Максим Алексеевич', 'кандидат технических наук, начальник центра искусственного интеллекта, АО «ВНИИЖТ», доцент кафедры «Управление и защита информации»; Федеральное государственное автономное образовательное учреждение высшего образования «Российский университет транспорта»',
            "Maksim A. Kulagin", "Head of the Artificial Intelligence Center, JSC «VNIIZHT», Associate Professor of Department «Control and Information Security», Federal State Institution of Higher Education «Russian University of Transport»",
            "maksimkulagin06@yandex.ru ",
            'Ермакова Александра Евгеньевна', 'аспирант, Федеральное государственное автономное образовательное учреждение высшего образования «Российский университет транспорта»',
            "Aleksandra E. Ermakova", "Post Graduated Student, Federal State Institution of Higher Education «Russian University of Transport»",
            "ermakova.alex28081994@yandex.ru",
            'Савицкий Даниил Дмитриевич ', 'обучающийся, Федеральное государственное автономное образовательное учреждение высшего образования «Российский университет транспорта»',
            "Daniil D. Savickij", "Student, Federal State Institution of Higher Education «Russian University of Transport»",
            "1038936@edu.rut-miit.ru",
            'Часников Александр Артемович', 'обучающийся, Федеральное государственное автономное образовательное учреждение высшего образования «Российский университет транспорта» ',
            "Aleksandr A. Chasnikov", "Student, Federal State Institution of Higher Education «Russian University of Transport»",
            "989693@edu.rut-miit.ru",
            'В статье проанализированы возможные подходы к формированию образовательных программ в области интеллектуальных систем и предиктивной аналитики. Успешное решение задачи подготовки кадров базируется на взаимодействии с работодателями и вовлечении обучающихся в практическую и научную деятельность. В статье рассмотрен опыт формирования и реализации образовательных программ по указанным направлениям, определены перспективы их развития.',
            "The article deals with possible approaches to the formation of educational programs in the field of intelligent systems and predictive analytics. The successful solution of the personnel training task is based on interaction with employers and the involvement of students in practical and scientific activities. The experience of the formation and implementation of educational programs in these areas is discussed. The prospects for their development are identified.",
            "интеллектуальные транспортные системы, машинное обучение, предиктивная аналитика, подготовка кадров",
            "intelligent transport systems, machine learning, predictive analytics, personnel training")


         +article_text-2( '62-6-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Критерии классификации современных ERP-систем',
            "Criteria for classification of modern ERP-systems",
            'Пустовой Алексей Сергеевич', 'аспирант кафедры Информационных технологий, искусственного интеллекта и общественно-социальных технологий цифрового общества Российского государственного социального университета ',
            "Aleksey S. Pustovoy", "post-graduate student of the Department of Information technologies, artificial intelligence and public-social technologies of the digital society, Russian State Social University",
            "pustovoy.a@yandex.ru",
            'Потехина Елена Витальевна', 'доктор экономических наук, профессор кафедры Информационных технологий, искусственного интеллекта и общественно-социальных технологий цифрового общества Российского государственного социального университета',
            "Elena V. Potekhina", "Doctor of Economics, Professor of the Department of Information technologies, artificial intelligence and public-social technologies of the digital society, Russian State Social University",
            "elengapotechina@mail.ru",
            'В данной статье рассмотрены некоторые подходы к классификации современных ERP-систем, основанные на различных критериях, приведены в качестве примера существующие на российском рынке продукты. Корректный подход к дифференциации и определению типов исследуемых систем полезен в различных ситуациях: при оценке и анализе уже эксплуатируемой системы, при планировании процесса внедрения новой и для грамотного формирования технического задания.',
            "In this article some approaches to the classification of modern ERP-systems based on different criteria are considered, products existing on the Russian market are given as examples. A correct approach to differentiating and defining the types of systems under study is useful in various situations: when evaluating and analyzing a system already in operation, when planning the implementation of a new system, and for the competent formation of a technical specification.",
            "ERP-системы, классификация ERP, типы ERP-систем, автоматизация производства, планирование ресурсов предприятия, корпоративные информационные системы",
            "ERP-systems, ERP classification, types of ERP-systems, production automation, enterprise resource planning, corporate information systems")

         +article_text-4( '62-6-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Выбор метода проведения компьютерного тестирования с учетом целей и обстоятельств проведения тестирования',
            "Choosing a method for conducting computer-based testing, taking into account the goals and circumstances of testing",
            'Безруков Алексей Иосифович ', 'кандидат экономических наук, доцент, Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Aleksey I. Bezrukov", "PhD in Economics Sciences Associate Professor, Yuri Gagarin State Technical University of Saratov",
            "bezr_Alex@mail.ru",
            'Вагарина Наталия Сергеевна ', 'кандидат физико-математических наук, доцент, Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Nataliia S. Vagarina", "Candidate of Physical and Mathematical Sciences, Associate Professor, Yuri Gagarin State Technical University of Saratov",
            "v-n-s@yandex.ru",
            'Гусятников Виктор Николаевич', 'доктор физико-математических наук, профессор, Саратовский государственный технический университет имени Гагарина Ю.А., Поволжский институт управления – филиал РАНХиГС, Саратовская государственная юридическая академия ',
            "Victor N. Gusyatnikov", "Doctor of Physics and Mathematics, Professor, Yuri Gagarin State Technical University of Saratov, Povolzhsky Institute of Management, Saratov State Law Academy",
            "victorgsar@rambler.ru",
            'Сытник Александр Александрович', 'доктор технических наук, профессор, член-корреспондент РАО, заведующий кафедрой «Информационно-коммуникационные системы и программная инженерия», Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Aleksandr A. Sytnik", "Doctor of Technical Sciences, Professor, Corresponding Member of the Russian Academy of Education, Head of the Department of Information and Communication Systems and Software Engineering, Yuri Gagarin State Technical University of Saratov",
            "as@sstu.ru",
            'В статье рассматривается проблема выбора метода проведения компьютерного тестирования с учетом целей и обстоятельств проведения тестирования. Дается описание основных видов оценки знаний в зависимости от их целей и особенностей проведения. Приводятся примеры их использования в реальном учебном процессе. Определяются критерии качества различных методов оценки. Приводится многоаспектная классификация видов компьютерного тестирования, в которой полное классификационное описание теста строится как перечень значений по различным аспектам. Рассмотрены аспекты этой классификации и обоснован выбор того или иного метода оценивания, используемого при компьютерном тестировании, в зависимости от цели тестирования и задач, которые оно призвано решить. Значимость выбора метода тестирования проиллюстрирована на примере имитационного моделирования, позволяющего сопоставить качество тестирования, проведенного различными методами.',
            "The article sets up and overlooks the problem of choice of a method for conducting computer testing, while also taking into account the goals and circumstances of testing. A description of the main types of knowledge estimation depending on their aims and implementation characteristics is given, and at the same time examples of their use in the real educational process are discussed. Quality criteria for various estimation methods are determined. A multi-aspect classification of types of computer testing is provided, in which a complete classification description of the test is constructed as a list of values for various aspects, and the choice of one or another estimation method used in computer testing is justified, depending on the purpose of testing and the tasks that it is intended to solve. The importance of choosing a testing method is illustrated by the example of simulation modeling, which allows conduction of a comparison of the quality of testing carried out by different methods.",
            "компьютерное тестирование знаний; классическое и адаптивное тестирование; классификация видов компьютерного тестирования; методы обработки результатов тестирования, имитационная модель компьютерного тестирования",
            "computer-based testing of knowledge; classical and adaptive testing; classification of types of computer-based testing; methods for processing test results, simulation model of computer testing")



         +article_text-2( '62-7-1', 'Управление в социальных и экономических системах', 'Обзорная',
            'Информатизация процесса дополнительного образования в физико-математической школе',
            "Informatization of the process of additional education in the physics and mathematics school ",
            'Корячко Алексей Вячеславович', 'к.т.н., доцент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань',
            "Alexey V. Koryachko", "PhD, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "akor89@yandex.ru",
            'Богатова Светлана Викторовна', 'к.ф.-м.н., доцент, Рязанский государственный радиотехнический университет имени В.Ф. Уткина, г. Рязань ',
            "Svetlana V. Bogatova", "PhD, Ryazan State Radioengineering University named by V.F. Utkin, Ryazan-city",
            "bogatova_vm@mail.ru",
            'В статье рассматриваются проблемы инженерного образования и технического ВУЗа в рамках информатизации современного общества. Описывается история создания физико-математической школы при РГРТУ им. В.Ф. Уткина как связующего звена по взаимодействию с общеобразовательными учреждениями для обеспечения инженерными кадрами экономики региона. В статье изложены виды информационно-коммуникативных технологий, применяемых при организации процесса обучения в физико-математической школе на онлайн-занятиях.',
            "The paper deals with the problems of engineering education and technical education in the framework of informatization of modern society. The article describes the history of the creation of the Physics and Mathematics school at the Utkin Russian State Technical University as a link in cooperation with general education institutions to provide engineering cadres for the economy of the region. The article describes the types of information and communication technologies used in the organization of the learning process in a physics and mathematics school in online classes.",
            "информатизация образования, абитуриент, инженерные направления подготовки, современные проблемы технического ВУЗа, физико-математическая школа, программы дополнительного образования, подготовка к ЕГЭ, использование информационно-коммуникативных технологий, онлайн-занятия",
            "informatization of education, entrant, engineering areas of training, modern problems of a technical university, physics and mathematics school, additional education programs, preparation for the Unified State Exam, the use of information and communication technologies, online classes")

         +article_text-2( '62-7-2', 'Управление в социальных и экономических системах', 'Обзорная',
            'Проблема прогнозирования результатов ЕГЭ по отметкам, полученным старшеклассниками при проведении промежуточных аттестаций',
            "The problem of predicting unified state examination results based on the marks obtained by high school students during intermediate certifications",
            'Сердюков Владимир Иванович', 'доктор технических наук, профессор, ведущий специалист отдела организации научной деятельности ФГАНУ «Федеральный институт цифровой трансформации в сфере образования»; профессор кафедры прикладной математики Московского государственного технического университета имени Н.Э. Баумана',
            "Vladimir I. Serdyukov", "Doctor of Technical Sciences, Professor, Leading Specialist of the Department of Organization of Scientific Activities of the Federal State Institution “Federal Institute of Digital Transformation in Education”; Professor of the Department of Applied Mathematics, Moscow State Technical University named after N.E. Bauman",
            "wis24@yandex.ru",
            'Сердюкова Наталья Александровна', 'доктор экономических наук, профессор кафедры финансового менеджмента Российской таможенной академии ',
            "Natalia A. Serdyukova", "Doctor of Economics, Professor of the Department of Financial Management of the Russian Customs Academy",
            "nsns25@yandex.ru ",
            'Введение ЕГЭ позволило обеспечить органы управления образованием достоверной и сопоставимой информацией, необходимой для принятия решений по дальнейшему повышению качества среднего общего образования в масштабах всей страны. Вместе с тем возникли новые проблемы, требующие своего разрешения. Одна из таких проблем заключается в том, что по отметками, полученным старшеклассником  нельзя спрогнозировать, пусть и приблизительно, какой будет отметка, полученная им по результатам сдачи ЕГЭ. Вполне возможно, что ученик, получавший в школе только отличные и хорошие отметки, не сдаст ЕГЭ. В процессе обучения участвуют не только учитель и ученик, большое влияние на него оказывают родители ученика. Последние, конечно же, хотят знать, на какую отметку может рассчитывать их ребенок, сдав ЕГЭ. Но средняя образовательная организация не может ответить на этот вопрос даже приблизительно. Вместо этого она законодательно обязана информировать родителей об отметках их ребенка, получаемым им в процессе обучения.<br><br>В статье предложены практические меры, благодаря которым можно было бы разрешить поставленную проблему прогнозирования отметок по ЕГЭ на основе данных о текущих, промежуточных и итоговой аттестаций старшеклассников.',
            "The introduction of the Unified State Exam made it possible to provide education authorities with reliable and comparable information necessary for making decisions on further improving the quality of secondary general education throughout the country. At the same time, new problems have arisen that need to be resolved. One of these problems is that according to the marks received by a high school student, it is impossible to predict, even approximately, what the mark he received based on the results of passing the Unified State Exam will be. It is quite possible that a student who received only excellent and good grades at school will not pass the Unified State Exam. Not only the teacher and the student participate in the learning process, but the student's parents have a great influence on him. The latter, of course, want to know what grade their child can count on after passing the Unified State Exam. But the secondary educational organization cannot answer this question even approximately. Instead, she is legally obliged to inform parents about their child's grades, which they receive in the learning process.<br><br>The article suggests practical measures by which it would be possible to solve the problem of predicting grades on the Unified State Exam based on data on current, intermediate and final attestations of high school students.",
            "иерархическая система управления образованием, необходимость введения ЕГЭ, механизм прогнозирования результатов ЕГЭ, текущая аттестация, промежуточная аттестация, итоговая аттестация, несоответствие шкалы измерения результатов ЕГЭ шкале выставления школьных отметок, ранговая шкала измерения, натаскивание на ЕГЭ",
            "hierarchical education management system, the need to introduce the Unified State Exam, the mechanism for predicting Unified State Exam results, current certification, intermediate certification, final certification, discrepancy between the scale for measuring Unified State Exam results and the scale for issuing school grades, ranking scale of measurement, training for the Unified State Exam")




         +article_spec( '62-8-1', 'Дайджест', 'Обзорный',
            'Краткий обзор публикаций научно-методического журнала «Информатизация образования и науки» за 2023 год',
            'Миронов Валентин Васильевич', 'д.ф.-м.н, профессор, Рязанский государственный радиотехнический университет имени В.Ф. Уткина',
            'Актуальность издания журнала «Информатизация образования и науки» обусловлена необходимостью консолидации ученых, педагогов и специалистов России в связи с интенсивным ростом масштабов работ в стране по внедрению информационных технологий и методик в сфере образования, науки и просвещения. В настоящее время журнал позиционирует себя как площадка для обмена опытом в такой сложной тематике, как «цифровая трансформация» – процессе модернизации образования, позволяющем в полной мере использовать потенциал цифровых технологий. 	Редакция журнала сохраняет баланс между академическим, фундаментальным изложением материала и практическим просветительским освещением закрепленных за журналом тем. Журнал включен в Перечень ведущих рецензируемых научных журналов и изданий, в которых должны быть опубликованы основные научные результаты диссертаций на соискание ученых степеней доктора и кандидата наук. Журнал зарегистрирован в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) (номер ПИ № ФС77-73920 от 12.10.2018 г.).<br><br>Приведены аннотации содержания статей в соответствии с рубриками журнала')

