.archive__journal.active_journal#journal_63
   h3.journal__number
      span Выпуск &#8470;
      span 3 (63)
   .journal__date июль 2024
   .journal__remember( data-modal='remember_63' )
      .journal__remember_text
         b Обращение к&nbsp;читателям
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '63-1-1', 'О вопросе цифровой трансформации вспомогательных бизнес-процессов образовательной деятельности вуза', 'Карамзина А.Г., Сильнова С.В.' )
            +article( '63-1-2', 'Модернизация учебно-методических материалов с&nbsp;целью освоения обучающимися новых цифровых компетенций', 'Архангельская Е.В.' )
            +article( '63-1-3', 'Проблемы трансформации синергии науки в&nbsp;междисциплинарность образования: сквозь призму электронных ресурсов', 'Галкина А.И., Гришан И.А., Бобкова Е.Ю.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '63-2-1',  'Проектирование курсов в&nbsp;области информационной безопасности и&nbsp;сетевых технологий для&nbsp;старшеклассников и&nbsp;студентов техникумов с&nbsp;применением дистанционных образовательных технологий', 'Галяев В.С., Гасанова З.А., Шарифова Ц.Г.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '63-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Фомин В.В., Фомина И.К., Тарануха С.Н.' )
            +article( '63-3-2', 'Автоматные модели в&nbsp;обучающей системе на&nbsp;основе искусственного интеллекта', 'Литвинов Н.Е., Сытник А.А., Шульга Т.Э., Бочкова О.С.' )
            +article( '63-3-3', 'Реализация методики использования системы компьютерных онтологий Protege как средства в&nbsp;создании электронных дидактических материалов и&nbsp;рекомендаций', 'Коляда М.Г., Бугаева Т.И., Шатохин Е.Ю.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '63-4-1',  'Развитие профессиональных компетенций обучающихся путем решения отраслевых транспортных задач с&nbsp;использованием платформы Anylogic', 'Тарануха С.Н., Фомина И.К., Гурев И.А.' )
            +article( '63-4-2',  'Системный подход к&nbsp;анализу сцен неориентированных и&nbsp;разномасштабных бинарных геометрических образов', 'Краснов А.Е., Сагинов Н.Ю.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '63-5-1', 'Технологии быстрого прототипирования&nbsp;&mdash; инструмент развития творческих способностей студентов', 'Мухаметзянова А.Г., Алексеев К.А.' )
            +article( '63-5-2', 'Разработка управляющих модулей системы для&nbsp;построения спортивных тренировок', 'Лобов И.В., Красавина М.С.' )
            +article( '63-5-3', 'Изучение ситуационного интереса и&nbsp;его взаимосвязи с&nbsp;когнитивным восприятием в&nbsp;асинхронных и&nbsp;синхронных видеолекциях', 'Горобинский Л.В., Горобинская Ю.А.' )


      section.journal__articles
         +article_text-2( '63-1-1', 'Цифровая трансформация', 'Научная',
            'О вопросе цифровой трансформации вспомогательных бизнес-процессов образовательной деятельности вуза',
            "On the issue of digital transformation of supplemental business processes of university educational activities",
            'Карамзина Анастасия Геннадьевна', 'к.т.н., доцент кафедры &laquo;Техническая кибернетика&raquo;, Уфимский университет науки и&nbsp;технологий ',
            "Karamzina G. Anastasya", "Сandidate of Engineering Sciences, associate professor of Technical Cybernetics Department, Ufa university of science and technology",
            "karamzina.ag@ugatu.su",
            'Сильнова Светлана Валерьевна', 'к.т.н., доцент кафедры &laquo;Техническая кибернетика&raquo;, Уфимский университет науки и&nbsp;технологий ',
            "Silnova V. Svetlana", "Сandidate of Engineering Sciences, associate professor of Technical Cybernetics Department, Ufa university of science and technology",
            "silnova.sv@ugatu.su",
            'В&nbsp;статье акцентируется внимание на&nbsp;необходимости реинжиниринга сквозных бизнес-процессов образовательной деятельности в&nbsp;рамках реализации национального проекта Цифровая экономика.<br><i class="i">&bull;</i>Представлены результаты анализа особенностей обеспечения сквозных бизнес-процессов образовательной деятельности.<br><i class="i">&bull;</i>Выделены типовые бизнес-процессы по&nbsp;ключевым направлениям обеспечения образования в&nbsp;университете: планирование, движение контингента, успеваемость и&nbsp;посещаемость, кампус, государственная итоговая аттестация и&nbsp;выпуск.<br><i class="i">&bull;</i>Предложены варианты заполнения электронного группового журнала учета посещаемости, реализованного в&nbsp;информационной системе управления университетом на&nbsp;основе как программно-аппаратных, так и&nbsp;только программных средств с&nbsp;использованием современных достижений в&nbsp;области информационных технологий.<br><br>',
            "The article focuses on the need to reengineer end-to-end business processes of educational activities as part of the implementation of the national Digital Economy project. The results of an analysis of the features of providing end-to-end business processes of educational activities are presented. Typical business processes in key areas of providing education at the university are identified: planning, contingent movement, academic performance and attendance, campus, state final certification and graduation. The variants of filling in the electronic group attendance register implemented in the information management system of the university based on both software and hardware, and only software with the use of modern achievements in the field of information technology are proposed.",
            "цифровая трансформация, образовательный процесс, бизнес-процесс, вспомогательный бизнес-процесс, электронный журнал, RFID-метка, QR-код",
            "digital transformation, educational process, business process, auxiliary business process, electronic journal, RFID-tag, QR-code")

         +article_text( '63-1-2', 'Цифровая трансформация', 'Научная',
            'Модернизация учебно-методических материалов с&nbsp;целью освоения обучающимися новых цифровых компетенций',
            "Updating of educational and methodological materials for the purpose of mastering students of new digital competencies",
            'Архангельская Екатерина Владиславовна', 'кандидат физико-математических наук, доцент кафедры информационного права и&nbsp;цифровых технологий, Саратовская государственная юридическая академия ',
            "Ekaterina V. Arkhangelskaya", "Candidate of physical-mathematical Sciences, Associate professor of the Department of information law and digital technologies, Saratov State law Academy",
            "katysar@rambler.ru",
            'Необходимость освоения обучающимися постоянно развивающихся новых информационных технология обуславливает разработку и&nbsp;внедрение в&nbsp;учебный процесс новых компетенций, в&nbsp;том числе цифровых.<br><br>В&nbsp;статье анализируются формулировки новых цифровых компетенций и&nbsp;компетенций, уже используемых в&nbsp;учебных планах, в&nbsp;частности для&nbsp;обучающихся по&nbsp;правовым и&nbsp;юридическим специальностям.<br><br>В&nbsp;статье рассматриваются примеры разработки новых практических и&nbsp;творческих заданий и&nbsp;возможности обновления имеющихся с&nbsp;целью получения обучающимися соответствующих знаний, умений и&nbsp;навыков, необходимых для&nbsp;освоения новых цифровых компетенций.<br><br>',
            "The need for students to master constantly developing new information technologies determines the development and implementation of new competencies in the educational process, including digital ones. The article analyzes the formulations of new digital competencies and competencies already used in curricula, in particular for students in legal and legal specialties. The article discusses examples of developing new practical and creative tasks and the possibility of updating existing ones in order for students to obtain the appropriate knowledge, skills and abilities necessary to master new digital competencies. ",
            "цифровые компетенции, информационные технологии, разработка заданий, прикладные программы, информационные ресурсы",
            "digital competencies, information technologies, task development, application programs, information resources")

         +article_text-3( '63-1-3', 'Цифровая трансформация', 'Научная',
            'Проблемы трансформации синергии науки в&nbsp;междисциплинарность образования: сквозь призму электронных ресурсов',
            "Problems of transforming science synergy into interdisciplinary education: through the prism of electronic resources",
            'Галкина Александра Ивановна', 'заведующая отделом, Федеральное государственное бюджетное учреждение науки &laquo;Институт программных систем имени А.К.&nbsp;Айламазяна Российской академии наук&raquo;',
            "Alexandra I. Galkina", "Head of the Department, Federal State Budgetary Institution of Science &laquo;A.K. Aylamazyan Institute of Software Systems of the Russian Academy of Sciences&raquo;",
            "galkina3@yandex.ru",
            'Гришан Игорь Александрович ', 'ИТ-специалист, Федеральное государственное бюджетное учреждение науки &laquo;Институт программных систем имени А.К.&nbsp;Айламазяна Российской академии наук&raquo;',
            "Igor A. Grishan", "IT specialist, Federal State Budgetary Institution of Science &laquo;A.K. Aylamazyan Institute of Software Systems of the Russian Academy of Sciences&raquo;",
            "&mdash;",
            'Бобкова Елена Юрьевна', 'к.п.н., доцент, Поволжский казачий институт управления и&nbsp;пищевых технологий (филиал) Федерального государственного бюджетного образовательного учреждения &laquo;Московский государственный университет технологий и&nbsp;управления имени К.Г. Разумовского&raquo;',
            "Elena Yu. Bobkova", "PhD, Associate Professor, Volga Cossack Institute of Management and Food Technologies (branch) of the Federal State Budgetary Educational Institution &laquo;Moscow State University of Technology and Management named after K.G. Razumovsky&raquo;",
            "&mdash;",
            'В&nbsp;рамках национальных проектов &laquo;Кадры&raquo; и&nbsp;&laquo;Демография&raquo; решаются задачи по&nbsp;ликвидации дефицита кадров для&nbsp;государственного хозяйства страны путем форсированной их подготовки вузами, колледжами и&nbsp;техникумами.<br><br>Современное образование существует в&nbsp;условиях цифровизации образования, поддерживаемое электронными образовательными ресурсами, которые, в&nbsp;свою очередь, являются системами знания, отражающими результаты развития наук.<br><br>В&nbsp;статье представлены результаты исследования трансформации синергии интенсивно развивающихся наук в&nbsp;междисциплинарность образования и&nbsp;подготовки кадров с&nbsp;учетом последних достижений науки. Исследование проведено на&nbsp;материале Объединенного фонда электронных ресурсов &laquo;Наука и&nbsp;образование&raquo;&nbsp;&mdash; 21385 электронных ресурсов науки и&nbsp;образования.<br><br>',
            'Within the framework of the national projects "Personnel" and "Demography," tasks are being solved to eliminate the shortage of personnel for the state economy of the country by forcing their training by universities, colleges and technical schools. Modern education exists in the context of digitalization of education, supported by electronic educational resources, which in turn are knowledge systems that reflect the results of the development of sciences. The article presents the results of a study of the transformation of the synergy of intensively developing sciences into the interdisciplinary nature of education and training, taking into account the latest achievements of science. The study was carried out on the material of the Joint Fund of Electronic Resources "Science and Education"&nbsp;&mdash; 21385 electronic resources of science and education.',
            "конвергенция, междисциплинарность, наука, образование, регистрация, результаты интеллектуальной деятельности, электронные ресурсы",
            "convergence, interdisciplinarity, science, education, registration, results of intellectual activity, electronic resources")




         +article_text-3( '63-2-1', 'Системы защиты информации', 'Научная',
            'Проектирование курсов в&nbsp;области информационной безопасности и&nbsp;сетевых технологий для&nbsp;старшеклассников и&nbsp;студентов техникумов с&nbsp;применением дистанционных образовательных технологий',
            "Designing courses in the field of information security and network technologies for high school and college students using distance learning technologies",
            'Галяев Владимир Сергеевич ', 'заместитель начальника Управления информационной безопасности Федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;',
            "Vladimir S. Galyaev", "Deputy Head of the Information Security Department, Federal State Autonomous Scientific Institution &laquo;Federal Institute of the Digital Transformation in Education&raquo;",
            "v.galyaev@ficto.ru",
            'Гасанова Зарема Ахмедовна', 'ведущий научный сотрудник отдела организации научной деятельности Федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;, проректор по&nbsp;цифровизации ГАОУ&nbsp;ВО &laquo;Дагестанский государственный университет народного хозяйства&raquo; ',
            "Zarema A. Gasanova", "Leading researcher of the Department of organization of scientific activities, Federal State Autonomous Scientific Institution &laquo;Federal Institute of the Digital Transformation in Education&raquo;, pro-rector for digitalization DSUNE",
            "cudakharka@yandex.ru",
            'Шарифова Цюкер Габибовна ', 'научный сотрудник отдела организации научной деятельности Федерального государственного автономного научного учреждения &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;',
            "Tsyuker G. Sharifova", "Researcher of the Department of organization of scientific activities , Federal State Autonomous Scientific Institution &laquo;Federal Institute of the Digital Transformation in Education&raquo;",
            "sharifova5@mail.ru",
            'В&nbsp;статье представлен анализ мирового и&nbsp;отечественного опыта по&nbsp;организации и&nbsp;проведению курсов в&nbsp;области информационных технологий и&nbsp;информационной безопасности. Выявлены области знаний, которые наиболее часто представлены в&nbsp;подобных курсах.<br><br>В&nbsp;ходе исследования определены основные пробелы в&nbsp;современных курсах, на&nbsp;которых обучаются старшеклассники и&nbsp;студенты техникумов и&nbsp;колледжей.<br><br>На основе проведенного анализа предложена концепция разработки методических рекомендаций по&nbsp;проведению практических занятий по&nbsp;дисциплинам технического направления для&nbsp;обучающихся при реализации программ дополнительного образования с&nbsp;применением дистанционных образовательных технологий.<br><br>',
            "The article presents an analysis of international and domestic experience in organizing and conducting courses in the field of information technology and information security. The areas of knowledge that are most often represented in such courses have been identified. The study identified the main gaps in modern courses taught by high school students and students of technical schools and colleges. Based on the analysis, the concept of developing methodological recommendations for conducting practical classes in technical disciplines for students in the implementation of additional education programs using distance learning technologies is proposed.",
            "дополнительное образование, старшеклассники и&nbsp;студенты колледжей, информационная безопасность, дистанционные образовательные технологии, практико-ориентированное обучение",
            "additional education, high school and college students, information security, distance educational technologies, practice-oriented learning")




         +article_text-3( '63-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами',
            "Analysis of the system of automatic verification of text documents for the presence of borrowings when students use generative artificial intelligence tools",
            'Фомин Владимир Владимирович', 'доктор технических наук, профессор кафедры информационных систем и&nbsp;технологий, Санкт-Петербургский государственный университет аэрокосмического приборостроения ',
            "Vladimir V. Fomin", "Doctor of Technical Sciences, Professor of the Department of Information Systems and Technologies, St. Petersburg State University of Aerospace Instrumentation",
            "v_v_fomin@mail.ru ",
            'Фомина Инга Константиновна ', 'кандидат технических наук, профессор кафедры математического моделирования и&nbsp;прикладной информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О. Макарова&raquo;, г. Санкт-Петербург ',
            "Inga K. Fomina", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, Federal State-Financed Educational Institution of Higher Education &laquo;Admiral Makarov State University of Maritime and Inland Shipping&raquo;, St. Petersburg",
            "fominga@list.ru ",
            'Тарануха Светлана Николаевна', 'кандидат технических наук, профессор кафедры математического моделирования и&nbsp;прикладной информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О. Макарова&raquo;, г. Санкт-Петербург ',
            "Svetlana N. Taranukha", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, Federal State-Financed Educational Institution of Higher Education &laquo;Admiral Makarov State University of Maritime and Inland Shipping&raquo;, St. Petersburg",
            "svtar64@mail.ru ",
            'Раскрывается проблематика использовании обучающимися инструментов генеративного искусственного интеллекта (Gen-AI) в&nbsp;задачах обработки естественно-языковых текстов, в&nbsp;том числе перефразирования, аннотирования, реферирования.<br><br>Исследуются коллизии применения аналитических систем антиплагиата в&nbsp;условиях активного использования Gen-AI в&nbsp;образовании, связанные с&nbsp;оценкой качества текстовых публикаций, ограниченность применения классических библиометрических показателей и&nbsp;детерминированных алгоритмов, основанных на&nbsp;лексическом сопоставлении плагиата.<br><br>Систематизируются типы текстового антиплагиата и&nbsp;даются рекомендации по&nbsp;применению новых технологий AI, выделяются положительные эффекты AI, позволяющие ускорить процессы оценки и&nbsp;помощи преподавателям и&nbsp;студентам, выявлять проблемы в&nbsp;обучении, управлять учебными ресурсами, предлагать рекомендации по&nbsp;улучшению качества образования.<br><br>',
            "The problems of using generative artificial intelligence (Gen-AI) tools by students in the tasks of processing natural language texts, including paraphrasing, annotating and abstracting, are revealed. The article examines the conflicts of the use of anti-plagiarism analytical systems in the context of the active use of Gen-AI in education related to the estimation of the quality of text publications, the limited use of classical bibliometric indicators and deterministic algorithms based on lexical comparison of plagiarism. The types of text anti-plagiarism are systematized and recommendations are given on the use of new AI technologies, the positive effects of AI are highlighted, allowing to accelerate the estimation and assistance processes for teachers and students, identify learning problems, manage educational resources and offer recommendations for improving the quality of images.",
            "генеративный искусственный интеллект, системы проверки на&nbsp;плагиат, системы автоматического аннотирования, реферирования, перефразирования текста, метрики оценки качества текста",
            "generative artificial intelligence, plagiarism verification systems, automatic annotation, abstracting, text paraphrasing systems, text quality estimation metrics")

         +article_text-4( '63-3-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Автоматные модели в&nbsp;обучающей системе на&nbsp;основе искусственного интеллекта',
            "Automatic models in a training system based on artificial intelligence",
            'Литвинов Никита Евгеньевич', 'аспирант первого курса кафедры &laquo;Информационно-коммуникационные системы и&nbsp;программная инженерия&raquo;, группа &laquo;Системный анализ, управление и&nbsp;обработка информации, статистика&raquo;, Саратовский государственный технический университет имени Гагарина Ю.А',
            "Nikita E. Litvinov", 'First-year postgraduate student of the Department of Information and Communication Systems and Software Engineering, group "System Analysis, Management and Information Processing, statistics", Saratov State Technical University named after Yu.A. Gagarin',
            "litnik99@mail.ru",
            'Сытник Александр Александрович ', 'доктор технических наук, профессор, заведующий кафедрой, Саратовский государственный технический университет имени Гагарина Ю.А',
            "Alexander A. Sytnik", "Doctor of Technical Sciences, Professor, Head of the Department, Saratov State Technical University named after Yu.A. Gagarin",
            "as@sstu.ru",
            'Шульга Татьяна Эриковна', 'доктор физико-математических наук, профессор, Саратовский государственный технический университет имени Гагарина Ю.А. ',
            "Tatyana E. Shulga", "Doctor of Physical and Mathematical Sciences, Professor, Saratov State Technical University named after Yu.A. Gagarin",
            "shulgate@yandex.ru",
            'Бочкова Ольга Сергеевна', 'кандидат филологических наук, доцент, Саратовский государственный технический университет имени Гагарина Ю.А.',
            "Olga S. Bochkova", "Candidate of Philological Sciences, Associate Professor, Saratov State Technical University named after Yu.A. Gagarin",
            "votkakby@gmail.com",
            '<i class="i">&bull;</i>Исследованы модели обучающих систем на&nbsp;основе конечных автоматов.<br><i class="i">&bull;</i>Предложено их схематическое изображение с&nbsp;составлением таблиц переходов.<br><i class="i">&bull;</i>Выявлена зависимость между результативностью обучения и&nbsp;вовлеченностью в&nbsp;процесс.<br><br>',
            "Models of teaching systems based on finite state machines have been studied. A schematic representation of them with the compilation of transition tables is proposed. A relationship was identified between the effectiveness of training and involvement in the process.",
            "конечный автомат, обучающая система, адаптивное обучение, учебный процесс, имитационное моделирование",
            "finite state machine, teaching system, adaptive learning, educational process, simulation modeling")

         +article_text-3( '63-3-3', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Научная',
            'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами',
            "Implementation of the methodology for using the Protege computer ontology system as a means to create electronic didactic materials and recommendations",
            'Коляда Михаил Георгиевич', 'доктор педагогических наук, профессор, заведующий кафедрой инженерной и&nbsp;компьютационной педагогики, действительный член Академии информатизации образования, ФГБОУ&nbsp;ВО &laquo;Донецкий государственный университет&raquo;',
            "Mihail G. Koliada", "Doctor of Pedagogical Sciences, Professor, Head of the Department of Engineering and Computational Pedagogy, Full member of the Academy of Informatization of Education, Donetsk State University",
            "kolyada_mihail@mail.ru",
            'Бугаева Татьяна Ивановна', 'кандидат педагогических наук, доцент, доцент кафедры инженерной и&nbsp;компьютационной педагогики, ФГБОУ&nbsp;ВО &laquo;Донецкий государственный университет&raquo;',
            "Tatyana I. Bugaeva", "Candidate of Pedagogical Sciences, Docent, Associate Professor of the Department of Engineering and Computational Pedagogy, Donetsk State University",
            "bugaeva_tatyana@mail.ru",
            'Шатохин Евгений Юрьевич', 'аспирант, ФГБОУ&nbsp;ВО &laquo;Донецкий государственный университет&raquo;',
            "Evgeny Yu. Shatokhin", "Postgraduate student, Donetsk State University",
            "asha266@mail.ru",
            'В&nbsp;статье обоснована актуальность темы исследования в&nbsp;использовании компьютерных онтологий в&nbsp;образовательной сфере и&nbsp;педагогике.<br><br>Дана общая характеристика методики использования системы Protege и&nbsp;приведены основные шаги в&nbsp;ее реализации по&nbsp;разработке расширенной онтологии по&nbsp;теме &laquo;Дидактика компьютерных онтологий&raquo;, а&nbsp;также для&nbsp;создания электронных дидактических материалов и&nbsp;рекомендаций по&nbsp;продуктивному развитию прогностических способностей будущих специалистов.<br><br>',
            "The article substantiates the relevance of the research topic in the use of computer ontologies in the educational field and pedagogy. A general description of the methodology of using the Protege system is given and the main steps in its implementation are given for the development of an extended ontology on the topic &laquo;Didactics of computer ontologies&raquo;, as well as for the creation of electronic didactic materials and recommendations for the productive development of predictive abilities of future specialists.",
            "компьютерные онтологии, методика использования онтологий, система Protege, прогностические способности, будущие спортивные тренеры",
            "computer ontologies, methods of using ontologies, Protege system, predictive abilities, future sports coaches")




         +article_text-3( '63-4-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Развитие профессиональных компетенций обучающихся путем решения отраслевых транспортных задач с&nbsp;использованием платформы Anylogic',
            "Development of professional competencies of graduates by solving industry transport problems using the AnyLogic platform",
            'Тарануха Светлана Николаевна', 'к.т.н., доцент, профессор кафедры математического моделирования и&nbsp;прикладной информатики Института водного транспорта, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О. Макарова&raquo;',
            "Svetlana N. Taranukha", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, Federal State-Financed Educational Institution of Higher Education &laquo;Admiral Makarov State University of Maritime and Inland Shipping&raquo;",
            "svtar64@mail.ru",
            'Фомина Инга Константиновна', 'к.т.н., доцент, профессор кафедры математического моделирования и&nbsp;прикладной информатики Института водного транспорта, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О. Макарова&raquo;',
            "Inga С. Fomina", "Candidate of Technical Sciences, Professor of the Department of Mathematical Modeling and Applied Informatics, Federal State-Financed Educational Institution of Higher Education &laquo;Admiral Makarov State University of Maritime and Inland Shipping&raquo;",
            "fominga@list.ru",
            'Гурев Иван Алексеевич', 'студент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Государственный университет морского и&nbsp;речного флота имени адмирала С.О. Макарова&raquo;',
            "Ivan A. Gurev", "Student Federal State-Financed Educational Institution of Higher Education &laquo;Admiral Makarov State University of Maritime and Inland Shipping&raquo;",
            "gureff.al@yandex.ru",
            'В&nbsp;статье рассматривается развитие профессиональных компетенций обучающихся путем решения отраслевых транспортных задач с&nbsp;использованием методов имитационного моделирования. Отраслевые транспортные задачи включают в&nbsp;себя множество аспектов, таких как планирование маршрутов, оптимизация загрузки транспорта, управление логистическими цепочками и&nbsp;другие.<br><br>Решение данных задач требует от&nbsp;выпускников не&nbsp;только глубоких знаний в&nbsp;области транспорта и&nbsp;логистики, но&nbsp;и&nbsp;навыков работы с&nbsp;современными инструментами и&nbsp;технологиями. Платформа AnyLogic позволяет обучающимся создавать модели транспортных систем различной сложности, анализировать их работу и&nbsp;находить оптимальные решения.<br><br>',
            "The article considers the development of professional competencies of students in solving industry transport problems using simulation modeling methods. Industry transport tasks include many aspects, such as route planning, optimization of transport load, management of logistics chains and others. Solving such tasks requires graduates not only to have in-depth knowledge in the field of transport and logistics, but also skills in working with modern tools and technologies. The AnyLogic platform allows students to create models of transport systems of varying complexity, analyze their operation and find optimal solutions.",
            "компетентность, имитационное моделирование, отраслевые задачи, проектная деятельность, научные исследования, профессиональные компетенции, платформа AnyLogic",
            "competence, simulation modeling, industry tasks, project activities, scientific research, professional competencies, AnyLogic platform")


         +article_text-2( '63-4-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Научная',
            'Системный подход к&nbsp;анализу сцен неориентированных и&nbsp;разномасштабных бинарных геометрических образов',
            "System approach to analysis of scenes of unoriented and different scales binary geometric images",
            'Краснов Андрей Евгеньевич', 'доктор физико-математических наук, профессор Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ) ',
            "Andrey E. Krasnov", "Doctor of Physical and Mathematical Sciences, Professor of Federal State Budgetary Educational Institution of Higher Education Russian State Social University",
            "krasnovmgutu@yandex.ru",
            'Сагинов Николай Юрьевич', 'учащийся 10 класса государственного бюджетного общеобразовательного учреждения Школа № 1501, инженерные и&nbsp;ИТ-классы',
            "Nikolay Yu. Saginov", "10th grade student of a state budgetary educational institution School No. 1501, engineering and IT classes",
            "nick.saginov@gmail.com",
            'Проведено экспериментальное исследование системного подхода к&nbsp;анализу сцен неориентированных и&nbsp;разномасштабных бинарных геометрических образов: их рисования, сегментации и&nbsp;распознавания фрагментов бинарных геометрических изображений.<br><br>Исследование проводилось с&nbsp;помощью скриптов языка VBA совместно со средствами табличного процессора. Созданный программный комплекс предназначен как для&nbsp;образовательных, так и&nbsp;научных целей.<br><br>Системность предлагаемого подхода заключается в&nbsp;рассмотрении комплексной задачи анализа изображений (выделения его составных элементов и&nbsp;синтез решающих правил их классификации), а&nbsp;также использования совокупности дополняющих друг друга информационных технологий, полезных, в&nbsp;первую очередь, для&nbsp;образовательных целей.<br><br>',
            "An experimental study of a systematic approach to the analysis of scenes of unoriented and multi-scale binary geometric images was carried out: their drawing, segmentation and recognition of fragments of binary geometric images. The research was carried out using VBA language scripts in conjunction with spreadsheet processor tools. The created software package is intended for both educational and scientific purposes. The systematic nature of the proposed approach lies in considering the complex problem of image analysis (selecting its constituent elements and synthesizing the decisive rules for their classification), as well as the use of a set of complementary information technologies, useful, first of all, for educational purposes.",
            "системный подход, анализ изображений, сегментация фрагментов, распознавание неориентированных и&nbsp;разномасштабных фрагментов",
            "system approach, image analysis, fragment segmentation, recognition of unoriented and different-scale fragments")





         +article_text-2( '63-5-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Технологии быстрого прототипирования&nbsp;&mdash; инструмент развития творческих способностей студентов',
            "Rapid prototyping technologies&nbsp;&mdash; a tool for developing student's creativity",
            'Мухаметзянова Асия Габдулмазитовна', 'доктор технических наук, профессор, зав. кафедры Инженерной компьютерной графики и&nbsp;автоматизированного проектирования Федерального государственного бюджетного образовательного учреждения высшего образования &laquo;Казанский национальный исследовательский технологический университет&raquo;',
            "Asia G. Mukhametzyanova", "Doctor of technical sciences, professor, head of department of Engineering Computer Graphics and Computer-Aided Design of the Federal State Budgetary Educational Institution of Higher Education &laquo;Kazan National Research Technological University&raquo;",
            "asia@kstu.ru",
            'Алексеев Константин Андреевич', 'кандидат технических наук, доцент Федерального государственного бюджетного образовательного учреждения высшего образования &laquo;Казанский национальный исследовательский технологический университет&raquo; ',
            "Konstantin A. Alekseev", "PhD in technique, docent of Federal State Budgetary Educational Institution of Higher Education &laquo;Kazan National Research Technological University&raquo;",
            "konstantin_aleks@inbox.ru",
            'В&nbsp;статье описан подход организации внеаудиторной работы студентов инженерных специальностей в&nbsp;научном кружке &laquo;Школа главного конструктора&raquo;.<br><br>Описывается этапы самостоятельной реализации технологии быстрого прототипирования на&nbsp;примере миофункционального (ортодонтического) трейнера с&nbsp;использованием аддитивных технологий и&nbsp;навыков 3D-сканирования.<br><br>Подчеркивается значимость практического опыта и&nbsp;инновационных подходов в&nbsp;образовании студентов, способствующих развитию их профессиональных навыков и&nbsp;творческого мышления.<br><br>',
            "The article describes the approach to organizing extracurricular work for engineering students in the scientific circle &laquo;Chief Designer School&raquo;. The stages of independent implementation of rapid prototyping technology are described using the example of a myofunctional (orthodontic) trainer using additive technologies and 3D scanning skills. The importance of practical experience and innovative approaches in the education of students, contributing to the development of their professional skills and creative thinking, is emphasized.",
            "быстрое прототипирование, аддитивные технологии, 3D-сканирование, реверс-инжиниринг, научный кружок &laquo;Школа главного конструктора&raquo;, Приоритет 2030",
            "rapid prototyping, additive technologies, 3D scanning, reverse engineering, scientific club &laquo;Chief Designer School&raquo;, Priority 2030")

         +article_text-2( '63-5-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Разработка управляющих модулей системы для&nbsp;построения спортивных тренировок',
            "Development of control modules of the system for building sports training",
            'Лобов Илья Вячеславович', 'студент направления 09.04.02 &laquo;Информационные системы и&nbsp;технологии&raquo;, Костромской государственный университет',
            "Ilya V. Lobov", 'Student of the direction 09.04.02 "Information systems and technologies", Kostroma State University',
            "lobovilya13@gmail.com",
            'Красавина Мария Сергеевна', 'кандидат технических наук, Костромской государственный университет',
            "Maria S. Krasavina", "Candidate of Technical Sciences, Kostroma State University",
            "m_krasavina@ksu.edu.ru",
            'В&nbsp;статье приведено описание разработки управляющих модулей web-системы &laquo;ЭвоСпорт&raquo;, предназначенной на&nbsp;получение плана спортивных тренировок, обеспечивающих грамотное развитие спортсмена.<br><br>Сформулированы функциональные возможности управляющих ролей web-системы с&nbsp;учетом специфики организации спортивной деятельности в&nbsp;массовом спорте.<br><br>В&nbsp;статье представлены некоторые разработанные пользовательские интерфейсы системы, позволяющие продемонстрировать ее возможности.<br><br>',
            "The article describes the development of control modules of the EvoSport web system, designed to obtain a sports training plan that ensures the competent development of an athlete. The functional capabilities of the management roles of the web system are formulated, taking into account the specifics of the organization of sports activities in mass sports. The article presents some of the developed user interfaces of the system, allowing to demonstrate its capabilities.",
            "цифровизация спорта, web-приложение, процесс построения тренировок, управление системой, модули, функциональные требования",
            "digitalization of sports, web application, training building process, system management, modules, functional requirements")

         +article_text-2( '63-5-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Обзорная',
            'Изучение ситуационного интереса и&nbsp;его взаимосвязи с&nbsp;когнитивным восприятием в&nbsp;асинхронных и&nbsp;синхронных видеолекциях',
            "The study of situational interest and its relationship with cognitive perception in asynchronous and synchronous video lectures",
            'Горобинский Леонид Викторович', 'доцент, &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;, Москва',
            "Leonid V. Gorobinskiy", "Docent, MIREA&nbsp;&mdash; Russian technological university, Moscow",
            "gorobinskiy@mirea.ru",
            'Горобинская Юлия Александровна', 'учитель-дефектолог, ГБОУ города Москвы &laquo;Западный комплекс непрерывного образования&raquo;',
            "Iulia A. Gorobinskaia", "Teacher-defectologist, SBGEI of the City of Moscow &laquo;Western Complex of Continuing Education&raquo;",
            "&mdash;",
            'Приведено сравнение интерактивных (синхронных) и&nbsp;записанных заранее (асинхронных) видеолекций.<br><i class="i">&bull;</i>Показаны критерии эффективности через вовлеченность студентов в&nbsp;процесс.<br><i class="i">&bull;</i>Синхронные видеолекции являются более универсальным средством для&nbsp;широкого круга студентов, чем асинхронные.<br><i class="i">&bull;</i>Предложены методы увеличения вовлеченности студентов через когнитивное восприятие асинхронных видеолекций.<br><i class="i">&bull;</i>Показано, что постановка во&nbsp;главу угла самого обучающегося может привести к&nbsp;увеличению эффективности асинхронных лекций по&nbsp;сравнению с&nbsp;синхронными.<br><br>',
            "A comparison of interactive (synchronous) and pre-recorded (asynchronous) video lectures is presented. The criteria of effectiveness through student involvement in the process are shown. Synchronous video lectures are a more universal medium for a wide range of students than asynchronous ones. Methods for increasing student engagement through cognitive perception of asynchronous video lectures are proposed. It is shown that prioritizing the student himself can lead to an increase in the effectiveness of asynchronous lectures compared to synchronous ones.",
            "когнитивное восприятие, асинхронные видеолекции, синхронные видеолекции, ситуационный интерес",
            "cognitive perception, asynchronous video lectures, synchronous video lectures, situational interest")


