.menu__holder {
   position: relative;
   z-index: 10;
   .flex-wrap();
   .justify-start();
   .items-end();
   
   color: @color-white;
   
    
      transform: translateX(0);
      animation: load_to_left 1s ease-in-out;
      .tr();
   
   display: flex;
   flex-wrap: wrap;
   margin-left: (60px / -2);
   margin-right: (60px / -2);
   
   .lg-block({
      margin-left: (40px / -2);
      margin-right: (40px / -2);
   });
   .sm-block({
      margin-left: (20px / -2);
      margin-right: (20px / -2);
   });
   
}
.menu__item {
   position: relative;
   .roboto-14();
   text-transform: uppercase;
   line-height: 1.25rem;
   
   text-decoration-line: none;
   margin-bottom: .6rem;
   
   box-sizing: border-box;
   word-wrap: break-word;
   margin-left: (60px / 2);
   margin-right: (60px / 2);
   
   .tr();
   
   .lg-block({
      margin-left: (40px / 2);
      margin-right: (40px / 2);
   });
   .sm-block({
      margin-left: (20px / 2);
      margin-right: (20px / 2);
   });
   .to(420px, {
      margin-bottom: .8rem;
   });
}

.pages__menu_holder {
    position: relative;
   z-index: 20;
   margin-bottom: 6rem;
   .justify-end();
   .xl-block({
      margin-bottom: 4.7rem;
   });
   
   color: @color-black;
   
   .to(840px, {
      max-width: 370px;
   });
   .to(580px, {
      max-width: 290px;
      margin-top: 2px;
   });
   .to(430px, {
      max-width: 155px;
      margin-bottom: 3rem;
   });
}
.pages__menu_holder .active {
   color: @color-lilac-1;
   .tr();
}
.container-page .header__logo .h3 {
   .to(340px, {
      display: none;
   });
}


@keyframes load_to_left {
   0% { transform: translateX(2.5rem); opacity: 0}
   100% { transform: translateX(0); opacity: 1 }
}
