doctype
html
   include assets/jade/header/__head
   +title( 'Контакты' )


   body
      #container.container-page
         include assets/jade/header/__header-pages
         +header( 'Контакты', '', '', '', 'active' )

         section.contact__holder.mb-7
            .wrapper.contact__content
               .contact__main_icon
               .contact__info
                  .contact__address.mb-2 125315, Москва, ул.&nbsp;Часовая, д.21/Б
                  .contact__contact.mb-15
                     .contact__icon.icon-home
                     .contact__text
                        b.mb-03 телефон
                        a( href='tel:84950099888' ) +7 (495) 009-98-88
                  .contact__contact
                     .contact__icon.icon-mail
                     .contact__text
                        b e&ndash;mail
                        .chief_editor__link
                           a( href='mailto:d.kurakin@ficto.ru?subject=По вопросам публикации' ).mr-05.mt-03 d.kurakin@ficto.ru;
                           a( href='mailto:dvkurakin@mail.ru?subject=По вопросам публикации' ).mt-03 dvkurakin@mail.ru





         include assets/jade/sections/become-an-author
         include assets/jade/footer/footer




