section.requirements__holder {
   position: relative;
   z-index: 10;
   
   margin: 6.88rem 0;
}
.requirements__content {  /* wrapper */
}
.requirements__list_holder {
   max-width: 1005px;
   width: 80%;
   background: rgba(255, 255, 255, 0.95);
box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.15);
}
