@color-project-black: black;

@color-black: #1b1c29;
@color-white: white;

@color-white-o9: rgba(255, 255, 255, 0.95);

@color-gray-2: #636363;

@color-blue-0: #F5F1FD;
@color-blue-1: #15154F;
@color-blue-2: #D1D1E6;
@color-blue-3: #2FC7D6;
@color-blue-4: #ABBED1;

@color-lilac-1: #6E55AB;
@color-lilac-2: #B199EC;
@color-lilac-3: #493086;
@color-lilac-4: #502c8a;


@color-lilac-3-o9: rgba(73, 48, 134, 0.9);
@color-lilac-1-o9: rgba(110, 85, 171, 0.9);

@color-pink: #F5F1FD;


@box-shadow-15: 5px 4px 20px rgba(0, 0, 0, 0.15);
