mixin title( title )
   head
      meta( name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0" )
      meta( http-equiv="X-UA-Compatible", content="IE=edge" )
      meta( name="MobileOptimized" content="width" )
      meta( name="HandheldFriendly", content="True" )
      meta( charset = "UTF-8")
      title Журнал ИОН | #{ title }
      link( rel="shortcut icon" href="../assets/data/favicon/favicon.svg" type="image/x-icon" )
      link( type="text/css" rel="stylesheet" href="../assets/css/style.css" )

      <!--[if IE 9]><link type="text/css" rel="stylesheet" href="../assets/css/no-calc.css"><![endif]-->
      <!--[if IE 7]><link type="text/css" rel="stylesheet" href="../assets/css/fontello-ie7.css"><![endif]-->

