.archive__aside.trigger-holder
   include ../../mixins/pages/archive/__year
   +year( '25', 65, '2' )
   +year( '24', 61, '4' )
   +year( '23', 57, '4' )
   +year( '22', 53, '4' )
   +year( '21', 49, '4' )
