include ../../mixins/pages/archive/__article
include ../../mixins/pages/archive/__article_text
include ../../mixins/pages/archive/__article_text-2
include ../../mixins/pages/archive/__article_text-3


.archive__journal#journal_49
   h3.journal__number
      span Выпуск &#8470;
      span 1 (49)
   .journal__date январь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в&nbsp;области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в&nbsp;системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в&nbsp;электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О&nbsp;разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и&nbsp;информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Глазовский государственный педагогический институт имени В&nbsp;Г. Короленко&raquo;',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с&nbsp;дистанционным проведением занятий в&nbsp;электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;)',
         'В статье описывается авторская технология, в&nbsp;которой используются обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом, и&nbsp;программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и&nbsp;классификации обучаемых, а также на методах ситуационного, деятельного и&nbsp;опережающего обучения. Технология содержит методику преобразования должностных инструкций в&nbsp;сценарий с&nbsp;базовыми ситуациями, практики перехвата состояния интерфейса и&nbsp;метод создания обучающей программы параллельно с&nbsp;тестированием.')
.archive__journal#journal_50
   h3.journal__number
      span Выпуск &#8470;
      span 2 (50)
   .journal__date апрель 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в&nbsp;области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в&nbsp;системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в&nbsp;электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О&nbsp;разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и&nbsp;информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Глазовский государственный педагогический институт имени В&nbsp;Г. Короленко&raquo;',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с&nbsp;дистанционным проведением занятий в&nbsp;электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;)',
         'В статье описывается авторская технология, в&nbsp;которой используются обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом, и&nbsp;программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и&nbsp;классификации обучаемых, а также на методах ситуационного, деятельного и&nbsp;опережающего обучения. Технология содержит методику преобразования должностных инструкций в&nbsp;сценарий с&nbsp;базовыми ситуациями, практики перехвата состояния интерфейса и&nbsp;метод создания обучающей программы параллельно с&nbsp;тестированием.')
.archive__journal#journal_51
   h3.journal__number
      span Выпуск &#8470;
      span 3 (51)
   .journal__date июль 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в&nbsp;области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в&nbsp;системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в&nbsp;электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О&nbsp;разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и&nbsp;информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Глазовский государственный педагогический институт имени В&nbsp;Г. Короленко&raquo;',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с&nbsp;дистанционным проведением занятий в&nbsp;электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;)',
         'В статье описывается авторская технология, в&nbsp;которой используются обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом, и&nbsp;программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и&nbsp;классификации обучаемых, а также на методах ситуационного, деятельного и&nbsp;опережающего обучения. Технология содержит методику преобразования должностных инструкций в&nbsp;сценарий с&nbsp;базовыми ситуациями, практики перехвата состояния интерфейса и&nbsp;метод создания обучающей программы параллельно с&nbsp;тестированием.')
.archive__journal#journal_52
   h3.journal__number
      span Выпуск &#8470;
      span 4 (52)
   .journal__date октябрь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в&nbsp;области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в&nbsp;системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в&nbsp;электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О&nbsp;разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и&nbsp;информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Глазовский государственный педагогический институт имени В&nbsp;Г. Короленко&raquo;',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с&nbsp;дистанционным проведением занятий в&nbsp;электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;)',
         'В статье описывается авторская технология, в&nbsp;которой используются обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом, и&nbsp;программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и&nbsp;классификации обучаемых, а также на методах ситуационного, деятельного и&nbsp;опережающего обучения. Технология содержит методику преобразования должностных инструкций в&nbsp;сценарий с&nbsp;базовыми ситуациями, практики перехвата состояния интерфейса и&nbsp;метод создания обучающей программы параллельно с&nbsp;тестированием.')



.active_journal.archive__journal#journal_53
   h3.journal__number
      span Выпуск &#8470;
      span 1 (53)
   .journal__date январь 2022
   .journal__remember( data-modal='remember_53' )
      b Сергей Петрович Капица&nbsp;
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Григорьев В.К.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '53-3-1', 'Формирование правовой компетенции в&nbsp;области информационной безопасности', 'Трошина С.М.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '53-4-1', 'Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений', 'Казенников А.О., Трифонов Н.И.' )
            +article( '53-4-2', 'Автоматическая обработка текстов на различных языках на основе теории унификации', 'Каширин И.Ю., Пруцков А.В.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '53-5-1', 'Моделирование единиц рейтинга (коллоквиум)', 'Карнаухов В.М.' )
            +article( '53-5-2', 'Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов', 'Конев К.А., Воробьева Г.Р.' )
            +article( '53-5-3', 'Моделирование образовательного контента в&nbsp;системах электронного обучения', 'Мартынов В.В., Зверева Н.Н.' )
            +article( '53-5-4', 'Технология семантического поиска в&nbsp;электронных библиотеках', 'Добрынин В.Н., Филозова И.А.' )
            +article( '53-5-5', 'О&nbsp;разработке инструментария интеллектуального анализа данных', 'Лаптев В.В., Флегонтов А.В., Фомин В.В.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '53-6-1', 'Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам', 'Мухаметзянов И.Ш.' )
            +article( '53-6-2', 'Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента', 'Головчин М.А.' )
            +article( '53-6-3', 'Сетевые сообщества как формы организации ученического самоуправления', 'Федосеева М.В.' )
            +article( '53-6-4', 'Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение', 'Хукаленко Ю.С.' )

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и&nbsp;информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;Глазовский государственный педагогический институт имени В&nbsp;Г. Короленко&raquo;',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с&nbsp;дистанционным проведением занятий в&nbsp;электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;)',
         'В статье описывается авторская технология, в&nbsp;которой используются обучающие программы, моделирующие интерфейсы информационных систем с&nbsp;активным элементом, и&nbsp;программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и&nbsp;классификации обучаемых, а также на методах ситуационного, деятельного и&nbsp;опережающего обучения. Технология содержит методику преобразования должностных инструкций в&nbsp;сценарий с&nbsp;базовыми ситуациями, практики перехвата состояния интерфейса и&nbsp;метод создания обучающей программы параллельно с&nbsp;тестированием.')
         +article_text( '53-3-1', 'Системы защиты информации', 'Формирование правовой компетенции в&nbsp;области информационной безопасности', 'Обзорная', 'Трошина Светлана Михайловна', 'кандидат юридических наук, доцент кафедры &laquo;Теоретические основы радиотехники&raquo; ИРИТ-РТФ Уральского федерального университета имени первого Президента России Б.Н. Ельцина',
         'В статье рассматриваются вопросы формирования правовой компетенции студентов в&nbsp;области информационной безопасности. Предлагается использовать сочетание междисциплинарных методов обучения, аудиторной и&nbsp;дистанционной форм обучения.' )

         +article_text-2( '53-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Автоматизация извлечения информации из&nbsp;WEB-страниц новостных сообщений', 'Научная', 'Казенников Антон Олегович', 'кандидат технических наук, Федеральное государственное бюджетное образовательное учреждение высшего образования &laquo;МИРЭА&nbsp;&mdash; Российский технологический университет&raquo;', 'Трифонов Николай Иванович', 'кандидат технических наук, доцент',
         'Рассматривается алгоритм автоматического извлечения информации из&nbsp;Web-страниц новостных сообщений. Основное отличие от существующих алгоритмов состоит в&nbsp;двустадийной схеме работы и&nbsp;значительно расширенной модели признаков для классификации. <br><br>Результатом работы алгоритма является процедура извлечения содержания, устойчивая к изменению верстки и&nbsp;расположению целевой информации на Web-странице.')
         +article_text-2( '53-4-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Автоматическая обработка текстов на различных языках на основе теории унификации', 'Научная', 'Каширин Игорь Юрьевич', 'доктор технических наук, профессор, Рязанский государственный радиотехнический университет', 'Пруцков Александр Викторович', 'доктор технических наук, профессор, Рязанский государственный радиотехнический университет',
         'В статье рассматриваются вопросы автоматической обработки текстов на базе применения теории унификации в&nbsp;морфологическом анализе и&nbsp;синтезе форм слов естественных языков. Приведены алгоритмы генерации, определения форм слов и&nbsp;синтаксического анализа.' )

         +article_text( '53-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Моделирование единиц рейтинга (коллоквиум)', 'Научная', 'Карнаухов Вячеслав Михайлович', 'доцент, к.ф.-м.н., Российский государственный аграрный университет, кафедра высшей математики',
         'В статье рассматривается моделирование коллоквиума как одного из&nbsp;единиц рейтинга. Коллоквиум представляет собой теоретический опрос учащихся. Поэтому к этой единице рейтинга можно относиться как к опросу, задания которого имеют повышенный уровень трудности. Предлагаются результаты исследования эффективности опроса в&nbsp;зависимости от числа теоретических вопросов на коллоквиуме, максимального количества баллов, выставляемых за успешное выполнение одного задания, и&nbsp;от уровня трудности заданий теста.<br><br>Исследования проводились при помощи программы, написанной на языке Turbo Pascal&nbsp;&mdash; базовом языке среды программирования Delphi. В&nbsp;конце предлагается упражнение для самостоятельного исполнения, позволяющее закрепить изложенный учебный материал.')
         +article_text-2( '53-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Принятие решений на основе интеграции семантического и&nbsp;ситуационного подходов', 'Научная', 'Конев Константин Анатольевич', 'к.т.н., доцент кафедры автоматизированных систем управления, Уфимский государственный авиационный технический университет', 'Воробьева Гульнара Равилевна', 'к.т.н., доцент кафедры автоматизированных систем управления, Уфимский государственный авиационный технический университет',
         'В статье рассматривается инновационный подход, применимый для поддержки принятия решений в&nbsp;слабоформализованных социальноэкономических системах. Указанный подход получил название метаситуационного моделирования и&nbsp;представляет собой интеграцию двух методологий моделирования и&nbsp;управления: ситуационной и&nbsp;семантической. <br><br>Рассмотрены несколько вариантов формального представления декларативного и&nbsp;дескриптивного уровней метаситуационной модели различной степени наглядности.')
         +article_text-2( '53-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Моделирование образовательного контента в&nbsp;системах электронного обучения', 'Научная', 'Мартынов Виталий Владимирович', 'д.т.н., профессор, заведующий кафедрой экономической информатики, Уфимский государственный авиационный технический университет', 'Зверева Нина Николаевна', 'к.т.н., доцент, Уфимский государственный авиационный технический университет',
         'В статье рассматриваются вопросы проектирования контента электронных курсов. Предложена онтологическая модель дисциплины, основанная на семиотических моделях понятий, позволяющая определить структуру электронного контента, в&nbsp;которой учтены сложные семантические отношения между понятиями предметной области.')
         +article_text-2( '53-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Технология семантического поиска в&nbsp;электронных библиотеках', 'Научная', 'Добрынин Владимир Николаевич', 'кандидат технических наук, профессор Института системного анализа и&nbsp;управления, ГОУ ВПО Международный Университет природы, общества и&nbsp;человека, г. Дубна', 'Филозова Ирина Анатольевна', 'научный сотрудник, Объединенный институт ядерных исследований, Лаборатория информационных технологий, г. Дубна',
         'В статье рассмотрен подход по&nbsp;созданию социотехнической системы {Эксперт + Инструмент}. Основной идеей такой системы является реализация дополнительного поискового инструментария на основе семантического структурирования фонда научных документов. <br><br>Предложена технология формирования и&nbsp;поддержки “каталожной” службы, которая обеспечивает эффективный поиск ответов на вопросы. Основой данной службы является упорядоченное открытое множество логико-семантических сетей "Вопрос-Ответ-Реакция".')
         +article_text-3( '53-5-5', 'Системный анализ, управление и&nbsp;обработка информации', 'О&nbsp;разработке инструментария интеллектуального анализа данных', 'Научная', 'Лаптев Владимир Валентинович', 'академик РАО, доктор педагогических наук, кандидат физикоматематических наук, профессор, проректор по&nbsp;научной работе, ФГБОУ ВПО &laquo;Российский государственный педагогический университет им. А.И.Герцена&raquo;, Санкт-Петербург, Россия', 'Флегонтов Александр Владимирович', 'доктор физико-математических наук, профессор, заведующий кафедрой информационных систем и&nbsp;программного обеспечения, ФГБОУ ВПО &laquo;Российский государственный педагогический университет им. А.И. Герцена&raquo;, Санкт-Петербург, Россия', 'Фомин Владимир Владимирович', 'доктор технических наук, профессор кафедры информационных систем и&nbsp;программного обеспечения, ФГБОУ ВПО &laquo;Российский государственный педагогический университет им. А.И. Герцена&raquo;, Санкт-Петербург, Россия',
         'В статье сформулированы стратегические направления разработки инструментария интеллектуального анализа данных в&nbsp;виде программной системы, основанной на принципах распределенных систем, распараллеливания и&nbsp;адаптивной настройки вычислительных ресурсов. Рассматриваются технические решения по&nbsp;организации WEB-ресурсов и&nbsp;применению методов и&nbsp;алгоритмов классификации, распознавания и&nbsp;прогнозирования в&nbsp;развитие технологий облачных вычислений.')

         +article_text( '53-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам', 'Обзорная', 'Мухаметзянов Искандар Шамилевич', 'доктор медицинских наук, профессор, ведущий научный сотрудник, Федеральное государственное бюджетное научное учреждение &laquo;Институт стратегии развития образования Российской академии образования&raquo;',
         'Пандемия COVID-19 показала всему миру несовершенство существующих подходов в&nbsp;организации и&nbsp;реализации жизни и&nbsp;деятельности современного общества. Изменившиеся условия закрепили значение необходимых цифровых компетенций не&nbsp;только для организации любого вида деятельности, но и&nbsp;для самой ее реализации. В&nbsp;образовании, при дистанционном обучении, уже необходимо говорить о&nbsp;приоритете цифровых компетенций как базы формирования любых иных компетенций, воспитания и&nbsp;развития учащихся в&nbsp;условиях социального дистанцирования и&nbsp;дистанционного формата деятельности. ')
         +article_text( '53-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Сетевая культура школьников в&nbsp;ракурсе свободного и&nbsp;управляемого формирования: по&nbsp;результатам эксперимента', 'Обзорная', 'Головчин Максим Александрович', 'старший научный сотрудник, Вологодский научный центр Российской академии наук',
         'Статья посвящена выявлению возможностей формирования сетевой культуры (новых образцов и&nbsp;правил, создаваемых в&nbsp;интернет-среде) у&nbsp;представителей молодого поколения в&nbsp;разных режимах&nbsp;&mdash; свободном и&nbsp;целенаправленном.<br><br>В исследовании были использованы эмпирические данные формирующего эксперимента. На примере испытуемых были выделены признаки сетевой культуры молодежи. Показано, что продуктивная сетевая культура (основанная на постепенной трансформации деструктивных образцов поведения в&nbsp;Интернете в&nbsp;конструктивные) эффективнее развивается в&nbsp;управляемой образовательной среде, чем при отсутствии институциональных условий и&nbsp;с&nbsp;опорой на интернет-опыт. ')
         +article_text( '53-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Сетевые сообщества как формы организации ученического самоуправления', 'Обзорная', 'Федосеева Марина Васильевна', 'советник отдела Управления координации и&nbsp;планирования Департамента образования и&nbsp;науки г. Москвы',
         'Переход к государственно-общественным формам управления образовательными организациями, демократизация образования в&nbsp;целом все в&nbsp;большей степени актуализируют проблему развития самоуправления школой.<br><br>Важную роль в&nbsp;развитии и&nbsp;повышении эффективности ученического самоуправления могут сыграть электронные ресурсы и&nbsp;возможности сетевых сообществ в&nbsp;Интернете.<br><br>Опыт работы органов ученического самоуправления в&nbsp;образовательных организациях рассмотрен на примере Южного административного округа города Москвы')
         +article_text( '53-6-4', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Виртуальная реальность для обучения английскому языку: разработка и&nbsp;внедрение', 'Обзорная', 'Хукаленко Юлия Cергеевна', 'к. филол. н., старший научный сотрудник Центра НТИ по&nbsp;нейротехнологиям, технологиям виртуальной и&nbsp;дополненной реальностей ДВФУ, Владивосток, остров Русский', '' +
         'Цель статьи&nbsp;&mdash; зафиксировать результаты разработки и&nbsp;пилотного внедрения образовательного программного обеспечения в&nbsp;виртуальной реальности для обучения английскому языку школьников, находящихся на начальных уровнях изучения языка. В&nbsp;статье описаны возможности и&nbsp;потенциал технологии виртуальной реальности, использованные при разработке приложения, описаны элементы методики преподавания, варианты проведения урока, а также результаты тестирования приложения конечными пользователями.' )

.archive__journal#journal_54
   h3.journal__number
      span Выпуск &#8470;
      span 2 (54)
   .journal__date апрель 2022
   .journal__remember( data-modal='remember_54' )
      b О&nbsp;Ржевской битве
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '54-1-1', 'Вклад научных центров мирового уровня в&nbsp;развитие ускоренной цифровой трансформации России', 'Белов Ф.Д., Зволинская О.В.' )
            +article( '54-1-2', 'Модель мобильного обучения &laquo;1 ученик: 1 компьютер&raquo;', 'Ливенец М.А, Кудимова Н.В, Утюпина Г.В.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '54-2-1', 'Информационная технология организации системы классификации текстов', 'Фомин В.В., Фомина И.К., Осочкин А.А.' )
            +article( '54-2-2', 'Расчет зоны обслуживания базовой станцией сети WiFi в&nbsp;закрытых помещениях образовательных организаций', 'Догадин Н.Б.' )
            +article( '54-2-3', 'Цифровые и&nbsp;коммуникационные технологии на примере обучающей среды MOODLE', 'Шапошников Д.С.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '54-3-1', 'Информационная безопасность в&nbsp;системе дистанционного обучения', 'Тумбинская М.В.')

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '54-4-1', 'Система автоматизированной оценки содержательного ответа обучаемого', 'Кузнецов Л.А., Моисеев А.Д.')

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '54-5-1', 'О&nbsp;соответствии методики расчета комплексного балла публикационной результативности для научных организаций принципу импортозамещения', 'Рогалин В.Е., Каплунов И.А')
            +article( '54-5-2', 'Медианный метод оценки согласованности результатов тестирования', 'Ганичева А.В., Ганичев А.' )
            +article( '54-5-3', 'Формирование рейтингов вузов на основе их цифрового следа', 'Меденников В.И.' )
            +article( '54-5-4', 'Автоматизация процесса анализа изображений компьютерной томографии', 'Корепанов В.Д., Кулагин В.П.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '54-6-1', 'Особенности подросткового возраста и&nbsp;его проблемы', 'Ижванова Е.М.' )
            +article( '54-6-2', 'Знакомство студентов в&nbsp;процессе обучения с&nbsp;вопросами импортозамещения и&nbsp;использования отечественного и&nbsp;свободного программного обеспечения', 'Григорьев В.К., Красновский А.М.' )
            +article( '54-6-3', 'Междисциплинарная теория виртуальности как инструментарий для исследования природы мысли', 'Одинцов Б.Е.' )


      section.journal__articles
         +article_text-2( '54-1-1', 'Цифровая трансформация', 'Вклад научных центров мирового уровня в&nbsp;развитие ускоренной цифровой трансформации России', 'Обзорная', 'Белов Филипп Дмитриевич', 'канд. экон. наук, заведующий Центром исследования организационных процессов в&nbsp;сфере науки и&nbsp;инноваций, Российский научно-исследовательский институт экономики, политики и&nbsp;права в&nbsp;научно-технической сфере.', 'Зволинская Оксана Вячеславовна', 'канд. экон. наук, старший научный сотрудник, Российский научноисследовательский институт экономики, политики и&nbsp;права в&nbsp;научнотехнической сфере',
            'В статье рассматриваются фундаментальные научные и&nbsp;прикладные исследования научных центров мирового уровня в&nbsp;области передовых цифровых и&nbsp;интеллектуальных производственных технологий. <br><br>Обозначен один из&nbsp;главных драйверов цифровой трансформации&nbsp;&mdash; технология &laquo;цифровые двойники&raquo;. Дана оценка возможного вклада научных центров мирового уровня в&nbsp;цифровую трансформацию России.')
         +article_text-3( '54-1-2', 'Цифровая трансформация', 'Модель мобильного обучения &laquo;1 ученик: 1 компьютер&raquo;', 'Обзорная', 'Ливенец Марина Александровна', 'старший научный сотрудник ФИРО, эксперт образовательных инициатив Intel', 'Кудимова Наталья Вячеславовна', 'старший преподаватель кафедры информационных технологий Нижегородского института развития образования, учитель информатики МБОУ “Средняя общеобразовательная школа № 14 с&nbsp;углубленным изучением отдельных предметов”, г. Балахна, Нижегородская область, эксперт образовательных инициатив Intel', 'Утюпина Галина Викторовна', 'начальник учебно-методического отдела ГБОУ ДПО НСО Областной центр информационных технологий г. Новосибирска, эксперт образовательных инициатив Intel',
            'В статье рассматривается современная образовательная модель &laquo;1 ученик: 1 компьютер&raquo; в&nbsp;контексте реализации Федерального государственного образовательного стандарта. Данная модель мобильного обучения является важным элементом трансформации учебного процесса и&nbsp;хорошей платформой для реализации задач нового образовательного стандарта.')

         +article_text-3( '54-2-1', 'Информационные технологии', 'Информационная технология организации системы классификации текстов', ' Научная', 'Фомин Владимир Владимирович', 'д.т.н., профессор, Российский государственный педагогический университет им. А.И.Герцена, Санкт-Петербург', 'Фомина Инга Константиновна', 'к.т.н., доцент, Государственный университет морского и&nbsp;речного флота имени адмирала С.О.Макарова, Санкт-Петербург', 'Осочкин Александр Анатольевич', 'магистрант, Российский государственный педагогический университет им. А.И.Герцена, Санкт-Петербург',
            'В статье рассматривается классификация текстов на основе частотного и&nbsp;морфологического анализов с&nbsp;применением алгоритмов data-mining. Предлагается процедура классификации тестов на основе методов регрессионных деревьев (деревьев решений). Представлены результаты исследования применения технологии для распознавания литературного авторского стиля и&nbsp;функционального стиля статей и&nbsp;публикаций.')
         +article_text( '54-2-2', 'Информационные технологии', 'Расчет зоны обслуживания базовой станцией сети WiFi в&nbsp;закрытых помещениях образовательных организаций', 'Научная', 'Догадин Николай Борисович', 'профессор, Волгоградский государственный социальнопедагогический университет',
            'В статье рассматриваются вопросы выбора технических параметров оборудования сети WiFi и&nbsp;расчета зоны обслуживания в&nbsp;закрытых помещениях образовательных организаций.<br><br>На основе проведенного анализа даны рекомендации, позволяющие оптимизировать выбор параметров оборудования, места размещения антенны базовой станции и&nbsp;обеспечить выполнение санитарно-гигиенических требований.<br><br>Приведен пример расчета зоны обслуживания. ')
         +article_text( '54-2-3', 'Информационные технологии', 'Цифровые и&nbsp;коммуникационные технологии на примере обучающей среды MOODLE', 'Обзорная', 'Шапошников Дмитрий Сергеевич', 'IT-специалист Центра “Высшая школа системного инжиниринга МФТИ”, Московский физико-технический институт, Москва',
            'В статье описываются цифровые и&nbsp;коммуникационные технологии, которые были использованы в&nbsp;процессе удаленной поддержки и&nbsp;обучения студентов Центра “Высшая школа системного инжиниринга МФТИ” на примере обучающей среды Moodle. Приведены изменения в&nbsp;стандартную версию Moodle 2.5, а также оценено влияние этих изменений на процесс обучения.')

         +article_text( '54-3-1', 'Системы защиты информации', 'Информационная безопасность в&nbsp;системе дистанционного обучения', 'Научная', 'Тумбинская Марина Владимировна', 'кандидат технических наук, доцент кафедры Системы информационной безопасности, ФГБОУ ВПО Казанский национальный исследовательский технический университет им. А.Н. Туполева&nbsp;&mdash; КАИ',
            'В статье <br><i class="i">&bull;</i>Представлена обобщенная структурная схема компонента информационной безопасности системы дистанционного обучения, отражающая модульную архитектуру системы поддержки принятия решений при управлении информационной безопасностью <br><i class="i">&bull;</i>Описана комплексная модель защиты системы дистанционного обучения, использование которой позволит минимизировать количество уязвимостей, потенциальных атак злоумышленников и&nbsp;обеспечить целостность информационных ресурсов <br><i class="i">&bull;</i>Представлена формализация модели нарушителя (хакера), характеризующаяся личностными параметрами нарушителя и&nbsp;сценариями действий по&nbsp;хищению информационных ресурсов в&nbsp;системе дистанционного обучения')

         +article_text-2( '54-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Система автоматизированной оценки содержательного ответа обучаемого', 'Научная', 'Кузнецов Леонид Александрович', 'д.т.н., профессор кафедры гуманитарных и&nbsp;естественнонаучных дисциплин Липецкого филиала Российской академии народного хозяйства и&nbsp;государственной службы при Президенте Российской Федерации', 'Моисеев Александр Дмитриевич', 'к.ю.н., доцент, директор Липецкого филиала Российской академии народного хозяйства и&nbsp;государственной службы при Президенте Российской Федерации',
            'Современные вычислительные ресурсы позволяют создавать системы автоматизированной оценки содержательного письменного ответа обучаемого на поставленный содержательный вопрос.<br><br>Системы адаптируются к дисциплинам введением в&nbsp;базу знаний учебного материала дисциплин. В&nbsp;дальнейшем они обеспечивают автоматическое формирование и&nbsp;выдачу контрольных вопросов, прием и&nbsp;оценку ответов на вопросы по&nbsp;степени их соответствия знаниям, введенным в&nbsp;базу.<br><br>Ядром систем является методология автоматического сравнения содержания ответа с&nbsp;содержанием вербальных источников информации в&nbsp;базе знаний.')

         +article_text-2( '54-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'О&nbsp;соответствии методики расчета комплексного балла публикационной результативности для научных организаций принципу импортозамещения', 'Научная', 'Рогалин Владимир Ефимович', 'д.ф.-м.н., заведующий лабораторией, Тверской государственный университет', 'Каплунов Иван Александрович', 'д.т.н., заведующий кафедрой прикладной физики, Тверской государственный университет',
            'Система отчетности научных организаций на основе комплексного балла публикационной результативности (далее&nbsp;&mdash; КБПР) показала свою жизнеспособность, однако в&nbsp;процессе применения возник ряд предложений по&nbsp;ее корректировке, которые сформулированы в&nbsp;данной статье. Рекомендуется внести поправку в&nbsp;расчетные формулы, позволяющую, при наличии в&nbsp;статье авторов из&nbsp;нескольких организаций, сначала рассчитывать балл каждого из&nbsp;авторов, и&nbsp;лишь затем, рассчитывать КБПР каждой из&nbsp;организаций.<br><br>Предлагается, в&nbsp;целях укрепления влияния отечественных научных журналов и&nbsp;улучшения качества их публикаций, временно оценивать в&nbsp;КБПР их импакт-фактор на квартиль выше зарубежных.')
         +article_text-2( '54-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Медианный метод оценки согласованности результатов тестирования', 'Научная', 'Ганичева Антонина Валериановна', 'доцент кафедры &laquo;Физико-математических дисциплин и&nbsp;информационных технологий&raquo;, ФГБОУ ВО Тверская государственная сельскохозяйственная академия', 'Ганичев Алексей Валерианович', 'доцент кафедры &laquo;Информатики и&nbsp;прикладной математики&raquo;, ФГБОУ ВО Тверской государственный технический университет',
            'В статье разработан новый метод оценки медианы и&nbsp;определения согласованности коллективной оценки для нормального и&nbsp;показательного законов распределения вероятностей. В&nbsp;качестве меры согласованности используются абсолютная и&nbsp;относительная ошибки оценки отдельных тестов относительно коллективной оценки.<br><br>Предложен и&nbsp;обоснован новый метод построения доверительных интервалов для медианы нормального, показательного и&nbsp;равномерного законов распределения вероятностей.' )
         +article_text( '54-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Формирование рейтингов вузов на основе их цифрового следа', 'Научная', 'Меденников Виктор Иванович', 'доктор технических наук, ведущий научный сотрудник, Федеральный исследовательский центр &laquo;Информатика и&nbsp;управление&raquo; РАН',
            'Рассматривается с&nbsp;общих позиций формирование рейтингов российских университетов на основе их активного, пассивного и&nbsp;полуактивного цифровых следов в&nbsp;интернет-пространстве на примере аграрных университетов.<br><br>Показано, что из-за обострившейся проблемы конкурентоспособности образовательных организаций, связанной с&nbsp;пандемией, значительно выросла роль имиджа их, на который в&nbsp;условиях самоизоляции значительно повлияло не&nbsp;столько качество образовательного процесса, которое стало трудней отслеживать, сколько грамотное, эффективное представительство его в&nbsp;интернете, получившее понятие цифрового следа. Результаты формирования рейтингов показывают направления повышения эффективности выполнения указа Президента страны о&nbsp;выведении пяти ВУЗов России в&nbsp;топ-100 рейтингов ведущих мировых университетов.')
         +article_text-2( '54-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Автоматизация процесса анализа изображений компьютерной томографии', 'Научная', 'Корепанов Вячеслав Дмитриевич', 'инженер, ИнтерЭВМ', 'Кулагин Владимир Петрович', 'д.т.н., профессор, Российский технологический университет',
            'В настоящее время все большую актуальность приобретают задачи автоматической разметки различных изображений. Особое место в&nbsp;этом ряду занимают медицинские изображения, которые оказывают существенную помощь при диагностике заболеваний, при идентификации аномалий.<br><br>Актуальным и&nbsp;перспективным направлением является автоматизация процесса анализа изображений компьютерной томографии (КТ).<br><br>Статья посвящена анализу компьютерной томографии легких. Рассматриваются вопросы построения алгоритмов полуавтоматической разметки КТ легких и&nbsp;автоматической разметки матового стекла, а также их реализация.<br><br>Рассматриваются существующие аналоги предлагаемому программному обеспечению, их преимущества и&nbsp;недостатки.<br><br>Проведена оценка точности алгоритма автоматической разметки матового стекла.' )

         +article_text( '54-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Особенности подросткового возраста и&nbsp;его проблемы', 'Обзорная', 'Ижванова Елена Михайловна', 'кандидат психологических наук',
            'я Статья посвящена рассмотрению особенностей подросткового возраста и&nbsp;его проблем, связанных с&nbsp;физическим и&nbsp;психическим здоровьем, а также со взаимоотношениями с&nbsp;родителями, учителями и&nbsp;ровесниками.' )
         +article_text-2( '54-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Знакомство студентов в&nbsp;процессе обучения с&nbsp;вопросами импортозамещения и&nbsp;использования отечественного и&nbsp;свободного программного обеспечения', 'Обзорная', 'Григорьев Виктор Карлович', 'доцент, МИРЭА-Российский технологический университет (РТУ МИРЭА)', 'Красновский Александр Михайлович', 'магистр, МИРЭА-Российский технологический университет (РТУ МИРЭА)',
            'Статья посвящена вопросам привлечения студентов к использованию в&nbsp;процессе обучения и&nbsp;дальнейшей работе отечественного и&nbsp;свободного программного обеспечения. Авторами предлагается методика приобщения студентов к исследованию и&nbsp;применению отечественного и&nbsp;свободного программного обеспечения в&nbsp;процессе изучения предметов, касающихся архитектур и&nbsp;инструментария области IT.<br><br>Предлагаемая методика основывается на поощрении использования студентами отечественного и&nbsp;свободного программного обеспечения в&nbsp;курсовых работах, в&nbsp;процессе преддипломной практики и&nbsp;при выполнении выпускной квалификационной работы.<br><br>В статье приводится анализ результатов внедрения методики в&nbsp;авторские курсы.')
         +article_text( '54-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Междисциплинарная теория виртуальности как инструментарий для исследования природы мысли', 'Научная', 'Одинцов Борис Ефимович', 'д.э.н., профессор Департамента анализа данных и&nbsp;машинного обучения Финансового университета при Правительстве Российской Федерации',
            'Проблема изучения мысли о&nbsp;мысли, то есть осознания процесса материализации идеи в&nbsp;объекты искусственной природы, преследует ученых уже многие столетия. Над разгадкой данного процесса ученые бились еще с&nbsp;античных времен, но пока безрезультатно, что вовсе не&nbsp;требует отказа от попыток хотя бы поставить данную задачу. Но, к сожалению, до сих пор четко не&nbsp;концептуализированы процессы объективации мысли, выступающей в&nbsp;качестве фундаментальной установки отчуждения идеального и&nbsp;предоставления его вовне. В&nbsp;статье делается попытка формулирования гипотезы о&nbsp;виртуальной природе антропоморфной мысли на базе использования инструментария междисциплинарной теории виртуальности.' )

.archive__journal#journal_55
   h3.journal__number
      span Выпуск &#8470;
      span 3 (55)
   .journal__date июль 2022
   .journal__remember( data-modal='remember_55' )
      b День военно&ndash;морского флота
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '55-1-1', 'Перспективы развития цифровой научно-образовательной среды на основе унификации и стандартизации', 'Позднеев Б.М., Тихомирова В.Д.' )
            +article( '55-1-2', 'Цифровизация высшей школы в России: современные тренды и перспективы', 'Яковлева А.О.' )
            +article( '55-1-3', 'Электронные ресурсы 2021 года и цифровая трансформация образования', 'Галкина А.И., Гришан И.А.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '55-2-1', 'Методы построения VPN подсетей масштаба корпоративной сети крупного учреждения', 'Букатов А.А.' )
            +article( '55-2-2', 'Использование программно-аппаратного комплекса ViPNet в образовательном процессе вуза', 'Меджидов З.У.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '55-3-1', 'Разработка компонентов электронных задачников по программированию для автоматизации проведения лабораторных занятий', 'Абрамян М.Э.')

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '55-4-1', 'Моделирование единиц рейтинга: отношение к предмету', 'Карнаухов В.М.' )
            +article( '55-4-2', 'Методология применения цифровых двойников для научно-исследовательских лабораторий', 'Аникин А.В., Шмакова Е.Г., Разливинская С.В.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '55-5-1', 'Научно-образовательные математические центры как инструмент развития математической науки в регионах', 'Белов Ф.Д., Зволинская О.В., Калиновская К.Э.' )
            +article( '55-5-2', 'Возможности применения высокотехнологичного тренажерного оборудования для подготовки студентов в условиях нивелирования рисков для здоровья', 'Карелина М.В.' )
            +article( '55-5-3', 'Анализ эволюции данных в социологических исследованиях и образовании', 'Пивнева С.В., Феоктистова Н.А., Шабанова В.Н.' )
            +article( '55-5-4', 'Особенности использования средств автоматизации в цифровой среде обучения в условиях информационной безопасности личности студентов', 'Карпеев В.В.' )
            +article( '55-5-5', 'Этапы разработки информационного стенда для музея вычислительной техники', 'Исаков С.В., Чувиляева А.С., Красавина М.С.' )

      section.journal__articles
         +article_text-2( '55-1-1', 'Цифровая трансформация', 'Перспективы развития цифровой научно-образовательной среды на основе унификации и стандартизации', 'Обзорная', 'Позднеев Борис Михайлович', 'доктор технических наук, профессор, ФГБОУ ВО «МГТУ «СТАНКИН»', 'Тихомирова Виктория Дмитриевна', 'соискатель, старший преподаватель, ФГБОУ ВО «МГТУ «СТАНКИН»',
         'Развитие цифровой научно-образовательной среды рассмотрено в аспекте цифровой трансформации социально-экономической сферы в соответствии с основополагающими документами в области стратегического планирования. <br><i class="i">&bull;</i>Обоснована необходимость унификации и стандартизации новых подходов, моделей архитектуры, процессов управления и систем автоматизации для индустриального развития цифровой научно-образовательной среды на основе отечественных решений. <br><i class="i">&bull;</i>Проанализирована структура национальных и международных стандартов в области обучения, образования и подготовки. <br><i class="i">&bull;</i>Представлены новые национальные стандарты в области развития цифровой среды, гармонизированные с требованиями основополагающих международных стандартов и учитывающих специфику развития отечественной научнообразовательной сферы.')
         +article_text( '55-1-2', 'Цифровая трансформация', 'Цифровизация высшей школы в России: современные тренды и перспективы', 'Обзорная', 'Яковлева Анна Олеговна', 'к.т.н., доцент кафедры современных технологий управления «МИРЭА – Российский технологический университет»',
         'В статье рассмотрены понятия «цифровизация» и «цифровизация высшего образования». Отмечаются факторы, ограничивающие цифровизацию образования в стране в виде недостатка технических специалистов, способных внедрять инновационные технологии, а также предубеждение о том, что качество дистанционного обучения является низким априори. <br><br>Анализируется уровень цифровизации российской образовательной системы по сравнению с зарубежным уровнем. <br><br>Рассмотрены глобальные тенденции цифровизации высшего образования – переход от формирования hard skills к soft skills; перенос акцента в обучении на гуманитаризацию, креативность и самоорганизацию; диджитализация обучения; проникновение элементов онлайн-образования в традиционную систему образования. <br><br>Среди перспективных векторов цифровизации отмечаются технологии отрытого доступа, искусственный интеллект, трехмерное моделирование, крипто-шифрование и дополненная реальность.')
         +article_text-2( '55-1-3', 'Цифровая трансформация', 'Электронные ресурсы 2021 года и цифровая трансформация образования', 'Обзорная', 'Галкина Александра Ивановна', 'руководитель Объединенного фонда электронных ресурсов «Наука и образование» (ОФЭРНиО), зав. отделения, федеральное государственное бюджетное учреждение науки “Институт программных систем им. А.К. Айламазяна Российской академии наук”', 'Гришан Игорь Александрович', 'программист, федеральное государственное бюджетное учреждение науки “Институт программных систем им. А.К. Айламазяна Российской академии наук”',
         'Данная статья посвящена цифровой трансформации национального образования как сектора национальной экономики России, провозглашенной в разгар пандемии Covid-19. <br><br>Рассматривается формирование программно-аппаратной базы для цифровой трансформации национальной экономики, в частности – образования. Рассматривается готовность российского образования к цифровой трансформации через призму электронных ресурсов, зарегистрированных в объединенном фонде электронных ресурсов «Наука и образование» (ОФЭРНиО), на примере ресурсов 2021 года. Выборка сведений об электронных ресурсах и их статистическая обработка осуществляются автоматизированно программным обеспечением, разработанным авторами статьи. <br><br>Методами исследования являются методы статистики, логики и семантического анализа.')

         +article_text( '55-2-1', 'Информационные технологии', 'Методы построения VPN подсетей масштаба корпоративной сети крупного учреждения', 'Обзорная', 'Букатов Александр Алексеевич', 'кандидат технических наук, доцент кафедры информатики и вычислительного эксперимента Южного федерального университета',
         'В статье рассматриваются методы построения полномасштабных изолированных подсетей корпоративной телекоммуникационных сетей (КТС) крупных учреждений. Каждая из таких подсетей может быть либо сетью территориально распределѐнного подразделения, либо изолированной сетью одного из множества распределѐнных корпоративных приложений. Как и для всей КТС магистраль таких наложенных на еѐ инфраструктуру подсетей работает по протоколам от 3-го (межсетевого) уровня и выше, а периферийные сегменты – по протоколам от 2-го (канального) уровня. Для построения требуемых подсетей предлагаются методы интегрированного использования высокоэффективных средств изоляции подсетей 2-го и 3-го уровней – высокоэффективных технологий Ethernet VLAN и MPLS VPN. <br><br>Предложенные методы обеспечивают эффективность конфигурирования и реконфигурирования маршрутизаторов инфраструктуры КТС при наложении на КТС требуемых подсетей.')
         +article_text( '55-2-2', 'Информационные технологии', 'Использование программно-аппаратного комплекса ViPNet в образовательном процессе вуза', 'Обзорная', 'Меджидов Заур Уруджалиевич', 'кандидат экономических наук, доцент кафедры «Информационные технологии и информационная безопасность», ГАОУ ВО «Дагестанский государственный университет народного хозяйства»',
         '<i class="i">&bull;</i>Показаны особенности реализации образовательного процесса по направлению 10.00.00 Информационная безопасность. <br><i class="i">&bull;</i>Обоснована необходимость регулярного развития лабораторной и материальнотехнической базы учебного процесса. <br><i class="i">&bull;</i>Выделены основные вопросы и задачи, которые необходимо решить кафедре при выборе специализированных программных и программно-аппаратных средств защиты. <br><i class="i">&bull;</i>Представлен план внедрения учебно-методического комплекса по защите сетей ViPNet в учебный процесс: анализ компетенций, выбор дисциплин, актуализация рабочих программ, разработка лабораторного практикума.')

         +article_text( '55-3-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Разработка компонентов электронных задачников по программированию для автоматизации проведения лабораторных занятий', 'Научная', 'Абрамян Михаил Эдуардович', 'доцент кафедры алгебры и дискретной математики Института математики, механики и компьютерных наук им. И. И. Воровича, Южный федеральный университет, доцент факультета вычислительной математики и кибернетики, Университет МГУ-ППИ в Шэньчжэне',
         'Статья посвящена обсуждению вопросов разработки программных компонентов, предназначенных для автоматизации проведения лабораторных занятий по IT-дисциплинам с применением электронных задачников. <br><br>Основное внимание уделяется таким аспектам автоматизации, как настройка рабочих каталогов учащихся и обработка информации о выполненных заданиях. Приводятся примеры реализации соответствующих компонентов для электронного задачника Programming Taskbook. В частности, описываются реализованные в задачнике средства работы с удаленными репозиториями, управляемыми сертификатами доступа.')

         +article_text( '55-4-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Моделирование единиц рейтинга: отношение к предмету', 'Научная', 'Карнаухов Вячеслав Михайлович', 'доцент, к.ф.-м.н., Российский государственный аграрный университет, кафедра высшей математики',
         'В статье рассмотрен способ моделирования единицы рейтинга, выражающий отношение к предмету. Отношение к предмету представляет собой либо активность, либо пассивность при изучении предмета. Под активностью можно понимать посещение академических занятий, выступление студента у доски, выполнение домашнего задания, посещение консультаций преподавателя, работа с учебной литературой, выступление на конференциях. Под пассивностью будем понимать пропуски занятий (плохую посещаемость), игнорирование домашнего задания и т.д. <br><br>Исследования представленной единицы рейтинга проводились при помощи программы, написанной на языке Turbo Pascal, базовом языке среды программирования Delphi.')
         +article_text-3( '55-4-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Методология применения цифровых двойников для научно-исследовательских лабораторий', 'Обзорная', 'Аникин Андрей Витальевич', 'аспирант, МИРЭА – Российский технологический университет (Институт тонких химических технологий имени М.В. Ломоносова)', 'Шмакова Елена Германовна', 'к.т.н., доцент, МИРЭА – Российский технологический университет (Институт тонких химических технологий имени М.В. Ломоносова)', 'Разливинская Светлана Владимировна', 'к.т.н., доцент, МИРЭА – Российский технологический университет (Институт тонких химических технологий имени М.В. Ломоносова), Москва',
         'В статье рассмотрены существующие концепции цифровых двойников (ЦД), приведена методология применения ЦД для научноисследовательских лабораторий, а также предложены использование виртуального тура в качестве неотъемлемого компонента проектирования ЦД и программные средства для его реализации. <br><br>Авторами был разработан ЦД на микро- и макроуровне на примере моделирования парожидкостного равновесия в научноисследовательской лаборатории химического типа. Произведен сравнительный анализ понятий «цифровой двойник лаборатории» и «виртуальная лаборатория».')

         +article_text-3( '55-5-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Научно-образовательные математические центры как инструмент развития математической науки в регионах', 'Обзорная', 'Белов Филипп Дмитриевич', 'канд. экон. наук, заведующий Центром исследования организационных процессов в сфере науки и инноваций, Российский научно-исследовательский институт экономики, политики и права в научно-технической сфере', 'Зволинская Оксана Вячеславовна', 'канд. экон. наук, старший научный сотрудник, Российский научноисследовательский институт экономики, политики и права в научнотехнической сфере', 'Калиновская Карина Эрнестовна', 'аналитик, Российский научно-исследовательский институт экономики, политики и права в научно-технической сфере',
         '<i class="i">&bull;</i>Представлены результаты деятельности региональных научнообразовательных математических центров за 2021 год. <br><i class="i">&bull;</i>Обозначены основные задачи НОМЦ, среди которых – получение научных результатов высокого уровня, популяризация математической науки в регионах, подготовка и переподготовка кадров по различным направлениям математики в сфере науки и высшего образования. <br><i class="i">&bull;</i>Выделены основные аспекты развития математической науки в регионах: международная издательская деятельность; вертикальная и горизонтальная кооперация научных и образовательных организаций; сетевое взаимодействие между учеными из разных стран.')
         +article_text( '55-5-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Возможности применения высокотехнологичного тренажерного оборудования для подготовки студентов в условиях нивелирования рисков для здоровья', 'Обзорная', 'Карелина Мария Владимировна', 'к.т.н., доцент кафедры «Управление транспортным бизнесом и интеллектуальные системы», Российский университет транспорта (МИИТ)',
         'В статье рассмотрены профессиональные компетенции, формируемые у студентов бакалавриата в области применения высокотехнологичного тренажерного оборудования железнодорожного транспорта. <br><br>Описаны и исследованы возможности тренажерного оборудования, связанные с реализацией интерактивного диалога, компьютерной системой визуализации, компьютерным моделированием, автоматизацией процессов информационнометодического обеспечения, автоматизацией процессов организационного управления учебной деятельностью. <br><br>Сформулированы выводы о направлениях обеспечения интенсификации учебного процесса в транспортных вузах с учетом использования возможностей тренажерного оборудования, изложены педагогические цели реализации возможностей высокотехнологичного тренажерного оборудования в процессе обучения.')
         +article_text-3( '55-5-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Анализ эволюции данных в социологических исследованиях и образовании', 'Научная', 'Пивнева Светлана Валентиновна', 'кандидат педагогических наук, доцент Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)', 'Феоктистова Наталия Андреевна', 'кандидат технических наук, главный эксперт Российской академии образования', 'Шабанова Вероника Николаевна', 'аспирант Федерального государственного бюджетного образовательного учреждения высшего образования Российский государственный социальный университет (РГСУ)',
         'Рассмотрены истоки происхождения данных как в социологических исследованиях, так и в области образования. <br><br>Предложена и обоснована классификация данных по масштабным уровням их представления, определены базовые структуры описания и хранения данных, задачи их анализа, рассмотрены подходы к описанию данных на основе теории нагруженных графов, а также визуализации и анализа их динамики на основе нейросетевого агрегирования и оператора эволюции потока данных.')
         +article_text( '55-5-4', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Особенности использования средств автоматизации в цифровой среде обучения в условиях информационной безопасности личности студентов', 'Научная', 'Карпеев Владимир Владимирович', 'директор Государственного бюджетного профессионального образовательного учреждения «Мытищинский колледж»',
         'В статье на основании проведенного анализа ФГОС и ФОС среднего профессионального образования по специальности 15.02.07 «Автоматизация технологических процессов и производств», а также рабочих программ специальностей, использующих цифровые технологии в процессе обучения и будущей профессиональной деятельности, выявлены виды деятельности, которые осуществляет современный специалист среднего уровня образования при решении профессиональных задач в соответствии с ФГОС. <br><br>Обосновано понятие цифровой среды обучения и описаны условия обеспечения информационной безопасности обучающегося при работе с интерактивным информационным ресурсом и со средствами автоматизации в цифровой среде обучения.')
         +article_text-3( '55-5-5', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Этапы разработки информационного стенда для музея вычислительной техники', 'Обзорная', 'Исаков Сергей Владимирович', 'студент 4 курса напр. «Информатика и вычислительная техника», Костромской государственный университет', 'Чувиляева Александра Сергеевна', 'кандидат технических наук, доцент, Костромской государственный университет', 'Красавина Мария Сергеевна', 'кандидат технических наук, Костромской государственный университет',
         'В статье приведен обзор существующих музеев вычислительной техники. <br><br>В качестве витрин предлагается способ использовать интерактивные информационные стенды. Рассматриваются основные этапы разработки информационного стенда для музея вычислительной техники. Разработана схема макета информационного стенда, выбраны комплектующие для работы стенда, разработана схема работоспособной системы и написан программный код для микропроцессора и приложения, инициирующие запуск видеофайлов при наступлении события. <br><br>В статье приводится список комплектующих для реализации информационного стенда.')



