include ../../mixins/pages/archive/__article
include ../../mixins/pages/archive/__article_text


.archive__journal#journal_49
   h3.journal__number
      span Выпуск &#8470;
      span 1 (49)
   .journal__date январь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_50
   h3.journal__number
      span Выпуск &#8470;
      span 2 (50)
   .journal__date апрель 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_51
   h3.journal__number
      span Выпуск &#8470;
      span 3 (51)
   .journal__date июль 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_52
   h3.journal__number
      span Выпуск &#8470;
      span 4 (52)
   .journal__date октябрь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')

.active_journal.archive__journal#journal_53
   h3.journal__number
      span Выпуск &#8470;
      span 1 (53)
   .journal__date январь 2022
   .journal__remember#remember_53
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')

.archive__journal#journal_54
   h3.journal__number
      span Выпуск &#8470;
      span 2 (54)
   .journal__date апрель 2022
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_55
   h3.journal__number
      span Выпуск &#8470;
      span 3 (55)
   .journal__date июль 2022
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.jurnal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')

