include ../../mixins/pages/archive/__article
include ../../mixins/pages/archive/__article_text
include ../../mixins/pages/archive/__article_text-2
include ../../mixins/pages/archive/__article_text-3


.archive__journal#journal_49
   h3.journal__number
      span Выпуск &#8470;
      span 1 (49)
   .journal__date январь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_50
   h3.journal__number
      span Выпуск &#8470;
      span 2 (50)
   .journal__date апрель 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_51
   h3.journal__number
      span Выпуск &#8470;
      span 3 (51)
   .journal__date июль 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_52
   h3.journal__number
      span Выпуск &#8470;
      span 4 (52)
   .journal__date октябрь 2021
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')

.active_journal.archive__journal#journal_53
   h3.journal__number
      span Выпуск &#8470;
      span 1 (53)
   .journal__date январь 2022
   .journal__remember( data-modal='remember_53' )
      b Сергей Петрович Капица&nbsp;
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )

         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )

         .journal__section
            .journal__section_title Системы защиты информации
            +article( '53-3-1', 'Формирование правовой компетенции в области информационной безопасности', 'Трошина С.М.' )

         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            +article( '53-4-1', 'Автоматизация извлечения информации из WEB-страниц новостных сообщений', 'Казенников А.О., Трифонов Н.И.' )
            +article( '53-4-2', 'Автоматическая обработка текстов на различных языках на основе теории унификации', 'Каширин И.Ю., Пруцков А.В.' )

         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            +article( '53-5-1', 'Моделирование единиц рейтинга (коллоквиум)', 'Карнаухов В.М.' )
            +article( '53-5-2', 'Принятие решений на основе интеграции семантического и ситуационного подходов', 'Конев К.А., Воробьева Г.Р.' )
            +article( '53-5-3', 'Моделирование образовательного контента в системах электронного обучения', 'Мартынов В.В., Зверева Н.Н.' )
            +article( '53-5-4', 'Технология семантического поиска в электронных библиотеках', 'Добрынин В.Н., Филозова И.А.' )
            +article( '53-5-5', 'О разработке инструментария интеллектуального анализа данных', 'Лаптев В.В., Флегонтов А.В., Фомин В.В.' )

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            +article( '53-6-1', 'Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам', 'Мухаметзянов И.Ш.' )
            +article( '53-6-2', 'Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента', 'Головчин М.А.' )
            +article( '53-6-3', 'Сетевые сообщества как формы организации ученического самоуправления', 'Федосеева М.В.' )
            +article( '53-6-4', 'Виртуальная реальность для обучения английскому языку: разработка и внедрение', 'Хукаленко Ю.С.' )

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
         +article_text( '53-3-1', 'Системы защиты информации', 'Формирование правовой компетенции в области информационной безопасности', 'Обзорная', 'Трошина Светлана Михайловна', 'кандидат юридических наук, доцент кафедры «Теоретические основы радиотехники» ИРИТ-РТФ Уральского федерального университета имени первого Президента России Б.Н. Ельцина',
         'В статье рассматриваются вопросы формирования правовой компетенции студентов в области информационной безопасности. Предлагается использовать сочетание междисциплинарных методов обучения, аудиторной и дистанционной форм обучения.' )

         +article_text-2( '53-4-1', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Автоматизация извлечения информации из WEB-страниц новостных сообщений', 'Научная', 'Казенников Антон Олегович', 'кандидат технических наук, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»', 'Трифонов Николай Иванович', 'кандидат технических наук, доцент',
         'Рассматривается алгоритм автоматического извлечения информации из Web-страниц новостных сообщений. Основное отличие от существующих алгоритмов состоит в двустадийной схеме работы и значительно расширенной модели признаков для классификации. <br><br>Результатом работы алгоритма является процедура извлечения содержания, устойчивая к изменению верстки и расположению целевой информации на Web-странице.')
         +article_text-2( '53-4-2', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Автоматическая обработка текстов на различных языках на основе теории унификации', 'Научная', 'Каширин Игорь Юрьевич', 'доктор технических наук, профессор, Рязанский государственный радиотехнический университет', 'Пруцков Александр Викторович', 'доктор технических наук, профессор, Рязанский государственный радиотехнический университет',
         'В статье рассматриваются вопросы автоматической обработки текстов на базе применения теории унификации в морфологическом анализе и синтезе форм слов естественных языков. Приведены алгоритмы генерации, определения форм слов и синтаксического анализа.' )

         +article_text( '53-5-1', 'Системный анализ, управление и&nbsp;обработка информации', 'Моделирование единиц рейтинга (коллоквиум)', 'Научная', 'Карнаухов Вячеслав Михайлович', 'доцент, к.ф.-м.н., Российский государственный аграрный университет, кафедра высшей математики',
         'В статье рассматривается моделирование коллоквиума как одного из единиц рейтинга. Коллоквиум представляет собой теоретический опрос учащихся. Поэтому к этой единице рейтинга можно относиться как к опросу, задания которого имеют повышенный уровень трудности. Предлагаются результаты исследования эффективности опроса в зависимости от числа теоретических вопросов на коллоквиуме, максимального количества баллов, выставляемых за успешное выполнение одного задания, и от уровня трудности заданий теста.<br><br>Исследования проводились при помощи программы, написанной на языке Turbo Pascal – базовом языке среды программирования Delphi. В конце предлагается упражнение для самостоятельного исполнения, позволяющее закрепить изложенный учебный материал.')
         +article_text-2( '53-5-2', 'Системный анализ, управление и&nbsp;обработка информации', 'Принятие решений на основе интеграции семантического и ситуационного подходов', 'Научная', 'Конев Константин Анатольевич', 'к.т.н., доцент кафедры автоматизированных систем управления, Уфимский государственный авиационный технический университет', 'Воробьева Гульнара Равилевна', 'к.т.н., доцент кафедры автоматизированных систем управления, Уфимский государственный авиационный технический университет',
         'В статье рассматривается инновационный подход, применимый для поддержки принятия решений в слабоформализованных социальноэкономических системах. Указанный подход получил название метаситуационного моделирования и представляет собой интеграцию двух методологий моделирования и управления: ситуационной и семантической. <br><br>Рассмотрены несколько вариантов формального представления декларативного и дескриптивного уровней метаситуационной модели различной степени наглядности.')
         +article_text-2( '53-5-3', 'Системный анализ, управление и&nbsp;обработка информации', 'Моделирование образовательного контента в системах электронного обучения', 'Научная', 'Мартынов Виталий Владимирович', 'д.т.н., профессор, заведующий кафедрой экономической информатики, Уфимский государственный авиационный технический университет', 'Зверева Нина Николаевна', 'к.т.н., доцент, Уфимский государственный авиационный технический университет',
         'В статье рассматриваются вопросы проектирования контента электронных курсов. Предложена онтологическая модель дисциплины, основанная на семиотических моделях понятий, позволяющая определить структуру электронного контента, в которой учтены сложные семантические отношения между понятиями предметной области.')
         +article_text-2( '53-5-4', 'Системный анализ, управление и&nbsp;обработка информации', 'Технология семантического поиска в электронных библиотеках', 'Научная', 'Добрынин Владимир Николаевич', 'кандидат технических наук, профессор Института системного анализа и управления, ГОУ ВПО Международный Университет природы, общества и человека, г. Дубна', 'Филозова Ирина Анатольевна', 'научный сотрудник, Объединенный институт ядерных исследований, Лаборатория информационных технологий, г. Дубна',
         'В статье рассмотрен подход по созданию социотехнической системы {Эксперт + Инструмент}. Основной идеей такой системы является реализация дополнительного поискового инструментария на основе семантического структурирования фонда научных документов. <br><br>Предложена технология формирования и поддержки “каталожной” службы, которая обеспечивает эффективный поиск ответов на вопросы. Основой данной службы является упорядоченное открытое множество логико-семантических сетей "Вопрос-Ответ-Реакция".')
         +article_text-3( '53-5-5', 'Системный анализ, управление и&nbsp;обработка информации', 'О разработке инструментария интеллектуального анализа данных', 'Научная', 'Лаптев Владимир Валентинович', 'академик РАО, доктор педагогических наук, кандидат физикоматематических наук, профессор, проректор по научной работе, ФГБОУ ВПО «Российский государственный педагогический университет им. А.И.Герцена», Санкт-Петербург, Россия', 'Флегонтов Александр Владимирович', 'доктор физико-математических наук, профессор, заведующий кафедрой информационных систем и программного обеспечения, ФГБОУ ВПО «Российский государственный педагогический университет им. А.И. Герцена», Санкт-Петербург, Россия', 'Фомин Владимир Владимирович', 'доктор технических наук, профессор кафедры информационных систем и программного обеспечения, ФГБОУ ВПО «Российский государственный педагогический университет им. А.И. Герцена», Санкт-Петербург, Россия',
         'В статье сформулированы стратегические направления разработки инструментария интеллектуального анализа данных в виде программной системы, основанной на принципах распределенных систем, распараллеливания и адаптивной настройки вычислительных ресурсов. Рассматриваются технические решения по организации WEB-ресурсов и применению методов и алгоритмов классификации, распознавания и прогнозирования в развитие технологий облачных вычислений.')

         +article_text( '53-6-1', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам', 'Обзорная', 'Мухаметзянов Искандар Шамилевич', 'доктор медицинских наук, профессор, ведущий научный сотрудник, Федеральное государственное бюджетное научное учреждение «Институт стратегии развития образования Российской академии образования»',
         'Пандемия COVID-19 показала всему миру несовершенство существующих подходов в организации и реализации жизни и деятельности современного общества. Изменившиеся условия закрепили значение необходимых цифровых компетенций не только для организации любого вида деятельности, но и для самой ее реализации. В образовании, при дистанционном обучении, уже необходимо говорить о приоритете цифровых компетенций как базы формирования любых иных компетенций, воспитания и развития учащихся в условиях социального дистанцирования и дистанционного формата деятельности. ')
         +article_text( '53-6-2', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента', 'Обзорная', 'Головчин Максим Александрович', 'старший научный сотрудник, Вологодский научный центр Российской академии наук',
         'Статья посвящена выявлению возможностей формирования сетевой культуры (новых образцов и правил, создаваемых в интернет-среде) у представителей молодого поколения в разных режимах – свободном и целенаправленном.<br><br>В исследовании были использованы эмпирические данные формирующего эксперимента. На примере испытуемых были выделены признаки сетевой культуры молодежи. Показано, что продуктивная сетевая культура (основанная на постепенной трансформации деструктивных образцов поведения в Интернете в конструктивные) эффективнее развивается в управляемой образовательной среде, чем при отсутствии институциональных условий и с опорой на интернет-опыт. ')
         +article_text( '53-6-3', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Сетевые сообщества как формы организации ученического самоуправления', 'Обзорная', 'Федосеева Марина Васильевна', 'советник отдела Управления координации и планирования Департамента образования и науки г. Москвы',
         'Переход к государственно-общественным формам управления образовательными организациями, демократизация образования в целом все в большей степени актуализируют проблему развития самоуправления школой.<br><br>Важную роль в развитии и повышении эффективности ученического самоуправления могут сыграть электронные ресурсы и возможности сетевых сообществ в Интернете.<br><br>Опыт работы органов ученического самоуправления в образовательных организациях рассмотрен на примере Южного административного округа города Москвы')
         +article_text( '53-6-4', 'Управление в&nbsp;социальных и&nbsp;экономических системах', 'Виртуальная реальность для обучения английскому языку: разработка и внедрение', 'Обзорная', 'Хукаленко Юлия Cергеевна', 'к. филол. н., старший научный сотрудник Центра НТИ по нейротехнологиям, технологиям виртуальной и дополненной реальностей ДВФУ, Владивосток, остров Русский', '' +
         'Цель статьи – зафиксировать результаты разработки и пилотного внедрения образовательного программного обеспечения в виртуальной реальности для обучения английскому языку школьников, находящихся на начальных уровнях изучения языка. В статье описаны возможности и потенциал технологии виртуальной реальности, использованные при разработке приложения, описаны элементы методики преподавания, варианты проведения урока, а также результаты тестирования приложения конечными пользователями.' )


.archive__journal#journal_54
   h3.journal__number
      span Выпуск &#8470;
      span 2 (54)
   .journal__date апрель 2022
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')
.archive__journal#journal_55
   h3.journal__number
      span Выпуск &#8470;
      span 3 (55)
   .journal__date июль 2022
   .journal__remember
      b Сергей Петрович Капица
      span &mdash; ученый&ndash;физик и&nbsp;педагог
   .journal__holder
      .back
         span Содержание
         i.icon-back
      section.journal__content
         h4.h4.mb-25 Содержание
         .journal__section
            .journal__section_title Цифровая трансформация
            +article( '53-1-1', 'Цифровая трансформация образовательной организации', 'Данилов О.Е.' )
         .journal__section
            .journal__section_title Информационные технологии
            +article( '53-2-1', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Григорьев В.К.' )
         .journal__section
            .journal__section_title Системы защиты информации
            article
               .journal__article Формирование правовой компетенции в области информационной безопасности
               .journal__name
                  b.mr-05 Автор:
                  span Трошина С.М.
         .journal__section
            .journal__section_title Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами
            article
               .journal__article Автоматизация извлечения информации из WEB-страниц новостных сообщений
               .journal__name
                  b.mr-05 Автор:
                  span Казенников А.О., Трифонов Н.И.
            article
               .journal__article Автоматическая обработка текстов на различных языках на основе теории унификации
               .journal__name
                  b.mr-05 Автор:
                  span Каширин И.Ю., Пруцков А.В.
         .journal__section
            .journal__section_title Системный анализ, управление и&nbsp;обработка информации
            article
               .journal__article Моделирование единиц рейтинга (коллоквиум)
               .journal__name
                  b.mr-05 Автор:
                  span Карнаухов В.М.
            article
               .journal__article Принятие решений на основе интеграции семантического и ситуационного подходов
               .journal__name
                  b.mr-05 Автор:
                  span Конев К.А., Воробьева Г.Р.
            article
               .journal__article Моделирование образовательного контента в системах электронного обучения
               .journal__name
                  b.mr-05 Автор:
                  span Мартынов В.В., Зверева Н.Н.
            article
               .journal__article Технология семантического поиска в электронных библиотеках
               .journal__name
                  b.mr-05 Автор:
                  span Добрынин В.Н., Филозова И.А.
            article
               .journal__article О разработке инструментария интеллектуального анализа данных
               .journal__name
                  b.mr-05 Автор:
                  span Лаптев В.В., Флегонтов А.В., Фомин В.В.

         .journal__section
            .journal__section_title Управление в&nbsp;социальных и&nbsp;экономических системах
            article
               .journal__article Цифровые компетенции как залог здоровья учащегося. Опыт пандемии. Заметки к образовательным стандартам
               .journal__name
                  b.mr-05 Автор:
                  span Мухаметзянов И.Ш.
            article
               .journal__article Сетевая культура школьников в ракурсе свободного и управляемого формирования: по результатам эксперимента
               .journal__name
                  b.mr-05 Автор:
                  span Головчин М.А.
            article
               .journal__article Сетевые сообщества как формы организации ученического самоуправления
               .journal__name
                  b.mr-05 Автор:
                  span Федосеева М.В.
            article
               .journal__article Виртуальная реальность для обучения английскому языку: разработка и внедрение
               .journal__name
                  b.mr-05 Автор:
                  span Хукаленко Ю.С.

      section.journal__articles
         +article_text( '53-1-1', 'Цифровая трансформация', 'Цифровая трансформация образовательной организации', 'Обзорная', 'Данилов Олег Евгеньевич', 'канд. пед. наук, доцент кафедры математики и информатики, Федеральное государственное бюджетное образовательное учреждение высшего образования «Глазовский государственный педагогический институт имени В Г. Короленко»',
         'В статье рассматриваются проблемы, возникающие при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Перечисляются задачи, решение которых необходимо при цифровой трансформации образовательной организации. <br><i class="i">&bull;</i>Разбираются задачи, связанные с дистанционным проведением занятий в электронной образовательной среде. <br><i class="i">&bull;</i>Проверяется соответствие дистанционного обучения некоторым дидактическим принципам обучения. <br><i class="i">&bull;</i>Обосновывается необходимость создания методик дистанционного обучения.')
         +article_text( '53-2-1', 'Информационные технологии', 'Обучающие программы, моделирующие интерфейсы информационных систем с активным элементом', 'Научная', 'Григорьев Виктор Карлович', 'к.т.н., доцент, Федеральное государственное бюджетное образовательное учреждение высшего образования «МИРЭА – Российский технологический университет»)',
         'В статье описывается авторская технология, в которой используются обучающие программы, моделирующие интерфейсы информационных систем с активным элементом, и программноаппаратные комплексы для их создания. Технология базируется на моделях предметной области и классификации обучаемых, а также на методах ситуационного, деятельного и опережающего обучения. Технология содержит методику преобразования должностных инструкций в сценарий с базовыми ситуациями, практики перехвата состояния интерфейса и метод создания обучающей программы параллельно с тестированием.')

