.archive__journal
   h3.journal__number
      span.mr-1 Выпуск
      span 1 53
   .journal__date январь 2022
   .journal__remember
      b Капица
      span - ученый-физик и педагог
   .journal__content
      h4.h4.mb-3 Содержание
