include ../../mixins/pages/archive/__remember

+remember( '53', 'Сергей Петрович Капица&nbsp;&mdash; ученый&ndash;физик и&nbsp;педагог', 'Редакция', 'В этом номере журнала мы вспоминаем замечательного просветителя, ученого-физика и&nbsp;педагога Сергея Петровича Капицу. Многие помнят его, когда он вел научно-популярную телепрограмму &laquo;Очевидное&nbsp;&mdash; невероятное&raquo;.',
         'Сергей Петрович окончил Московский авиационный институт в&nbsp;1949 году. После окончания института работал в&nbsp;ЦАГИ. Занимался такими областями физики как земной магнетизм, прикладная электродинамика, физика элементарных частиц. В&nbsp;1953 году защитил диссертацию на степень кандидата физико-математических наук. С&nbsp;1956 года Сергей Капица преподавал в&nbsp;Московском физикотехническом институте. В&nbsp;1962 году стал доктором физикоматематических наук. В&nbsp;1965 году получил звание профессора в&nbsp;МФТИ. С&nbsp;1965 по&nbsp;1998 год преподавал на кафедре общей физики. В&nbsp;начале 1970-х годов впервые попал на телевидение по&nbsp;приглашению стать автором и&nbsp;ведущим телепередач для школьников о&nbsp;законе сохранения энергии и&nbsp;законе сохранения импульса. После этого получил предложение комментировать на телевидении научно-популярные фильмы. Его появление на телевидении было настоящей сенсацией. Ведь до того, как стать ведущим программы &laquo;Очевидное невероятное&raquo;, Сергей Капица сделал блестящую карьеру в&nbsp;академической науке. Никто не&nbsp;сомневался, что он продолжит дело знаменитого отца&nbsp;&mdash; Нобелевского лауреата по&nbsp;физике Петра Капицы. Но сын неожиданно ушел в&nbsp;журналистику. Рассказывая о&nbsp;самых интересных событиях из мира науки, программа &laquo;Очевидное&nbsp;&mdash; невероятное&raquo; пробуждала интерес телеаудитории к научной тематике и&nbsp;учила размышлять. Гостями программы были наиболее авторитетные деятели науки, культуры, политики, умеющие ярко, доходчиво и&nbsp;интересно говорить о&nbsp;самом сложном и&nbsp;порой непонятном. Программа знакомила с&nbsp;последними научными новостями, освещала актуальные проблемы науки и&nbsp;цивилизации и, таким образом, помогала слушателям сориентироваться в&nbsp;бурном потоке информации. Капица на телевидении выглядел не&nbsp;просто исследователем и&nbsp;мыслителем. Образ Капицы был неотторжим от страстной увлечённости тайнами природы. Сам он считал, что если бы сегодня были живы Коперник, Кеплер, Декарт, Ньютон, Дарвин, Менделеев, Эйнштейн, он непременно пригласил бы их к экрану, чтобы побеседовать о&nbsp;судьбах науки. Телевидение помогало Сергею Капице популяризировать науку и&nbsp;научило его умению концентрироваться, быть собранным, излагать мысли предельно чётко, &laquo;не растекаясь мыслию по&nbsp;древу&raquo;. В&nbsp;обыденном сознании &laquo;образование&raquo; и&nbsp;&laquo;просвещение&raquo; порой воспринимаются как синонимы, вместе с&nbsp;тем эти понятия имеют различия. Имеет смысл понимать &laquo;просвещение&raquo; как наиболее глубокий, культурный пласт образования, культурную зрелость личности, высокий уровень воспитания как морального, так и&nbsp;интеллектуального, умственное развитие, свободу от предрассудков. Просвещение противостоит &laquo;образованщине&raquo;, которой свойственна лишь поверхностная информированность. Роль просвещения в&nbsp;современном образовании имеет прямое отношение к образовательному процессу, задача которого состоит не&nbsp;только в&nbsp;подготовке высококвалифицированных специалистов, но и&nbsp;в формировании российских интеллигентов-патриотов, которых отличает широкая образованность и&nbsp;высокие нормы морально-нравственной культуры.',
         'В упомянутом контексте можно назвать С.П. Капицу рыцарем просвещения, который сознательно, благородно, оставив занятия высокой наукой, пришел к простым людям, неся им свет просвещения на доступном языке, увлекая слушателей, открывая для них тайны мироздания',
         'С 1970-х годов и&nbsp;вплоть до закрытия телепередачи в&nbsp;качестве её эпиграфа Сергеем Петровичем использовалось стихотворение А.С. Пушкина:',
         '<br><p class="ml-1"> О, сколько нам открытий чудных<br>Готовят просвещенья дух,<br>И опыт, сын ошибок трудных,<br>И гений, парадоксов друг,<br>И случай, бог изобретатель.<br><br><p> Скажем огромное спасибо Сергею Петровичу Капице за его труд, за его подвижничество, за свет знаний, который он нес людям.</p>')


+remember( '54', 'О&nbsp;Ржевской битве', 'Редакция', 'Приближается великий День Победы. В&nbsp;далеком 1945 году вся страна через громкоговорители услышала слова&nbsp;&mdash; &laquo;Говорит Москва! 8 мая 1945 года в&nbsp;Берлине представителями Германского верховного командования подписан акт о&nbsp;безоговорочной капитуляции германских вооруженных сил. Великая отечественная война, которую вел советский народ против немецко-фашистских захватчиков, победоносно завершилась! Германия полностью разгромлена. Вечная память павшим в&nbsp;боях за свободу и&nbsp;независимость нашей Родины!&raquo;. Люди ликовали и&nbsp;радовались. Пришел конец Великой отечественной войне, и&nbsp;она завершилась Великой победой! Люди плакали, и&nbsp;это были слезы радости и&nbsp;облегчения. Победа! Но к этой победе наш народ шел через огромное горе и&nbsp;страдания.',
         'В этой редакционной статье мы вспоминаем о&nbsp;Ржевской битве&nbsp;&mdash; боевых действиях в&nbsp;ходе Великой Отечественной войны, проходившие в&nbsp;районе Ржевско-Вяземского выступа с&nbsp;5 января 1942 года по&nbsp;21 марта 1943 года. Сражения включали в&nbsp;себя четыре наступательные операции советских войск Западного и&nbsp;Калининского, имевшие целью нанести поражение вражеским силам, освободить города Ржев, Вязьму и&nbsp;тем самым ликвидировать Ржевско-Вяземский выступ. Завершилась битва отступлением немецких войск 5 марта 1943 года.',
         'Многомесячные кровавые бои подо Ржевом привели к приближению перелома в&nbsp;ходе войны&nbsp;&mdash; к победе советских войск под Сталинградом. Опыт Ржевской битвы позволил советским военачальникам разработать приемы, позволяющие окружать вражеские группировки, вскрывать его эшелонированную оборону и&nbsp;уничтожать противника. ',
         'На фотографии вы видите статую советского солдата&nbsp;&mdash; центральную фигуру мемориала, посвященного Ржевской битве. Местом установки мемориала был выбран участок у&nbsp;трассы М-9 &laquo;Москва&nbsp;&mdash; Рига&raquo; около одного из поворотов на Ржев. Молодой воин стоит в&nbsp;развевающейся за спиной плаще-палатке, который полностью окутывает его снизу, переходя в&nbsp;разлетающуюся стаю 35 журавлей. Архитекторами создан эффект парения статуи в&nbsp;воздухе. Руки солдата опущены, в&nbsp;правой он держит автомат. Он смотрит мимо посетителей мемориала, стоящих перед статуей. Лицо солдата задумчивое и&nbsp;отрешённое. Эта парящая статуя привносит в&nbsp;образ солдата трагический мотив. И здесь уместно привести отрывок из знаменитого стихотворения А. Твардовского, посвященного этим страшным боям.',
         '<br><p class="ml-1"><i>Я убит подо Ржевом,' +
         '<br>В безыменном болоте,<br>В пятой роте, на левом,<br>При жестоком налете.<br>Я не&nbsp;слышал разрыва,<br>Я не&nbsp;видел той вспышки,&nbsp;&mdash;<br>Точно в&nbsp;пропасть с&nbsp;обрыва&nbsp;&mdash;<br>И ни дна ни покрышки.<br>И во всем этом мире,<br>До конца его дней,<br>Ни петлички, ни лычки<br>С гимнастерки моей.<br><br></i></p>' +
         '<p>Вечная память героям, отдавших жизнь за освобождение Родины! И пусть этотмемориал подо Ржевом напоминает нам о&nbsp;них.</p>')


//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
//
//+remember( '54', 'О Ржевской битве', 'Редакция', '',
//         '',
//         '',
//         '',
//         '<br><p> ' +
//         '<br><br><br><br><br><br>' +
//         '<p></p>')
//
//
