mixin pointer( n, page, title, desc )
   a( href='./#{page}.html' ).pointers__item
      .pointers__icon( class='pointer-icon-#{n}' )
         i
      .pointers__title #{title}
      .pointers__description !{desc}
