mixin rubric-lg( n, title, title2 )
   .rubric__item.rubric-item-lg
      .rubric__icon( class='rubric-icon-#{n}' )
      .rubric__title #{title}
         br
         | #{title2}
      .rubric__about
         .rubric__text Включен в&nbsp;Перечень ведущих рецензируемых научных журналов и&nbsp;изданий, в&nbsp;которых должны быть опубликованы основные научные результаты диссертаций на соискание ученых степеней доктора и&nbsp;кандидата наук. Журнал своей деятельностью помог сформировать в&nbsp;стране корпус высококвалифицированных специалистов в&nbsp;области науки и&nbsp;образования.

