mixin slider( img, number, date )
   .slider__main
      .slider__journal_holder
         .slider__cover
            img( src='assets/images/journal/#{img}.png?v=3' ).slider__cover_image
         .slider__info
            .slider__number &#8470;!{number} [#{img}]
            .slider__dating #{date}
            .slider__buttons
               a( href='./archive.html' ).slider__about содержание
