#about.wrapper
   .title__holder
      h2.h2.mb-3 О журнале
section.about__holder.mb-4
   .wrapper.about__content
      .about__thesis_holder
         .about__thesis Выпускается ежеквартально с&nbsp;2009 года
         .about__thesis Журнал включен в&nbsp;Перечень ведущих рецензируемых научных журналов и&nbsp;изданий, в&nbsp;которых должны быть опубликованы основные научные результаты диссертаций на&nbsp;соискание ученых степеней доктора и&nbsp;кандидата наук. Журнал своей деятельностью помог сформировать в&nbsp;стране корпус высококвалифицированных специалистов в&nbsp;области науки и&nbsp;образования.
         .about__thesis Журнал зарегистрирован в&nbsp;Федеральной службе по&nbsp;надзору в&nbsp;сфере связи, информационных технологий и&nbsp;массовых коммуникаций (Роскомнадзор)
            br
            span (Регистрационный номер ПИ N ФС77-73920 от 12.10.2018г.)
         .about__thesis Журнал включен в&nbsp;Перечень ведущих рецензируемых научных журналов и&nbsp;изданий ВАК
         .about__thesis Журнал включен в&nbsp;систему Российского индекса научного цитирования.
