section.relevance__holder.mb-5
   .wrapper.relevance__content
      .relevance__main
         .relevance__info
            .showen
               p Актуальность создания и издания данного журнала была обусловлена необходимостью консолидации ученых, педагогов и специалистов России в связи с интенсивным ростом масштабов работ в стране по внедрению информационных технологий, средств телекоммуникаций, автоматизации и управления процессами в сфере образования, науки и просвещения.
               p Чрезвычайно важно на современном этапе формировать у обучающихся цифровые компетенции принципиально нового типа, дающие возможность быть востребованными на рынке труда и социализированными в общество в новых условиях – условиях цифровой экономики.
            .hidden
               p В настоящее время журнал позиционирует себя как площадка для обмена опытом в такой сложной тематике как «цифровая трансформация» – процессе модернизации образования, позволяющем в полной мере использовать потенциал цифровых технологий.
               p Редакция журнала сохраняет баланс между академическим, фундаментальным изложением материала и практическим просветительским освещением закрепленных за журналом тем.
               p Периодический печатный научно-методический журнал "Информатизация образования и науки" выпускается ежеквартально с 2009 года.
               .relevance__links_holder
                  a( href='./assets/data/files/Положение_по_соблюдению_редакционной_этики.pdf?v=1' ).relevance__link
                     .relevance__icon.relevance-icon-1
                     .relevance__text.relevance__underline Положение по соблюдению редакционной этики
                  a( href='mailto:d.kurakin@ficto.ru?subject=По вопросам публикации' ).relevance__link
                     .relevance__icon.relevance-icon-2
                     .relevance__text По вопросам публикации обращаться по эл.адресу:
                        br
                        .relevance__mail.relevance__underline d.kurakin@ficto.ru
      .relevance__more Читать дальше
