section.relevance__holder.mb-5
   .wrapper.relevance__content
      .relevance__main
         .relevance__info
            .showen
               p Актуальность создания и&nbsp;издания данного журнала была обусловлена необходимостью консолидации ученых, педагогов и&nbsp;специалистов России в&nbsp;связи с&nbsp;интенсивным ростом масштабов работ в&nbsp;стране по&nbsp;внедрению информационных технологий, средств телекоммуникаций, автоматизации и&nbsp;управления процессами в&nbsp;сфере образования, науки и&nbsp;просвещения.
               p Чрезвычайно важно на&nbsp;современном этапе формировать у&nbsp;обучающихся цифровые компетенции принципиально нового типа, дающие возможность быть востребованными на&nbsp;рынке труда и&nbsp;социализированными в&nbsp;общество в&nbsp;новых условиях&nbsp;&mdash;условиях цифровой экономики.
            .hidden
               p В&nbsp;настоящее время журнал позиционирует себя как площадка для обмена опытом в&nbsp;такой сложной тематике как &laquo;цифровая трансформация&raquo;&nbsp;&mdash;процессе модернизации образования, позволяющем в&nbsp;полной мере использовать потенциал цифровых технологий.
               p Редакция журнала сохраняет баланс между академическим, фундаментальным изложением материала и&nbsp;практическим просветительским освещением закрепленных за&nbsp;журналом тем.
               p Периодический печатный научно&ndash;методический журнал &laquo;Информатизация образования и&nbsp;науки&raquo; выпускается ежеквартально с&nbsp;2009 года.
               .relevance__links_holder
                  a( href='./assets/data/files/Положение_по_соблюдению_редакционной_этики.pdf?v=1' target="_blank" ).relevance__link
                     .relevance__icon.relevance-icon-1
                     .relevance__text.relevance__underline Положение по&nbsp;соблюдению редакционной этики
                  a( href='mailto:d.kurakin@ficto.ru?subject=По вопросам публикации' ).relevance__link
                     .relevance__icon.relevance-icon-2
                     .relevance__text по&nbsp;вопросам публикации обращаться по&nbsp;эл.адресу:
                        br
                        .relevance__mail.relevance__underline d.kurakin@ficto.ru
      .relevance__more Читать дальше
