section.rubrics__holder.mb-4
   .wrapper.rubrics__content
      h2.h2.mb-3 Постоянные рубрики

      include ../mixins/__rubric
      include ../mixins/__rubric-lg
      .rubrics__list
         +rubric-lg( '1', 'Цифровая <br>трансформация', 'Рубрика посвящена созданию и&nbsp;реализации условий для развития цифровизации образования и&nbsp;науки, обеспечению научно-методической основы развития современной, безопасной и&nbsp;эффективной образовательной системы за&nbsp;счет цифровой трансформации ее деятельности' )
         +rubric( '2', 'Информационные технологии', 'Рубрика предназначена для освещения вопросов применения методов, программных и&nbsp;технических средств хранения, обработки, передачи и&nbsp;представления информации в&nbsp;вузах, школах и&nbsp;других образовательных организациях' )
         +rubric( '3', 'Системы защиты информации', 'Рубрика освещает вопросы внедрения и&nbsp;функционирования комплекса организационных и&nbsp;программно-технических мер, направленных на&nbsp;обеспечение информационной безопасности образовательных и&nbsp;научных организаций' )
         +rubric( '4', 'Автоматизация и&nbsp;управление технологическими процессами и&nbsp;производствами', 'Рубрика включает научные исследования, модели и&nbsp;структурные решения создания систем, предназначенных для автоматизации процесса обучения в&nbsp;образовательных организациях и&nbsp;интеллектуальной поддержки процессов управления в&nbsp;данных учреждениях' )
         +rubric( '5', 'Системный анализ, управление и&nbsp;обработка информации', 'Рубрика посвящена проблемам разработки и&nbsp;применения методов системного анализа прикладных объектов исследования, обработки информации, включая вопросы моделирования, оптимизации, совершенствования управления и&nbsp;принятия решений, с&nbsp;целью повышения эффективности функционирования образовательных организаций' )
         +rubric-lg( '6', 'Управление в&nbsp;социальных <br>и&nbsp;экономических системах', 'Рубрика предназначена для освещения комплекса вопросов разработки и&nbsp;применения методов теории управления к&nbsp;задачам управления в&nbsp;социальной и&nbsp;экономической сферах, включая вопросы анализа, моделирования, оптимизации, совершенствования управления и&nbsp;механизмов принятия решений в&nbsp;образовательных учреждениях с&nbsp;целью повышения эффективности их функционирования' )
         +rubric( '7', 'Государственная политика в&nbsp;области образования и&nbsp;науки', 'Рубрика посвящена реализации на&nbsp;государственном уровне политики информатизации сферы образования и&nbsp;науки, включая развитие инфраструктуры единого образовательного информационного пространства, разработку цифровых образовательных ресурсов, повышение квалификации научных работников и&nbsp;педагогов в&nbsp;области применения информационных и&nbsp;коммуникационных технологий' )
