section.rubrics__holder.mb-4
   .wrapper.rubrics__content
      h2.h2.mb-3 Постоянные рубрики

      include ../mixins/__rubric
      include ../mixins/__rubric-lg
      .rubrics__list
         +rubric-lg( '1', 'Цифровая', 'трансформация' )
         +rubric( '2', 'Информационные технологии', '', '' )
         +rubric( '3', 'Системы защиты информации', '', '' )
         +rubric( '4', 'Автоматизация и', 'управление технологическими процессами и', 'производствами' )
         +rubric( '5', 'Системный анализ, управление и', 'обработка информации', '' )
         .rubric__item.rubric-item-lg
            .rubric__icon.rubric-icon-6
            .rubric__title Управление в&nbsp;социальных
               br
               | и&nbsp;экономических системах
            .rubric__about
               .rubric__text Включен в&nbsp;Перечень ведущих рецензируемых научных журналов и&nbsp;изданий, в&nbsp;которых должны быть опубликованы основные научные результаты диссертаций на соискание ученых степеней доктора и&nbsp;кандидата наук. Журнал своей деятельностью помог сформировать в&nbsp;стране корпус высококвалифицированных специалистов в&nbsp;области науки и&nbsp;образования.
         +rubric( '7', 'Государственная политика в', 'области образования и', 'науки' )
