section.editors__holder.mb-5
   .wrapper.editors__content
      h3.h2.mb-4 Состав редакционного совета
      .editors__list
         include ../../mixins/pages/editors/__card
         +card( '1', 'Боровская', 'Марина&nbsp;Александровна', 'президент Южного федерального университета, д.э.н.' )
         +card( '2', 'Вислый', 'Александр&nbsp;Иванович', 'к.ф&ndash;м.н.' )
         +card( '3', 'Зегжда', 'Петр&nbsp;Дмитриевич', 'заведующий кафедрой Санкт&ndash;Петербургского государственного политехнического университета, д.т.н., проф.' )
         +card( '4', 'Карнаухов', 'Вячеслав&nbsp;Михайлович', 'доцент кафедры высшей математики РГАУ&ndash;МСХА, к.ф.&ndash;м.н.' )
         +card( '5', 'Кузнецов', 'Леонид&nbsp;Александрович', 'профессор кафедры гуманитарных и&nbsp;естественнонаучных дисциплин Липецкого филиала Российской академии народного хозяйства и&nbsp;государственной службы при Президенте Российской Федерации, д.т.н.' )
         +card( '6', 'Куракин', 'Дмитрий&nbsp;Владимирович', 'главный редактор, д.т.н., проф.' )
         +card( '7', 'Мартынов', 'Виталий&nbsp;Владимирович', 'заведующий кафедрой экономической информатики Уфимского государственного авиационного технического университета, д.т.н., проф.' )
         +card( '8', 'Миронов', 'Валентин&nbsp;Васильевич', 'профессор Рязанского государственного радиотехнического университета, д.ф.&ndash;м.н.' )
         +card( '9', 'Надеждин', 'Евгений&nbsp;Николаевич', 'профессор Тульского государственного университета им.&nbsp;Л.Н. Толстого, д.т.н.' )
         +card( '10', 'Неустроев', 'Сергей&nbsp;Сергеевич', 'д.э.н.' )
         +card( '11', 'Одинцов', 'Борис&nbsp;Ефимович', 'профессор кафедры информационных технологий Финансового университета при Правительстве Российской Федерации, д.э.н.' )
         +card( '12', 'Олейников', 'Александр&nbsp;Яковлевич', 'главный научный сотрудник Института радиотехники и&nbsp;электроники РАН, д.т.н., проф.' )
         +card( '13', 'Сидоренко', 'Валентина&nbsp;Геннадьевна', 'профессор кафедры &laquo;Управление и&nbsp;защита информации&raquo; ФГАОУ&nbsp;ВО &laquo;Российский университет транспорта&raquo;, профессор кафедры моделирования и&nbsp;оптимизации бизнес&ndash;процессов НИЦ университета &laquo;Высшая школа экономики&raquo;, д.т.н.' )
         +card( '14', 'Хади', 'Роман&nbsp;Ахмедович', 'директор ФГАНУ НИИ &laquo;Спецвузавтоматика&raquo;, к.т.н.' )
         +card( '15', 'Шахматов', 'Евгений&nbsp;Владимирович', 'ректор Самарского государственного аэрокосмического университета им.&nbsp;Академика С.П.&nbsp;Королева, д.т.н., проф.' )
