section.editors__holder.mb-5
   .wrapper.editors__content
      h3.h2.mb-4 Состав редакционного совета
      .editors__list
         include ../../mixins/pages/editors/__card
         +card( '1', 'Боровская', 'Марина&nbsp;Александровна', 'президент Южного федерального университета, д.э.н., проф' )
         +card( '2', 'Кузнецов', 'Леонид&nbsp;Александрович', 'заведующий кафедрой Липецкого  государственного технического университета, д.т.н., проф.' )
         +card( '6', 'Куракин', 'Дмитрий&nbsp;Владимирович', 'главный редактор, ФГАНУ&nbsp;&laquo;ФИЦТО&raquo;, д.т.н., проф.' )
         +card( '3', 'Мартынов', 'Виталий&nbsp;Владимирович', 'заведующий кафедрой Уфимского государственного авиационного технического университета, д.т.н., проф.' )
         +card( '4', 'Миронов', 'Валентин&nbsp;Васильевич', 'профессор Рязанского государственного радиотехнического университета, д.ф.-м.н.' )
         +card( '5', 'Надеждин', 'Евгений&nbsp;Николаевич', 'профессор кафедры Российского государственного гуманитарного университета, д.т.н.' )
         +card( '11', 'Одинцов', 'Борис&nbsp;Ефимович', 'профессор кафедры Финансового университета при&nbsp;Правительстве Российской Федерации, д.э.н.' )
         +card( '12', 'Олейников', 'Александр&nbsp;Яковлевич', 'главный научный сотрудник Института радиотехники и&nbsp;электроники РАН, д.т.н., проф.' )
         +card( '13', 'Сидоренко', 'Валентина&nbsp;Геннадьевна', 'профессор кафедры  ФГАОУ&nbsp;ВО &laquo;Российский университет транспорта&raquo;, профессор кафедры НИЦ университета &laquo;Высшая школа экономики, д.т.н.' )
         +card( '15', 'Сытник', 'Александр&nbsp;Александрович', 'заведующий кафедрой Саратовского государственного технического университета имени Ю.А.&nbsp;Гагарина, д.т.н., проф.')
         +card( '14', 'Хади', 'Роман&nbsp;Ахмедович', 'директор ФГАНУ&nbsp;НИИ &laquo;Спецвузавтоматика&raquo;, к.т.н.' )

