section.chief_editor__holder
   .wrapper.chief_editor__content
      .chief_editor__main
         .chief_editor__photo
            img( src='./assets/images/photo/kurakin.jpg', )
         .chief_editor__info
            h3.h2.mb-3 О главном редакторе
            .chief_editor__about.mb-3
               b Куракин Дмитрий Владимирович&nbsp;&ndash;
               span  доктор технических наук, профессор, лауреат премии Правительства Российской Федерации в&nbsp;области образования, почетный работник науки и&nbsp;техники Российской Федерации, вице&ndash;президент Академии информатизации образования.
            .contact__address.mb-2 125315, Москва, ул.&nbsp;Часовая, д.21/Б
            .contact__contact.mb-15
               .contact__icon.icon-home
               .contact__text
                  b телефон
                  a( href='tel:84950099888' ) +7 (495) 009-98-88
            .contact__contact
               .contact__icon.icon-mail
               .contact__text
                  b e&ndash;mail
                  .chief_editor__link
                     a( href='mailto:d.kurakin@ficto.ru?subject=По вопросам публикации' ).mr-05 d.kurakin@ficto.ru;
                     a( href='mailto:dvkurakin@mail.ru?subject=По вопросам публикации' ) dvkurakin@mail.ru
